@import "../idvetmp/style.less";


@rozmiar-bazowy: 16px;
@czcionka-bazowa: 'Montserrat', sans-serif;
@kolor-czarny: #535b69;
@czerwony: #ff2721;
@bg-color: #c2d3cd;
@kolor-gray: #bac7c8;
@size: 159px;
@frame-color: #dae6e2;

*{
    &:focus{
        outline: none !important;
        text-decoration: none;
    }
}

img{
    height: auto;
}

.navbar{
    /*overflow: hidden;*/
}
/*MENU BREAKPOINTS*/
@media (max-width: 991px) {
    #navbar{
        text-align: center;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
/*END*/



a{
    &:hover{
        text-decoration: none;
    }
}

#logo{
    position: relative;
    z-index: 9;
}

.footer-text{
    margin-bottom: 30px;
    @media (max-width: 767px){
        margin-bottom: 15px;
    }
}

.btn{
    &:after{
        position: absolute;
        top: 50%;
        right: 20px;
        content: "";
        height: 12px;
        width: 6px;
        background: #fff;
        border-bottom-right-radius: 12px;
        border-top-right-radius: 12px;
        transform: translateY(-50%);
    }
    &:hover{
        .basic-transition;
        border-radius: 25px;
    }
}
.offer-section-title{
    text-transform: uppercase;
}
.lens-contact{
    .about-ophthalmologist-adventages{
        .left{
            padding-left: 35px;
            @media (max-width: 1199px){
                padding-left: 0;
            }
        }
        img{
            top: -14px;
            transform: translateY(0);
            right: 35%;
        }
    }

    .about-lens{
        .col-md-4{
            padding-left: 0;
        }
    }
    .right3{
        margin-bottom: 95px;
        @media (max-width: 991px){
            margin-bottom: 0px
        }
    }
    .offer-section-title{
        margin: 50px 0;
    }
}

img{
    max-width: 100%;
}

.basic-transition{
    transition: all 0.4s;
}

.class1790{
    max-width: 1790px;
    margin: auto;
}

body{
    font-size: @rozmiar-bazowy;
    font-family: @czcionka-bazowa;
    color: @kolor-czarny;
    background: @bg-color;
    /*    p{
            line-height: 25px;
        }*/
}

.navbar-shadow{
    -webkit-box-shadow: 3px 3px 10px 0px rgba(156,188,177,0.43);
    -moz-box-shadow: 3px 3px 10px 0px rgba(156,188,177,0.43);
    box-shadow: 3px 3px 10px 0px rgba(156,188,177,0.43);
}


.navbar{
    padding-top: 35px;
    padding-bottom: 21px;
    background: white;
    border: none;
    max-width: 1790px;
    margin: 0 auto;
    .navbar-shadow;
}

.admin-bar{
    @media (min-width: 601px) and (max-width: 785px){
        margin-top: 15px;
    }
}


.navbar-default .navbar-nav>li>a{
    font-weight: 500;
    color: @kolor-czarny;
    .basic-transition;
    &:active{
        background: transparent;
        color: @czerwony;
    }
    &:hover{
        background: transparent;
        color: @czerwony;
    }
    &:focus{
        background: transparent;
        color: @czerwony;
    }
}

.navbar-default .navbar-nav>.active>a{
    background: transparent;
    background-color: transparent;
    color: @czerwony;
    &:hover{
        background: transparent;
        background-color: transparent;
        color: @czerwony;
    }
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus{
    background: transparent;
    background-color: transparent;
    color: @czerwony;
    .basic-transition;
}

footer{
    background: url(img/okulary.png) bottom no-repeat;
    padding-top: 80px;
    padding-bottom: 44px;
    @media (max-width: 1199px){
        font-size: 14px;
    }
    @media (max-width: 991px){
        padding-top: 30px;
    }
}

.footer-info{
    padding-bottom: 80px;
    @media (max-width: 991px){
        padding-bottom: 30px;
    }
    &__single-col{
        min-height: 106px;
        @media (max-width: 767px){
            text-align: center;
        }
    }
}
.for-phone-number{
    text-align: right;
    position: relative;
    top: -2px;
}
.phone-number{
    color: #aebebf;
    font-size: 20px;
    border: 1px solid #dae6e2;
    padding: 0px 7px;
    /* float: right; */
    /* width: 100%; */
    display: inline-block;
    .basic-transition;
    /* text-align: right; */
    padding-right: 12px;
    &:hover{
        color: @kolor-czarny;
        .basic-transition;
        i{
            color: @kolor-czarny;
            .basic-transition;
        }
    }
    @media (max-width: 991px){
        display: block;
        text-align: center;
        border: none;
        margin-top: 20px;
    }
    i{
        color: #dae6e2;
        font-size: 15px;
        position: relative;
        top: -1px;
        left: 5px;
    }
}

.main-wrapper{
    margin-top: 126px;
    @media (max-width: 991px){
        margin-top: 120px;
    }
    @media (max-width: 550px){
        margin-top: 106px;
    }
}



.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background: transparent;
    background-color: transparent !important;
    color: @czerwony !important;;
    .basic-transition;
}


#primary-menu{
    .caret{
        border: none;
        background: url(img/arrow-bottom.png) center center no-repeat;
        width: 9px;
        height: 5px;
    }

}

.admin-bar{
    .main-wrapper{
        margin-top: 95px;
        @media (max-width: 991px){
            margin-top: 74px;
        }
        @media (max-width: 550px){
            margin-top: 74px;
        }
    }
}

.wrapper-for-glasses{
    .col-md-12{
        @media (max-width: 767px){
            padding: 0;
        }
    }
}

.main-section{
    min-height: 730px;
    position: relative;
    .wrapper{
        bottom: 140px;
        left: 50%;
        transform: translateX(-50%);
        margin-left: -20px;
        .circle{
            border: 159px solid @bg-color;
        }
        @media (max-width: 991px){
            display: none;
        }
    }
    @media (max-width: 991px){
        min-height: auto;
        margin-top: 0;
    }
}

.main-section-img{
    position: absolute;
    @media (max-width: 991px){
        position: relative;
    }
}

.look{
    z-index: 2;
    margin-left: 100px;
    position: absolute;
    bottom: 204px;
    .big-one{
        color: #fff;
        font-size: 150px;
        font-weight: 700;
        margin-bottom: 10px;
        font-weight: 700;
        display: inline-block;
        /*overflow: hidden;*/
        @media (max-width: 1199px){
            display: none;
        }
        .Iam b {
            float: left;
            overflow: hidden;
            position: relative;
            height: 120px;
            display: inline-block;
            /*top: 40px;*/
        }
        .Iam .innerIam {
            display: inline-block;
            color: #fff;
            position: relative;
            white-space: nowrap;
            top: 0;
            left: 0;
            display: inline-block;


            /*animation*/
            -webkit-animation:moveUp 1s;
            -moz-animation:moveUp 1s;
            -ms-animation:moveUp 1s;
            -o-animation:moveUp 1s;
            animation:moveUp 1s;
            /*animation-iteration-count*/
            -webkit-animation-iteration-count:1;
            -moz-animation-iteration-count:1;
            -ms-animation-iteration-count:1;
            -o-animation-iteration-count:1;
            animation-iteration-count:1;
            -webkit-animation-fill-mode: forwards;
            /*            -webkit-animation-fill-mode: forwards;  Hold the last keyframe */
            /*animation-delay*/
            -webkit-animation-delay:0.4s;
            -moz-animation-delay:0.4s;
            -ms-animation-delay:0.4s;
            -o-animation-delay:0.4s;
            animation-delay:0.4s;
        }

    }
    .red-one{
        color: #fff;
        background: @czerwony;
        font-size: 24px;
        margin-left: 10px;
        padding: 0 10px;
        height: 30px;
        display: inline-block;
        overflow: hidden;
    }

}





@keyframes moveUp{
    0%  { top: 0px; }
    100% { top: -125px; }
}

@-webkit-keyframes moveUp {
    0%  { top: 0px; }
    100% { top: -125px; }
}
@-moz-keyframes moveUp {
    0%  { top: 0px; }
    100% { top: -255px; }
}
@-o-keyframes moveUp {
    0%  { top: 0px; }
    100% { top: -255px; }
}
@keyframes moveUp {
    0%  { top: 0px; }
    100% { top: -255px; }
}












.hamburger{
    float: right;
    @media (min-width: 992px){
        display: none;
    }
}

.promotion{
    float: right;
    max-width: 360px;
    font-size: 24px;
    color: @kolor-czarny;
    font-weight: 600;
    background: #fff;
    position: relative;
    padding: 15px 25px;
    margin-top: 120px;
    animation-delay: 1s;
    animation-duration: 0.6s;
    padding-right: 39px;
    .navbar-shadow;
    z-index: 2;
    &:after{
        content: "";
        border-top: 0 solid #fff;
        border-left: 0 solid #fff;
        border-bottom: 0 solid #fff;
        border-right: 0 solid #fff;
        border-width: 30px;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
        transform: rotate(45deg);
        display: inline-block;
        right: -30px;
        position: absolute;
        bottom: -29px;
        @media (max-width: 991px){
            display: none;
        }
    }
    span{
        color: @czerwony;
        font-size: 12px;
        font-weight: 300;
    }

    @media (max-width: 991px){
        float: none;
        max-width: 100%;
        margin-top: 0;

    }
}


.social-section{
    width: 100%;
    text-align: right;
    padding-top: 10px;
    p{
        display: inline-block;
        font-size: 12px;
        font-weight: 300;
        color: #fff;
        position: relative;
        top: -3px;
        letter-spacing: 1px;
    }
    ul{
        display: inline-block;
        list-style: none;
        padding-left: 0;
        li{
            display: inline-block;
            font-size: 24px;
            z-index: 1;
            position: relative;
            a{
                .basic-transition;
                color: #fff;
                margin-left: 13px;
                &:hover{
                    color: @kolor-czarny;
                    .basic-transition;
                }
            }
        }
    }
    @media (max-width: 991px){
        opacity: 0;
        display: none;
    }
}

.home{
    .main-section{
        @media (min-width: 992px) and (max-width: 1199px){
            margin-bottom: -86px;
        }
    }
}

.oferta-big-wrapper{
    background: #fff;
    overflow: hidden;

    .wrapper2{
        @media (max-width: 991px){
            right: -30% !important;
        }
        @media (max-width: 550px){
            right: -60% !important;
        }
    }
}

.oferta{
    text-align: center;
    .row{
        margin-bottom: 135px;
        margin-top: 35px;
        @media (max-width: 991px){
            margin-bottom: 0;
        }
    }
    &__single-wrapper{
        text-align: center;
        position: relative;
        min-height: 199px;
        background-size: cover;
        max-width: 263px;
        a{
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            img{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            span{
                width: 240px;
                display: block;
                position: absolute;
                bottom: 30px;
                left: 50%;
                text-align: center;
                transform: translateX(-50%);
            }
        }
    }

    .wrapper{
        height: 150px;
        width: 150px;
        clip: rect(0px, 150px, 150px, 75px); /* Hide half of the progress bar */
        margin-left: -8px;
        position: absolute;
        top: -15px;
        left: -85px;
    }
    .circle{
        width: 75px;
        height: 150px;
        border: 75px solid @bg-color;
        border-radius: 50%;
        position: absolute;
        clip: rect(0,75px,150px,0);
        /*left: -50%;*/
    }
    .wrapper2{
        transform: rotate(-180deg);
        height: 318px;
        width: 318px;
        clip: rect(0px, 318px, 318px, 159px); /* Hide half of the progress bar */
        margin-left: -8px;
        position: absolute;
        top: -32px;
        left: auto;
        right: 5%;
        .circle{
            width: 159px;
            height: 318px;
            border: 159px solid @bg-color;
            border-radius: 50%;
            position: absolute;
            clip: rect(0,159px,318px,0);
            /*left: -50%;*/
        }
    }

}

.right3{
    img{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -5%;
        @media (max-width: 991px){
            right: auto;
            transform: translateX(0);
            width: auto;
            height: auto;
            max-width: 100%;
        }
    }
}

.oferta-single{
    .left{
        padding-left: 35px;
        @media (max-width: 991px){
            padding-left: 0;
        }
    }
    .wrapper3{
        transform: rotate(180deg) !important;
        height: 290px;
        width: 290px;
        clip: rect(0px, 290px, 290px, 145px); /* Hide half of the progress bar */
        right: 0;
        @media (max-width: 991px){
            width: 100%;
            right: auto;
        }
        @media (max-width: 767px){
            right: -160px;
        }
        .circle{
            width: 145px;
            height: 290px;
            border: 145px solid @bg-color;
            border-radius: 50%;
            position: absolute;
            clip: rect(0,145px,290px,0);
            position: absolute;
            /*right: 100%;*/
            /*left: -50%;*/
        }
    }
    .right3{
        min-height: 400px;
        position: relative;
        @media (max-width: 550px){
            min-height: 300px;
        }
        img{
            right: 80px;
            top: 0;
            transform: translateX(0);
            @media (max-width: 991px){
                right: 50%;
                transform: translateX(50%);
            }
        }
    }
}

.single-oferta .oprawy-okularowe{
    .section-second{
        background: url(img/kobieta-bg.png) center center no-repeat;
    }
    .inside-wrapper{
        padding-left: 35px;
        @media (max-width: 991px){
            padding-left: 0;
        }
        p{
            margin-bottom: 0;
        }
    }
}

.single-oferta .okulary-przeciwsloneczne{
    .title-section h1{
        line-height: 1;
    }
    .wrapper3{
        top: 15px;
        /*left: 85px !important;*/
    }
    .right3 img{
        right: -40px;
    }
    .about-ophthalmologist-adventages .left{

    }
    .red-label2{
        font-size: 22px;
        padding-left: 35px;
        margin-top: 50px;
        p{
            margin-bottom: 0;
        }
    }
    .section-second{
        background: url(img/widok_bg.png) top center no-repeat;
    }
    .inside-wrapper{
        padding-left: 35px;
        @media (max-width: 991px){
            padding-left: 0;
        }
        p{
            margin-bottom: 0;
        }
    }
}


.wrapper-for-oferta{
    position: relative;
    text-transform: uppercase;
    @media (min-width: 768px) and (max-width: 991px){
        margin-bottom: 40px;
    }
}


.main-title-wrapper{
    text-align: center;

}

.main-title{
    color: #aebebf;
    margin: 50px auto;
    position: relative;
    display: inline-block;
    /*text-align: center;*/
    &:before{
        content: "";
        width: 86px;
        height: 22px;
        background: url(img/main-title.svg) no-repeat;
        position: absolute;
        left: -130px;
        bottom: 0;
        @media (max-width: 767px){
            width: 54px;
            left: -70px;
        }
    }
    &:after{
        content: "";
        width: 86px;
        height: 22px;
        background: url(img/main-title.svg) no-repeat;
        position: absolute;
        right: -130px;
        bottom: 0;
        @media (max-width: 767px){
            width: 54px;
            right: -70px;
        }
    }
}

.admin-bar{
    @media (max-width: 650px){
        .main-section{
            /*margin-top: 85px;*/
        }
        .navbar{
            padding-top: 55px;
            padding-bottom: 15px;
        }
    }
}


.title-section{
    /*height: 250px;*/


    h1{
        padding-top: 40px;
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
        @media (max-width: 991px){
            font-size: 40px;
            text-align: center;
            height: auto;
            padding-top: 10px;
            padding-bottom: 20px;
        }
        @media (max-width: 767px){
            font-size: 35px;

        }

    }
    @media (max-width: 991px){
        height: auto;
    }
}

.glass-bg{
    background: url(img/okulary.png) center center no-repeat;
    /*background-size: cover;*/
    max-width: 100%;
}

.bigger-wrapper{
    padding-top: 90px;
    padding-bottom: 80px;
    background: #fff;
    max-width: 1790px;
    margin: 0 auto;
    @media (max-width: 991px){
        padding-top: 25px;
        padding-bottom: 30px;
    }
}

.single-box{
    padding: 0 35px;
    @media (max-width: 991px){
        padding: 0;
    }

    ul{
        padding-left: 0;
        li{
            font-weight: 600;
            color: @kolor-czarny;
            font-size: 30px;
            list-style: none;
            a{
                font-weight: 600;
                color: @kolor-czarny;
                font-size: 30px;
            }
            i{
                color: @czerwony;
                font-size: 18px;
                position: relative;
                top: -3px;
            }
        }
    }
}

.single-box-data{
    ul{
        padding-left: 0;
        li{
            color: @kolor-czarny;
            font-size: 30px;
            list-style: none;
            @media (max-width: 550px){
                font-size: 26px;
            }
        }
        strong{
            font-weight: 600;
        }
    }
    p{
        line-height: 2;
    }
}


.simple-title{
    color: @kolor-gray;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 10px;
    display: block;
}

#map{
    height: 730px;
    width: 100%;
    max-width: 1790px;
    margin: 0 auto;
    @media (max-width: 767px){
        height: 400px;
    }
}

.single-frame{
    border: 1px solid @frame-color;
    position: relative;
    min-height: 370px;
    margin-bottom: 95px;
    padding: 0 32px;
    margin-top: 100px;
    @media (max-width: 991px){
        margin-top: 30px;
        padding: 0 15px;
    }
    .personal-data{
        margin-top: 88px;
        @media (max-width: 991px){
            margin-top: 30px;
        }
        h6{
            margin-bottom: 30px;
            color: @kolor-gray;
            margin-top: -5px;
        }
    }
    @media (max-width: 991px){
        margin-bottom: 25px;
    }
    h3{
        font-weight: 600;
        color: @czerwony;
        font-size: 24px;
    }
    .doctor-img{
        position: absolute;
        bottom: 0;
        right: 150px;
        z-index: 2;
        @media (max-width: 991px){
            right: 0;
        }
    }
}

.wrapper-image{
    min-height: 370px;
    @media (max-width: 991px){
        margin-top: 50px;
    }
    .wrapper{
        right: 100px;
        top: 30px;
        @media (max-width: 991px){
            right: 0;
        }
    }
    .circle{
        border-color: @kolor-gray;
    }
}





.wrapper {
    width: 318px; /* Set the size of the progress bar */
    height: 318px;
    position: absolute; /* Enable clipping */
    clip: rect(0px, 318px, 318px, 159px); /* Hide half of the progress bar */
}
/* Set the sizes of the elements that make up the progress bar */

.circle {
    width: 159px;
    height: 318px;
    border: 159px solid @bg-color;
    border-radius: 50%;
    position: absolute;
    clip: rect(0px, 159px, 318px, 0px);
}
/* Using the data attributes for the animation selectors. */
/* Base settings for all animated elements */
div[data-anim~=base] {
    -webkit-animation-iteration-count: 1;  /* Only run once */
    -webkit-animation-fill-mode: forwards; /* Hold the last keyframe */
    -webkit-animation-timing-function:linear; /* Linear animation */
}

.wrapper[data-anim~=wrapper] {
    -webkit-animation-duration: 0.01s; /* Complete keyframes asap */
    -webkit-animation-delay: 1s; /* Wait half of the animation */
    -webkit-animation-name: close-wrapper; /* Keyframes name */
}

.circle[data-anim~=left] {
    -webkit-animation-duration: 1s; /* Full animation time */
    -webkit-animation-name: left-spin;
}

.circle[data-anim~=right] {
    -webkit-animation-duration: 1s; /* Half animation time */
    -webkit-animation-name: right-spin;
}
/* Rotate the right side of the progress bar from 0 to 180 degrees */
@-webkit-keyframes right-spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(180deg);
    }
}
@-webkit-keyframes left-spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

/* Set the wrapper clip to auto, effectively removing the clip */
@-webkit-keyframes close-wrapper {
    to {
        clip: rect(auto, auto, auto, auto);
    }
}

.cta-box{
    margin-top: 60px;
    margin-bottom: 50px;
    background: url(img/cta-photo.jpg) left no-repeat;
    border: 2px solid @frame-color;
    position: relative;
    min-height: 170px;
    @media (max-width: 991px){
        /*background: url(img/cta-photo.jpg) left no-repeat;*/
        background: @czerwony;
    }
    .text{
        .rwd-photo{
            display: none;
            @media (max-width: 767px){
                display: block;
            }
        }
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 205px;
        .small{
            font-size: 36.11px;
            display: block;
            font-weight: 400;
            margin-bottom: -26px;
            margin-left: 5px;
        }
        .big{
            font-weight: 700;
            font-size: 65.65px;
            display: block;
            margin-bottom: -5px;
        }
        .btn{
            display: none;
            .basic-transition;
            &:hover{
                .basic-transition;
                border-radius: 25px;
            }
            @media (max-width: 991px){
                display: inline-block;
                position: relative;
                right: auto;
                top: auto;
                transform: translateY(0); 
            }
        }
    }
    .btn{
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        font-size: 24px;
        padding: 2px 39px 2px 20px;
        background: @kolor-czarny;
        border-radius: 0;
        .basic-transition;
        &:hover{
            .basic-transition;
            border-radius: 25px;
        }
        &:after{

        }
        @media (max-width: 991px){
            display: none;
        }
    }
}

.home{
    .latest-news{
        &__single-col{
            @media (max-width: 991px){
                margin-bottom: 40px;
            }
        }
    }
}

.latest-news{
    background: #fff;
    &__post-title{
        min-height: 60px;
        a{
            color: @czerwony;
            font-weight: 600;
            font-size: 24px;
        }
    }
    &__single-col{
        max-width: 455px;
        @media (max-width: 991px){
            max-width: 100%;
        }
        span{
            text-transform: uppercase;
            color: @kolor-gray;
            font-size: 12px;
            margin-bottom: 5px;
            display: block;
        }
    }
    &__content{
        padding-right: 65px;
        @media (max-width: 991px){
            padding-right: 0;
        }
    }
}

.read-all{
    text-align: center;
    margin-top: 80px;
    padding-bottom: 50px;
    @media (max-width: 767px){
        margin-top: 0;
        padding-bottom: 25px;
    }
    a{
        color: @czerwony;
        font-size: 12px;
        font-weight: 300;
        .basic-transition;
        &:hover{
            color: @kolor-czarny;
        }
    }
}

/*Slider*/
.slider-home{
    padding: 65px 0;
    margin-top: 30px;
    background: url(img/slider-home.svg) center center no-repeat;
    background-size: cover;
}

/*Gabinet Okulistyczny*/


.about-ophthalmologist-adventages{
    .left{
        padding-right: 20px;
        font-size: 30px;
        @media (max-width: 991px){
            padding-right: 0;
            font-size: 24px;
        }
        @media (max-width: 550px){
            font-size: 18px;
        }
        strong{
            color: @czerwony;
            font-weight: 600;
        }
    }
    .right{
        font-size: 16px;
        li{
            margin-bottom: 20px;
        }
    }
}

.latest-news__single-col{
    a{
        .basic-transition;
        &:hover{
            color: @kolor-czarny;
            .basic-transition;
        }
    }
}

.aktualnosci{
    .latest-news{
        &__post-title{
            line-height: 1;
        }
    }

    .photo-section{
        img{
            position: relative;
            z-index: 1;
        }
    }

    .wrapper-for-half-circle{
        position: relative;
        margin-bottom: 77px;
        @media (max-width: 991px){
            margin-bottom: 20px;
            .wrapper{
                left: auto;
                margin-left: -55px;
            }
            .photo-section{
                max-width: 220px;
                display: block;
                margin: 0 auto;
            }
            .latest-news__single-col{
                text-align: center;
            }
        }
        .col-md-7{
            padding-left: 0;
        }
    }
    .wrapper{
        height: 90px;
        width: 90px;
        clip: rect(0px, 90px, 90px, 45px); /* Hide half of the progress bar */
        margin-left: -8px;
        position: absolute;
        bottom: -12px;
        left: -28px;
    }
    .circle{
        width: 45px;
        height: 90px;
        border: 45px solid @bg-color;
        border-radius: 50%;
        position: absolute;
        clip: rect(0,45px,90px,0);
        /*left: -50%;*/
    }
}


.aktualnosc{
    .single-data{
        display: block;
        text-transform: uppercase;
        color: @kolor-gray;
        font-size: 12px;
        margin-bottom: 5px;
        display: block;
    }
    p{
        line-height: 1.5;
    }

    .photo-section{
        position: relative;
        img{
            position: relative;
            z-index: 2;
            height: auto;
        }
        margin-bottom: 80px;
    }
    .latest-news__post-title{
        min-height: 90px;
    }
    .latest-news__single-col{
        max-width: 100%;
        margin-left: -10px;
    }
    .wrapper-for-half-circle{
        margin: 0 auto;
        position: relative;
        margin-bottom: 77px;
        max-width: 540px;
        padding: 0 30px;
    }
    .wrapper{
        height: 150px;
        width: 150px;
        clip: rect(0px, 150px, 150px, 75px); /* Hide half of the progress bar */
        margin-left: -8px;
        position: absolute;
        bottom: -15px;
        left: -75px;
    }
    .circle{
        width: 75px;
        height: 150px;
        border: 75px solid @bg-color;
        border-radius: 50%;
        position: absolute;
        clip: rect(0,75px,150px,0);
        /*left: -50%;*/
    }


}


.second-left{
    p{
        font-size: 16px;
    }
}

.page-template{
    .swiper-container{
        .swiper-button-next{
            background-image: url(img/arrow-next.png) !important;
            z-index: 9999;
            right: 0;
        }
        .swiper-button-prev{
            z-index: 9999;
            left: 0;
            background-image: url(img/arrow-prev.png) !important;
        }
    }

}

.o-firmie{
    .bigger-wrapper{
        @media (max-width: 991px){
            padding-bottom: 30px;
        }
    }
    .container{
        padding-left: 50px;
        @media (max-width: 991px){
            padding-left: 15px;
        }
    }

    .certificates{
        .container{
            padding-left: 15px;
            /*width: 1100px;*/
        }
    }
    .about-ophthalmologist-adventages{
        padding-bottom: 50px;
        .right{
            padding-left: 20px;
        }
        .second-right{
            padding-left: 0;
        }
    }
}

.certificates-swiper{
    margin-top: 25px;
}
.hamburger-box{
    top: -5px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    width: 32px;
}
.hamburger--spring .hamburger-inner::before{
    top: 7px;
}

.hamburger--spring .hamburger-inner::after{
    top: 14px;
}

.navigation{
    text-align: center;
    ul{
        list-style: none;
        padding-left: 0;
        li{
            display: inline-block;
            height: 44px;
            width: 44px;
            border: 1px solid @bg-color;
            position: relative;
            .basic-transition;
            &:hover{
                .basic-transition;
                border: 1px solid @kolor-czarny;
            }
            a{
                position: absolute;
                top: 50%;
                transform: translate(-50%,-50%);
                left: 50%;
                line-height: 45px;
                color: #535b69;
                font-weight: 600;
            }
        }
    }

    .active{
        a{
            color: #c2d3cd;
        }
    }
}

.gabinet{
    .red-label{
        ul{
            padding-left: 0px;
            li{
                list-style: none;
                position: relative;
                padding-left: 18px;
                line-height: 1.7;
                padding-bottom: 5px;
                margin-bottom: 6px;
                &:before{
                    position: absolute;
                    top: 8px;
                    left: 0px;
                    content: "";
                    height: 12px;
                    width: 6px;
                    background: @czerwony;
                    border-bottom-right-radius: 12px;
                    border-top-right-radius: 12px;
                }
            }
        }
    }
}


.oferta-single{
    .offer-section-title{
        h2{
            color: @czerwony;
            font-size: 24px;
            position: relative;
            padding-left: 15px;
            font-weight: 600;
            &:before{
                content: "";
                background: url(img/before-h2.png) no-repeat;
                position: absolute;
                top: 0;
                left: -25px;
                height: 22px;
                width: 22px;
            }
            @media (max-width: 550px){
                font-size: 21px;
            }
        }
    }

    .no-color{
        h2{
            color: #545c6a;
            font-weight: 600;
            padding-bottom: 30px;
        }
    }

    ul{
        padding-left: 0;
        margin-bottom: 20px;
        li{
            line-height: 1.7;
            padding-bottom: 13px;
        }
    }
    .red-label{
        ul{
            padding-left: 0px;
            li{
                list-style: none;
                position: relative;
                padding-left: 18px;
                line-height: 1.7;
                padding-bottom: 5px;
                font-size:16px;
                &:before{
                    position: absolute;
                    top: 8px;
                    left: 0px;
                    content: "";
                    height: 12px;
                    width: 6px;
                    background: @czerwony;
                    border-bottom-right-radius: 12px;
                    border-top-right-radius: 12px;
                }
            }
        }
    }

    .circle-label{
        ul{
            padding-left: 17px;
            li{
                list-style: none;
                position: relative;
                padding-left: 18px;
                &:before{
                    position: absolute;
                    top: 7px;
                    left: 0px;
                    content: "\f111";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 700;
                    color: @bg-color;
                    font-size: 8px;
                }
            }
        }
    }




    .section-first{
        padding-left: 75px;
        @media (max-width:991px){
            margin-left: 0;
            padding-left: 0;
        }
    }



    .section-second{
        margin: -90px 0;
        padding: 120px 0;
        min-height: 790px;
        background: url(img/oferta-section-bg.png) bottom right no-repeat;
        @media (max-width: 767px){
            min-height: 500px;
            background-size: cover;
            background-position: center right -465px;
        }

        .right{
            padding-top: 50px;
            max-width: 350px;
            /*font-size: 22px;*/
            line-height: 2;
            padding-left: 60px;
        }

        .left{
            ul{
                margin-bottom: 0;
                li{
                    margin-bottom: 10px;
                }
            }
            p{
                margin-left: 32px;
                margin-bottom: 15px;
            }
        }




    }

    .bigger-wrapper{
        position: relative;
        z-index: 2;
        @media (max-width: 767px){
            overflow: hidden;
        }
    }


    .cta-box{
        background: url(img/cta-photo.jpg) left no-repeat @czerwony;
        @media (max-width: 767px){
            background: @czerwony;
        }
        .btn{
            background: #fff;
            color: @kolor-czarny;
            &:after{
                background: @kolor-czarny;
            }
        }
        color: #fff;
    }
}
.oferta-template-oferta-oprawy-okularowe-php{
    .cta-box{
        background: url(img/cta-photo.jpg) left no-repeat @czerwony;
        .btn{
            background: #fff;
            color: @kolor-czarny;
            &:after{
                background: @kolor-czarny;
            }
        }
        color: #fff;
    }
}

.section-cooperation{
    .offer-section-title{
        padding-bottom: 0;
        h2{
            font-weight: 300;
            color: #aebebf;
        }
    }
}

.about-lens{
    max-width: 1070px;
    margin: 0 auto;
    padding-left: 15px;
    .single-info-lens{
        border: 1px solid @bg-color;
        padding: 0 25px 0px 25px;
        margin-bottom: 15px;
        padding-right: 0;
        @media (max-width: 767px){
            padding-left: 15px;
        }
        p{
            background: @kolor-czarny;
            color: #fff;
            padding: 15px;
            margin-right: 25px;
            font-size: 13px;
            margin-bottom: 15px;
        }
        h3{
            color: @czerwony;
            text-transform: uppercase;
            @media (max-width: 767px){
                font-size: 20px;
            }
        }
    }
}

.contact-lens{
    padding-left: 25px;
    max-width: 1070px;
    margin: 0 auto;
    text-align: center;
    .offer-section-title{
        text-align: left;
    }
}


/*Media*/

@media (max-width: 1199px){
    .look{
        bottom: 50%;
        transform: translateY(50%);
        .big-one{
            font-size: 100px;
        }
    }

    .main-section{
        .wrapper{
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            margin-left: -20px;
        }
    }

    .cta-box{
        .text{
            padding-left: 160px;
            .big{
                font-size: 45px;
            }
            .small{
                margin-bottom: -15px;
            }
        }
    }


}

.navbar-nav>li>.dropdown-menu{
    right: -100%;
    margin-top: 16px;
    border:none;
    padding: 0;
    border-radius: 0;
    .basic-transition;

    li{
        border-bottom: 1px solid #dae6e2;
        a{
            font-size: 16px;
            line-height: 30px;
            text-align: center;
        }
        &:last-of-type{
            border-bottom: none;
        }
    }
}



.section-cooperation{
    @media (max-width: 767px){
        text-align: center;
    }
    a{
        display: inline-block;
    }
}


.ramka-frame{
    height: 249px;
    /*margin-top: 16px;*/
    @media (max-width: 991px){
        background-position: center center !important;
        img{
            display: block;
            margin: auto;
        }
    }
    @media (max-width: 1199px){
        height: auto;
    }
}


@media (max-width: 991px){
    .oferta{
        &__single-wrapper{
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    .look{
        margin-left: 10px;
        bottom: 55%;
        .big-one{
            font-size: 50px;
        }
    }
    .logo-wrapper{
        margin-left: 15px;
    }
    .main-section{
        .wrapper{
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            margin-left: -20px;
        }
    }
}

@media (max-width: 767px){
    .oferta{
        &__single-wrapper{
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    .cta-wrapper{
        margin-bottom: 30px;
    }
    .cta-box{
        background: none;
        text-align: center;
        margin: 20px auto;
        .text{
            padding-left: 0;
            position: relative;
            top: 0;
            transform: translateY(0);
            padding: 30px 10px;
            .small{
                margin-top: 10px;
            }
            .big{
                margin-top: 0;
                line-height: 1;
                margin-top: 20px;
            }
            .btn{
                margin-top: 20px;
            }
        }
        .rwd-photo{
            display: block;
            margin: 0 auto;
        }
    }
}



@media (max-width: 550px){
    .look{
        bottom: 250px;
        transform: translateY(50%);

    }
    .promotion{
        font-size: 16px;
    }
    .logo-wrapper{
        max-width: 189px;
        display: inline-block;
        margin-left: 20px;
    }
    #wpadminbar li#wp-admin-bar-new_draft{
        display: none !important;
    }
}
@media (max-width: 400px){
    .look{
        bottom: 204px;
        transform: translateY(50%);

    }
}
.naprawy-opraw-okularowych{
    .title-section h1{
        width: 610px;
        @media (max-width: 1199px){
            width: auto;
            padding-top: 0;
            line-height: 1;
            font-size: 55px;
        }
        @media (max-width: 767px){
            font-size: 40px;
        }
        @media (max-width: 550px){
            font-size: 30px;
        }
    }
}

.okulary-korekcyjne{
    .section-second .right{
        font-size: 22px;
        font-weight: 300;
        line-height: 1.5;
        padding-left: 0;
        margin-left: 60px;
        max-width: 360px;
        @media (max-width:991px){
            margin-left: 0;
            padding-left: 0;
        }
        p{
            position: relative;
            z-index: 2;
        }
        .wrapper{
            left: -220px;
            top: 70px;
            .circle{
                border: 159px solid #fff;
            }
        }
    }
    .left{
        .red-label{
            padding-right: 55px;
            @media (max-width:991px){
                margin-left: 0;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    .section-third .right{
        padding-top: 50px;
        font-size: 22px;
        font-weight: 300;
        line-height: 1.5;
        padding-left: 0;
        margin-left: 60px;
        max-width: 375px;
        @media (max-width:991px){
            margin-left: 0;
            padding-left: 0;
        }
        p{
            position: relative;
            z-index: 2;
        }
        .wrapper3{
            height: 318px;
            width: 318px;
            clip: rect(0px, 318px, 318px, 159px);
            right: -250px;
            top: 0;
            .circle{
                width: 159px;
                height: 318px;
                border: 159px solid @bg-color;
                border-radius: 50%;
                position: absolute;
                clip: rect(0,159px,318px,0);
                /*left: -50%;*/
            }
        }
    }
    .no-color{
        margin-left: 35px;
        @media (max-width:991px){
            margin-left: 0;
            padding-left: 0;
        }
    }
    .section-second{
        margin-left: 70px;
        @media (max-width:991px){
            margin-left: 0;
            padding-left: 0;
        }
    }
    .section-third{
        margin-left: 70px;
        @media (max-width:991px){
            margin-left: 0;
            padding-left: 0;
        }
        .red-label ul li{
            margin-bottom: 6px;
        }
    }
    .offer-section-title{
        padding-bottom: 30px;
        text-transform: uppercase;
    }
    .wrapper4{
        height: 318px;
        width: 318px;
        clip: rect(0px, 318px, 318px, 159px);
        right: -125px;
        .circle{
            width: 159px;
            height: 318px;
            border: 159px solid @bg-color;
            border-radius: 50%;
            position: absolute;
            clip: rect(0,159px,318px,0);
            /*left: -50%;*/
        }
    }
}

.nav > li > a{
    padding: 10px 12px;
}


@size: 60vh;

@h: @size;
@w: @size*2;

/*.pre-loader{
    min-height: 100vh;
    .wrapper {
        width: @w;  Set the size of the progress bar 
        height: @w;
        position: absolute;  Enable clipping 
        clip: rect(0px, @w, @w, @h);  Hide half of the progress bar 
    }
     Set the sizes of the elements that make up the progress bar 

    .circle {
        width: @h;
        height: @w;
        border: @h solid red !important;
        border-radius: 50%;
        position: absolute;
        clip: rect(0px, @h, @w, 0px);
    }
    .circle2 {
        width: @h;
        height: @w;
        border: @h solid red !important;
        border-radius: 50%;
        position: absolute;
        clip: rect(0px, @h, @w, 0px);
    }
     Using the data attributes for the animation selectors. 
     Base settings for all animated elements 
    div[data-anim~=base] {
        -webkit-animation-iteration-count: 1;   Only run once 
        -webkit-animation-fill-mode: forwards;  Hold the last keyframe 
        -webkit-animation-timing-function:linear;  Linear animation 
    }

    .wrapper[data-anim~=wrapper] {
        -webkit-animation-duration: 0.01s;  Complete keyframes asap 
        -webkit-animation-delay: 1s;  Wait half of the animation 
        -webkit-animation-name: close-wrapper;  Keyframes name 
    }

    .circle[data-anim~=left] {
        -webkit-animation-delay: 0.2s;
        -webkit-animation-duration: 1s;  Full animation time 
        -webkit-animation-name: left-spin;
    }

    .circle[data-anim~=right] {
        -webkit-animation-duration: 1s;  Half animation time 
        -webkit-animation-name: right-spin;
    }
    .circle2[data-anim~=left] {
        -webkit-animation-delay: 1s;
        -webkit-animation-duration: 1s;  Full animation time 
        -webkit-animation-name: left-spin;
    }

    .circle2[data-anim~=right] {
        -webkit-animation-duration: 1s;  Half animation time 
        -webkit-animation-name: right-spin;
    }
     Rotate the right side of the progress bar from 0 to 180 degrees 
    @-webkit-keyframes right-spin {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(180deg);
        }
    }
    @-webkit-keyframes left-spin {
        from {
            -webkit-transform: rotate(180deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }

     Set the wrapper clip to auto, effectively removing the clip 
    @-webkit-keyframes close-wrapper {
        to {
            clip: rect(auto, auto, auto, auto);
        }
    }
    .wrapper{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}*/


#bm{
    height: 320px;
    width: 320px;
}


.single-oferta{
    .soczewki-kontaktowe-end{
        .right3{
            img{
                right: 180px !important;
                top: 0 !important;
                @media (max-width: 991px){
                    right: 50% !important;
                    top: 0;
                    transform: translateX(50%);
                }

            }
        }
    }
}


.soczewki-kontaktowe-end{
    .right3{
        img{
            right: 220px;
            @media (max-width: 991px){
                right: 50%;
            }
            @media (max-width: 767px){
                top: 0;
            }
        }
        .wrapper3{
            @media (max-width: 767px){
                right: -220px;
            }
        }
        @media (max-width: 991px){
            margin-top: 40px;
        }
    }
}

.okulary-korekcyjne-end{
    .section-cooperation{
        margin-left: 60px;
        @media (max-width: 767px){
            margin-left: 30px;
        } 
    }
    .wrapper4{
        @media (max-width: 767px){
            right: -210px;
        }  
    }
}


html > .single-oferta .okulary-korekcyjne-end .right3 .wrapper4{
    @media (max-width: 767px){
        right: -210px !important;
    }
}

.single-oferta{
    .okulary-korekcyjne-end{
        .bigger-wrapper{
            overflow: hidden;
        }
        .section-cooperation{
            margin-left: 60px;
            @media (max-width: 767px){
                margin-left: 30px;
            } 
        }
        .right3{
            .wrapper4{
                @media (max-width: 767px){
                    right: -125px !important;
                    /*right 210*/
                }  
            }
            img{
                top: 0;
                right: 50% !important;
                transform: translateX(55%);
            }
        }

    }
}

.single-oferta .okulary-korekcyjne-end .right3 .wrapper4{
    right: -125px !important;
}


.okulary-przeciwsloneczne-end{
    .okulary-przeciwsloneczne-h1{
        @media (max-width: 991px){
            display: none;
        }
    }
    .okulary-przeciwsloneczne-h1-show{
        @media (min-width: 992px){
            display: none;
        }
    }
    .title-section h1{
        padding-top: 20px;
    }
    @media (max-width: 991px){
        .title-section h1{
            padding-top: 20px;
        }

    }
    @media (max-width: 550px){
        .title-section h1{
            font-size: 25px;
        }
    }
}

.single-oferta{
    .okulary-przeciwsloneczne-end{
        @media (max-width: 991px){
            .red-label2{
                padding-left: 0;
                font-size: 20px;
            }
        }
    }
    .wrapper3{
        left: auto !important;
        right: -45px;
    }
    .right3{
        img{
            right: 0 !important;
            top: 80px;
            @media (max-width: 991px){
                transform: translateX(0);
            }
        }
    }
}

.simple-w{
    @media (max-width: 991px){
        margin-top: 13px;
    }
}

/*.oferta__single-wrapper{
    &:before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.5);
        content: '';
        -webkit-transition: -webkit-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
        transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    }
}*/


/*-----------------*/
/***** Apollo *****/
/*-----------------*/

figure.effect-apollo {
    overflow: hidden;
    position: relative;
}

figure.effect-apollo img {
    /*opacity: 0.95;*/
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo p {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 3em;
    padding: 0 1em;
    max-width: 150px;
    border-right: 4px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-apollo h2 {
    text-align: left;
}

figure.effect-apollo:hover img {
    /*opacity: 0.6;*/
    /*    -webkit-transform: scale3d(1.1,1.1,1);
        transform: scale3d(1.1,1.1,1);*/
    transform: scale(1.1);
}

figure.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.effect-apollo:hover p {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}



/*.Iam {
  padding: 2em 5em;
  font: normal 40px/50px Montserrat, sans-serif;
  color: #999;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}*/
.Iam b {
    /*float: left;*/
    overflow: hidden;
    position: relative;
    height: 30px;
    /*top: 40px;*/
}
.Iam .innerIam {
    display: inline-block;
    color: #fff;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;


    /*animation*/
    -webkit-animation:move 1s;
    -moz-animation:move 1s;
    -ms-animation:move 1s;
    -o-animation:move 1s;
    animation:move 1s;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count:1;
    -moz-animation-iteration-count:1;
    -ms-animation-iteration-count:1;
    -o-animation-iteration-count:1;
    animation-iteration-count:1;
    -webkit-animation-fill-mode: forwards; /* Hold the last keyframe */
    /*animation-delay*/
    -webkit-animation-delay:1s;
    -moz-animation-delay:1s;
    -ms-animation-delay:1s;
    -o-animation-delay:1s;
    animation-delay:1s;
}
@keyframes move{
    0%  { top: 0; }
    100% { top: -35px; }
}

@-webkit-keyframes move {
    0%  { top: 0; }
    100% { top: -35px; }
}
@-moz-keyframes move {
    0%  { top: 0; }
    100% { top: -35px; }
}
@-o-keyframes move {
    0%  { top: 0; }
    100% { top: -35px; }
}
@keyframes move {
    0%  { top: 0; }
    100% { top: -35px; }
}

.wrapper-for-menu{
    margin-top: -90px;
    @media (max-width: 991px){
        margin-top: -25px;
    }
    ul{
        padding-left: 0;
        list-style: none;
        text-align: center;
        display: flex;
        position: relative;
        @media (max-width: 550px){
            display: block;
        }
        .active{
            background: #545c6a;
        }
        li{
            display: inline-block;
            text-align: center;
            min-width: 360px;
            margin-right: 25px;
            position: relative;
            padding-bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:first-of-type{
                float: left;
                @media (max-width: 550px){
                    float: none;
                    text-align: center;
                }
            }
            &:last-of-type{
                margin-right: 0;
                float: right;
                @media (max-width: 550px){
                    float: none;
                    text-align: center;
                }
            }
            @media (max-width: 1199px){
                min-width: 300px;
                margin-right: 5px;
            }
            @media (max-width: 991px){
                min-width: auto;
                text-align: center;
                background: #aebebf;
                flex: 1;
            }
            @media (max-width: 550px){
                flex: unset;
                float: none;
                text-align: center;
                margin-right: 0;
            }
            .active{
                background: #545c6a;
            }
            a{
                color: #fff;
                background: #aebebf;
                padding: 16px 0;
                width: 100%;
                display: inline-block;
                font-weight: 600;
                @media (max-width: 1199px){
                    font-size: 14px;
                }
                @media (max-width: 991px){
                    font-size: 14px;
                    max-width: 250px;
                    display: block;
                    padding: 16px 10px;
                }
                @media (max-width: 550px){
                    margin: 0 auto;
                }
            }
        }
    }
}

.okulary-korekcyjne .section-third .improvement-right{
    padding-top: 0;
}

.okulary-korekcyjne .section-second .improvement-right-new{
    padding-top: 20px;
    min-height: 260px;
}

.okulary-korekcyjne .section-second .improvement-right-new .wrapper{
    top: 0;
}


.oferta-single .section-second .new-left{
    .red-label{
        padding-right: 0;
    }
    p{
        margin-left: 0;
    }
}

.oferta-single .new-section-second{
    margin-bottom: -60px;
}


.home{
    .oferta__single-wrapper a span{
        padding: 0 15px;
    }

}
.modal-dialog{
    top: 50% !important;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    transform: translateY(-50%) !important;
    .modal-header{
        display: none;
    }
}





.section-cooperation{
    img{
        width: auto;
        max-height: 85px;
        margin-right: 67px;
        margin-bottom: 30px;
        display: inline-block;
        @media (max-width: 991px){
            margin-right: 43px;
        }
    }
}

.okulary-przeciwsloneczne-end{
    .certificates{
        margin-top: 40px;
        @media (max-width: 991px){
            margin-top: 20px;
        }

    }
    .swiper-button-prev{
        z-index: 9999;
        left: 0;
        background-image: url(img/arrow-prev.png)!important;
    }
    .swiper-button-next{
        z-index: 9999;
        right: 0;
        background-image: url(img/arrow-next.png)!important;
    }
}

.soczewki-kontaktowe-end{
    .contact-lens{
        img{
            width: auto;
            max-height: 74px;
            margin: 0 30px;
        }
    }
}

.ekko-lightbox-item{
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}



.main-title{
    text-transform: uppercase;
}


body .animated{
    opacity: 1 !important;
}

.soczewki-fotochromowe{
    .wrapper-for-menu{
        margin-bottom: 70px;
        @media (max-width: 991px){
            margin-bottom: 30px;
        }
    }
    .offer-section-title{
        padding-left: 20px;
        margin-bottom: 40px;
        text-transform: uppercase;
        font-weight: 600;
        max-width: 750px;
        @media (max-width: 550px){
            padding-left: 15px;
            margin-bottom: 20px;
        }
    }
    .no-color{
        h2{
            padding-bottom: 0;
        }
    }
    .offer-section-title h2{
        padding-left: 15px;
        margin-left: 20px;
        &:before{
            left: -25px;
        }
        @media (max-width: 550px){
            padding-left: 0px;
            margin-left: 0px;
            font-size: 21px;
            &:before{
                display: none;
            }
        }
    }
    .about-ophthalmologist-adventages{
        padding-left: 35px;
        @media (max-width: 550px){
            padding-left: 0;
        }
        .left{
            font-size: 22px;
            padding-left: 0;

            p{
                letter-spacing: -1px;
            }
            @media (max-width: 550px){
                font-size: 17px;;
            }
        }
    }


    .section-third{
        .right{
            max-width: 980px;
            margin-left: 40px;
            font-weight: 300;
            @media (max-width: 550px){
                margin-left: 0;
            }
        }
    }
}

.single-oferta{
    .soczewki-fotochromowe{
        .section-second{
            background: url(img/bt-soczewki-fotochromatyczne.png) top 40px center no-repeat;
            min-height: 675px;
            .red-label{
                ul{
                    padding-left: 7px;
                }
            }
        }
    }
}

.cta-box{
    @media (max-width: 767px){
        background: @czerwony !important;
    }
}

.polaryzacyjne{
    .section-second{
        margin: -300px 0;
        padding: 330px 0;
        min-height: 1100px !important;
        background: url(img/bg-polaryzacyjne.png) top center no-repeat !important;
        /*background-size: cover;*/
    }
    .about-ophthalmologist-adventages{
        .left{
            max-width: 550px;
            padding-right: 0;
        }
    }

    .section-third{
        .red-label{
            ul{
                li{
                    ul{
                        margin-bottom: 0;
                        li{
                            &:before{
                                position: absolute;
                                top: 9px;
                                left: 0;
                                content: "";
                                height: 8px;
                                width: 8px;
                                background: #c8bdb8;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}


.wysokoindeksowane{
    .wrapper-for-menu{
        padding-bottom: 10px;
    }
    .circle-label{
        p{
            margin-bottom: 0;
        }
        ul{
            padding-left: 0;
            margin-bottom: 10px;
            margin-top: 20px;
        }
    }
}

.oferta-single .rr{
    min-height: 350px;
}

.soczewki-kontaktowe-text-block{
    padding: 0 35px;
    padding-bottom: 50px;
    @media (max-width: 1199px){
        padding: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}


.oprawy-okularowe{
    .section-fourth{
        margin-top: 50px;
        padding-left: 75px;
        @media (max-width: 991px){
            padding-left: 0;
            margin-top: 30px;
        }

        .simple-text{
            margin-top: 35px;
            @media (max-width: 991px){
                margin-top: 15px;
            }
        }
    }
}

.o-firmie{
    .certyficate-photo{
        img{
            max-height: 220px;
            width: auto;
        }
    }
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
    background-color: #ff2721;
}

iframe{
    max-width: 100%;
}

.big-one2{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    font-weight: 700;
    display: inline-block;
    /*overflow: hidden;*/
    @media (min-width: 1200px){
        display: none;
    }
    .Iam b {
        float: left;
        overflow: hidden;
        position: relative;
        height: 50px;
        display: inline-block;
        margin-left: 8px;
        /*top: 40px;*/
    }
    .Iam .innerIam {
        display: inline-block;
        color: #fff;
        position: relative;
        white-space: nowrap;
        top: 0;
        left: 0;
        display: inline-block;


        /*animation*/
        -webkit-animation:moveUpMedia 1s;
        -moz-animation:moveUpMedia 1s;
        -ms-animation:moveUpMedia 1s;
        -o-animation:moveUpMedia 1s;
        animation:moveUpMedia 1s;
        /*animation-iteration-count*/
        -webkit-animation-iteration-count:1;
        -moz-animation-iteration-count:1;
        -ms-animation-iteration-count:1;
        -o-animation-iteration-count:1;
        animation-iteration-count:1;
        -webkit-animation-fill-mode: forwards;
        /*            -webkit-animation-fill-mode: forwards;  Hold the last keyframe */
        /*animation-delay*/
        -webkit-animation-delay:0.4s;
        -moz-animation-delay:0.4s;
        -ms-animation-delay:0.4s;
        -o-animation-delay:0.4s;
        animation-delay:0.4s;
    }

}

@keyframes moveUpMedia{
    0%  { top: 0px; }
    100% { top: -75px; }
}

@-webkit-keyframes moveUpMedia {
    0%  { top: 0px; }
    100% { top: -75px; }
}
@-moz-keyframes moveUpMedia {
    0%  { top: 0px; }
    100% { top: -75px; }
}
@-o-keyframes moveUpMedia {
    0%  { top: 0px; }
    100% { top: -75px; }
}
