@import "../idvetmp/style.less";


@rozmiar-bazowy: 14px;
@czcionka-bazowa: 'Special Elite', sans-serif;
@Sinkinsans: 'SinkinSans', sans-serif;
@Sinkinsans600: 'SinkinSans', sans-serif;
@kolor-czarny: #1A1A1A;

:focus {
    outline: 0;
}

html #wpadminbar{
	z-index: 9999999999999999999999999;
}

@font-face {
  font-family: 'SinkinSans';
  src: url('fonts/SinkinSans-300Light.ttf'); /* IE9 Compat Modes */
  //src: url('OpenSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  //url('OpenSans.woff') format('woff'), /* Modern Browsers */
  //url('OpenSans.ttf') format('truetype'), /* Safari, Android, iOS */
  //url('OpenSans.svg#svgFontName') format('svg'); /* Legacy iOS */
}

a{
    color: #000;
    .basic-transition;
    text-decoration: none;
    &:hover{
        color: #000;
        text-decoration: none;
        .basic-transition;
    }
}

p{
    strong{
        a{
            .basic-transition;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

img{
    max-width: 100%;
    height: auto;
}
html>body{
    font-family: @czcionka-bazowa;
}

.btn{
    &:after{
        content: ">";
        background: #fff;
        position: absolute;
        height: 50px;
        top: 50%;
        transform: translateY(-50%);
        padding: 15px;
        right: 0;
    }
}


.basic-transition{
    transition: all .2s ease-in-out;
}

.read-btn{
    height: 50px;
    color: #000;
    border: 2px solid #000;
    display: inline-block;
    padding: 8px 60px 8px 20px;
    position: absolute;
    font-size: 22px;
    bottom: 60px;
    left: 50px;
    text-decoration: underline;
    text-decoration-color: #afb3b6;
    margin-bottom: 20px;
    .basic-transition;
    background: url("img/ee-white.svg") right no-repeat;
    &:hover{
        color: #000;
        .basic-transition;
        background: url("img/btn-send.svg") right no-repeat @AthensGray;
    }
    //&:after{
    //    content: url("img/ee-white.svg");
    //    background: #fff;
    //    position: absolute;
    //    height: 46px;
    //    top: 50%;
    //    transform: translateY(-50%);
    //    padding: 15px;
    //    right: 0;
    //}
}

.base-transision{
    transition: all 0.4s;
}


@OsloGray: #84898d;
@Iron: #d3d8db;
@AthensGray: #F0F2F4;

body{
    font-size: @rozmiar-bazowy;
    //font-family: @czcionka-bazowa;
    color: @kolor-czarny;
}

#navbar{
    background: transparent;
	@media (max-width: 991px){
		background: #fff;
	}
    @media (max-width: 767px){
        -webkit-box-shadow: 0px 10px 10px 0px rgba(132,137,141,0.5);
        -moz-box-shadow: 0px 10px 10px 0px rgba(132,137,141,0.5);
        box-shadow: 0px 10px 10px 0px rgba(132,137,141,0.5);
    }
}

.navbar{
z-index: 886753099;
	.basic-transition;
    .container{
        position: relative;
    }
}


.instashow-gallery-media-cover{
    background: none !important;
    display: none !important;
}
.instashow-gallery-media-info-description{
    display: none !important;
}

.instashow-gallery-media-link:hover .instashow-gallery-media-cover ~ .instashow-gallery-media-image {
	transform: none !important;
}

.instashow-gallery .instashow-gallery-control-arrow{
    display: none !important;
}

@media (max-width: 767px){
    .instashow{
        height: auto !important;
        .instashow-gallery-wrapper{
            height: auto !important;
            width: 100% !important;
            .instashow-gallery-container{
                width: 100% !important;
                .instashow-gallery-view{
                    height: auto !important;
                    width: 100% !important;
                    
                    .instashow-gallery-media{
                        height: auto !important;
                        width: 100% !important;
                        max-width: 100%;
                        img{
                            top: 0% !important;
                            transform: none !important;
                        }
                    }
                    
                }
            }
        }
    }
}
.search-wrap{
    text-align: right;
    margin-top: 33px;
    @media (max-width: 767px){
        text-align: center;
        margin-top: 0;
    }
    ul{
        padding-left: 0;
        list-style: none;
        display: inline-flex;
        position: absolute;
        text-align: right;
        margin: 0;
        right: 220px;
        padding-top: 8px;
        @media (max-width: 767px){
            position: static;
            margin-bottom: 8px;
        }
        li{
            margin-right: 15px;
            a{
                color: @OsloGray;
                font-size: 16px;
                .basic-transition;
                &:hover{
                    color: #000;
                }
            }
        }
    }

    form{
        label{
            position: relative;
            .search-field{
                height: 34px;
                border: 1px solid transparent;
                background-color: @AthensGray;
                position: relative;
                width: 192px;
                transition: all 0.5s ease-in-out;
                font-family: @Sinkinsans;
                font-size: 14px;
                &:focus{
                    border: 1px solid #84898d;
                    transition: all 0.5s ease-in-out;
                }
            }
            .search-submit{
                position: absolute;
                right: 15px;
                background: url("img/search.svg") center center no-repeat;
                border: none;
                height: 34px;
                padding-right: 10px;
                top: 0;
            }
        }
    }
}






#primary-menu{
    font-family: @Sinkinsans;
    font-weight: 300;
    font-size: 16px;
    .basic-transition;
    background: transparent;
    a{
        color: #000;
        .basic-transition;
        &:after{
            .basic-transition;
            content: "";
            height: 5px;
            width: 5px;
            background: transparent;
            border-radius: 50%;
            position: absolute;
            left: 14px;
            bottom: 6px;
        }
        &:hover{
            .basic-transition;
            &:after{
                .basic-transition;
                content: "";
                height: 5px;
                width: 5px;
                background: #000;
                border-radius: 50%;
                position: absolute;
                left: 14px;
                bottom: 6px;
                @media (max-width: 767px){
                    left: 50%;
                }
            }
        }
    }
    @media (max-width: 991px){
        margin: 0;
        text-align: center;
    }

    .current-menu-item{
        a{
            background: transparent;
            color: #000;
            &:after{
                content: "";
                height: 5px;
                width: 5px;
                background: #000;
                border-radius: 50%;
                position: absolute;
                left: 14px;
                bottom: 6px;

            }
            @media (max-width: 767px){
                &:after{
                    left: 50%;

                }
            }
        }
    }
}
.navbar-toggle{
    margin-top: 15px;
}
.navbar-nav > li > a{
    margin-top: 13px;
}
.navbar{
    height: 138px;
    background: #fff;
}
.navbar-brand{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    @media (max-width: 991px){
        width: 220px;
        top: auto;
        position: static;
        transform: none;
    }

}

.navbar-brand > img{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    width: auto;
    max-width: none;
    @media (max-width: 991px){
        width: 220px;
        top: auto;
        position: static;
        transform: none;
    }
    @media (min-width: 767px) and (max-width: 991px){
        margin-top: 20px;
    }
}


.slider{
   &__item{
       height: auto;
       width: 100%;
       //max-height: 922px;
       //height: 670px;
		margin-top: 106px;
       background-size: cover !important;

       
       @media (max-width: 991px){
           height: auto;
           margin-top: 138px;
       }
      
   }
}
.es_shortcode_form_email{
  font-family: @Sinkinsans;
  font-weight: 300;
}

.food{
    padding-top: 70px;
    max-width: 990px;
    margin: 0 auto;
	@media (max-width: 1500px){
        padding-top: 30px;
    }
    @media (max-width: 767px){
        padding-top: 0;
    }


    h1{
        font-size: 150px;
        text-align: right;
        //white-space: nowrap;
        //border-right: 2px solid black;
        //white-space: nowrap;
        //width: 100%;
        //overflow: hidden; /* Ensures the content is not revealed until the animation */
        //border-right: 4px solid black; /* The typwriter cursor */
        //white-space: nowrap; /* Keeps the content on a single line */
        //margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        //animation:
        //        typing 3.5s steps(10, end),
        //        blink-caret .75s step-end infinite;
        @media (max-width: 767px){
            font-size: 120px;
        }
        @media (max-width: 991px){
            font-size: 100px;
            text-align: center;
        }
        @media (max-width: 767px){
            font-size: 60px;
            text-align: center;
        }
    }
    p{
        font-size: 22px;

    }
}
.right-wrapp{
    padding-top: 26px;
    padding-left: 30px;
    line-height: 1.2;
    @media (max-width: 767px){
        padding-top: 0;
        padding-left: 0;
    }
    p{
        font-size: 33px;
        padding-right: 10px;
        @media (max-width: 991px){
            font-size: 22px;
            text-align: center;
        }
    }
}
.food__slider{
    font-size: 22px;
    text-align: center;
   .swiper-slide{
       p{
           color: #fff;
           padding: 40px 15px;
           @media (max-width: 500px){
               font-size: 17px;
                   padding: 40px 70px;
				   position: absolute;
				   top: 47%;
				   transform: translateY(-50%);
				   left: 0;
				   right: 0;
           }
           @media (max-width: 500px){
               color: #fff;
			   font-size: 14px;
               padding: 0 10px;
				position: relative;
				line-height: .9;
				max-width: 235px;
				margin: 0 auto;
			   
           }
       }
   }
}





.quick-sentence{
    margin-top: 70px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    font-family: @Sinkinsans;
    img{
        margin: 30px auto;
    }
    strong{
        font-weight: 700;
    }
	@media (max-width: 991px){
		
		    margin-bottom: 45px;
	}
	@media (max-width: 767px){
		font-size: 15px;
		    margin-bottom: 25px;
	}
	@media (max-width: 500px){
		margin-top: 0;
	}
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-7px);
    }
}
.down{
    text-align: center;
    width: 100%;
    display: block;
    position: relative;
    bottom: 155px;
    z-index: 2;
    cursor: pointer;
    @media (max-width: 991px){
        top: 0;
    }
    @media (max-width: 1200px){
        display: none;
    }
}



.category-wrapper{
    margin-top: 95px;
    margin-bottom: 225px;
    @media (max-width: 991px){
        margin-bottom: 30px;
        margin-top: 0;
    }

    &:last-of-type{
        &:before {
            content: " ";
        }
    }
    &:before{
        content: "&#";
        font-size: 800px;
        position: absolute;
        left: 50%;
        transform: translateX(-68%);
        color: @AthensGray;
        margin-top: 200px;
        letter-spacing: 90px;
        @media (max-width: 991px){
            font-size: 60px;
            text-align: center;
        }
        @media (max-width: 767px){
            font-size: 40px;
            text-align: center;
        }
    }
    &__single-box{
        position: relative;
        height: 455px;
        background: @Iron;
        max-width: 1030px;
        margin: 0 auto;
        .post-categories{
            list-style: none;
            padding-left: 0;
            a{
                color: #000;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        @media (max-width: 991px){
            height: auto;
        }
    }

    &__left-box{
        position: absolute;
        top: 0;
        left: 0;
        @media (max-width: 991px){
            position: relative;
            top: auto;
            left: auto;
            background: @Iron;
        }
        h1{
            font-size: 180px;
            position: absolute;
            left: -15px;
            color: #fff;
        }
        .content-box{
            position: relative;
            padding: 50px 70px;
            max-width: 500px;
            h2{
                font-size: 60px;
                color: #000;
                text-transform: uppercase;
                min-height: 105px;
                @media (max-width: 991px){
                    font-size: 30px;
                    text-align: center;
                    padding: 0;
                }
                @media (max-width: 767px){
                    font-size: 18px;
                    text-align: center;
                }
            }
            p{
                font-family: @Sinkinsans;
                font-weight: 300;
                font-size: 17px;
                //margin-top: 50px;
            }
        }
    }
    &__left-box-edited{
        left: -25px;
    }
    &__right-box{
        a{
            position: absolute;
            right: 35px;
            @media (max-width: 991px){
                position: inherit;
            }
        }
		img{
			max-width: 397px;
			max-height: 605px;
		}
    }
    &__right-box-edited{
        left: 35px;
        position: absolute;
        .content-box{
            padding: 10px;
            margin-top: 15px;
            h2{
                text-align: center;
                position: relative;
                text-transform: uppercase;
            }
            p{
                font-family: @Sinkinsans;
            }
        }
    }
    &__query-right-box{
        text-align: center;
        .content-box{
            padding: 10px;
            margin-top: 15px;
            h2{
                position: relative;
                text-align: center;
            }
            p{
                font-family: @Sinkinsans;
            }
        }
    }
    &__query-left-box{
        h1{
            color: #fff;
            font-size: 85px;
            margin-bottom: -20px;
            position: absolute;
            left: 0px;
            top: -25px;
        }
        .content-box{
            padding: 10px;
            margin-top: 15px;
            h2{
                text-align: center;
                position: relative;
                text-transform: uppercase;
            }
            p{
                font-family: @Sinkinsans;
            }
        }
    }
}
.category-wrapper-right{
    &:before{
        content: "-&";
        font-size: 594px;
        position: absolute;
        right: -1%;
        transform: translateX(-10%);
        color: @AthensGray;
        margin-top: 200px;
		left: auto;
        letter-spacing: 90px;
		@media (max-width: 1550px){
            font-size: 450px;
            text-align: center;
			left: auto;
        }
        @media (max-width: 1400px){
            font-size: 80px;
            text-align: center;
			font-size: 590px;
        }
        @media (max-width: 991px){
            font-size: 590px;
            text-align: center;
        }
        @media (max-width: 767px){
            font-size: 590px;
            text-align: center;
            display: none;
        }
    }
}
.query-large{
    @media (max-width: 991px){
        display: none;
    }
}

.query-small{
    @media (min-width: 991px){
        display: none;
    }
}

.wrapping{
	display: -webkit-flex;
	display: flex;
    @media (max-width: 991px){
        display: block;
    }
}


.comment-form-author, .comment-form-email, .comment-form-url{
    label{
        display: block;
        font-weight: 300;
        text-transform: uppercase;
        font-family: @Sinkinsans;
        font-size: 15px;
        margin-bottom: 15px;
        margin-top: 27px;
    }
    #author, #email, #url{
        height: 40px;
        width: 290px;
        padding-left: 10px;
        font-size: 15px;
        font-family: @Sinkinsans;
        border: 1px solid #d3d8db;
        margin-right: 25px;
    }
}

.latest-posts{
    margin-bottom: 120px;
    @media (max-width: 991px){
        margin-bottom: 0;
    }
    &__single-photo{
        background: #f2f3f5;
        height: 100%;
        @media (max-width: 991px){
            text-align: center;
            margin-bottom: 20px;
        }

        img{
            width: 100%;
            @media (max-width: 991px){
                height: 100%;
                width: auto;
            }
            @media (max-width: 767px){
                width: auto;
            }
        }
        @media (max-width: 991px){
            img{
                text-align: center;
                height: auto;
            }
        }
    }
    &__title{
        text-align: center;
        position: relative;
        h2{
            font-size: 40px;
            margin-bottom: 0;

        }
        p{
            font-weight: 300;
            font-size: 17px;
            font-family: @Sinkinsans;
            margin-bottom: 80px;
        }
    }
    &__info{
        padding: 35px 25px;
        text-align: center;
        flex: 1;
        span{
            color: @OsloGray;
          font-family: @Sinkinsans;
        }
        a{
            font-size: 26px;
            color: #000;
            display: block;
            text-decoration: underline;
            text-decoration-color: #d2d2d2;
            padding-top: 10px;
            &:hover{
                color: #000;
            }
        }
    }

}

.latest-posts__single-photo{
    .basic-transition;
    &:hover{
        background: #000;
        .latest-posts__info a{
            color: #fff;
        }
    }
}


.recipes, .journal, .workshops-and-events{
    .latest-posts{
        margin-bottom: 35px;
        @media (max-width: 991px){
            margin-bottom: 0;
        }
    }
}

.subscribe-title{
    background: url(img/pedzel_jasny.jpg) center bottom 0px no-repeat;
    height: 68px;
    @media (max-width: 991px){
        margin: 30px 0;
    }
    p{
        font-family: @Sinkinsans;
        font-size: 22px;
        font-weight: 300;
        em{
            text-transform: capitalize;
            font-size: 40px;
            font-family: @czcionka-bazowa;
            font-style: normal;
        }
    }
}

.simple-newsletter{
    position: relative;
    min-height: 180px;
    padding: 30px 60px;
    background: @Iron;
    margin: 50px 0;
    @media (max-width: 991px){
        //padding: 10px 30px;
        text-align: center;
    }
    @media (max-width: 991px){
        padding: 0;
    }
    h1{
        position: absolute;
        top: -58px;
        left: -27px;
        font-size: 180px;
        color: #fff;
        @media (max-width: 991px){
            font-size: 60px;
            text-align: center;
        }
        @media (max-width: 767px){
            font-size: 40px;
            text-align: center;
        }
    }
    &__content{
	transform: translateY(-50%);
    position: absolute;
    top: 50%;
	width: 100%;
    left: 0;
    padding: 0 60px;
		
        @media (max-width: 991px){
            padding: 35px 0;
			position: static;
			transform: translateY(0);
        }
        form{
            
			.mc4wp-alert{
					p{
						font-size: 20px;
						padding: 15px 5px;
						position: absolute;
					}
				}
			@media (max-width: 1199px){
				position: static;
				margin-top: 20px;
				
			}
        }
        p{
            font-size: 40px;
            position: relative;
            z-index: 1;
            margin-bottom: 0;
            line-height: 1;
			@media (max-width: 1199px){
            
				font-size: 35px;
			
			}
            @media (max-width: 991px){
                font-size: 20px;
                text-align: center;
            }
        }
        span{
            font-size: 17px;
        }
    }
    .es_textbox_class {
        width: 250px;
        height: 40px;
        background: @AthensGray;
        border: none;
    }
    #es_txt_button_pg{
        border: 2px solid #000;
        height: 50px;
        background: @Iron;
        font-size: 22px !important;
        .btn;
      padding-right: 35px;
    }


    .es_textbox, .es_lablebox{
        margin-left: 55px;
        @media (max-width: 1199px){
            margin-left: -35px;
        }
        @media (max-width: 991px){
            margin-left: 0;
        }
    }

    .es_button{
        position: absolute;
        top: 20px;
        right: 0;
        border: 2px solid;
        width: 159px;
        padding: 0;
        @media (max-width: 991px){
            position: relative;
            top: 20px;
            right: 0;
            border: 2px solid;
            width: 250px;
            padding: 0;
            margin: 0 auto;
            margin-bottom: 40px;
        }
        &:after{
            content: url("img/arrow-right.png");
            background: #fff;
            position: absolute;
            height: 50px;
            top: 50%;
            transform: translateY(-50%);
            padding: 15px;
            right: 0;
        }
    }
}

.right-site-newsletter{
	transform: translateY(100%);
	@media (max-width: 1199px){
            transform: translateY(0);
        }
}

.home .stay_in_touch {
	.stay_line{
		transform: scale(1);
	}
}

.stay_in_touch{
    text-align: center;
	
    &__title{
        text-align: center;
        position: relative;
        h2{
            font-size: 27px;
            margin-bottom: 0;
			
        }
        p{
            font-weight: 300;
            font-size: 17px;
            font-family: @Sinkinsans;
            margin-bottom: 80px;
        }
    }
    ul{
        padding-left: 0;
    }
    li{
        display: inline-block;
        margin: 0 34px;
        margin-top: 10px;
        @media (max-width: 767px){
            margin: 10px 10px 0;
        }
    }
}


.home{
    .stay_in_touch{
        img{
            .basic-transition;
			@media (max-width: 991px){
				transform: scale(0.6);
			}
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

.last-slider{
    padding-top: 80px;
    .swiper-slide{
        background: url("img/pedzel_last.jpg") no-repeat center center;
        color: #fff;
        padding: 40px 0;
        font-size: 30px;
		background-size: 265px;
		@media (max-width: 1500px){
			background-size: 180px;
			font-size: 24px;
		}
    }

}


.instagram-section{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 75px;
    @media (max-width: 1500px){
        margin-top: 50px;
        margin-bottom:  0px;
    }
    .instagram-name{
        margin-bottom: -45px;
		@media (max-width: 1500px){
        margin-bottom: -25px;
    }
        a{
            font-family: @Sinkinsans;
            font-weight: 300;
            font-size: 22px;
            color: #000;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .instagram-grey-sign{
        color: @Iron;
        font-size: 120px;
        margin-bottom: -49px;
        z-index: -1;
        position: relative;
        @media (max-width: 991px){
            font-size: 60px;
            margin-bottom: -20px;
        }
    }
}
.home, .page-template{
    header{
        .navbar-default{
            background: rgba(255,255,255, 0.6);
            border: none;
        }
    }
}
.container-for-inst-photos{
    max-width: 1920px;
    margin: 0 auto;
    .jr-insta-thumb ul.thumbnails li{
        overflow: hidden;
        margin: auto;
        display: block;
        position: relative;
    }
    .jr-insta-thumb ul.thumbnails li img{
        //height: auto !important;
        width: 100% !important;
        //max-height: 378px;
        float: left;
        max-width: 378px !important;
        border-right: 2px solid white;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @media (max-width: 1699px){
            //max-height: 260px;
        }
        @media (max-width: 1199px){
            width: 100% !important;
            max-height: 378px;
			position: relative;
			top: auto;
			transform: none;
        }
        @media (max-width: 991px){
            width: 100% !important;
            //height: auto !important;
            float: none;
            max-height: 100%;
			
        }
        @media (max-width: 650px){
            //max-height: 280px !important;
        }
        @media (max-width: 500px){
            //max-height: 378px;

        }
    }
    .jr-insta-thumb ul.thumbnails.no-border.jr_col_4 li{
        width: 20% !important;
        height: 378px;
		@media (min-width: 1751px) and (max-width: 1900px){
            //height: 320px !important;
			width: 20% !important;
        }
		
        @media (min-width: 1250px) and (max-width: 1750px){
            width: 20% !important;
            //height: 250px !important;
        }
		@media (min-width: 1200px) and (max-width: 1249px){
            width: 20% !important;
            //height: 230px !important;
        }
		@media (max-width: 1199px){
            width: 50% !important;
            //height: 350px !important;
			a{
				overflow: hidden;
				max-width: 302px !important;
				    margin: 0 auto;
				img{
					width: auto !important;
				}
			}
        }
		@media (max-width: 991px){
				width: 50% !important;
				//height: 380px !important;
			a{
				overflow: hidden;
				max-width: 280px !important;
				margin: 0 auto;
				display: block;
				position: relative;
				height: 380px;
				img{
					width: auto !important;
					//height: auto !important;
					display: block;
				}
			}
        }
		@media (max-width: 650px){
				width: 100% !important;

        }

    }
}

footer{
    font-family: @Sinkinsans;
}
.footer-text{
    margin-top: 95px;
    color: @OsloGray;
    font-family: @Sinkinsans;
    font-weight: 300;
	@media (max-width: 1500px){
        margin-top: 10px;
    }
    @media (max-width: 991px){
        margin-top: 0;
    }
}
.footer-autor{
    margin: 40px 0;
    margin-top: 15px;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    box-sizing: border-box;
}

html, body  {
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}

h1 {
    font-size: 150%;
}

p {
    margin-bottom: 10px;
}

.paddingBlock {
    padding: 20px 0;
}

.YT-Player{
    display: flex;
    height: 100%;
    margin-top: 138px;
    //background-color: red;
    margin-bottom: 50px;
	position: relative;
    &:after{
        height: 100%;
        //width: 100%;margin-bottom: 50px;
        margin-bottom: 50px;
        background: rgba(0,0,0,0.5);
        content: '';
        position: absolute;
        width: 100%;
        overflow: auto;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 2;
	}
}


.play-btn{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    position: absolute;
	opacity: 0.7;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    overflow: auto;
    background: url(img/play.svg) left 25px center no-repeat black;
    //margin: 0 auto;
    //display: block;
    left: 50%;
    cursor: pointer;
    @media (max-width: 991px){
        transform: translate(-50%, -50%) scale(0.6);
    }
}

.form-wrapper{
  h1{
    font-size: 94px;
    margin-bottom: 110px;
    @media (max-width: 991px){
      font-size: 50px;
      text-align: center;
      margin-bottom: 40px;
    }
  }
  label{
    font-size: 15px;
    font-family: @Sinkinsans;
    font-weight: 300;
    width: 100%;

  }

  textarea{
    border: 1px solid @Iron;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    overflow: hidden !important;
  }
  .wpcf7-text{
    border: 1px solid @Iron;
    margin-bottom: 15px;
    margin-top: 11px;
    height: 40px;
    padding: 5px 15px;
    @media (max-width: 991px){
      max-width: 100%;
      //w
    }
  }
}

.contact-wrapper{
	.contact-content{
		span{
			display: none !important;
		}
	}
  .last-slider{
    margin-top: 40px;
	@media (max-width: 991px){
		margin-top: 30px;
	  }
  }

  .read-btn{
	  margin-top: 15px;
      height: 51px;
      color: #000;
      border: 2px solid #000;
      display: inline-block;
      padding: 8px 60px 8px 20px;
      position: static;
      font-size: 22px;
        background: url("img/grey-bb.svg") right no-repeat white;
      text-decoration: underline;
      text-decoration-color: #afb3b6;
      .basic-transition;
      &:hover{
          color: #000;
          .basic-transition;
          background: url("img/ee-white.svg") right no-repeat @AthensGray;
      }
  }

}

.contact-content{
  padding-top: 30px;
  font-size: 26px;
  padding-right: 15px;
  @media (max-width: 991px){
    padding-right: 0;
  }
  .stay-in-touch{
    ul{
      display: inline-flex;
      list-style: none;
      padding-left: 0;
      margin-bottom: 75px;
      @media (max-width: 991px){
        margin: 0 auto;
        text-align: center;
        width: 100%;
      }
      li{
        margin-right: 50px;
        margin-left: 0;
        @media(max-width: 991px){
          margin: 20px auto;
		  img{
			transform: scale(0.7);
		  }
        }
      }
    }

    h4{
      font-size: 17px;
      margin-bottom: 21px;
      margin-top: 94px;
      font-family: @Sinkinsans;
      font-weight: 400;
	  @media (max-width: 991px){
		margin-top: 60px;
		text-align: center;
	  }
    }
  }
}



.drop-me-a-line{
  padding-top: 80px;
  @media (max-width: 991px){
	padding-top: 30px;
	text-align: center;
  }
  a{
    background: url("img/email_pedzel.jpg") left center no-repeat;
    padding: 20px 60px;
    width: 100%;
    display: block;
    margin: 0 auto;
    color: #fff;
    &:hover{
      text-decoration: none;
    }
    @media (max-width: 991px){
      font-size: 22px;
      max-width: 100%;
      padding: 25px 0;
      background: url("img/email_pedzel.jpg") center center no-repeat;
      text-align: center;
    }
    @media (max-width: 500px){
      font-size: 16px;
      padding: 25px 0;
      background-size: contain !important;
    }
  }
  h4{
    font-size: 17px;
    font-family: @Sinkinsans;
  }
}

.text-under-socials{
  p{
    font-size: 15px;
    font-family: @Sinkinsans;
    max-width: 395px;
    line-height: 1.7;
	@media (max-width: 991px){
      max-width: 100%
    }
  }
}

.contact-wrapper{
  margin-top: 200px;
  @media (max-width: 991px){
      margin-top: 140px;
  }
}

.about-author-left-text{
    margin-top: 80px;
    h1{

    }
    @media (max-width: 991px){
        margin-top: 35px;
    }
}

.about-author-right-text{
    h1{
        margin-top: 130px;
        @media (max-width: 991px){
            margin-top: 30px;
        }
    }

}



.about-author-right{
    margin-top: 115px;
    @media (max-width: 991px){
        margin-top: 35px;
    }
}

.about-author{
    margin-top: 85px;
    @media (max-width: 991px){
        margin-top: 45px;
    }
  h1{
    font-size: 94px;
    @media (max-width: 991px){
        font-size: 50px;
    }
  }
  h2{
    font-size: 33px;
      margin-bottom: 25px;
      @media (max-width: 991px){
          font-size: 30px;
      }
  }
  p{
    font-family: @Sinkinsans;
      line-height: 1.7;
      font-weight: 300;
      font-size: 17px;
  }
}

.double-wrapper, .single-column{
    margin-bottom: 50px;
    overflow: auto;
    @media (max-width: 991px){
        margin-bottom: 30px;
    }
    .photo{
        img{
            margin: 0 auto;
            display: block;
			max-width: 459px;
			max-height: 685px;
			width: 100%;
        }
    }
}

.menu-hover{
    height: 10px;
    width: 10px;
    //background: @kolor-czcionki-glowny;
    display: inline-block;
    bottom: 25px;
    left: 10px;
    margin-left: 10px;
    position: absolute;
    opacity: 1;
    .basic-transition;
    @media (max-width: 991px){
        display: none;
    }
}

.header-post{
    height: 670px;
    margin-top: 106px;
    background-size: cover !important;


    @media (max-width: 1400px){
        height: 555px;
        margin-top: 106px;
    }
    @media (max-width: 1199px){
        height: 471px;
        margin-top: 106px;
    }
    @media (max-width: 991px){
        height: 350px;
        margin-top: 92px;;
    }
    @media (max-width: 767px){
        margin-top: 92px;
        height: 290px;
    }
    @media (max-width: 600px){
        margin-top: 92px;
        height: 209px;
    }
    @media (max-width: 480px){
        margin-top: 92px;
        height: 290px;
    }
    @media (max-width: 360px){
        height: 250px;
    }

    &:after{
        content: "";
        height: 702px;
        background: #fff;
        position: absolute;

        left: 0;
        bottom: 0;
        right: 0;
		top: 138px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+45,ffffff+100&0+0,1+100 */
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.45) 45%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.45) 45%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.45) 45%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
    &:before{
        content: "";
        height: 670px;
        //height: 1000px;
        position: absolute;
        @media (min-width: 2500px){
            height: 100%;
        }
        left: 0;
        bottom: 52px;
        right: 0;
        top: 138px;
        background: -moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.45) 45%,#fff 100%);
        background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.45) 45%,#fff 100%);
        background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.45) 45%,#fff 60%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);

    }
}


.choose-the-time-of-year{
    margin-bottom: 55px;
    margin-top: 40px;
    @media (max-width: 767px){
        margin-bottom: 0;
        margin-top: 0;
    }
    ul{
        text-align: center;
        width: 100%;
        padding-left: 0;
        .active{
            background: url("img/summer-pedzel.jpg") center center no-repeat;
            min-width: 280px;
            width: 100%;
            background-size: cover;
            a{
                color: #fff;
            }
        }
        li{
            list-style: none;
            display: inline;
            @media (max-width: 767px){
                display: block;
                margin-bottom: 20px;
            }
            //margin: 0 67px;
            .active{
                color: #fff;
                &:hover{
                    color: @OsloGray;
                }
            }
            a{
                margin: 0 auto;
                font-size: 32px;
                color: @OsloGray;
                padding: 40px 66px;
                @media (max-width: 1199px){
                padding: 40px;
                }
                @media (max-width: 991px){
                    padding: 30px;
                    font-size: 28px;
                }
                @media (max-width: 550px){
                    padding: 15px;
                    font-size: 23px;
                }
                &:hover{
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
}

.paginacja{
    text-align: right;
    @media (max-width: 767px){
        text-align: center;
    }
}

.recipes4{
    margin-top: 200px;
    @media (max-width: 991px){
        margin-top: 100px;
    }

}

.title-category-content{
    a{
        color: #000;
        font-size: 26px;
        &:hover{
            text-decoration: none;
        }
    }
}

.first-section{
    margin-bottom: 0px;
    overflow: auto;
    h2{
        font-size: 65px;
        line-height: 0.9;
        text-transform: uppercase;
        @media (max-width: 1199px){
            font-size: 80px;
        }
    }
    p{
        font-size: 24px;
        padding-top: 15px;
    }
    @media (max-width: 991px){
        text-align: center;
        margin-top: 60px;
        h2{
            font-size: 50px;
        }
        p{
            font-size: 22px;
            padding-top: 15px;
			margin-bottom: 30px;
        }
    }
}



.photo-height{
    img{
        height: auto;
		max-height: 505px;
		@media (max-width: 991px){
			max-height: 100%;
		}
    }
}

.ingredients{
    h3{
        font-size: 40px;
    }
}

.preparation{
    @media (max-width: 991px){
        margin-top: 0;
    }
    p{
        font-weight: 300;
    }
    strong{
        font-weight: 600;
    }

}

.ingredients{
    strong{
        font-weight: 600;
    }
    p{
        font-weight: 300;
    }
    h3{
        margin-bottom: -15px;
        strong{
            font-family: @czcionka-bazowa;


        }
    }
}

.single-content{
  .single-title{
      padding-bottom: 55px;
      @media (max-width: 991px){
          padding-bottom: 0;
      }
    p{
      color: @OsloGray;
      font-size: 14px;
	  line-height: 1.7;
    }
    h2{
      font-size: 40px;
      font-family: @czcionka-bazowa;
        @media (max-width: 991px){

            font-size: 28px;
        }
    }
    span{
      text-transform: lowercase;
      display: initial;
        cursor: pointer;
    }
  }
}



.comment-list{
    list-style: none;
    @media (max-width: 991px){
        padding-left: 0;
    }
    .url{
        font-size: 17px;
        color: #000;
        text-transform: uppercase;
        font-family: @Sinkinsans600;
        font-weight: 600;
        position: relative;
        top: -5px;
        text-decoration: none;
        @media (max-width: 991px){
            position: static;
            top: auto;
        }
    }
    a{
        text-decoration: underline;
        color: #000;
        font-family: @Sinkinsans;
        font-weight: 300;
    }

    .avatar{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        margin-right: 20px;

    }
}

.says{
    display: none;
}
.reply{
    margin-left: 75px;
    //.position-rl;
    padding-top: 10px;
    padding-bottom: 53px;
    a{
        margin-top: 10px;
        text-decoration-color: @Iron;
        font-size: 22px;
        font-family: @czcionka-bazowa;
    }
}
.children{
    list-style: none;
    margin-left: 40px;
}

.comment-metadata{
    a{
        color: @OsloGray;
        font-family: @Sinkinsans;
        font-size: 12px;
        .position-rl;
        margin-left: 75px;
        text-decoration: none;
        @media (max-width: 991px){
            position: static;
            top: auto;
            margin-left: auto;
        }
    }
}
.comment-content{
    margin-left: 75px;
    margin-top: 15px;
    font-size: 15px;
    font-family: @Sinkinsans;
    @media (max-width: 991px){
        margin-left: 0;
    }
}

.position-rl{
    position: relative;
    top: -20px;
}

.padding-class{
    padding: 0 25px;
    @media (max-width: 991px){
        padding: 0;
    }
}

.wp-caption-text{
    font-weight: 300;
    a{
        margin-top: -10px;
        position: relative;
        top: -10px;
        strong{
            font-weight: 300;
        }
    }
}

.single-content{
    font-size: 17px;
    font-family: @Sinkinsans;
    margin-top: -140px;
    @media (min-width: 3550px){
        margin-top: 0px;
    }
	@media (max-width: 1400px){
        margin-top: -60px;
    }
	@media (max-width: 1200px){
        margin-top: 0px;
    }
    @media (max-width: 991px){
        margin-top: 0;
    }
    h3{
        font-size: 40px;
        font-family: @czcionka-bazowa;
        text-transform: uppercase;
        margin-bottom: 35px;
    }
    p{
        padding-top: 13px;
        padding-bottom: 13px;
        line-height: 1.7;
    }
    span{
        text-align: center;
        //margin-top: -15px;
        a{
            color: @OsloGray !important;
            text-transform: lowercase;
            font-family: @Sinkinsans;
            font-family: @Sinkinsans;
            font-weight: 300;
            text-decoration: underline;
        }
    }
    strong{
        span{
            display: inline-block;
            text-align: left;
            a{
            }
        }
    }
    img{
        margin-top: 70px;
        @media (max-width: 991px){
            height: auto;
            margin-top: 10px;
        }
    }
    ul{
        padding-left: 40px;
        li{
            position: relative;
            list-style: none;
            list-style-position: inside;
            margin-bottom: 32px;
            &:before{
                content: '*';
                font-family: @czcionka-bazowa;
                font-size: 40px;
                position: absolute;
                margin-left: -40px;
                top: -5px;
            }
            strong{
                font-weight: 600;
            }
        }
    }
}

.logged-in-as{
    a{
        color: #000;
    }
}
.comment-metadata{
    .comment-edit-link{
        margin-left: 10px;
    }
}

.comment-reply-title{
    a{
        color: #000;
        //font-size: 24px;
    }
}

#comment-form{
    label{
        display: block;
        font-weight: 300;
        text-transform: uppercase;
    }
}

.comment-wrapper{
    padding: 0 25px;
    border-top: 1px solid @AthensGray;
    padding-top: 25px;
    .comment-form-comment{
        #comment{
            max-width: 100%;
            border: 1px solid #d3d8db;
            width: 100%;
        }
        position: relative;
        margin-top: 70px;
        label{
            position: absolute;
            top: -30px;
            font-size: 15px;
            text-transform: uppercase;
            font-family: @Sinkinsans;
            font-weight: 300;
        }
    }
    #email-notes{
        font-size: 12px;
        color: @OsloGray;
    }
}

.single-content{
    .share-section{

        li{
            position: relative;
            display: inline-block;
            float: right;
            margin-right: 30px;
            margin-bottom: 16px;
            &:before{
                content: ' ';
            }
            @media (max-width: 400px){
                margin-right: 0;
            }
        }

    }
}

.container-single{
    float: left;
    width: 31%;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid blue;
}

.last-of-content{
    margin-bottom: 65px;
    margin-top: 60px;
    @media (max-width: 991px){
        margin-top: 0;
        margin-bottom: 0;
    }
}

.share-wrapper{
    position: relative;
    overflow: auto;
    float: right;
    @media (max-width: 400px){
        margin-top: 20px;
    }
    h3{
        display: inline-block;
        float: right;
        position: absolute;
        bottom: 50px;
        margin: 0;
        font-size: 22px;
        font-family: @czcionka-bazowa;
        padding-right: 40px;
    }
}
.single-content{
    .share-section{
        padding-left: 110px;
        float: right;
        display: inline-block;

        li{
          img{
            margin-top: 0;
          }
        }
    }
}

.pagination{
    .screen-reader-text{
        display: none;
    }
    .nav-links{
        a{
            font-size: 32px;
            color: @Iron;
            padding: 0 15px;
			@media (max-width: 767px){
				padding: 0 7px;
			}
			@media (max-width: 360px){
				font-size: 20px;
				padding: 0 7px;
			}
        }
    }
    .current{
        color: #000;
            font-size: 32px;
        position: relative;
        &:after{
            content: url("img/current.svg");
            position: absolute;
            bottom: -28px;
            left: -10px;
        }
    }
}

.site-footer{
  position: relative;
}

.up{
  position: absolute;
  right: 40px;
  bottom: 50px;
  cursor: pointer;
    &:hover{
        .bounce;
    }
  .basic-transition;
    @media (max-width: 991px){
        right: 20px;
        bottom: 20px;
		transform: scale(0.6);
    }
  &:hover{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.print-wrapper{
  a{
    font-size: 22px;
    font-family: @czcionka-bazowa;
    position: relative;
    bottom: -15px;
    text-decoration: underline;

    text-decoration-color: @OsloGray;
    &:after{
      content: url("img/drukarka.svg");
      margin-left: 13px;
    }
  }

}

.comments-title{
    font-size: 40px;
    text-transform: uppercase;
  margin-bottom: 45px;
}
.choose-the-time-of-year{
    .text-to-left{
        text-align: left;
        @media (max-width: 991px){
            text-align: center;
        }
    }
}

.after{
    &:after{
        z-index: -2;
    }
}

.single-content{
    strong{
        font-weight: 600;
    }
}


.recipes{
    .header-post{
        &:before{
            height: 852px;
            @media (min-width: 2500px){
                height: 100%;
            }
        }
    }
    .single-content{
        img{
            margin: 16px auto;
        }
    }

}

.workshops-and-events{
    .header-post{
        &:before{
            height: 1000px;
        }
    }
    .single-title{
        padding-bottom: 0;
        margin-bottom: -20px;
    }
    .single-content{
        span{
            margin-top: -35px;
            cursor: pointer;
        }
        img{
            margin: 35px auto 16px;
        }
    }
}
#menu-seasons{
    .current-menu-item{
       a{
           background: url("img/summer-pedzel.jpg") center center no-repeat;
           background-position: center;
           background-size: cover;
           color: #fff;
       }
    }
}

.mt200{
    margin-top: 200px;
    overflow: hidden;
    @media (max-width: 991px){
        margin-top: 95px;
    }
	@media (max-width: 767px){
        margin-top: 60px;
    }
}

.form-submit{
    #submit{
        height: 50px;
        width: 230px;
        text-align: left;
        font-size: 22px;
        background: url("img/ee.png") right white no-repeat;
        border: 2px solid #000;
        padding-left: 20px;
        margin-top: 20px;
        margin-bottom: 90px;
        @media (max-width: 991px){
            margin-bottom: 40px;
        }
    }
}

.error-404{
    h1{
        position: absolute;
        top: 50%;
        text-align: center;
        left: 0;
        right: 0;
    }
}

.archive .navbar-default, .category .navbar-default{
    border-bottom: none;
}

.category-wrapper__left-box{
    //.read-btn{
    //    position: relative;
    //    top: auto;
    //    bottom: 0px;
    //    left: auto;
    //}
}


.category-wrapper__single-box{
    position: relative;
    @media (max-width: 991px){
        text-align: center;
        .read-btn{
            position: static;
            
        }
    }
}

.read-btn-right{
    right: 50px;
    left: auto;
}

.kropki{
    max-width: 1200px;
    margin: 0 auto;
}

//.quick-sentence{
//    margin-bottom: -95px;
//}

.container-for-inst-photos .jr-insta-thumb ul.thumbnails.no-border.jr_col_4 li{
    position: relative;
    display: inline-flex;
    overflow: hidden;
    @media (max-width: 1199px){
        position: relative;
        display: inline-flex;
        overflow: hidden;
        float: left;
        text-align: center;
        margin: 0 auto;
        width: 33.3%;
        height: auto;
    }
    @media (max-width: 991px){
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
    }
}


//HAMBURGER
.hamb{

    svg {
        width: 200px;
        height: 150px;
        cursor: pointer;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    path {
        fill: none;
        -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
        -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
        -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
        -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
        transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
        stroke-width: 40px;
        stroke-linecap: round;
        stroke: #a06ba5;
        stroke-dashoffset: 0px;
    }
    path#top,
    path#bottom {
        stroke-dasharray: 240px 950px;
    }
    path#middle {
        stroke-dasharray: 240px 240px;
    }
    .cross path#top,
    .cross path#bottom {
        stroke-dashoffset: -650px;
    }
    .cross path#middle {
        stroke-dashoffset: -115px;
        stroke-dasharray: 1px 220px;
    }

}

nav .rwd-off{
    @media (max-width: 767px){

        ul{
            display: none;
        }

    }
    @media (max-width: 767px){
        form label{
            width: 100%;
            .search-field{
                width: 100%;
                margin-top: 20px;
            }
            .search-submit{
                top: 20px;
            }
        }
    }
}

.admin-bar{
    @media (max-width: 767px){
        .single .search-wrap{
            margin-top: 20px;
        }
        nav .rwd-off form label{
            width: 100%;
            .search-field{
                width: 100%;
                margin-top: -10px;
            }
            .search-submit{
                top: -10px !important;
            }
        }
    }
}

.rwd{
    font-size: 20px;
    @media (min-width: 767px){
        ul{
            display: none;
        }
        form label{
            width: 100%;
            .search-field{
                width: 100%;
            }
        }
    }
    @media (max-width: 767px){
        ul{
            li{
                margin: 0 14px;
                a{
                    font-size: 20px;
                }
            }
        }
        form label{
            width: 100%;
            .search-field{
                width: 100%;
            }
        }
    }
}

.navbar-fixed-top .navbar-collapse{
    max-height: 365px !important;
}



.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 15px;
    float: right;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    transform: scale(0.7);
    &:hover{
        opacity: 1;
    }
}

.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before, .hamburger .hamburger-inner:focus, .hamburger .hamburger-inner:hover, .hamburger .hamburger-inner:visited {
    background-color: #000;
    opacity: 1;
}


.hamburger{
    @media (min-width: 992px){
        display: none !important;
    }
}


//.effect-10{border: 0; padding: 7px 15px; border: 1px solid #ccc; position: relative; background: transparent;}
//
//.effect-10 ~ .focus-bg{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #ededed; opacity: 0; transition: 0.5s; z-index: -1;}
//.effect-10:focus ~ .focus-bg{transition: 0.5s; opacity: 1;}
//


//.home{
//    overflow: hidden;
//    position: relative;
//}

.typed-cursor{
    display: none;
}

.share-section{
    .fb-icon{
        transform: scale(0.9);
    }
}



.anim {
    opacity: 0;
}

.anim-mobile {
    opacity: 1 !important;
}




.bea-svg-draw{
    stroke-dasharray: 3500px;
    stroke-dashoffset: 4213px;
}
.swiper-slide-active{
    .bea-svg-draw-start{
        animation: dash 1s ease-in-out forwards 0s;
        animation-delay: 3s;
    }
}


@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

//.beas-svg{
    //background: rgba(0,0,0,0.2);
//    position: absolute;
//    margin: 0 auto;
//    text-align: center;
//    left: 0;
//    right: 0;
//    top: -13px;
    //display: none;
//	@media (max-width: 500px){
//		left: -16px;
//	}
//}

.hamburger{
    @media (min-width: 767px) and (max-width: 991px){
        display: none;
    }
}
.food__slider .swiper-slide p{
    opacity: 0;
    transition: all 0.2s ease-in-out;

}

.food__slider .slider-food{
    .swiper-slide-active {
        p {
            opacity: 1 !important;
            //transition: all 0.2s ease-in-out;
        }
    }
}

.journals-mt{
	margin-top: 200px;
    @media (max-width: 991px){
        margin-top: 92px;
    }
	.first-section{
		margin-bottom: 40px;
	}
}

.slider-box-wrapper{
   
    background: url("img/pedzel.png") no-repeat center center;
    background-size: contain;

    @media (max-width: 500px){
		height: 135px;
        background: url("img/pedzel_last.jpg") no-repeat center center;
		background-size: 255px;
    }
}

.values-for-typed{
    display: none;
}

input{
    &:focus{
        background: #f0f2f4;
        transition: all .5s ease-in-out;
    }
}

textarea{
    &:focus{
        background: #f0f2f4;
        transition: all .5s ease-in-out;
    }
}

#content{
    @media (max-width: 991px){
        overflow: hidden;
    }
}

.admin-bar .navbar-header{
    @media (max-width: 767px){
        padding-top: 45px;
    }
}

.admin-bar header .navbar-default, .admin-bar .page-template header .navbar-default{
    @media (min-width: 768px){
        margin-top: 30px;
    }
}

.home{
	.site{
		overflow: hidden; position: relative;
	}
}


@media (min-width: 1200px){
	.container {
		width: 1200px;
	}
}


.wrapper-bg{
	background: url(img/pedzel_last.jpg) center center no-repeat;
    color: #fff;
    padding: 40px 0;
    font-size: 40px;
    background-size: contain;
}


.scrollUp{
	.basic-transition;
	transform: translateY(-137px);
}

.opacity0{
	.basic-transition;
	opacity: 0;
}

.opacity1{
	.basic-transition;
	opacity: 1;
}

.buynow{
	cursor: pointer;
	text-align: center;
	.read-btn{
		position: static;
		background: url(img/button-arrow-grey.svg) right no-repeat;
		&:hover{
			background: url(img/btn-send.svg) right no-repeat #f0f2f4;
		}
		
	}
}


.hideclass{
	display: block;
	opacity: 0;
	animation: fadeInUp 1s ease-in both;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.cta{
.wpcf7-form-control-wrap{
	display: block;
	width: 100%;
}
display:none;
	.cta-wrapper{
		padding-top: 35px;
    padding-bottom: 15px;
	}
	.cta-bg{
		background: #d3d8db;
	padding: 50px 0;
	}
	margin-top: 10px;
	.basic-transition;
	p{
		text-align: center;
		font-size: 17px;
	}
	label{
		font-size: 15px;
		width: 100%;
	}
	p, label, input{
		font-family: @Sinkinsans;
		font-weight: 300;
	}
	.read-btn{
		position: static;
		margin: 0 auto;
    display: block;
	}
	.wpcf7-textarea{
		display: block;
		padding: 5px 15px;
		border: 1px solid #fff;
		background: #d3d8db;
		margin-top: 11px;
		width: 100%;
		&:focus{
		background: #e4e7e9;
		.basic-transition;
	}
	}
	.wpcf7-text{
	background: #d3d8db;
    border: 1px solid #fff;
    margin-bottom: 15px;
	width: 100%;
    margin-top: 11px;
    height: 40px;
    padding: 5px 15px;
	&:focus{
		background: #e4e7e9;
		.basic-transition;
	}
    @media (max-width: 991px){
      max-width: 100%;
      //w
    }
  }

}



#mc4wp-form-1{
	input{
		width: 250px;
    height: 40px;
    background: #f0f2f4;
    border: none;
	font-family: @Sinkinsans;
	padding-left: 10px;
	}
	.read-btn{
		
		left: auto;
		bottom: auto;
		    margin-top: -5px;
			font-size: 22px;
			padding: 8px 60px 8px 20px;
			margin-left: 10px;
			margin-left: 20px;
			@media (max-width: 1199px){
		position: static;
		margin-top: 15px;
		margin-left: 0;
	}
	@media (max-width: 991px){
		display: block;
		margin: 15px auto;
	}
	}
	label{
	font-family: @Sinkinsans;
    font-size: 17px;
	font-weight: 300;
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
	position: absolute;
    top: -30px;
	@media (max-width: 1199px){
		position: static;
	}
	@media (max-width: 767px){
		display: block;
	}
	}
	
	#es_txt_button_pg{
		height: 50px;
    background: #d3d8db;
    font-size: 22px!important;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 35px 6px 12px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	}
}

.wp-caption-text{
	text-align: center;
	font-size: 14px;
}


.padding-class .dont .read-btn{
	position: static;
	background: url(img/button-arrow-grey.svg) right no-repeat;
}

.menu-transparent{
	background: transparent !important;
}

.menu-opacity{
	background: rgba(255,255,255,0.8) !important;
	@media (max-width: 991px){
		background: rgba(255,255,255,1) !important;
	}
}

.home {
	.menu-bg{
		height: 138px;
		background: #fff;
		@media (min-width: 992px) and (max-width: 1920px){
			height: 32px;
		}
		@media (max-width: 991px){
			display: none;
		}
	}
}

.menu-bg{
	@media (max-width: 991px){
		display: none;
	}
}

.admin-bar{
		@media (max-width: 599px){
			.menu-opacity{
				margin-top: -30px;
			}
		}
.home{
		.menu-bg{
		margin-top: 32px;
		height: 104px;
	}
	@media (min-width: 992px) and (max-width: 1399px){
		.menu-bg{
		margin-top: 32px;
		height: 0px !important;
		}
	}
	@media (max-width: 767px){
		.menu-bg{
		height: 46px;
		margin-top: 46px;
	}
	}
}
}

.white-bg{
	background: #fff !important;
}

.yt-thumbnail{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.slider-image-p{

}

.search-results{
	margin-top: -20px;
	@media (max-width: 991px){
		margin-top: -5px;
	}
}

.search{
	@media (max-width: 991px){
		menu-bg{
			display: none;
		}
	}
}


@media (max-width: 1199px){
	.page-template .contact-wrapper .btn-contact-right{
		text-align: left !important;
	}
}