.dont{
    display: none;
}

header{
    display: none;
}

.header-post{
    display: none;
}

footer{
    display: none;
}
.simple-newsletter, .latest-posts, .up, .last-slider{
	display: none !important;
}

.site-footer{
	display: none !important;
}

.ingredients{
	margin-top: 40px;
}