/*
Theme Name: idvetmp

Author: ideative.pl
Author URI: http://ideative.pl/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: idvetmp
Tags:

*/

@import "css/bootstrap.min.css";


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: 'Poppins', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}


body {
	margin: 0;
	color: #000;
}
body, html{
	font-size: 14px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
	text-decoration: none;
}

a:active,
a:hover {
	outline: 0;
	text-decoration: none;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 500;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}


code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #000;
	font-family: sans-serif;
	font-size: 14px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h3{
	line-height: 36px;
}

p {
	margin: 0;
	font-size: 14px;
	line-height: 26px;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}


code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: @kolor-czcionki-glowny;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
	max-width: 100%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


/* ---theme styles--- */

/* variables */
.basic-transition {
	transition: all 0.2s ease-in-out;
}
@czcionka-glowna: 'Poppins',sans-serif;
@czcionka-pomocnicza: 'Comfortaa', sans-serif;

@body_bg: rgb(250, 237, 203);



//@berk-color

@rozmiar-czcionki-glowny: 14px;

@kolor-czcionki-glowny: #313131;
@kolor-linkow-glowny: @kolor-czcionki-glowny;
@kolor-linkow-glowny-hover:@kolor-linkow-glowny;

@btn-color: #fff8e6;
@btn-border-color: rgb(101, 114, 48);
@btn-bg-color: rgb(63,71,29);


@h1-czcionka: @czcionka-glowna;
@h1-kolor: @kolor-czcionki-glowny;
@h1-rozmiar: 30px;
@h1-waga: 'bold';


@h2_font_family: @czcionka-glowna;
@h2_-_color: @kolor-czcionki-glowny;
@h2_font_size: @rozmiar-czcionki-glowny;
@h2_-_weight: normal;

@h3_font_family: @czcionka-glowna;
@h3_-_color: @kolor-czcionki-glowny;
@h3_font_size: @rozmiar-czcionki-glowny;
@h3_-_weight: normal;

@h4_font_family: @czcionka-glowna;
@h4_-_color: @kolor-czcionki-glowny;
@h4_font_size: @rozmiar-czcionki-glowny;
@h4_-_weight: normal;

@h5_font_family: @czcionka-glowna;
@h5_-_color: @kolor-czcionki-glowny;
@h5_font_size: @rozmiar-czcionki-glowny;
@h5_-_weight: normal;

@h6_font_family: @czcionka-glowna;
@h6_-_color: @kolor-czcionki-glowny;
@h6_font_size: @rozmiar-czcionki-glowny;
@h6_-_weight: normal;

@subpage_header_color: @kolor-czcionki-glowny;
@subpage_header_font_size: @rozmiar-czcionki-glowny;
@subpage_header_font_weight: 400;


@btn_font_size: @rozmiar-czcionki-glowny;
@btn_font_color: @kolor-czcionki-glowny;
@btn_bg_color: transparent;
@btn_border_color: transparent;
@btn_border_size: 0;
@btn_border_radius: 0;


@label_font_size : @rozmiar-czcionki-glowny;
@label_font_weight : 400;
@label_font_color : @kolor-czcionki-glowny;
@input_font_size : @rozmiar-czcionki-glowny;
@input_font_color : @kolor-czcionki-glowny;
@input_border_color : @kolor-czcionki-glowny;
@input_border_radius : 0px;

@top_menu_contact_box_font_color : @kolor-linkow-glowny;


@footer_bg_color :transparent;
@footer_border_color : #fff;
@footer_text_color: #8e986f;


@menu_font_size : @rozmiar-czcionki-glowny;
@menu_color : @kolor-linkow-glowny;
@menu_color_hover : @kolor-linkow-glowny-hover;
@menu_-_waga_czcionki : 400;

@bg_top_section: transparent;
/*


/* main styles */

body,html{
	color: #1d1d1d;
	font-size: @rozmiar-czcionki-glowny;
	font-family: @czcionka-glowna;
}
a{
	text-decoration: none;
	color: @kolor-linkow-glowny;
	transition: all 0.5s ease 0s;
	&:hover{
		color: @kolor-linkow-glowny-hover;
	}
}

.logo-change-black, .logo-change-white{
	@media (max-width: 660px){
		display: none !important;
	}
}

.btn{

	font-family: @czcionka-glowna;
	font-weight: 400;
	color: @kolor-czcionki-glowny;
	border: 1px solid @kolor-czcionki-glowny;
	font-size: 14px;
	border-radius: 0;
	padding: 12px 25px;

	&:hover{
		color: #fff;
		background-color: @kolor-czcionki-glowny;

	}
}


.navbar-collapse{
	border-top: none;
}

.page-template-kontakt{
  .logo-mobile{
    @media (max-width: 660px){
      display: block !important;
    }

  }
}

.anim {
	opacity: 0;
}

.animated{
	opacity: 1;
}

.page-template-kontakt > nav > .logos > a > .logo-change-black{

  @media (min-width: 401px){

      display: block !important;

  }
}


h1{
	font-family: @h1-czcionka;
	color: @h1-kolor;
	font-size: @h1-rozmiar;
	font-weight: @h1-waga;
}

h2{
	font-family: @h2_font_family;
	color: @h2_-_color;
	font-size: @h2_font_size;
	font-weight: @h2_-_weight;
}
h3{
	font-family: @h3_font_family;
	color: @h3_-_color;
	font-size: @h3_font_size;
	font-weight: @h3_-_weight;
}
h4{
	font-family: @h4_font_family;
	color: @h4_-_color;
	font-size: @h4_font_size;
	font-weight: @h4_-_weight;
}
h5{
	font-family: @h5_font_family;
	color: @h5_-_color;
	font-size: @h5_font_size;
	font-weight: @h5_font_family;
}
h6{
	font-family: @h6_font_family;
	color: @h6_-_color;
	font-size: @h6_font_size;
	font-weight: @h6_-_weight;
}


/* header */

.nav .open > a, .nav .open > a:hover, .nav .open-menu > a:focus{
	background: none !important;
	border: none;
}

.nav .dropdown-menu>li>a:focus{
	background-color: transparent;
}

.current-menu-item{
	a{
		&:before{
			content: "";
			position: absolute;
			border-top: 1px solid #fff;
			top: 31px;
			width: 70px;
			left: -30%;
			@media (min-width: 767px) and (max-width: 991px)
			{

				left: -10%;
			}
			@media (max-width: 767px)
			{
				top: 19px;
				left: -10%;
			}
			@media (max-width: 480px)
			{
				width: 40px;
			}
		}
	}

}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
	background: transparent;
	//color: #fff;
}

.nav > li > a, .nav .dropdown-menu > li > a{
	font-weight: @menu_-_waga_czcionki;
	color: @menu_color;
	font-size: 13px;
	font-family: HKGroteskRegular, sans-serif;
	font-weight: 600;
}

.nav .dropdown-menu{
	text-align: center;
	>li{
		>a{
			font-weight: 600;
			&:hover{
				color: @menu_color_hover;
			}
		}
	}
}





.nav .dropdown-menu > li > a{
	color: #fff;
}

.nav .dropdown-menu .current-menu-item a{
	color: #fff;
}

.nav > li > a:hover, .nav > li > a:focus{
	background: none;
	//color: #fff8e5;
}


.navbar{
	.container{
		position: relative;
	}
}

.navbar-brand{
	height: auto;
	position: absolute;
	margin: 0 auto;
	display: block;

	padding: 0;
	z-index: 2;
}

.box-abs-t-r {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	color: @top_menu_contact_box_font_color;
	font-size: 30px;
	padding: 15px 10px 7px;
	position: absolute;
	right: 0;
	top: 0;
	span{
		display: block;
		font-size: 18px;
		font-weight: 400;
		line-height: 7px;
	}
	a{
		color: @top_menu_contact_box_font_color;
		&:hover{
			text-decoration: none;
		}
	}
}

.admin-bar{

	.navbar-fixed-top{
		top: 32px;
	}

	.box-abs-t-r {
	}
}

.cb-visible{
	margin-top: 60px;
}


.navbar-toggle{
	float: left;
	margin-bottom: 0;
	margin-left: 8px;
	margin-top: 20px;
	.icon-bar{
		height: 3px;
		background: @btn-color !important;
	}
}


#navbar .navbar-nav a{
	text-align: center;
	position: relative;
	z-index: 99999;
	@media(max-width: 768px)
	{
		background-color: #372e2d;
	}
}


/* subpage header */

.subpage-header-bg{
	margin-bottom: 60px;
	background-repeat: repeat-x !important;
	background-size:cover !important;
	color: @subpage_header_color;
	font-size: @subpage_header_font_size;
	font-weight: @subpage_header_font_weight;
	h1{
		color: inherit !important;
		font-weight: 300;
		font-size:inherit !important;
	}
}

/* subpage header END */




/* footer */

footer{

	font-size: 16px;
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 1.1;
	margin-bottom: 20px;
	background: @footer_bg_color;
	color: @footer_text_color;
	a{
		&:hover{
			text-decoration: none;
		}
	}
	.logo-change-white{
		@media (max-width: 992px){
			margin-top: 30px;
			display: block !important;
		}
	}
}




/* footer  END*/


/* formularze */

input.wpcf7-submit{
	background: @btn_bg_color;
	text-shadow: none;
	box-shadow: none;
	transition: all 0.5s ease 0s;
	border: @btn_border_size solid @btn_border_color;
	border-radius: @btn_border_radius;
	font-size: @btn_font_size;
	color: @btn_font_color;
	font-family: @czcionka-glowna;
	&:hover{
		color: @btn_bg_color;
		box-shadow: none;
		background: @btn_font_color;
		border-color: @btn_border_color;
	}
}
.wpcf7-textarea{
	height: 150px;
	width: 100%;
	@media (max-width: 992px)
	{
		width: 100%;
	}
}
.wpcf7-text{
	width: 100%;
	@media (max-width: 992px)
	{
		width: 100%;
	}
}

.wpcf7{
	p{
		margin-bottom: 5px;
	}
	label{
		display: block;
	}
}

/* formularze END */


/* gallery */

.gallery-content{
	h2{
		margin-top: 40px;
	}
	.row{
		&:first-of-type{
			h2{
				margin-top: 0;
			}
		}
	}
	.mgn-popup{
		display: inline-block;
		margin-bottom: 30px;
	}
}
.mfp-counter{
	display: none;
}

/* gallery END */


/* tabele */

table {
	margin-bottom: 20px;
	max-width: 100%;
	width: 100%;
	border-width: 1px;
}

table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td{
	line-height: 1.42857;
	padding: 8px;
	vertical-align: top;

}


/* tabele END */

/* formularze */
label{
	font-size: @label_font_size;
	font-weight: @label_font_weight;
	color: @label_font_color;
	font-size: @label_font_size;
}
input, textarea{
	font-size: @input_font_size;
	color: @input_font_color;
	border-width: 1px;
	border-style: solid;
	border-color: @input_border_color;
	border-radius: @input_border_radius;
}

/* formularze END */

/* lista wpisów */

.post-row{
	margin-bottom: 30px;
}

.nav-links{
	.nav-previous{
		float: left;
	}
	.nav-next{
		float: right;
	}
}

.post-title a{
	text-decoration: none;
}

.single-post h2{
	margin-bottom: 40px;
}

/* lista wpisów END */

/* ---theme styles END--- */


// TODO boks na całą szerokosc z tekstem w kontenerze

@media (max-width: 992px){
	.owl-carousel-slider_text .item .item-text > div{
		font-size: 30px !important;
	}

	.owl-carousel-slider_text .item{
		max-height: 400px;
	}


	section.text h2{
		font-size: 30px;
	}

	.cb-visible{
		margin-top: 10px;
	}
	ul, ol{
		margin: 0;
	}
	table {
		width: 100% !important;
	}

	.navbar-toggle {
		float: left;
		margin-bottom: 0;
		margin-left: 8px;
		margin-top: 20px;
		position: absolute;
		left: 0;
		top: 0;
	}
	.box-abs-t-r{
		position: relative;
	}
}
.slider-about-me{
  position: relative;
  margin-top: 95px;
  hr{
    position: relative;
	  top: 148px;
	  max-width: 1060px;
	  @media (max-width: 360px){
		  display: none;
	  }
  }
}
.owl-carousel{

  position: absolute;
  padding: 0 50px;
}



body{
	background-color: #1d1d1d;
}

.logo{
	color: #fff !important;
}

img.logo-img{
	height: 100px;
	margin: 0 auto;
	display: block;
}


#menu-menu-gorne{
	right: 10px;
}

/* The Overlay (background) */
.overlay {
	/* Height & width depends on how you want to reveal the overlay (see JS below) */
	height: 100%;

	width: 0;
	position: fixed; /* Stay in place */
	z-index: 22; /* Sit on top */
	right: 0;
	top: 0;
	background-color: rgb(0,0,0); /* Black fallback color */
	background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: all .5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
	position: relative;
	top: 12%; /* 25% from the top */
	width: 100%; /* 100% width */
	text-align: center; /* Centered text/links */
	margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
	right: 10%;
	@media (max-width: 767px)
	{
		right: -30%;
	}
	@media (max-width: 1200px)
	{
		right: 5%;
	}
	@media (max-width: 992px)
	{
		right: -30%;
	}
}

/* The navigation links inside the overlay */
.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block; /* Display block instead of inline */
	transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

.open-menu .sliderr{
	right: 0px;
	@media (min-width: 450px) and (max-width: 639px){
		right: 94px;
	}
	@media (min-width: 640px) and (max-width: 767px){
		right: -30px;
	}
}


.burger-btn {
	width: 30px;
	height: 25px;
	z-index: 5000;
	position: absolute;
	text-align: center;
	cursor: pointer;
	top: 60px;
	right: 25px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 0;
	-webkit-transition: .8s ease-in-out all;
	transition: .8s ease-in-out all;
}

.page-template{
  .hamburger{
	  @media (min-width: 320px) and (max-width: 550px)
	  {
		  top: 60px;
	  }
	  //@media (min-width: 381px) and (max-width: 439px)
	  //{
		//  top: 41px !important;
		//  right: 34px;
	  //}
      //
	  //@media (min-width: 440px) and (max-width: 529px)
	  //{
		//  margin-top: -150px;
		//  top: 0;
	  //}
	  //@media (min-width: 530px) and (max-width: 659px)
	  //{
		//  margin-top: -170px;
		//  top: 0;
	  //}
    @media (min-width: 660px) and (max-width: 767px)
    {
      top: 60px;
    }
  }
}

.hamburger{
	background:none;
	position:absolute;
	margin-right: 20px;
	//right:0;
	line-height:45px;
	padding:5px 15px 0px 15px;
	color:#000;
	border:0;
	font-size:1.4em;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:10000000000000;
	top: 48px;
	right: 34px;
  	margin-top: -175px;
	@media (min-width: 550px) and (max-width: 660px)
	{
		margin-top: -180px;

	}

	@media (max-width: 767px)
	{
      	top: 41px;
		right: 15px;
	}
}

.nav > li > a{
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	text-align: left;
	font-weight: 100;
	font-family: Comfortaa, sans-serif;
}


.hamburger {
	width: 27px;
	height: 25px;
	border: 0;
	float: right;
	border-top: 2px solid #000;
	background: transparent;
	position: relative;
	transition: 0.3s transform linear;
}

.hamburger::before, .hamburger::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-top: 2px solid #000;
	transform: translateY(7px);
}

.hamburger::after {
	transform: translateY(16px);
	transition: 0.3s transform linear;
}


.openedhamb{
  transform: rotate(45deg) translateY(5px);
  border: none;

}
.openedhamb:after{
  transform: rotate(-90deg) translateX(-7px);
  border-top: 2px solid #fff;
}
.openedhamb:before{
  border-top: 2px solid #fff;
}
.open-menu {
	width:100%;
}


.sliderr{

	@media (max-width: 768px){
		margin-top: -30px;
	}
	right: -300px;
	transition: all 0.5s;
}



.flex-container {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	a{
		cursor: context-menu;
	}
}



.flex-items-default {
	width: 900px;
	height: 250px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 0;
}


.flex-item-1 {
	width: 300px;
	height: 950px;
}


//EndFlexBox
.title-wrapper{
	background-color: #1d1d1d;
	h1{
		padding: 51px 0;
		font-family: @czcionka-pomocnicza;
		font-weight: 400;
		font-size: 55px;
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		@media (max-width: 767px){
			font-size: 40px;
		}
		@media (max-width: 400px){
			font-size: 25px;
		}
	}
}


	.author-photo{
		margin-top: -47px;

	}


.author-photo{

	float: right;
	margin-bottom: 28px;
	@media (max-width: 992px)
	{
		float: none;
		text-align: center;
	}
}



.about-author{
	max-width: 510px;
	h2{
		font-family: @czcionka-pomocnicza;
		color: #1d1d1d;
		font-size: 24px;
		font-weight: 400;
		margin: 0;
		padding-bottom: 7px;
		max-width: 400px;
		line-height: 1.5;
		padding-top: 36px;
	}
	p{
		font-size: 14px;
		font-family: @czcionka-glowna;
		padding-top: 32px;
	}
	h6{
		font-family: @czcionka-glowna;
		font-size: 14px;
		color: #1d1d1d;
		font-weight: bold;
	}
	h4{
		color: #a3a3a3;
		text-transform: uppercase;
		margin-top: -10px;
	}

}

.page-template-aboutme{
	.about-author{
		h2{
			font-family: Poppins, sans-serif;
			font-weight: 500;
			font-size: 24px;
		}
	}
}

.about-me .nowa{
	width: 100%;
	transition: all 0.9s ease-in-out;
}

.about-author-left .nowa{
	width: 100%;
}

.about-author-left{
	margin-right: 30px;
	@media (max-width: 992px)
	{
		margin-right: 0;
	}
	hr{
		position: relative;
		display: inline-block;
		top: 140px;
		transition: all 0.9s ease-in-out;
		width: 0px;
		max-width: 524px;
		text-align: left !important;
	}
	.aww{
		position: relative;
		display: block;
		top: 140px;
		transition: all 0.2s ease-in-out;
		width: 0px;
		text-align: left !important;
	}
	img{
		position: relative;
		right: 30px;
		z-index: 3;
		@media (max-width: 992px)
		{
			right: 0;
			margin: 0 auto;
			text-align: center;
		}
	}

}

.author-specialization{
	p{
		font-size: 15px;
		font-family: HKGroteskRegular, sans-serif;
		color: #1d1d1d;
	}
}

.margin-wrapp{
	margin-top: 40px;
	margin-bottom: 32px;
	width: 0;
	display: inline-block;
}
footer{
	padding: 0 35px;
	font-family: HKGroteskRegular, sans-serif;
	font-size: 12px;
	color: #afafaf;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	@media (max-width: 992px)
	{
		p{
			text-align: center;
		}
		img{
			text-align: center;
			margin: 0 auto;
			display: block;
		}
	}
}


.nav>li>a{
	&:before{
		content: "";
		position: absolute;
		border-top: 1px solid #fff;
        top: 19px;
		width: 0px;
		left: -30%;
		@media (min-width: 993px){
			top: 31px;
		}
      @media (min-width: 450px) and (max-width: 992px){
        left: -10%;
      }
	}
}

.nav>li>a:hover, .nav>li>a:focus, .nav>li>a:active{
  &:before{
  	content: "";
  	position: absolute;
  	border-top: 1px solid #fff;
  	top: 31px;
  	width: 70px;
  	left: -30%;
    .basic-transition;
	  @media (min-width: 768px) and (max-width: 991px){
		  left: -10%;
		  width: 70px;
	  }
    @media (max-width: 767px)
    {
      top: 19px;
      left: -10%;
    }
    @media (max-width: 480px)
    {
      width: 40px;
    }
  }
	.active{
		&:before{
			content: "";
			position: absolute;
			border-top: 1px solid #fff;
			top: 31px;
			width: 70px;
			left: -30%;
			@media (max-width: 767px)
			{
				top: 19px;
				left: -10%;
			}
			@media (max-width: 480px)
			{
				width: 40px;
			}
		}
	}
}






.overlay-content{


	.nav>li.current-menu-item a {
		font-family: 'Comfortaa', sans-serif !important;
		font-size: 18px;
	}

}
@media (min-width: 320px) and (max-width: 449px){
  .overlay-content{
    right: -12%;
    .nav > li.current-menu-item a::before{
      left: -15%;
      top: 19px;

    }
  }
}
@media (min-width: 768px) and (max-width: 992px){
  .overlay-content{
    right: -65%;
    .nav > li.current-menu-item a::before{
      left: -8%;
    }
  }
  .social-ref{

  }

}
@media (min-width: 450px) and (max-width: 767px){
  .overlay-content{
    right: -50%;
    .nav > li.current-menu-item a::before{
      left: -15%;
      top: 19px;

    }
  }
}
@media (min-width: 993px) and (max-width: 1200px){
  .overlay-content{
    right: 15%;
  }
}
.dropdown-menu{
	display: block;
	background-color: transparent;
}


@media (min-width: 768px) {
	.navbar-nav .open .dropdown-menu > li > a {
		background-image: none;
	}
}

@media (min-width: 800px){
	.nav .open-menu >li{
		background: none;
		background-image: none;
		background-color: transparent;
	}
}

@media (min-width: 801px){
	.navbar-nav .open .dropdown-menu{
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

a.dropdown-toggle{
	display: block;
}
//kkk - BRWI, OCZY, USA
.kkk > ul > li > a{
	width: 100%;
	display: block;
	margin: 0 auto;
	font-family: HKGroteskRegular, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	text-align: left;
	padding-left: 45px;
}



.menu-item-has-children .current_page_item{
	&:before{

		content: "";
		position: absolute;
		border-top: 1px solid #fff;
		top: 11px;
		width: 30px;
		left: 1%;


	}
}

.overlay-content .nav > li.current-menu-item a{
	&:before{

		content: "";
		position: absolute;
		border-top: 1px solid #fff;
		top: 29px;
		width: 70px;
		left: -24%;
      @media (min-width: 768px) and (max-width: 992px){
        left: -10%;
      }
      @media (min-width: 639px) and (max-width: 767px){
        top: 16px;
        width: 54px;
        left: -7%;


      }
		@media (min-width: 451px) and (max-width: 639px){
			top: 16px;
			width: 35px;
			left: -7%;

		}
      @media (min-width: 320px) and (max-width: 450px){
        top: 16px;
        width: 35px;
        left: -10%;

      }


	}
	.active{
		width: 0px;
	}
}

.dropdown-menu > li > a:hover{
	background-color: transparent;
	color: #fff !important;
}

.dropdown-menu > li > a {
	&:before {
		content: "";
		position: absolute;
		border-top: 1px solid #fff;
		top: 11px;
		width: 0px;
		left: 1%;
	}
}



.dropdown-menu > li > a{

	.active{
		&:before{
			content: "";
			position: absolute;
			border-top: 1px solid #fff;
			top: 11px;
			width: 30px;
			left: 1%;
		}
	}
}

.dropdown-menu > li > a:hover::before{

    content: "";
    position: absolute;
    border-top: 1px solid #fff;
	top: 11px;
	width: 30px;
	left: 1%;
	.basic-transition;



}
//MENU LEVEL 3
.dropdown-menu .dropdown-menu li a{
	position: relative;
	left: 20px;
}


#menu-menu-gorne{
  .open{
    .dropdown-menu > li > a{
      margin: 0;
      line-height: 1.42857143;
      padding: 3px 0 3px 45px !important
    }
  }
}


.dropdown-menu > li{
	position: relative;
}


.kkk > ul{
	position: relative;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
@media (min-width: 768px){
.navbar-nav>li {
	float: left;
	width: 100%;
}}



nav{
  a{
    max-width: 530px;
    display: contents;
  }

  .logo-change-black, .logo-change-white{
    @media (max-width: 768px){
      padding: 0 30px !important;
    }
  }
}


//// DO POPRAWY ////////////////////////////////////////
//
//.navbar-brand>img {
//	display: block;
//	position: relative;
//	top: 63px;
//	right: -80%;
//}
//
//// Koniec////////////////////////////////////////////////


	@media (max-width: 480px)
	{
		.empty-site{
			height: 200px;
		}
	}

@media (min-width: 768px)
{
	.navbar-nav>li>a {
		padding-top: 22px;
		padding-bottom: 15px;
	}
}

@media (min-width: 768px){
  .empty-site{
    height: 690px;
  }
}

@media (max-width: 767px){
  .empty-site{
    height: 250px;
  }
}

nav{
  img{
    display: block;
    margin: 60px auto;
  }
}

.caret{
  display: none;
}


.social-ref{
  position: absolute;
  bottom: -45px;
  left: 23px;
  i{
    font-size: 18px;
    color: #fff;
  }
}

//------------------------------
.flex-container {
  img{
    padding: 0 50px;
  }
}



.page-template{
	background-color: #fff;
}

.makijaz{
	.mozliwosci-box{
		margin-top: 100px;
		background-color: @kolor-czcionki-glowny;
		a{
			color: #fff;
			text-decoration: none;
			&:focus{
				color: #fff;
			}
		}
	}
    .about-author{
      p{
        line-height: 1.7;
      }
    }
	.program{
		background: #fff;
		color: @kolor-czcionki-glowny;
		border: 1px solid #1d1d1d;
		li{
			&:before{
				content: url("img/li-before-white.jpg");

			}

		}

		.white-corner{
			position: relative;
			top: -5px;
			margin-bottom: -30px;
			margin-top: -22px;
			left: -55px;
			height: 191px;
			width: 464px;
			background-color: #fff;
			border-radius: 152px;
			p{
				padding-top: 34px;
				position: relative;
				left: 55px;
				max-width: 240px;
			}
			ul{
				max-width: 330px;
				position: relative;
				left: 55px;
			}
		}
	}
}

.program{
	max-width: 430px;
	background: @kolor-czcionki-glowny;
	color: #fff;
	padding: 23px 35px;
	display: inline-block;
}

.program-block{
	width: 430px;
	position: relative;
	right: 30px;
	float: right;
	margin-right: 30px;
	margin-top: 40px;


}

.width-max{
	width: 430px;
}


.mleft{
	padding-left: 50px;
	@media (max-width: 992px){
		padding-left: 0;
	}
}

.mright{
	//margin-right: 84px;
}
.szkolenia{
  .szkolenia-wrapper{
    margin-top:0;
  }
}

.szkolenia{
	margin-top: 32px !important;
    .mozliwosci-box{
		background: #fff;
		color: #101010;
        padding-bottom: 20px;
		@media (max-width: 992px){
			margin-top: 30px;
		}
      ul{
        padding-left: 40px;
        @media (min-width: 993px){
          padding-left: 0px;
        }
      }
      li{
        list-style: none;
      }
      li:before{
        content: '•';
        //padding-left: 10px;
        //margin-left: 10px;
        @media (min-width: 993px){
          position: absolute;
			left: 63px;
        }
        @media (max-width: 992px){
          position: absolute;
          left: 55px;
        }
      }
    }
	@media (max-width: 992px){
		text-align: center;
		.gwarancja-jakosci{
			padding-left: 15px;
			.btn{
				margin: 0 auto;
			}
		}

		.about-program{
			max-width: 510px;
			margin-top: 20px;
			padding: 0 15px;
			@media (max-width: 992px){
				max-width: 100%;
			}
			p{
				text-align: left;
			}
		}

		.lista-szkolenia-black{
			text-align: left;
			&:before{
				left: 17px;
			}
		}

		.width-max{
			max-width: 430px;
			width: 100%;
		}

		.szkolenie-godz{
			margin:0 auto;
			h4{
				font-size: 22px;
			}

		}
		.mozliwosci-box{
			text-align: left;
			ul{
				padding-left: 40px;
				padding-bottom: 20px;
			}
		}
	}
	.mozliwosci-box{
		margin-left:0;
	}
}
.szkolenie-godz{
	max-width: 430px;
	color: #fff;
	padding: 23px 27px;
	@media (max-width: 400px){
		padding: 0;
	}
	h4{
		color: #fff;
		font-size: 36px;
		font-weight: 500;
		padding-top: 21px;
	}
	h6{
		color: #fff;
		font-weight: 400;
		font-size: 18px;
		text-transform: uppercase;
	}
}

.makijaz{

}

.lista-szkolenia{
	margin-left: 0;
	margin-bottom: 25px;
	pre{
		margin-left: 25px;
		background: none;
		border: none;
		color: #afafaf;
		margin-top: -25px;
		font-family: Poppins, sans-serif;
		font-weight: 400;
		font-size: 14px;
		@media (max-width: 992px){
			margin-top: 0px;
		}
	}
    ul{
      margin-left: 0;
      padding-left: 0;
	  padding-top: 4px;
    }
	p{

		padding: 10px 0;
		@media (max-width: 992px){
			max-width: 100%;
		}
	}
	li{
		list-style: none;
		padding-left: 37px;
		position: relative;
		line-height: 2;
		&:before{
			content: url("img/li-before.jpg");
			position: absolute;
			top: -5px;
			left: 0px;
		}
		strong{
			font-weight: 500;
		}
		
	}
}
.lista-szkolenia-black{
	margin-left: 0;
	p{
		padding: 10px 0;
		font-weight: 500;
	}
	.lista-szkolenia;
	li{
		&:before{
			content: url("img/li-before-black.jpg");
			top: -6px;
	}

}}

.gwarancja-jakosci{
	p{
		padding: 8px 0;
		margin-top: 4px;
		color: #1d1d1d;
	}
	padding: 7px 0;
	border-top: 1px solid #282828;
	margin-top: 20px;
	ul{
		margin-bottom: 30px;
		padding-left: 0;
		margin-left: 0;
		li{
			strong{
				font-weight: 500;
			}
		}
	}
}

.about-program{
	@media (min-width: 992px) and (max-width: 1199px){
		padding-left: 15px;
	}
	p{
		line-height: 1.8;
		padding-bottom: 36px;
	}
}

.small-dots{
	ul{
		margin-left: 0;
	}
	li {
		list-style: none;
		font-size: 14px;
		position: relative;
		line-height: 2;
	}

	li:before {
		content:"·";
		left: -10px;
		top: -14px;
		font-size:30px;
		vertical-align:middle;
		position: absolute;
	}
}

.makijaz{
	.program-block{
		@media (max-width: 992px){
			float: none;
			display: block;
			width: 100%;
			margin: 0 auto;
			right: auto;
			margin-top: 20px;
		}
	}
}

.mozliwosci-box{
	color: #fff;
	background: #282828;
	border: 1px solid @kolor-czcionki-glowny;
	position: relative;
	padding: 28px 30px 10px;

	margin-left: 65px;
	@media (max-width: 992px){
		margin-left: 0;
		margin-top: 30px;
	}
	ul{
		padding-left: 0;
	}
	b, strong{
		font-weight: 500;
	}
	p{
		padding: 3px;
	}

}

span.up-line, .down-line{
	height: 40px;
	max-width: 833px;
	margin-top: -5px;
	margin: 0 150px;
	background: #fff;
	display: block;
	position: relative;
	z-index: 222;

}

.main-wrapper{
	margin-top: 25px;
  @media (max-width: 992px)
  {
    margin-top:  10px;
  }
}

.up-line{
	top: 27px;
	@media (max-width: 992px){
		top: 42px;
	}
}

.down-line{
	top: -20px;
}

.prace-kursantek{
	position: relative;
	img{
		text-align: center;
		@media (max-width: 992px)
		{
			margin-bottom: 20px;
		}
	}
	hr{
		display: block;
		position: relative;
		top: 150px;
	}
}

.usluga-title{
	border-bottom: 1px solid @kolor-czcionki-glowny;
	max-width: 575px;
	h3{
		font-size: 24px;
		font-weight: 500;
		padding: 15px 0;
		margin-left: 105px;
		margin-top: 0;
		margin-bottom: 0;
	}

}

.cena{
	height: 60px;
	@media (max-width: 767px){
		height: auto;
	}
	&:after{
		border-bottom: 1px solid black;
		width:  30px;
	}
	p:after{
		content: 'zł';
		font-size: 14px;
	}
	p{
		display: inline-block;
		font-size: 24px;
		font-weight: 500;
		@media (max-width: 767px){
			font-size: 14px;
		}
		@media (min-width: 767px) and (max-width: 768px){
			padding-top: 20px;
		}
	}
	.short-line{
		border-bottom: 1px solid @kolor-czcionki-glowny;
		width: 98px;
		display: inline-block;
		position: relative;
		top: 7px;
	}
}

.usluga
{
	margin-bottom: 40px;
}

.hidden-now{
	@media (min-width: 767px) and (max-width: 768px){
		display: none;
	}
}

.cennik{

	span{
		height: 60px;
		display: block;
	}
}
.cennik2{
	span{
		height: 105px;
	}
	.cena{
		padding-left: 10px;
		p{

			font-size: 14px;
			font-weight: 500;
			&:after{
				display: none;
			}
			@media (min-width: 767px) and (max-width: 768px){
				padding-top: 20px;
			}
		}
	}
}

.title-small{
	margin-left: 105px;
	padding: 20px 0;
	font-weight: 400;
}
@media (max-width: 767px){
	.title-small{
		text-align: center;
		margin-left: 0;
	}
	.cena{
		text-align: center;
		.short-line{
			display: none;
		}
	}
	.main-wrapper{
		.rabat{
			margin-left: 0;
		}
	}

}

.rabat{
	margin-left: 105px;
	b{
		font-weight: 500;
	}
}

.page-template-cennik{
	.rabat{
		//margin-left: 105px;
		margin: 30px 0 30px 105px;
		@media (max-width: 767px)
		{
			margin: 30px 10px;
		}
	}
  .usluga-title{
    @media (max-width: 992px){
      margin-top: 34px;
    }
  }
  .cennik{
    span{
      @media (min-width: 769px) and (max-width: 992px){
        height: 109px;
      }
    }
    .cena{
      p{
        @media (min-width: 769px){
          padding-top: 16px;
        }
      }
    }
  }
}

.zalecenia{
	span
	{
		display: block;
		height: 60px;
		@media (max-width: 992px){
			display: none;
		}
	}
	h4{
		color: #a3a3a3;
		text-transform: uppercase;
		padding-top: 30px;
		padding-bottom: 10px;

	}

	.mr{
		margin-left: 105px;
		padding-right: 20px;
		@media (max-width: 992px){
		margin-left: 0;
		padding: 20px 10px;

	}

	}

	p{
		padding: 20px 0;
	}
}

.zalecenia{
	.black-box-przeciwskazania{
		background-color: #313131;
	}
}

.section-usluga{
	margin-bottom: 70px;
	@media (max-width: 992px){
		margin-bottom: 20px;
	}
	p{
		padding: 10px 0;
	}

}

.usluga-title{
	h3{
		@media (max-width: 992px){
			margin-left: 0;
		}
	}
}

.important-info{
	.usluga-title{
		border-bottom: none;
		padding-bottom: 15px;
	}
	h3{
		margin-left: 0;
	}

	.lista-szkolenia-black{
		max-width: 415px;
	}
	li{
		padding-top: 10px;

	}
	li:before{
		top: 4px;

	}
}

.full-title{
	h3{
		font-weight: 500;
		font-size: 24px;
		max-width: 820px;
	}
	h4{
		text-transform: uppercase;
		color: #a3a3a3;
	}
}

.after-signs{
	ul{
		@media (max-width: 767px){
			padding-bottom: 20px;
		}
	}
  li {
    list-style: none;
    font-size: 14px;
    position: relative;
    line-height: 2;
  }

  li:after {
    content: url("img/strzalka-biala.jpg");
    padding-left: 10px;
    bottom: -14px;
    font-size:30px;
    vertical-align:middle;
    position: absolute;
	 
  }
}

.phone-number{
	a{
		display: inline-block;
		background-color: #fff;
	}
}

#map{
  height: 360px;
  width: 430px;
  float: right;
  right: 65px;
  @media (max-width: 992px){
    text-align: center;
    width: 100%;
    max-width: 430px;
    float: none;
    right: auto;
    margin: 0 auto;
  }
}

.page-template-kontakt{
  .clicked-white{
    border-top: none !important;
  }
  .hamburger{
    border-top: 2px solid #ddd;

  }
  .hamburger::before, .hamburger::after {
    border-top: 2px solid #ddd;
  }
	.logo-mobile-black{
		display: none;
	}

	.logo-mobile{
		@media (min-width: 660px){
			display: none;
		}
	}
	.logo-change-black{
		display: block;
		@media (max-width: 660px){
			display: none;
		}
	}
	.logo-change-white{
		display: none !important;
	}

	background-color: #000;
	color: #fff;
	.phone-number{
		a{
			padding: 3px 5px;
			margin-top: 10px;
            font-size: 18px;

		}
      @media (max-width: 992px){
        text-align: center;
        margin: 0 auto;
      }
	}
	h5{
		color: #fff;
		font-size: 24px;
	}
	

	footer{
        margin-top: 300px;
		.logo-change-black{
			display: inline-block !important;
          @media (max-width: 992px){
            display: block !important;
            margin-top: 30px;
          }
		}
      @media (max-width: 992px){
        margin-top: 40px;
      }
	}
}

.info-contact{
  margin-bottom: 3px;
  h5{
    margin-top: 0;
    padding-bottom: 28px;
  }

  p{
    padding-bottom: 10px;
  }
  @media (max-width: 992px){
    text-align: center;
    margin-top: 30px;
  }
}

.black{
	display: none;
}

.logo-mobile, .logo-mobile-black{
	max-width: 196px;
	margin: 10px auto;
	@media (min-width: 660px){
		display: none;
	}
	@media (max-width: 659px){
		max-width: 160px;
	}
	@media (max-width: 550px){
		max-width: 130px;
	}
}
.page-template-default{
	.logo-mobile{
		display: none;
	}
}

.page-template{
	.logo-mobile{
		display: none;
	}
}
.home{
  nav{
    .logo-mobile{
      display: none !important;
    }
  }
}

.home{
  .main-container{
    .flex-container{
      a{
        @media (max-width: 400px){
          .logo-center1{
            display: none !important;
          }
        }
        @media (min-width: 400px){
          .logo-center2{
            display: none !important;
          }
        }
      }
    }
  }

}

.home{
	.clicked-white{
		border-top: none !important;
	}
	.main-container{
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

	}
    background-color: #000;
	.black{
		display: block !important;
	}
	.logo-change-white{
		display: none;
	}
	.logo-mobile{
      display: block !important;
      @media (min-width: 660px){
        display: none;
      }
	}
    .logo-mobile-black{
      display: none;

    }
	footer{
		.logo-change-black{
			display: inline-block;
          @media (max-width: 992px){
            display: block !important;
            margin-top: 30px;
          }
		}
		.logo-change-white{
			display: none !important;
		}
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

	}

  .hamburger{
    border-top: 2px solid #ddd;

  }
  .hamburger::before, .hamburger::after {
    border-top: 2px solid #ddd;
  }
}




.page-template-wazneInformacje{
  .usluga-title{
    border-bottom: none;
  }

  .lista-szkolenia-black > p{
    max-width: none;
  }

  .logo-change-black{
    display: none;
  }
}

.post-type-archive-galeria{
  .logo-change-black{
    display: none;
  }

  background-color: #fff;
}

.owl-nav{
  top: 50%;
  .owl-prev{
    position: absolute;
    top: 45%;
    left: -7px;
  }
  .owl-next{
    position: absolute;
    top: 45%;
    right: -7px;
  }
}

.owl-item{
	img{
		max-height: 240px;
		max-width: 240px;
		margin: 0 auto;
	}
}

.page-template{
	.logo-change-black{
		display: none;
	}
}

.page-template-default{
	background-color: #FFFFFF;
	.title-wrapper{
		background-color: #000;
	}
	.logo-change-black{
		display: none;
	}
}

.menu-social{
	display: inline-block;
	list-style: none;
}


.logos{
	max-width: 530px;
	margin: 0 auto;
	@media (min-width: 660px){
		display: none;
	}
	@media (max-width: 659px){
		max-width: 175px;
	}
	@media (max-width: 550px){
		max-width: 140px;
	}


}

.logo-mobile{
	max-width: 37%;
	margin: 10px auto;
}



.nav{
	.logos{
	@media (max-width: 768px){
		.logo-mobile{
			display: block;
		}
		}
	}
}

.error404{
  .logo-change-white{
    display: none;
  }
	.logo-mobile-black{
		display: none;
	}


  h1{
    color: #fff;
    text-align: center;
  }
  .main-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

  }

  footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @media (max-width: 480px){
      .logo-change-black{
        margin-top: 30px;
		  display: block !important;
      }
		.logo-change-white{
			display: none !important;
		}
    }
  }
}

.black-box-przeciwskazania{
	background-color: #282828;
	color: #fff;
	padding: 20px 30px;
	margin-top: 60px;
	p{
		line-height: 2;
	}
	.btn{
		color: #fff;
		border-color: #fff;
		&:hover{
			border-color: #000;
			color: #000;
			background-color: #fff;
		}
	}
}


.usluga-under{
	margin-left: 105px;
	margin-right: 22px;
	@media (max-width: 992px){
		margin-left: 0;
		margin-right: 0;
	}
}


.ml{
	margin-left: 40px;
	@media (max-width: 992px){
		margin-left: 0;
		
	}
}

.realizacje{
	margin-top: -35px;
	.usluga-title{
		margin-top: 60px;
		margin-left: -95px;
		text-align: left;
		@media (max-width: 992px){
			margin-top: 60px;
			margin-left: 50px;
		}
	}

	hr{
		margin-right: -25px;
		margin-left: -25px;
        max-width: 1200px;
		@media (max-width: 992px){
			margin-right: 0;
			margin-left: 0;
		}
	}
}

.makijaz{

		.program {position:relative;width:100%;height:100%;}
		.program:before, .program:after, .program>:first-child:before, .program>:first-child:after {
			position:absolute;
			width:50px; height: 30px;
			border-color:@kolor-czcionki-glowny;
			border-style:solid;
			content: ' ';
		}
		.program:before {top:0;left:0;border-width: 1px 0 0 1px}
		.program:after {top:0;right:0;border-width: 1px 1px 0 0}
		.program>:first-child:before {bottom:0;right:0;border-width: 0 1px 1px 0}
		.program>:first-child:after {bottom:0;left:0;border-width: 0 0 1px 1px}
		.program{
			border: none;
		}
	.program{
		ul{
			margin: 0;
		}
	}
	strong{
		font-weight: 500;
	}
}

.fb-ref{
	position: absolute;
	left: -7px;
	@media(max-width: 992px){
		margin: 0 auto;
		position: inherit;
		text-align: center;
		display: block;
		margin: 0 auto;
		.social-ref{
			position: inherit;
			left: 0;
			bottom: -11px;
		}
	}
}