/*
Theme Name: idvetmp

Author: ideative.pl
Author URI: http://ideative.pl/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: idvetmp
Tags:

*/

@import "css/bootstrap.min.css";
@import "css/bootstrap-multiselect.less";


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: 'Work Sans', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}


body {
	margin: 0;
	color: #000;
}
body, html{
	font-size: 17px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
	text-decoration: none;
}

a:active,
a:hover {
	outline: 0;
	text-decoration: none;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 500;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}


code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #000;
	font-family: sans-serif;
	font-size: 17px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h3{
	line-height: 36px;
}

p {

	font-size: 17px;
	line-height: 26px;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}


code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: @kolor-czcionki-glowny;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}



ul {
	list-style: disc;
	padding-left: 0;
	padding-right: 0;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
	max-width: 100%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


/* ---theme styles--- */

/* variables */
.basic-transition {
	transition: all 0.2s ease-in-out;
}
.basic-transition-1 {
	transition: all 1s ease-in-out;
}
@czcionka-glowna: 'Montserrat', sans-serif;
@czcionka-pomocnicza: 'Roboto', sans-serif;

@body_bg: rgb(250, 237, 203);



//@berk-color

@rozmiar-czcionki-glowny: 14px;

@kolor-czcionki-glowny: #000000;
@kolor-czcionki-pomocniczy: #414143;
@kolor-czcionki-file: #969696;
@kolor-linkow-glowny: @kolor-czcionki-glowny;
@kolor-linkow-glowny-hover:@kolor-linkow-glowny;

@btn-color: #fff8e6;
@btn-border-color: rgb(101, 114, 48);
@btn-bg-color: rgb(63,71,29);


@h1-czcionka: @czcionka-glowna;
@h1-kolor: @kolor-czcionki-glowny;
@h1-rozmiar: 30px;
@h1-waga: 'bold';


@h2_font_family: @czcionka-glowna;
@h2_-_color: @kolor-czcionki-glowny;
@h2_font_size: @rozmiar-czcionki-glowny;
@h2_-_weight: normal;

@h3_font_family: @czcionka-glowna;
@h3_-_color: @kolor-czcionki-glowny;
@h3_font_size: @rozmiar-czcionki-glowny;
@h3_-_weight: normal;

@h4_font_family: @czcionka-glowna;
@h4_-_color: @kolor-czcionki-glowny;
@h4_font_size: @rozmiar-czcionki-glowny;
@h4_-_weight: normal;

@h5_font_family: @czcionka-glowna;
@h5_-_color: @kolor-czcionki-glowny;
@h5_font_size: @rozmiar-czcionki-glowny;
@h5_-_weight: normal;

@h6_font_family: @czcionka-glowna;
@h6_-_color: @kolor-czcionki-glowny;
@h6_font_size: @rozmiar-czcionki-glowny;
@h6_-_weight: normal;

@subpage_header_color: @kolor-czcionki-glowny;
@subpage_header_font_size: @rozmiar-czcionki-glowny;
@subpage_header_font_weight: 400;


@btn_font_size: @rozmiar-czcionki-glowny;
@btn_font_color: @kolor-czcionki-glowny;
@btn_bg_color: transparent;
@btn_border_color: transparent;
@btn_border_size: 0;
@btn_border_radius: 0;


@label_font_size : @rozmiar-czcionki-glowny;
@label_font_weight : 400;
@label_font_color : @kolor-czcionki-glowny;
@input_font_size : @rozmiar-czcionki-glowny;
@input_font_color : @kolor-czcionki-glowny;
@input_border_color : @kolor-czcionki-glowny;
@input_border_radius : 0px;

@top_menu_contact_box_font_color : @kolor-linkow-glowny;


@footer_bg_color :transparent;
@footer_border_color : #fff;


@menu_font_size : @rozmiar-czcionki-glowny;
@menu_color : @kolor-linkow-glowny;
@menu_color_hover : @kolor-linkow-glowny-hover;
@menu_-_waga_czcionki : 400;

@bg_top_section: transparent;
/*


/* main styles */


.foo{
	@media (min-width: 1200px){
		background: transparent;
	}
	background: #fff;
	.basic-transition;
}

.facebook{
	position: relative;
	right: 10px;
	top: 2px;
	font-size: 20px;
	@media (max-width: 1200px){
		display: inline-block;
		text-align: center;
		right: 0;
		top: 0;
	}
}
#navbar{
	.g-plus{
		position: relative;
		top: 2px;
		padding-left: 15px;
		padding-right: 20px;
		@media (max-width: 1200px){
			display: block;
			text-align: center;
		}
	};
	.facebook{
		@media (max-width: 1200px){
			display: block;
			text-align: center;
			padding-bottom: 20px;
		}
	}
}
.g-plus{
	font-size: 20px;
	@media (max-width: 1200px){
		display: inline-block;
		text-align: center;
		right: 0;
		top: 0;
	}
}

.page-template, .archive{
	background: url(img/bg.png);
	@media (max-width: 991px){
		background: transparent;
	}
	.facebook{
		position: relative;
		top: 2px;
		font-size: 20px;
		color: #000;
		z-index: 99999;
		@media (min-width: 1199px){
			padding-left: 65px;
		}
	}
}

.container{
	width: 1270px;
	@media (max-width: 1450px){
		width: auto;
	}
}

body,html{
	color: #1d1d1d;
	font-size: @rozmiar-czcionki-glowny;
	font-family: @czcionka-glowna;
}
a{
	text-decoration: none;
	color: @kolor-linkow-glowny;
	transition: all 0.5s ease 0s;
	&:hover{
		color: @kolor-linkow-glowny-hover;
	}
}
//
//.hide-element{
//    opacity: 0;
//    transition: ease all 0.5s;
//}
.visible{
    opacity: 1 !important;
    transition: ease all 0.5s;
}

.main-photo{
    z-index: -1;
    position: relative;
}
.after-main-photo {
    min-height: 490px;
    background: #fff;
    position: absolute;
    width: 100%;
    margin-right: 30px;
    display: inline-block;
    max-width: 1240px;
	@media (max-width: 1450px){
		max-width: 1450px;
		width: 98%;
	}
	@media (max-width: 991px){
		width: 98%;
	}
	@media (max-width: 700px){
		width: 78%;
	}
}
.main-photo-text{
    padding-left: 35px;
    padding-top: 20px;
    background: #fff;
    margin-top: -180px;
	h6{
		color: #fff;
		display: inline-block;
		position: relative;
		top: 24px;
		left: 4px;
	}
    >div{
        &:first-of-type{
            bottom: 106px;
            position: relative;
			@media (max-width: 991px){
				padding-left: 13px;
			}
        }

    }
	@media (max-width: 991px){
		padding-left: 0px;
		padding-top: 34px;
	}
}

.separate-class{
	margin-bottom: 80px; padding-top: 240px;
	@media (max-width: 991px){
		padding-top: 140px;
		padding-bottom: 30px;
	}
}

.post-type-archive-mieszkania{
	.separate-class{
		background-color: #fff;
	}
}

.separate-margin{
	padding-top: 240px;
}

.site-wrapper{
	//position: absolute;
	//margin-left: 150px;
	&:before{
		height: 3px;
		width: 375px;
		background: #e8e9eb;
		display: block;
		content: '';
		position: absolute;
		margin-top: 17px;
		left: -365px;
		@media (max-width: 991px){
			display: none;
		}
	}
}

.full-size{
	@media (min-width: 992px) and (max-width: 1200px){
		width: 100%;
	}
}

.home{
	@media (max-width: 1200px){
		#navbar {
			background: #fff;
			-webkit-box-shadow: 0px 3px 5px 0px rgba(211,211,211,1);
			-moz-box-shadow: 0px 3px 5px 0px rgba(211,211,211,1);
			box-shadow: 0px 3px 5px 0px rgba(211,211,211,1);
		}
		.her1, .her2{
			padding-left: 0;
			padding-right: 0;
		}
		.her2{
			width: 100%;
		}
	}
	.navbar-toggle{
		top: 5px;
	}
  .main-title{
    position: relative;
    height: 400px;
    @media (max-width: 1200px){
      height: 230px;
    }
    h6{
      margin-bottom: -30px;
      font-weight: 300;
      color: #969696;
      text-transform: uppercase;
		@media (max-width: 551px){
			margin-bottom: 0;
		}
    }
  }
	.main-container{
		margin-top: 0;
		background: transparent !important;

	}

  .footer-show{
    display: none;
  }
	#menu-menu-gorne{
		.facebook{
			display: none;
		}
	}
	.btn{
		opacity: 0;
	}
	#menu-primary{
		.roll span{
			font-size: 20px;
		}
	}
	.logo-idv{
		display: block;
		text-align: center;
		padding-bottom: 35px;

	}
}

body{
    background-color: #f5f5f5;
}
.page-map{
	.main-container{
		background: none;
	}
}
.main-container{
	background: url("img/bg.png") ;
	@media (max-width: 991px){
		background: transparent;
	}
}
.container-effect{
	margin: 0;
	position: absolute;
	text-align: center;
	height: 100% !important;
	width: 100%;
	z-index: 999999;
	overflow: hidden;
	ul{
		position: absolute;
		height: 100% !important;
		width: 100%;
		li{
			height: 100%;
			width: 10%;
			//background: #fff;
			display: inline-block;
			padding: 0;
			margin: 0;
			float: right;
			.inner{
				background: #fff;
				width: 100%;
				height: 100%;
				display: block;
				.basic-transition-1;
				float: right;
				//margin: 0 auto;
				&.inner-open{
					width: 0%;
				}
			}
		}
	}
}
.animated{
  -webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes fadeInUp {
                                                                                                                                                                                                                                                                                                                                                                     0% {
                                                                                                                                                                                                                                                                                                                                                                       opacity: 0;
                                                                                                                                                                                                                                                                                                                                                                       -webkit-transform: translateY(20px);
                                                                                                                                                                                                                                                                                                                                                                     } 100% {
                                                                                                                                                                                                                                                                                                                                                                         opacity: 1;
                                                                                                                                                                                                                                                                                                                                                                         -webkit-transform: translateY(0);
                                                                                                                                                                                                                                                                                                                                                                       }
                                                                                                                                                                                                                                                                                                                                                                   }



@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


.animated-slow{
  -webkit-animation-duration: .9s;
  animation-duration: .9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.btn{
	&:hover{
		background-color: #f5f5f5;
		color: #000;
		&:after{
			content: url('img/arrow-hover.svg');
		}
	}
	line-height: 30px;
	z-index: 2;
	margin: 20px auto;
	color: #fff;
	position: relative;
	padding: 9px 50px 9px 30px;
	font-size: 17px;
	font-family: @czcionka-glowna;
	background-color: #000;
	border-radius: 0px;
	overflow: hidden;
	border: 1px solid #000;
	@media (max-width: 991px){
		margin: 20px auto;
	}
	&:after{
		line-height: 55px;
		height: 44px;
		width: 85px;
		content: url('img/arrow.svg');
		position: absolute;
		bottom: -1px;
		right: -13px;
		padding-left: 5px;
		border-bottom-right-radius: 30px;
		border-top-right-radius: 30px;
		transition: ease all 0.3s !important;
		z-index: -1;
	}
}




.home{
	nav{
		// overflow: hidden;
		.basic-transition;
		z-index: 4;
		height: 180px;
		.container{
			height: 165px;
			border-bottom: none;
			z-index: 2;
			@media (max-width: 991px){
				height: 71px;
			}
		}
		@media (max-width: 991px){
			//height: 100%;
		}
	}
}

nav{
	// overflow: hidden;
	.basic-transition;
	z-index: 999;
	height: 180px;
	.container{
		height: 155px;
		border-bottom: 1px solid #eef2f7;
		z-index: 2;
		@media (max-width: 991px){
		height: 71px;
			border-bottom: none !important;
	}
	}
	@media (max-width: 991px){
		height: 100%;
	}
}

.navbar-collapse{
	border-top: none;
}



.anim {
	opacity: 0;
}

.animated{
	opacity: 1;
}



h1{
	font-family: @h1-czcionka;
	color: @h1-kolor;
	font-size: @h1-rozmiar;
	font-weight: @h1-waga;
}

h2{
	font-family: @h2_font_family;
	color: @h2_-_color;
	font-size: @h2_font_size;
	font-weight: @h2_-_weight;
}
h3{
	font-family: @h3_font_family;
	color: @h3_-_color;
	font-size: @h3_font_size;
	font-weight: @h3_-_weight;
}
h4{
	font-family: @h4_font_family;
	color: @h4_-_color;
	font-size: @h4_font_size;
	font-weight: @h4_-_weight;
}
h5{
	font-family: @h5_font_family;
	color: @h5_-_color;
	font-size: @h5_font_size;
	font-weight: @h5_font_family;
}
h6{
	font-family: @h6_font_family;
	color: @h6_-_color;
	font-size: @h6_font_size;
	font-weight: @h6_-_weight;
}


/* header */
.nav > li{

	a{
		padding-top: 0;
	}
	a:active{
		background: transparent;
		//color: #fff;
	}
	a:hover{
		//background: #000 !important;
		color: #fff;
	}

}

.nav .open > a, .nav .open-menu > a:focus{
	background: none !important;
	border: none;
}

.nav .dropdown-menu>li>a:focus{
	background-color: transparent;
}



.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus{
	background: transparent;
	//color: #fff;
}




.nav .dropdown-menu > li > a{
	color: #fff;
}

.nav .dropdown-menu .current-menu-item a{
	color: #fff;
}


.nav > li > a{
	@media (min-width: 1201px) and (max-width: 1340px){
		padding: auto 5px;
	}
}

.nav > li > a:hover, .nav > li > a:focus{
	background: none;
	//color: #fff8e5;
}



.navbar{
	background: transparent;
	min-height: 105px;

	padding-top: 20px;

	.container{
		position: relative;
	}
}
.navbar > .container-fluid .navbar-brand{
	margin-left: 15px;
  .basic-transition;
  img{
    height: 80px;
	  @media (max-width: 1200px){
		  //height: 100%;
		  margin-top: -10px;
		  max-width: 100%;
	  }
	  @media (max-width: 991px){
		  //height: 100%;
		  margin-top: 22px;
		  max-width: 100%;
	  }
  }
  @media (max-width: 1200px){
    margin-left: -15px;
  }
}
.navbar-brand{
	height: auto;
	position: absolute;
	margin: 0 auto;
	display: block;
	padding: 0;
	z-index: 2;
	left: 40px;
	margin-top: 30px;

	@media (min-width: 993px) and (max-width: 1050px){
		left: 40px;
	}
	@media (max-width: 992px){
		//height: 100%;
		left: auto;
		margin-top: 0px;
		margin-left: 20px !important;
		img{
			max-width: 63%;
		}
	}
}


// Change Breakpoint

@media (max-width: 1200px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
		float: right;
		background: transparent;
		border: none;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.in{
		//max-width: 400px;
		//overflow: auto !important;
		//overflow: hidden;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-fixed-top .navbar-collapse{
		max-height: 550px;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		//padding-top: 10px;
		//padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
}

//END


.wrapper-menu .strefa > li > a.strefa-clienta{
	color: @kolor-czcionki-glowny;
	margin-right: 42px;
	margin-left: -8px;
	text-transform: uppercase;
	position: relative;
	top:0;
	.basic-transition;
	&:hover{
		position: relative;
		top: -3px;
	}
	@media (max-width: 991px){
		margin-right: auto;
		margin-left: auto;
	}
}

.strefa{
	//margin-bottom: 30px;


	a{
		padding: 0 4px;
		font-size: 17px;
		color: #b5c4cc;
		position: relative;
		top:0;
		.basic-transition;
		&:hover{
			position: relative;
			top: -3px;
		}
	}
	.active{
		color: @kolor-czcionki-pomocniczy !important;
	}
	@media (max-width: 767px){
		display: block;
		text-align: center;
		background-color: #fff;
	}
}

.box-abs-t-r {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	color: @top_menu_contact_box_font_color;
	font-size: 30px;
	padding: 15px 10px 7px;
	position: absolute;
	right: 0;
	top: 0;
	span{
		display: block;
		font-size: 18px;
		font-weight: 400;
		line-height: 7px;
	}
	a{
		color: @top_menu_contact_box_font_color;
		&:hover{
			text-decoration: none;
		}
	}
}

.admin-bar{

	.navbar-fixed-top{
		top: 32px;
	}

	.box-abs-t-r {
	}
}

.cb-visible{
	margin-top: 60px;
}


.navbar-toggle{
	border: none;
	//float: left;
	margin-bottom: 0;
	margin-left: 8px;
	.icon-bar{
		height: 3px;
		background: @kolor-czcionki-glowny !important;
	}
}


.wrapper-position-brand{
	@media (min-width: 992px){
		top: 37px;
	}

}

.large-space{

	@media (min-width: 992px){
		top: -80px !important;
	}
}

.strefa-position{
	position: relative;
	@media (min-width: 992px){
		top: 10px !important;
	}

}

.wrapper-position{
	@media (min-width: 992px){
		top: -37px !important;
		.strefa{
			position: relative;
			top: 10px;
		}
	}

}

#navbar{
	margin-top: 10px;
	@media (max-width: 1200px){
		margin-top: 115px;
	}
	@media (min-width: 992px){
		margin: 10px 0 0;
	}
	@media (max-width: 991px){
		margin-top: 65px;
	}
}
.page-template #navbar .strefa li a{
	padding-bottom: 10px;
}

#navbar .navbar-nav a{
	text-align: center;
	position: relative;
	z-index: 99999;
    color: #000;
	padding-bottom: 10px;

	@media(max-width: 1199px)
	{
		padding: 15px 0;
		//background-color: #fff;
	}
}

.navbar-default .navbar-collapse{
	@media (max-width: 991px){
		border: none;
	}
}
.home .navbar .container-fluid{
	.wrapper-menu{
		float: left;
		margin-top:30px;
		position: relative;
		//left: 330px;
		display: inline-block;
		//margin-left: 7px;
		@media (min-width: 992px) and (max-width: 1200px){
			left: auto;
			float: none;
			display: block;
			margin-left: 0;

		}

		@media (max-width: 1200px){
			margin-top: 10px;
			display: block;
			left: auto;
			width: 100%;
			padding-bottom: 50px;
			margin-left: 0;
		}
	}
}

.wrapper-menu{
	margin-top:30px;
	position: relative;
	display: inline-block;
  @media (min-width: 992px) and (max-width: 1200px){
	  display: block;
  }
	@media (min-width: 768px) and (max-width: 1400px){
		top: 0;
		left: auto;
	}
	@media (max-width: 991px){

		margin-top: 10px;
		display: block;
		left: auto;
		width: 100%;
		padding-bottom: 50px;
		margin-left: 0;
	}
}
.navbar-nav{
	margin: 0px -15px;

}
.strefa-show{
	display: none;
}
.page-template, .archive{
	.wrapper-menu{
		margin-top: -38px;
		float: right;
		left: auto;
		//padding-right: 56px;
		@media (max-width: 1200px){
			float: none;
			padding-right: 0;
			padding-bottom: 30px;
		}
	}
  .navbar{
    .container-fluid{
      @media (min-width: 767px) and (max-width: 1200px){
        padding: 0 !important;
      }
    }
  }
  .strefa{
    li{
      display: block;
    }
  }
	.strefa-show{
		.fa-map-marker{
			padding-right: 19px;
		}
		a{
			color: #808080;
			font-size: 17px;
			@media (max-width: 1200px){
				line-height: 40px;
			}

		}
		display: block;
		position: relative;
		top: 35px;
		left: 213px;
		li{
			a{
				@media (min-width: 1200px) and (max-width: 1430px){
					color: #fff;
				}

			}
		}
		@media (max-width: 1200px){
			left: auto;
			top: auto;
		}
		i{
			color: #808080;
		}
	}

}

///////////////////////home
.small-fixed-logo{
  .basic-transition;
  img{
    height: 80px;
    .basic-transition;
  }
}

.navbar-default .navbar-nav>.active>a{
    background: transparent;
    //color: #fff !important;
	border-bottom: none;
	span{
		background: #000;
		color: #fff;
	}
    &:hover{
		background: #fff;
    }
	&:after{
		height: 2px;
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}
}


.navbar-default{
  margin-top: -30px;
	border: none;
	background: #fff;
	.basic-transition;
	max-height: 150px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(211,211,211,1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(211,211,211,1);
  box-shadow: 0px 3px 5px 0px rgba(211,211,211,1);
}


.navbar-default .navbar-nav > li > a
{
    font-family: @czcionka-glowna;
	color: @kolor-czcionki-pomocniczy;
	font-size: 20px;
	font-weight: 400;
	position: relative;
	@media (min-width: 1201px) and (max-width: 1450px){
		font-size: 18px;
	}

}








.strefa{
	margin-bottom: 30px;
	@media (max-width: 1200px){
		margin-bottom: 0;
	}
	li{
      margin-right: 55px;
      font-size: 17px;
      color: #515151;
      font-weight: 300;
		display: inline-block;
		@media (max-width: 1200px){
			&:last-of-type{
				padding-bottom: 40px;
			}
			margin-left: -15px;
			margin-right: -15px;
			display: block;
			background: #fff;
			text-align: center;

		}
	}
  i{
    font-size: 17px;
    color: #fff;
    padding-right: 15px;
  }

}
/* subpage header */

.subpage-header-bg{
	margin-bottom: 60px;
	background-repeat: repeat-x !important;
	background-size:cover !important;
	color: @subpage_header_color;
	font-size: @subpage_header_font_size;
	font-weight: @subpage_header_font_weight;
	h1{
		color: inherit !important;
		font-weight: 300;
		font-size:inherit !important;
	}
}

.wpcf7-textarea{
	max-width: 285px;
	margin-top: 15px;
	height: 150px;
	width: 100%;
	border: none;
	outline: none;
	color: #969696;
	border-color: #969696;
	padding: 10px 10px 10px 0;
	font-weight: 300;
	font-family: @czcionka-glowna;
	border-bottom: 1px solid;
	@media (max-width: 991px)
	{
		width: 100%;
		max-width: 100%;
	}
}
.wpcf7-text{
	outline: none;
	max-width: 285px;
	margin-top: 15px;
	font-family: @czcionka-glowna;
	width: 100%;
	height: 44px;
	font-weight: 300;
	border: none;
	padding-left: 0;
	color: #969696;
	border-color: #969696;
	border-bottom: 1px solid;
	@media (max-width: 991px)
	{
		max-width: 100%;
		width: 100%;
	}
}

.wpcf7{
	margin-top: 30px;
	font-family: @czcionka-glowna;
	p{
		margin-bottom: 5px;
	}
	label{
		display: block;
		color: #b5c4cc;
	}
	textarea{
		font-family: @czcionka-glowna;
		font-weight: 300;
	}
}

::-webkit-input-placeholder { /* Chrome */
	color: #969696;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #969696;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #969696;
	opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
	color: #969696;
	opacity: 1;
}

/* formularze END */


/* gallery */

.gallery-content{
	h2{
		margin-top: 40px;
	}
	.row{
		&:first-of-type{
			h2{
				margin-top: 0;
			}
		}
	}
	.mgn-popup{
		display: inline-block;
		margin-bottom: 30px;
	}
}
.mfp-counter{
	display: none;
}

/* gallery END */


/* tabele */

table {
	margin-bottom: 20px;
	max-width: 100%;
	width: 100%;
	border-width: 1px;
}

table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td{
	line-height: 1.42857;
	padding: 8px;
	vertical-align: top;

}


/* tabele END */

/* formularze */
label{
	font-size: @label_font_size;
	font-weight: @label_font_weight;
	color: @label_font_color;
	font-size: @label_font_size;
}
input, textarea{
	font-size: @input_font_size;
	color: @input_font_color;
	border-width: 1px;
	border-style: solid;
	border-color: @input_border_color;
	border-radius: @input_border_radius;
}

/* formularze END */

/* lista wpisów */

.post-row{
	margin-bottom: 30px;
}

.nav-links{
	.nav-previous{
		float: left;
	}
	.nav-next{
		float: right;
	}
	.page-numbers{
		color: #9c9c9c;
		font-weight: 400;
	}
	.next, .prev, .current{
		font-size: 34px;
		font-weight: 700;
		color: #000;
	}
	.next{
		padding-left: 18px;
	}
	.prev{
		padding-right: 18px;
	}


}

.pagination{
	display: inline-block;
	padding-left: 0;
	border-radius: 4px;
	margin-top: -15px;
	height: 90px;
}
.pagination-main{
	//padding-right: 25px;
	display: inline-block;
	padding-left: 25px;
}
.aktualnosci{
	.title-wrapper{
		h3{
			padding-top: 25px;
		}
	}
	.white-bg{
		.grey-line{
			&:last-of-type{
				height: 6px;
				text-align: left;
				margin-left: 0;
				margin-bottom: 37px;
				margin-top: 30px;
			}
		}
	}
	.aktualnosci-photo{
		&:last-of-type{
			margin-bottom: 33px;
		}
	}
}

.post-title a{
	text-decoration: none;
}

.single-post h2{
	margin-bottom: 40px;
}

/* lista wpisów END */

/* ---theme styles END--- */


// TODO boks na całą szerokosc z tekstem w kontenerze

@media (max-width: 1200px){
	.owl-carousel-slider_text .item .item-text > div{
		font-size: 30px !important;
	}

	.owl-carousel-slider_text .item{
		max-height: 400px;
	}


	section.text h2{
		font-size: 30px;
	}

	.cb-visible{
		margin-top: 10px;
	}
	ul, ol{
		margin: 0;
	}
	table {
		width: 100% !important;
	}

	.navbar-toggle {
		float: right;
		margin-bottom: 0;
		margin-top: 30px;
		position: absolute;
		right: 5px;
		top: 20px;
		background-color: transparent;


	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background-color: transparent !important;
	}

	.box-abs-t-r{
		position: relative;
	}
}

.strona-glowna{
	position: relative;
	height: 100vh;
	padding-left: 50px;
    @media (max-width: 991px){
      padding-left: 0px;
    }
}

.section-main{
	@media (max-width: 991px){
		overflow: hidden;
	}
}

.left-site{
	background-color: #fff;
	height: 100vh;
	max-width: 242px;
}


.right-site{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100vh;
	position: absolute;
	top: 0;
	min-height: 800px;
	@media (max-width: 992px){
		position: relative;
      	justify-content: left;
		min-height: 550px;
		max-height: 660px;
	}
	.btn{
		text-transform: capitalize;
	}
}



.main-title{
	padding-left: 50px;
    @media (max-width: 991px){
      padding-left: 0;
    }
	@media (max-width: 360px){
		width: 169px;
	}
	h1{
		font-size: 73px;
		width: 875px;
		font-family: @czcionka-glowna;
		font-weight: 300;
		@media (max-width: 1200px){
			font-size: 51px;
			width: 600px;
		}
        @media (max-width: 991px){
          font-size: 40px;
          max-width: 430px;
        }
        @media (max-width: 551px){
          font-size: 24px;
          width: 100%;
        }
	}
	p{
		text-transform: uppercase;
		font-size: 14px;
		color: #b5c4cc;
	}
	.btn{
		margin-left: 0;
      //margin-top: -5px;
      font-size: 17px;
      text-transform: uppercase;
		@media (max-width: 551px){
			font-size: 14px;
			&:after{
				//bottom: -5px;
			}
		}
	}
}


.title{
	padding-bottom: 55px;
	@media (max-width: 1400px){
		padding-left: 80px;
	}
	@media (max-width: 992px){
	}
	p{
		padding-bottom: 10px;
		font-size: 33px;
		font-family: @czcionka-pomocnicza;
		color: @kolor-czcionki-glowny;
		&:after{
			 content: ' ';
			 height: 15px;
			 width: 15px;
			 background: @kolor-czcionki-glowny;
			 display: inherit;
			 position: relative;
			 top: 18px;
		 }
	}
}

.section-left-wrapper{
	 padding: 20px 50px;
	padding-top: 150px;
	p{
		padding: 10px 0;
		max-width: 480px;
		@media (max-width: 991px){
			max-width: 100%;
		}
	}
	@media (max-width: 991px){
		padding: 30px 15px 15px;
		a{
			margin: 0 auto;
		}
	}
}

.title-date{
	color: #b5c4cc;
	font-family: @czcionka-glowna;
}

.one-item{
	border: 2px solid #fff;
	padding: 50px 25px;
	margin-bottom: 30px;
	min-height: 385px;
    strong{
      font-weight: 600;
    }
}







.wrapper{

	margin-left: 50px;
	p{

		&:first-of-type{
			&:before{
				content: url("img/bill.png");
				position: absolute;
				left: 40px;
				@media (max-width: 991px){
					position: relative;
					left: 0;
					top: 6px;
					padding-right: 5px;
				}
			}
		}
	}
	a{
		&:before{
			content: url("img/koperta.png");
			position: absolute;
			left: 40px;
			@media (max-width: 991px){
				position: relative;
				left: 0;
				top: 2px;
				padding-right: 5px;
			}
		}
	}
	@media (max-width: 991px){
		margin-left: 0;
	}
}

.logo-footer{
	margin-top: 120px;
	text-align: right;


	@media (max-width: 991px){
		margin-top: 20px;
		text-align: center;
	}
	p{
		line-height: 1;
		font-size: 14px;
		color: #7f7f89;
	}

	.smart-logo, .ideative-logo{
		margin-bottom: 30px;
	}
}

.phone-info{
	margin-left: 40px;
	@media (max-width: 991px){
		margin-left: 0;
		text-align: center;
	}
	p{
		color: @kolor-czcionki-pomocniczy;
		padding-left: 30px;
		font-size: 17px;
		font-weight: 400 !important;
	}
	a{
		font-size: 24px;
		color: @kolor-czcionki-pomocniczy;
		font-weight: 600;
		&:before{
			content: url("img/sluchawka.png");
			position: relative;
			top: 5px;
			padding-right: 10px;
		}
	}
}



.firma-photo{
	height: 500px;
	background: #eef2f7;
	padding-top: 60px;
	padding-left: 65px;
	@media (max-width: 991px){
		padding-top: 50px;
		padding-left: 20px;
		height: 400px;
	}
	h2{
		font-size: 60px;
		line-height: 1.4;
		font-family: @czcionka-pomocnicza;
		@media (max-width: 991px){
			font-size: 40px;
			margin: 0 auto;
		}
	}
	p{
		color: #b5c4cc;
		text-transform: uppercase;
	}
	img{
		margin-top: 49px;
		margin-left: 30px;
		@media (max-width: 991px){
			margin-top: 50px;
			margin-left: -12px;
		}

	}
}

.text-o-firmie{
	padding: 80px 50px;
	@media (max-width: 991px){
		padding: 20px 0px;
	}
	@media (min-width: 500px) and (max-width: 991px){
		margin-top: 60px;
	}
	p{
		padding-bottom: 20px;

	}
}

.centrowy{
	line-height: 240px;
	max-height: 240px;
	display: block;
	padding-top: 70px;
	@media (min-width: 1115px) and (max-width: 1215px){
		padding-top: 35px;
		line-height: 160px;
		max-height: 160px;
	}
	@media (min-width: 992px) and (max-width: 1114px){
		padding-top: 10px;

	}
	@media (max-width: 767px){
		padding-top: 0;
	}
	h3{
		font-size: 33px;
		font-family: @czcionka-pomocnicza;
	}
	p{

	}
}

.box-number{
	background: url("img/border_bg.jpg") no-repeat;
	background-size: cover;
	height: 250px;
	max-width: 250px;
	position: relative;
	margin: 0 auto;
	padding: 4px;
	margin-bottom: 85px;
	@media (min-width: 992px) and (max-width: 1215px){
		max-width: 160px;
		max-height: 160px;
	}
	@media (max-width: 991px){
		margin-bottom: 25px;
	}
	span{
		font-size: 60px;
		font-family: @czcionka-pomocnicza;
		line-height: 240px;
		text-align: center;
		display: block;
		color: @kolor-czcionki-glowny;
		@media (min-width: 992px) and (max-width: 1215px){
		line-height: 160px;
		max-height: 160px;
	}

	}
}
.section-numbers{
	margin-top: 70px;
	margin-bottom: 20px;
	@media (max-width: 991px){
		text-align: center;
		margin-top: 0;
		margin-bottom: 20px;
	}
}



.kontakt{
	padding: 80px 20px 40px 20px;
	@media (max-width: 991px){
		padding: 0px 20px 40px 20px;
	}
}

.large-text{
	max-width: 440px;
	@media (max-width: 991px){
		max-width: 800px;
		padding-bottom: 30px;
	}
	h1{
		margin: 0;
		font-family: @czcionka-pomocnicza;
		font-size: 60px;
		@media (max-width: 370px){
			font-size:  41px;
		}
	}
	p{
		text-transform: uppercase;
		font-size: 17px;
		font-weight: 400;
		color: #b5c4cc;
		@media (max-width: 370px){
			text-align: center;

		}
	}
}


#map{
	z-index: 0;
	@media (max-width: 500px){
		height: 250px;
	}
}
.custom-form{
	padding-left: 90px;
	@media (max-width: 991px){
		padding-left: 0;
	}
}

.uslugi-bg{
	background: url("img/bguslugi.png") left top no-repeat;
	min-height: 900px;
	@media (max-width: 991px){
		min-height: unset;
	}
}

.usluga-tytul-wrapper{
	padding-top: 98px;
	padding-left:75px;
	@media (max-width: 991px){
		padding-left: 0;
	}
}

.usluga-tytul{
	@media (max-width: 767px){
		text-align: center;
	}
	h2{
		font-size: 60px;
		@media (max-width: 767px){
			font-size: 40px;
		}
	}
	p{
		color: #b5c4cc;
		text-transform: uppercase;
	}
}

.photos{
	padding-top: 110px;
	margin: 0 auto;
	@media (max-width: 991px){
		padding-top: 30px;


	}
	@media(max-width: 991px){
		text-align: center;
	}

	.img-2{
		max-width: 160px;
		position: relative;
		top: -66px;
		right: -300px;
		@media (min-width: 992px) and (max-width: 1300px){
			padding-top: 20px;
			margin-bottom: 0;
			margin-left: 0;
			right: auto;
			top: auto;
			    display: block;
    			margin: auto;
		}
		@media (max-width: 991px){
				right: auto;
				top: auto;
			    display: block;
    			margin: auto;
		}
		@media (max-width: 500px){
			margin: 0 auto;
			display: block;
			padding-top: 20px;
		}
	}
}
//
//.kontakt{
//	button{
//		border: none;
//		z-index: 997;
//		margin: 20px auto;
//		color: #fff;
//		position: relative;
//		padding: 9px 50px 9px 30px;
//		font-size: 17px;
//		font-family: @czcionka-glowna;
//		background-color: @kolor-czcionki-glowny;
//		border-radius: 30px;
//		overflow: hidden;
//		@media (max-width: 991px){
//			margin: 20px auto;
//		}
//		&:after{
//			line-height: 55px;
//			height: 44px;
//			width: 85px;
//			background: @kolor-czcionki-glowny;
//			content: url('img/arrow-white.svg');
//			position: absolute;
//			bottom: -1px;
//			right: -13px;
//			padding-left: 5px;
//			border-bottom-right-radius: 30px;
//			border-top-right-radius: 30px;
//			transition: ease all 0.3s !important;
//			z-index: -1;
//		}
//		&:before{
//			content: url('img/arrow-grey.svg');
//			position: absolute;
//			top: 14px;
//			right: 30px;
//			transition: ease all 0.5s !important;
//			z-index: -5;
//		}
//		&:hover{
//			color: #fff;
//			&:after{
//				content: url('img/arrow-white.svg');
//				position: absolute;
//				bottom: -1px;
//				right: -110px;
//				transition: ease all 0.9s;
//			}
//			&:before{
//				content: url('img/arrow-grey.svg');
//				position: absolute;
//				bottom: -1px;
//				right: 10px;
//				transition: ease all 0.5s;
//				z-index: -10;
//			}
//		}
//	}
//}

//.read-more{
//	background-color: @kolor-czcionki-glowny;
//	margin-top: 50px;
//	display: inline-block;
//
//	&:after{
//		background: @kolor-czcionki-glowny !important;
//
//	}
//	&:hover {
//		&:before {
//			content: url('img/arrow-grey.svg') !important;
//		}
//	}
//}




.footer-hide{
	background-color: #fff;
	img{
		display: inline-block;
	}

	.ideative-logo{
		float:right;
		padding-top: 20px;
		@media (max-width: 991px){
			float: unset;
		}
	}
}

.brand-wrapper{
	display: inline-block;
	position: relative;
	top: 18px;
	padding-bottom: 20px;
	padding-left: 20px;
	p{
		display: block;
		font-size: 14px;
		color: #7f7f89;
	}
}

.home{
	.facebook{
		z-index: 0;
		padding-bottom: 27px;
		@media (min-width: 1199px){
			padding-left: 42px;
		}
	}
	.navbar-default .navbar-nav > li > a
	{
		background: transparent;


	}
	#navbar{
		.g-plus{
			display: none;
		}
	}
  .navbar-brand{
    img{
      	@media (min-width: 1200px){
			height: auto !important;
		}
		@media (max-width: 1199px){
			height: 80px;
		}
    }
  }
  .navbar-default{
    max-height: 100%;
    background: transparent;
    box-shadow: none;
    margin-top: 0;
	  @media (max-width: 1199px){
		  max-height: 130px;
		  background: rgba(255,255,255,0.9);
	  }
  }
    .strefa{
		//margin-left: 330px;
		position: relative;
		top: 35px;
      	float: inherit;
		@media (max-width: 1200px){
			margin-left: 0;
		}
      li{
        display: inline-block;
		  @media (max-width: 1200px){
			  display: block;
		  }
		  a{
			  color: #515151;
		  }
		  i{
			  color: #fff;
			  @media (max-width: 1199px){
				  color: #808080;
			  }
		  }
      }
    }
	margin-top: 0 !important;
	.footer-hide{
		display: none;
	}
	@media (min-width: 1200px){
		.strefa-show{
			left: 0;
		}
	}
	.navbar{
		@media (max-width: 1199px){
			padding-top: 0;
		}
	}
}

.page-template-mainSite{
	background-size: cover !important;
	background: url("img/bg_home.jpg") center no-repeat;
	@media (max-width: 767px){
		background: url(img/bg_home.jpg) top left -180px no-repeat;
	}
}

.mt50{
	margin-top: 50px;
}

.slider-wrapper{
	position: relative;
	right: 0;
}

.w3-display-left{
position: absolute;
    left: -41px;
    top: 100px;
    font-size: 50px;
}

.w3-display-right{
position: absolute;
    left: 0px;
    top: 100px;
    font-size: 50px;
}

.each-usluga{
	padding: 15px 40px;
	margin-bottom: 20px;
	margin-top: 10px;
	min-height: 353px;
	background-position: center center;
	background-size: cover;
	@media (max-width: 767px){
		padding: 15px 20px;
	}
	h3{
		font-size: 26px;
		font-family: @czcionka-pomocnicza;
		color: @kolor-czcionki-pomocniczy;
	}
	p{
		color: #b5c4cc;
		text-transform: uppercase;
	}
}




.error404{
	.flex-container{
		max-height: 300px;
		h1{
			padding: 100px 0;
		}
	}

	.footer-hide{
		display: none;
	}
}


.default-content{
	h1,h2,h3,h4,h5,h6{
		color: @kolor-czcionki-pomocniczy;
	}
	h1{
		font-size: 40px;
	}

	h2{
		font-size: 30px;
	}
	h3{
		font-size: 20px;
	}
	h4{
		font-size: 18px;
	}
}


.nav-up{
	top: -160px ;

}

body .nav-down{
    position: fixed;
	top: 0px;
  left: 0px;
  right: 0;

}
body .nav-down-relative{
	@media (max-width: 1199px){
		position: relative;
	}
}

body .scrolled-nav{
    padding:0;
    height: auto;
    .strefa{
        display:none;
    }
    .container{
        height:120px;
    }
    .navbar-nav{
        margin-top:15px;
    }
}

@media (max-width: 1200px){
    .navbar-default{
        //padding-top:40px;
        max-height: 135px;
    }
    body .scrolled-nav{
        padding-top:40px;
    }
    #navbar {
      margin-top: 115px;
		
    }
}

.owl-prev, .owl-next{
	position: absolute;
	img{
		max-width: 15px;
	}
	bottom: -26px;
	height: 53px;
	width: 53px;
	background: #000;
	border: 2px solid @kolor-czcionki-glowny;
	line-height: 47px;
}

.owl-prev {
	border-left: 1px solid #474747;
	img{
		//transform: rotate(180deg);
	}
}
.owl-nav{
	margin-left: 148px;

}

.under-slider{
	margin-top: -32px;
	padding-left: 24px;
}

.owl-next{
	border-left: 1px solid #474747;
	img{
		transform: rotate(180deg);
	}

}
.num{
	padding: 14px 20px;
	font-size: 17px;
	color: #9f9f9f;
	height: 53px;
	width: 73px;
	background: #000;
	margin-left: 25px;
	margin-top: -27px;
	z-index: 2;
	display: inline-block;
	overflow: auto;
	position: relative;
}
.owl-prev{
	margin-left: -50px;
	//@media (max-width: 560px)
	//{
	//	left: 30%;
	//}
	//@media (max-width: 479px)
	//{
	//	left: 15px;
	//}
}

//-----------------------------NOWA STRONA
.contact-wrapper-file{
	background-color: #000;
	padding: 35px;
	padding-bottom: 20px;
	.btn{
		border: 1px solid;
		margin-top: 35px;
		@media (max-width: 991px){
			font-size: 14px;
			&:after{
				//bottom: -7px;
				right: -18px;
			}
		}
		@media (max-width: 330px){
			position: relative;
			left: -10px;
		}
	}
	.contact-file-logo{
		position: absolute;
		@media (max-width: 767px){
			position: unset;
			display: block;
			text-align: center;
			margin: 0 auto;
		}

	}
	h3{
		font-size: 56px;
		color: #fff;
		margin-left: 60px;
		letter-spacing: -1px;
		padding-top: 3px;
		font-weight: 300;
		@media (min-width: 1201px) and (max-width: 1450px){
			font-size: 40px;
		}
		@media (min-width: 992px) and (max-width: 1225px){
			font-size: 38px;
		}
		@media (max-width: 991px){
			font-size: 27px;
			margin-left: 0;
		}
		@media (max-width: 767px){
			text-align: center;
		}
		@media (max-width: 485px){
			margin-left: 0;
		}
	}
	h6{
		margin-left: 60px;
		color: @kolor-czcionki-file;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 300;
		padding-top: 35px;
		@media (max-width: 767px){
			text-align: center;
			margin-left: 0;
		}
	}
	ul{
		padding-top: 21px;
		@media (max-width: 767px){
			text-align: center;
		}
		li{
			list-style: none;
			a{
				color: #fff;
				font-size: 17px;
				font-family: @czcionka-glowna;
				font-weight: 300;
			}
		}
	}
	i{
		padding-right: 20px;
		font-size: 17px;
	}
}

.page-wrapper{
	padding: 35px;
	background-color: #fff;
	@media (max-width: 1450px){
		background: transparent;
	}
	@media (max-width: 991px){
		padding-left: 0;
		padding-right: 0px;
	}
}

.page-name{
	position: relative;
	bottom: 25px;
	@media (max-width: 991px){
		margin-left: 35px;
	}
	h6{
		font-size: 14px;
		color: #fff;
		position: absolute;
		top: 35px;
		left: 55px;
	}
}

.lokalizacja-mampa{
	.mb{
		@media (max-width: 1200px){
			margin-top: 0;
		}
	}
}

.lokalizacja-oryginal{
    margin-top:-120px;
    
	.page-desc{
            background: none;
		min-height: auto;
		padding-top: 40px;
		padding-right: 40px;
		padding-left: inherit;
		padding-bottom: inherit;
		@media (min-width: 1450px){
			padding-left: 35px;
		}
		@media (max-width: 991px){
			padding: 24px 10px 12px;
		}
	}
}

.page-desc{
	font-family: @czcionka-pomocnicza;
	padding-top: 3px;
	max-width: 925px;
	background: #fff;
	margin-left: -35px;
	padding-left: 35px;
	padding-bottom: 12px;
	padding-right: 50px;
	min-height: 662px;
	@media (max-width: 1450px){
		max-width: 100%;
		margin-left: auto;
	}
	@media (max-width: 991px){
		margin-left: 0;
	}
	p{
		padding-bottom: 20px;
	}
	h1{
		font-size: 56px;
		font-weight: 400;
		color: #000;
		@media (max-width: 991px){
			font-size: 40px;
		}
		@media (max-width: 767px){
			font-size: 30px;
		}
	}
	@media (max-width: 991px){
		//padding: 3px 10px 12px 10px;
	}
}
.bg-nav-photo{
	height: 472px;
	background-repeat: no-repeat !important;
	background-position: center;
	background-size: cover !important;
	z-index: -1;
	position: relative;
	@media (max-width: 991px){
		height: 500px;
		background-size: contain !important;
	}
	@media (max-width: 850px){
		height: 460px;
	}
	@media (max-width: 810px){
		height: 450px;
	}
	@media (max-width: 767px){
		height: 440px;
	}
	@media (max-width: 730px){
		height: 430px;
	}
	@media (max-width: 680px){
		height: 410px;
	}
	@media (max-width: 620px){
		height: 390px;
	}
	@media (max-width: 580px){
		height: 380px;
	}
	@media (max-width: 520px){
		height: 340px;
	}
	@media (max-width: 480px){
		height: 330px;
	}
	@media (max-width: 440px){
		height: 320px;
	}
	@media (max-width: 400px){
		height: 310px;
	}
	@media (max-width: 360px){
		height: 300px;
	}
	@media (max-width: 320px){
		height: 290px;
	}
}




.page-map{
	img{
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	@media (max-width: 767px){
		img{
			background: url("img/small-map.jpg");
		}
	}
}
.lokalizacja{

	.small-wrapper{
		margin-top: -260px;
		position: relative;
		.kontakt-page-photo{
			top: 185px;
			@media (max-width: 1450px){
				display: none;
			}
		}
	}
	.page-photo{
		position: absolute;
		right: -35px;
		top: 224px;
		display: block;
		img{
			height:530px;
			width: 315px;
		}
		@media (max-width: 1450px){
			//display: none;
			position: relative;
			right: auto;
			top: auto;
			margin: 0 auto;
			text-align: center;
		}
	}
	.kontakt-small-wrapper{
		margin-top: -220px;
		form{
			padding-top: 40px;
		}
		@media (max-width: 767px){
			margin-top: 0;
		}
	}
	.contact-wrapper-file{
		margin-bottom: 90px;
		@media (max-width: 767px){
			margin-bottom: 30px;
		}
	}
}

#contact-wrapper{
	margin-top: -50px;
	.btn{
		margin-top: 0px;
		min-width: 285px;
		text-transform: uppercase;
		font-weight: 300;
		.basic-transition;
	}
}
//---------------------------------- inwestycja
.white-bg{
	background: #fff;
}

.lokalizacja .invest-numbers{
	@media (max-width: 1200px){
		position: relative;
		top: 0;
		right: auto;
		ul{
			text-align: center;
			li{

				display: inline-block;
				margin-right: 150px;
				@media (max-width: 613px){
					&:last-of-type{
						margin-top: 0;
					}
				}
			}
		}
	}
	.lista{
		line-height: 1;
		padding-top: 30px;
		padding-left: 51px;
	}
	ul{
		position: relative;
		right: 155px;
		top: 30px;
		@media (max-width: 1200px){
			right: auto;
			top: auto;
		}
	}
	li{
		margin-top: 60px;
		background: #f5f5f5;
		font-size: 30px;
		list-style: none;
		height: 140px;
		width: 140px;
	}
	.numbers{
		font-size: 56px;
		font-weight: 700;
		strong{
			font-weight: 700;
		}
	}
	.text{

		padding-left: 0;
	}


}
.short-desc{
	padding-left: 34px;
	padding-right: 20px;
	padding-top: 1px;
	padding-bottom: 85px;
	@media (max-width: 991px){
		padding-left: 15px;
		padding-bottom: 40px;
	}
	p{
		font-family: @czcionka-pomocnicza;
		color: #555454;
	}
	h4{
		font-size: 36px;
		text-transform: uppercase;
		font-weight: 300;
		@media (max-width: 991px){
			font-size: 24px;
		}
	}
}
.single-box{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom:10px;
	//margin-top: 70px;
	@media (max-width: 767px){
		padding-left: 0;
		padding-right: 0;
	}
}
.single-wrapper{
	background: #f5f5f5;
	padding: 40px 25px;
	height: 530px;
	margin-bottom: 140px;
	@media(max-width: 991px){
		padding: 40px 0px;
		text-align: center;
	}
	h4{
		font-size: 30px;
		font-weight: 700;
	}
	p{
		padding-top: 5px;
		position: absolute;
		background: rgba(244,244,244,0.9);
		z-index: 2;
		max-width: 505px;
		padding-bottom: 45px;
		font-family: @czcionka-pomocnicza;
		line-height: 1.8;
		@media (min-width: 992px) and (max-width: 1170px){
			max-width: 420px;
		}
		@media(max-width: 991px){
			position: relative;
			padding-bottom: 20px;
			//text-align: justify;
			max-width: 100%;
		}
	}
	img{
		top: 155px;
		position: absolute;
		@media (min-width: 992px) and (max-width: 1170px){
			max-width: 420px;
		}
		@media(max-width: 991px){
			position: relative;
			top: 0;
		}
	}
}

//------------ Aktualnosci
.aktualnosci{
  .white-bg{
    //margin-top: 115px;
    padding-left: 20px;
    padding-right: 40px;
	  @media (max-width: 991px){
		  padding-left: 0;
		  padding-right: 0;
	  }
  }
  .grey-line{
    margin: 15px auto 75px;
    height: 1px;
  }
}
.aktualnosci-wrapper{
  background: #fff;
  margin-left: -100px;
  padding-left: 50px;
}

.aktualnosci-photo{
	@media (max-width: 991px){
		text-align: center;
	}
}

.title-wrapper{
  h3{
    font-size: 56px;
    font-weight: 300;
	  @media (max-width: 767px){
		  font-size: 26px;
	  }
  }
  .grey-line{
    height: 6px;
    text-align: left;
    margin-left: 0;
    margin-bottom: 37px;
    margin-top: 30px;
  }
}
.text{
  p{
    font-family: @czcionka-pomocnicza;
    font-weight: 400;
    font-size: 17px;
    color: #555454;
  }
  padding-left: 35px;
  padding-top: 4px;
  position: relative;
  z-index: 2;
  padding-bottom: 10px;
}
.aktualnosc-wrapper{
  .date{
    font-family: @czcionka-glowna;
    font-size: 14px;
    color: #969696;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: -10px;
  }

  .square{
    position: absolute;
    top: 0;
  }
  strong{
    h2{
      font-weight: 700;
    }
  }
  h2{
    font-size: 34px;
	  cursor: default;
    font-family: @czcionka-glowna;
	  @media (max-width: 480px){
		  font-size: 20px;
		  padding-bottom: 10px;
	  }
  }
	@media (max-width: 991px){
		padding-left: 15px;
	}
}
//.show-search{
//	position: relative !important;
//	left: 50% !important;
//	top: 37px !important;
//	font-size: 27px !important;
//	display: block;
//	cursor: pointer;
//	@media (min-width: 992px){
//		display: none !important;
//	}
//}
#first-l{
	color: #fff;
}
.select-section{
	@media (max-width: 991px){
		//opacity: 0;
	display: none;
	}
}
.select-block{
	//position: relative;
	opacity: 1;
	position: fixed;
}
.select-wrapper-outer{
	height: 120px;
}
//Mieszkania
.select-fixed{
	.basic-transition;

	top: 97px;
	left: 0px;
	right: 0px;
	background: white;
	z-index: 3;
	padding-bottom: 25px !important;
	border-bottom: 2px solid #f5f5f5;
	@media (min-width: 1200px){
		position: fixed;
	}
	@media (max-width: 991px){
		//display: none;
		//opacity: 0;
		//display: none;
		top: 0;
		padding: 50px 0;

		//position: relative;
	}
}
.wrapp{
  position: relative;
}
.mieszkania-square-text{
  position: absolute;
  left: 60px;
  top: 70px;

}
.cena{
	color: #969696;
}

.mieszkania .simple-item .open .btn{
	background: #fff;
}
.noUi-handle{
	background: #000 !important;
	border-radius: 50% !important;
	height: 24px !important;
	width: 24px !important;
	top: -14px!important;
	outline: none;
	box-shadow: none !important;
	border: 1px solid #000 !important;
}
.noUi-base{
	top: 5px;
}
.noUi-handle-lower{
	border-radius: 50%;
}
.noUi-handle:before, .noUi-handle:after{
	width: 0 !important;
	position: relative !important;
	background: #000 !important;
}
.lokalizacja-wpis{
	.contact-wrapper-file{
		margin-bottom: 90px;
		@media (max-width: 767px){
			margin-bottom: 30px;
		}
	}
}

#slid{
	position: relative;
	top: 10px;
	border: 1px solid #000;
	max-width: 200px;
	margin: 0 auto;
	height: 10px;
	@media (max-width: 1200px){
		top: 8px;
	}
	@media (max-width: 991px){
		top: 7px;
	}
}
.ui-state-default, .ui-widget-content .ui-state-default{
	background: #000 !important;
	border-radius: 50%;
	height: 24px !important;
	width: 24px !important;
	top: -10px !important;
	outline: none;
}
.square{
	height: 140px;
	width: 140px;
	background-color: #f5f5f5;
	display: inline-block;
}
.photo-simple-wrapper{
  img{
    margin-right: -15px;
	  z-index: 0;
	  position: relative;
  }
}
.mieszkanie-simple-wrapper{
  padding-left: 45px;
	@media (max-width: 991px){
		padding-left: 0;
		padding-right: 0;
	}
}
.mieszkania{
  select{
    border: none;
    border-bottom: 1px solid #f5f5f5;
    font-size: 20px;
    font-family: @czcionka-glowna;
    min-width: 180px;
    font-weight: 400;
    outline: none;
  }
	.numbers{
		font-size: 56px;
		font-weight: 700;
		font-family: @czcionka-glowna;
	}
	.text{
	}
  .simple-item{
	  text-align: center;
	  margin: 0 10px;
	  @media (min-width: 992px){
		  text-align: left;
	  }
	  @media (max-width: 767px){
		  padding-bottom: 15px;
	  }
    p{
      font-size: 14px;
      font-weight: 300;
      color: #969696;
    }
  }
}

.square-wrapper{
	position: relative;
	left: 55px;
}


.map-section{
	padding-top: 35px;
	padding-left: 35px;
	//background: url("img/mieszkania-schemat.jpg") top 38px right 30px no-repeat;
	min-height: 480px;
	background-color: #fff;
	@media (max-width: 991px){
		padding-left: 15px;
	}
	.grey-line{
		@media (max-width: 991px){
			margin-bottom: 40px;
		}
	}
}
.flats-map{
	min-height: 439px;
	@media (min-width: 481px){
		min-height: 439px;
		max-width: 700px;
		margin: 0 auto;
		position: relative;
	}
}

.short-text-flat{
	p{
		font-family: @czcionka-pomocnicza;
		color: #555454;
		position: relative;
		z-index: 2;
	}
	h3{
		line-height: 1.5;
		font-size: 56px;
		font-weight: 300;
		@media (max-width: 767px){
			font-size: 30px;
		}
	}
}

.grey-line{
	height: 6px;
	width: 140px;
	background: #f5f5f5;
	display: block;
	margin-top: 80px;
}

.grey-centering{
	margin: 32px auto 40px;
	height: 1px;
}

//--------------- Switch--------------
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 43px;
	height: 16px;
    top: 5px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: .4s;
	transition: .4s;
    border: 2px solid #000;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 19px;
	bottom: -10px;
	background-color: #000;
	-webkit-transition: .4s;
	transition: .4s;
}


//.slider:active {
//	&:before{
//		background-color: #f5f5f5;
//	}
//}

input:checked + .slider {
	background-color: #fff;
}

input:focus + .slider {
	box-shadow: 0 0 1px #fff;
}

input:checked + .slider:before {
	-webkit-transform: translateX(-22px);
	-ms-transform: translateX(-22px);
	transform: translateX(-22px);
	background-color: #f5f5f5;
	border: 1px solid #000000;
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
	height: 10px;
	border: 1px solid;
}

.slider.round:before {
	border-radius: 50%;
}
//--------------------------------

.select-section{
	padding-top: 35px;
    padding-bottom: 150px;
}
.flat-background{
	background: #fff;
	padding-top: 75px;
	@media (max-width: 991px){
		padding-top: 10px;
		.text-right{
			text-align: center !important;
		}
	}
	@media (max-width: 700px){
		margin-top: -150px;
	}
	@media (max-width: 500px){
		margin-top: -250px;
	}
	@media (max-width: 400px){
		margin-top: -300px;
	}
	.pagination{
		color: #9c9c9c;
		font-weight: 400;
		height: auto;
		margin-top: -95px;
		@media (max-width: 991px){
			margin-top: -40px;
		}
	}
	.active{
		font-size: 34px;
		font-weight: 700;
		color: #000;
	}

	//.raquo{
	//	&:after{
	//		content: "\00BB";
	//		position: relative;
	//		padding-left: 5px;
	//	}
	//}
}
#prev-page{
	//position: relative;
	//top: 51px;
	font-size: 34px;
	color: #000;
	font-weight: 700;
	padding-right: 25px;
	&:after{
		content: "\00AB";
		position: relative;
		padding-left: 5px;
	}
}
#next-page{
	//position: relative;
	//top: -51px;
	font-size: 34px;
	color: #000;
	font-weight: 700;
	&:after{
		content: "\00BB";
		position: relative;
		padding-left: 5px;
	}
}

#next-page, #prev-page{
	position: relative;
	top: -1px;
	cursor: pointer;
}

.rezerwacja{
	//text-decoration: line-through;
	color: #9c9c9c !important;
	&:after{
		//background: x;
		content: 'Zarezerwowane';
		display: inline-block;
		padding: 0 20px;
		font-weight: 300;
		text-transform: uppercase;
		color: #9c9c9c;
		font-size: 14px;
		background: url("img/rec.jpg") left no-repeat;
		background-color: #e5e5e5;
		top: -7px;
		position: relative;
		margin-left: 20px;
		@media (max-width: 1200px){
			margin-top: 15px;
		}
	}
}

.sprzedany{
	text-decoration: line-through;
	color: #9c9c9c !important;
	&:after{
		//background: x;
		content: 'Sprzedane';
		display: inline-block;
		padding: 0 20px;
		font-weight: 300;
		text-transform: uppercase;
		color: #9c9c9c;
		font-size: 14px;
		background: url("img/rec.jpg") left no-repeat;
		background-color: #e5e5e5;
		top: -7px;
		position: relative;
		margin-left: 20px;
		@media (max-width: 1200px){
			margin-top: 15px;
		}
	}
}
.each-flat{
	margin-top: 40px;
	.grey-line{
		height: 1px;
		width: 140px;
		background: #f5f5f5;
		display: block;
		margin-top: 32px;
		margin-bottom: 44px;
	}
	.mieszkanie{
		font-weight: 700;
		font-size: 34px;
		padding-top: 23px;
		@media (max-width: 1200px){
			font-size: 27px;
		}
	}
	@media (max-width: 991px){
		text-align: center;
	}
	ul{
		li{
			display: inline-block;
			border-radius: 50%;
			border: 1px solid #000;
			height: 100px;
			width: 100px;
			margin-right: 35px;
			text-align: center;
			@media (max-width: 991px){
				margin-right: 0;
			}
			@media (max-width: 480px){
				height: 70px;
				width: 70px;
			}
			.first-span{
				position: relative;
				top: 15px;
				font-size: 30px;
				font-weight: 700;
				line-height: 50px;
				@media (max-width: 480px){
					font-size: 20px;
					top: 13px;
					line-height: 35px;
				}
			}
			.text-flat{
				font-weight: 400;
				font-size: 17px;
				font-family: @czcionka-pomocnicza;
				line-height: 39px;
				@media (max-width: 480px){
					line-height: 35px;
				}
			}
		}
	}
}



.kontakt-page-desc{
	padding-top: 17px;
	padding-bottom: 100px;
	font-size: 24px;
	font-family: @czcionka-glowna;
	@media (max-width: 767px){
		font-size: 18px;
		padding-bottom: 0;
	}
	@media (max-width: 500px){
		padding: 10px 0;
	}
	h1{
		font-weight: 300;
		line-height: 33px;
	}
	ul{
		margin-top: 90px;
		li{
			margin-top: 22px;
			list-style: none;
			font-weight: 700;
			span{
				font-size: 30px;
				padding-left: 5px;
			}
		}
	}
	h6{
		padding-top: 55px;
		font-family: @czcionka-pomocnicza;
		font-size: 13px;
		color: #969696;
		padding-bottom: 20px;
	}

}

.contact-info{
	position: relative;
	padding-left: 68px;
	@media (max-width: 991px){
		text-align: center;
	}
	@media (max-width: 767px){
		padding-left: 0;
	}
	ul{
		position: relative;
		z-index: 2;
	}

	li{

		&:first-of-type{
			&:before{
				display: inline-block;
				content: url("img/phone-grey.png");
				padding-right: 20px;
			}
		}
		&:last-of-type{
			&:before{
				content: url("img/envelope-grey.png");
				padding-right: 20px;
			}
		}

	}
	.square{
		position: absolute;
		left: 313px;
		z-index: 1;
		@media (max-width: 767px){
			left: 126px;
		}
	}
	p{
		color: #000;
		font-size: 24px;
		font-family: @czcionka-glowna;
		line-height: 0px;
	}
}

//.pulsing{
//	&:hover{
//		animation-name: pulse_animation;
//		animation-duration: 2000ms;
//		//transform-origin: 70% 70%;
//		animation-iteration-count: infinite;
//		animation-timing-function: linear;
//	}
//}
//@-webkit-keyframes pulse_animation {
//	0% {
//		opacity: 0;
//	}
//	100% {
//		opacity: 0.7;
//	}
//}


.litera{
	content: " ";
	background: #fff;
	border-radius: 50%;
	display: block;
	position: absolute;
	overflow: auto;
	z-index: 1;
	left: 91px;
	top: 77px;
	color: #000;
	padding: 0px 14px;
	font-size: 36px;
	cursor: pointer;
	border: 1px solid #000;
	overflow: unset;
	&:hover{
		color: #fff;
		background: #000;
	}
	@media (max-width: 360px){
		padding: 0 6px;
		font-size: 20px;
	}
}
#min-val{
	padding-right: 20px;
	position: relative;
	//top: 36px;
	left: -28px;
	@media (min-width: 991px){
		left: 0;
	}
}
#max-val{
	//top: 36px;
	position: relative;
	right: -28px;
}
.accept{
	background: #000;
	color: #fff;
	&:after{
		content: '\f00c';
		font-family: FontAwesome;
		font-size: 20px;
		position: absolute;
		position: absolute;
		right: -15px;
		top: -15px;
		color: #000;
	}
}
.literaA{
	right: 224px;
	left: auto;
	top: 23%;
	@media (min-width: 991px){
		right: 195px;
	}
	@media (min-width: 768px) and (max-width: 991px){
		right: 155px;
	}
	@media (max-width: 767px){
		left: 70%;
		top: 16%;
		right: auto;
	}
	@media (max-width: 480px){
		left: 69%;
		top: 12%;
		right: auto;
	}
	@media (max-width: 360px){
		left: 70%;
		top: 9%;
		right: auto;
	}
	@media (max-width: 320px){
		left: 69%;
		top: 6%;
		right: auto;
	}
}
.status{
	height: 20px;

}
.literaB{
	right: auto;
	left: 38%;
	bottom: 28%;
	top: 59%;
	margin: 0 auto;
	@media (min-width: 768px){
		left: 37%;
	}
	@media (max-width: 767px){
		left: 46%;
		top: 47%;
		right: auto;
		bottom: auto;
	}
	@media (max-width: 480px){
		left: 44%;
		top: 33%;
		right: auto;
	}
	@media (max-width: 360px){
		right: auto;
		left: 46%;
		top: 25%;
		margin: 0 auto;
		bottom: auto;
	}
	@media (max-width: 320px){
		right: auto;
		left: 45%;
		top: 21%;
		margin: 0 auto;
		bottom: auto;
	}
}

.literaC{
	left: 13%;
	@media (min-width: 768px){
		left: 11%;
	}
	@media (max-width: 767px){
		left: 21%;
		top: 12%;
		right: auto;
	}
	@media (max-width: 480px){
		left: 20%;
		top: 9%;
		right: auto;
	}
	@media (max-width: 360px){
		left: 24%;
		top: 7%;
	}
	@media (max-width: 320px){
		left: 22%;
		top: 5%;
	}
}
.fig-map{
	width: 732px;
	height: 439px;
	position: relative;
	left: -70px;
	@media (max-width: 991px){
		left: auto;
		display: block;
		margin: 0 auto;
		width: 633px;
	}
	@media (max-width: 767px){
		height: auto;
	}

	@media (max-width: 360px){
		width: 732px;
		left: auto;
		position: relative;
		height: auto;
	}
	@media (max-width: 320px){
		width: 732px;
		left: auto;
		position: relative;
		height: auto;
	}
}


@media (min-width: 1348px) and (max-width: 1450px){
	.fig3{
		left: 54%;
		right: auto;
	}
}


.wrapper1{
	.fig1, .fig2, .fig3{

		@media (max-width: 991px){
			width: 150px;
		}
		@media (min-width: 681px){
			width: auto;
		}
		@media (max-width: 482px){
			width: 118px;
		}
		@media (max-width: 360px){
			width: 85px;
		}
		@media (max-width: 320px){
			width: 75px;
		}
	}
	.fig1, .fig2 {

		@media (min-width:768px) and (max-width: 991px) {
			margin-left: 95px;
		}
	}
	.literaC, .literaB{
		@media (min-width:768px) and (max-width: 991px) {
			margin-left: 95px;
		}
	}
}
.fig1{
	position: absolute;
	left: 39px;
	top: 39px;
	cursor: pointer;
	&:hover{
		//opacity: 0.6;
		.basic-transition;
		animation-name: pulse_animation;
		animation-duration: 2000ms;
		//transform-origin: 70% 70%;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
	&:after{
		content: " ";
		height: 33px;
		width: 33px;
		background: #000;
		border-radius: 50%;
		display: block;
		position: absolute;
		overflow: auto;
	}
	@media (min-width: 1251px){
		left: 2%;
	}
	@media (min-width: 768px) and (max-width: 1250px){
		left: 113px;
		top: 40px;
		left: 0%;
	}
	@media (min-width: 630px) and (max-width: 767px){
		position: absolute;
		left: 85px;
		top: 33px;
		cursor: pointer;
	}
	@media (min-width: 483px) and (max-width: 629px){
		position: absolute;
		left: 70px;
		top: 27px;
		cursor: pointer;
	}
	@media (max-width: 482px){
		position: absolute;
		left: 70px;
		top: 24px;
		cursor: pointer;
	}
	@media (max-width: 360px){
		position: absolute;
		left: 55px;
		top: 16px;
		cursor: pointer;
	}
	@media (max-width: 320px){
		position: absolute;
		left: 49px;
		top: 13px;
		cursor: pointer;
	}

}

.fig2{
	position: absolute;
	bottom: 70px;
	left: 28%;
	cursor: pointer;
	&:hover{
		//opacity: 0.6;
		.basic-transition;
		animation-name: pulse_animation;
		animation-duration: 2000ms;
		//transform-origin: 70% 70%;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
	@media (min-width: 768px){
		position: absolute;
		bottom: 72px;
		left: 28%;
		cursor: pointer;
	}
	@media (min-width: 630px) and (max-width: 767px){
		position: absolute;
		bottom: 141px;
		left: 41%;
		cursor: pointer;
		width: 150px !important;
	}
	@media (min-width: 483px) and (max-width: 629px){
		position: absolute;
		bottom: 145px;
		left: 39%;
		cursor: pointer;
		width: 150px !important;
	}
	@media (max-width: 482px){
		position: absolute;
		top: 123px;
		left: 38%;
		cursor: pointer;
	}
	@media (max-width: 360px){
		position: absolute;
		top: 91px;
		left: 38%;
		cursor: pointer;
	}
	@media (max-width: 320px){
		position: absolute;
		top: 75px;
		left: 38%;
		cursor: pointer;
	}
}

.fig3{
	cursor: pointer;
	position: absolute;
	right: 21%;
	top: 6%;
	&:hover{
		//opacity: 0.6;
		.basic-transition;
		animation-name: pulse_animation;
		animation-duration: 2000ms;
		//transform-origin: 70% 70%;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
	@media (min-width: 768px){
		cursor: pointer;
		position: absolute;
		right: 20%;
		top: 5%;
	}
	@media (min-width: 768px) and (max-width: 991px){
		cursor: pointer;
		position: absolute;
		right: 13%;
		top: 5%;
	}
	@media (min-width: 630px) and (max-width: 767px){
		cursor: pointer;
		position: absolute;
		right: 11%;
		top: 5%;
	}
	@media (min-width: 483px) and (max-width: 629px){
		position: absolute;
		right: 11%;
		top: 3%;
		cursor: pointer;
	}
	@media (max-width: 482px){
		cursor: pointer;
		position: absolute;
		right: 13%;
		top: 3%;
	}
	@media (max-width: 360px){
		cursor: pointer;
		position: absolute;
		right: 14%;
		top: 2%;
	}
	@media (max-width: 320px){
		cursor: pointer;
		position: absolute;
		right: 14%;
		top: 1%;
	}
}

//.sector-a{
//	height: 111px;
//	width: 181px;
//	display: inline-block;
//	margin-top: 51px;
//	transform: rotate(3deg);
//	margin-left: 32px;
//	.pulsing;
//	&:hover{
//		background: #e3e3e3;
//	}
//}
//#sektor-a{
//	height: 48px;
//	width: 105px;
//	display: inline-block;
//	margin-top: 105px;
//	transform: rotate(0deg);
//	z-index: 2;
//	.pulsing{
//		&:hover{
//			animation-name: pulse_animation;
//			animation-duration: 2000ms;
//			//transform-origin: 70% 70%;
//			animation-iteration-count: infinite;
//			animation-timing-function: linear;
//		}
//	}
//}

.footer-show{
	padding-right: 15px;
	padding-top: 40px;
	padding-bottom: 40px;
	font-family: @czcionka-pomocnicza;
	font-size: 13px;
	color: #a1a1a1;
	background-color: #f5f5f5;
	//margin-top: 50px;
	background: url("img/bg.png");

	@media (max-width: 991px){
		margin-top: 10px;
		background: transparent;
	}
	.logo-idv{
		float: right;
		@media (max-width: 991px){
			text-align: center;
			margin: 0 auto;
			display: block;
			float: none;
		}
	}
	ul{
		padding-left: 15px;
		@media (max-width: 991px){
			text-align: center;
		}
		@media (max-width: 430px){
			padding-left: 0;
		}
		li{
			display: inline-block;
			margin-right: 20px;
			@media (max-width: 430px){
				display: block;
				padding-bottom: 10px;
				margin-right: 0;
			}
		}
	}
	p{
		padding-top: 20px;
		font-weight: 300;
	}
}


.mieszkania{
	background: url("img/bg.png");
	.open{
		.dropdown-menu{
			display: block;
		}
		.btn{
			margin: 0;
			box-shadow: none;
			background: white;
			&:hover{
				-webkit-animation:none;
				animation: none;
				background: transparent;
			}
			&:after{
				content: "";
			}
		}
	}
	.multiselect-native-select{
		button{
			&:hover{
				-webkit-animation:none;
				animation: none;
				background: transparent;
			}
			margin: 0;
			background: none;
			color: #000;
			&:after{
				content: "";
			}
			border: none;
			border-bottom: 1px solid #f5f5f5;
			text-align: left;
			padding: 2px 80px 2px 0;
			box-shadow: none;
		}
		.caret{
			right: 0;
			top: 10px;
			position: absolute;
		}
	}
}

.rzut{
	color: #FFFFFF;
	text-transform: uppercase;
	background: black;
	padding: 0px 25px;
	display: inline-block;
	line-height: 50px;
	margin-top: 40px;
	border: 1px solid #000;
	&:hover{
		-webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
		animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
		color: #000;
		background: #f5f5f5;
		&:after{
			content: url(img/rzut-hover.svg);
		}
	}
	&:after{
		content: url(img/rzut.svg);

		display: inline-block;
		top: 7px;
		position: relative;
		padding-left: 15px;
	}
}


.pb{
	padding-bottom: 80px;
	@media (max-width: 991px){
		padding-bottom: 30px;
	}
}

.pt{
	padding-top: 240px;
	@media (max-width: 991px){
		padding-top: 120px;
	}
}

.mt{
	margin-top: 240px;
	@media (max-width: 991px){
		margin-top: 120px;
	}
}

.li-s{
	position: relative;
	top: -30px;
}

.margin-center{
	margin: 0 auto;
}
.lokalizacja{
	.mb{
		overflow: hidden;
	}
}
.mb{
	margin-bottom: 80px;
	@media (max-width: 991px){
		margin-top: 40px;
	}
}

.page-map{
	.bg-nav-photo{
		background-color: #fff;
	}
}

.szukaj{
	text-align: center;
	position: relative;
	top: 20px;
	@media (min-width: 1200px){
		display: none;
	}
}

.szukaj-close{
	background: #000;
	color: #fff;
	padding: 5px 10px;
	position: relative;
	top: 25px;
	cursor: pointer;
	@media (min-width: 1200px){
		display: none;
	}
}

.szukaj-fixed{
	background: #000;
	border: 1px solid #000;
	color: #fff;
	position: fixed;
	top: 123px;
	right: 15px;
	padding: 5px 10px;
	z-index: 99;
	&:hover{
		background: #fff;
		color: #000;
		cursor: pointer;
	}
}
.x{
	position: absolute;
	top: -30px;
	right: 20px;
	cursor: pointer;
	@media (min-width: 991px){
		display: none;
	}
}
.x:after{
	display: inline-block;
	content: "\00d7"; /* This will render the 'X' */
	font-size: 70px;
}

.off{
	display: block;
}


.roll {
	display: inline-block;
	overflow: hidden;

	vertical-align: top;
	//line-height: 44px;
	-webkit-perspective: 400px;
	-moz-perspective: 400px;

	-webkit-perspective-origin: 50% 50%;
	-moz-perspective-origin: 50% 50%;
}
.roll span {
	font-size: 17px;
	display: inline-block;
	position: relative;
	line-height: 35px;
	padding: 0px 5px;
	color: #000;
	//padding: 15px 10px;
	//padding: 10px 2px;
	//line-height: 49px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;

	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
}
.roll:hover span {
	background: #111;
	//line-height: 44px;
	-webkit-transform: translate3d(0,0,-28px) rotateX(90deg);
	-moz-transform: translate3d(0,0,-28px) rotateX(90deg);
	&:after{
		opacity: 1;
	}
}



.roll span:after {
	content: attr(data-title);
	line-height: 35px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0px 5px;
	opacity: 0;
	color: #fff;
	background: #000;

	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;

	-webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
	-moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );

}

.main-site-logo-brand{
	position: absolute;
	bottom: 0;
	display: block;
	.facebook{
		//display: block;
		top: auto;
		@media (max-width: 991px){
			bottom: 0;
			left: 0;
		}
	}
	.social-icons{
		margin-left: -18px;
		margin-bottom: 50px;
		@media (max-width: 1199px){
			margin-left: 20%;
			margin-bottom: 0;
		}
	}
	@media (min-width: 1200px){

		margin-left: 64px;
	}
	@media (max-width: 991px){

		left: 50%;
	}
	@media (max-width: 767px){

		left: 39%;
	}
}

.small-map-show{
	@media (min-width: 768px){
		display: none;
	}
}

.small-map-hide{
	@media (max-width: 767px){
		display: none;
	}
}

.cl-effect-4{
	padding: 10px 15px;
	@media (max-width: 1199px){
		padding: 0;
	}
}

.page-template .navbar .cl-effect-4 a {
	padding: 0 0 10px;
}

.cl-effect-4 a::after {
	padding: 0 10px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #000;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);

}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:active::after{
	height: 2px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.paginationPage{
	padding-right: 3px;
	cursor: pointer;
}

.hover-btn{
	background: #000;
	color: #fff;
	.basic-transition;
}

.white-map{
	background-color: #fff;
}
.is-active{
	z-index: 99;
}
.navbar-toggle .icon-bar{
	width: 50px;
	height: 3px;
	background-color: #ecf0f1;
	display: block;
	margin: 8px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.navbar-toggle.is-active .icon-bar:nth-child(2){
	width: 30px;
}
.navbar-toggle.is-active .icon-bar:nth-child(3){
	width: 40px;
}


.navbar-toggle.is-active .icon-bar{
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}

