/*
Theme Name: idvetmp

Author: ideative.pl
Author URI: http://ideative.pl/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: idvetmp
Tags:

*/

@import "css/bootstrap.min.css";


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}
body, html{
    font-size: 16px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
	text-decoration: none;
}

a:active,
a:hover {
	outline: 0;
	text-decoration: none;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background-image: url(img/bg.jpg); /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
        max-width: 100%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


/* ---theme styles--- */

/* variables */
.basic-transition {
	transition: all 0.2s ease-in-out;
}
@czcionka-glowna: 'Open Sans', Arial,sans-serif;
@czcionka-pomocnicza: 'Berkshire Swash', sans-serif;

@body_bg: rgb(250, 237, 203);

@zielony-mocny: #3f471d;

@berk-color: #c09e76;

@rozmiar-czcionki-glowny: 16px;

@kolor-czcionki-glowny: #000;
@kolor-linkow-glowny: @kolor-czcionki-glowny;
@kolor-linkow-glowny-hover:@kolor-linkow-glowny;

@btn-color: #fff8e6;
@btn-border-color: rgb(101, 114, 48);
@btn-bg-color: rgb(63,71,29);


@h1-czcionka: @czcionka-glowna;
@h1-kolor: @kolor-czcionki-glowny;
@h1-rozmiar: 30px;
@h1-waga: 'bold';


@h2_font_family: @czcionka-glowna;
@h2_-_color: @kolor-czcionki-glowny;
@h2_font_size: @rozmiar-czcionki-glowny;
@h2_-_weight: normal;

@h3_font_family: @czcionka-glowna;
@h3_-_color: @kolor-czcionki-glowny;
@h3_font_size: @rozmiar-czcionki-glowny;
@h3_-_weight: normal;

@h4_font_family: @czcionka-glowna;
@h4_-_color: @kolor-czcionki-glowny;
@h4_font_size: @rozmiar-czcionki-glowny;
@h4_-_weight: normal;

@h5_font_family: @czcionka-glowna;
@h5_-_color: @kolor-czcionki-glowny;
@h5_font_size: @rozmiar-czcionki-glowny;
@h5_-_weight: normal;

@h6_font_family: @czcionka-glowna;
@h6_-_color: @kolor-czcionki-glowny;
@h6_font_size: @rozmiar-czcionki-glowny;
@h6_-_weight: normal;

@subpage_header_color: @kolor-czcionki-glowny;
@subpage_header_font_size: @rozmiar-czcionki-glowny;
@subpage_header_font_weight: 400;


@btn_font_size: @rozmiar-czcionki-glowny;
@btn_font_color: @kolor-czcionki-glowny;
@btn_bg_color: transparent;
@btn_border_color: transparent;
@btn_border_size: 0;
@btn_border_radius: 0;


@label_font_size : @rozmiar-czcionki-glowny;
@label_font_weight : 400;
@label_font_color : @kolor-czcionki-glowny;
@input_font_size : @rozmiar-czcionki-glowny;
@input_font_color : @kolor-czcionki-glowny;
@input_border_color : @kolor-czcionki-glowny;
@input_border_radius : 0px;

@top_menu_contact_box_font_color : @kolor-linkow-glowny;


@footer_bg_color :transparent;
@footer_border_color : #fff;
@footer_text_color: #8e986f;


@menu_font_size : @rozmiar-czcionki-glowny;
@menu_color : @kolor-linkow-glowny;
@menu_color_hover : @kolor-linkow-glowny-hover;
@menu_-_waga_czcionki : 400;

@bg_top_section: transparent;
/* 


/* main styles */

body,html{
    color: @kolor-czcionki-glowny;
    font-size: @rozmiar-czcionki-glowny;
    font-family: @czcionka-glowna;
    //background: @body_bg;
}
a{
    text-decoration: none;
    color: @kolor-linkow-glowny;
    transition: all 0.5s ease 0s;
    &:hover{
        color: @kolor-linkow-glowny-hover;
    }
}


.btn{

	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: @btn-color;
	border-top: 3px solid @btn-border-color;
	border-right: 2px solid @btn-bg-color;
	border-left: 2px solid @btn-bg-color;
	border-bottom: 2px solid @btn-bg-color;
	background-color: @btn-bg-color;
	border-radius: 5px;

    &:hover{
        color: @btn-bg-color;
		background-color: @btn-color;
		border-top: 3px solid @btn-border-color;
		border-right: 2px solid @btn-bg-color;
		border-left: 2px solid @btn-bg-color;
		border-bottom: 2px solid @btn-bg-color;
    }
}

.navbar-header{
	height: 106px;
	background: url("img/navbar_belka.png");

}

.navbar{
    background: url("img/menu_bg.jpg");

	height: 1130px;
	border: none;
	background-position: top center;
	background-size: cover;
	@media (max-width: 1200px)
	{
		background-position: top 63px center;
		height: 960px;
	}
	@media (min-width: 631px) and (max-width: 768px)
	{
		height: 600px;
	}
	@media (max-width: 630px){
		height: 569px;
	}
	@media (max-width: 360px){
		height: 542px;
		background: url("img/test-tla/test1.jpg") top center;
		background-size: cover;
	}
	@media (max-width: 320px){
		background-position: top 63px center;
		height: 491px;
		//background: url("img/test-tla/test2.jpg") center center;
		background-size: cover;
	}
}

.navbar-collapse{
	border-top: none;
}

#navbar{
	background: url(img/navbar_belka.png) no-repeat;
	background-position: top center;
	@media (max-width: 768px)
	{
		margin-top: 0;
		padding-top: 0;
	}
}



h1{
    font-family: @h1-czcionka;
    color: @h1-kolor;
    font-size: @h1-rozmiar;
    font-weight: @h1-waga;
}

h2{
    font-family: @h2_font_family;
    color: @h2_-_color;
    font-size: @h2_font_size;
    font-weight: @h2_-_weight;
}
h3{
    font-family: @h3_font_family;
    color: @h3_-_color;
    font-size: @h3_font_size;
    font-weight: @h3_-_weight;
}
h4{
    font-family: @h4_font_family;
    color: @h4_-_color;
    font-size: @h4_font_size;
    font-weight: @h4_-_weight;
}
h5{
    font-family: @h5_font_family;
    color: @h5_-_color;
    font-size: @h5_font_size;
    font-weight: @h5_font_family;
}
h6{
    font-family: @h6_font_family;
    color: @h6_-_color;
    font-size: @h6_font_size;
    font-weight: @h6_-_weight;
}


/* header */

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background: none;
    border: none;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    background: @kolor-linkow-glowny;
    color: #fff;
}

.nav > li > a, .nav .dropdown-menu > li > a{
    font-weight: @menu_-_waga_czcionki;
    color: @menu_color;
    font-size: @menu_font_size;
}

.nav .dropdown-menu{
    text-align: center;
    >li{
        >a{
            font-weight: normal;
            &:hover{
                color: @menu_color_hover;
            }
        }
    }
}





.nav .dropdown-menu > li > a{
    
}

.nav .dropdown-menu .current-menu-item a{
    color: #fff;
}

.nav > li > a:hover, .nav > li > a:focus{
    background: none;
    color: @berk-color;
}
.nav > li.current-menu-item a{

    color: @berk-color;
    
}

.navbar{
    .container{
        position: relative;
    }
}

.navbar-brand{
    height: auto;
	position: absolute;
	margin: 0 auto;
	display: block;
	left: 40%;
	padding: 0;
	z-index: 2;
	img{
		@media (min-width: 768px) and (max-width: 1400px)
		{
			height: 160px;
		}
	}
	@media (max-width: 768px)
	{
		left: 40%;
		max-width: 120px;
		text-align: center;
	}

	@media (max-width: 480px)
	{
		left: 32%;
	}
}

.box-abs-t-r {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: @top_menu_contact_box_font_color;
  font-size: 30px;
  padding: 15px 10px 7px;
  position: absolute;
  right: 0;
  top: 0;
  span{
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 7px;      
  }
  a{
      color: @top_menu_contact_box_font_color;
      &:hover{
          text-decoration: none;
      }
  }
}

.admin-bar{
    
    .navbar-fixed-top{
        top: 32px;
    }
    
    .box-abs-t-r {
    }
}

.cb-visible{
    margin-top: 60px;
}


.navbar-toggle{
    float: left;
    margin-bottom: 0;
    margin-left: 8px;
    margin-top: 20px;
    .icon-bar{
        height: 3px;
		background: @btn-color !important;
    }
}


#navbar .navbar-nav a{
	text-align: center;
	position: relative;
	z-index: 99999;
  @media(max-width: 768px)
  {
    background-color: #372e2d;
  }
}


/* subpage header */

.subpage-header-bg{
    margin-bottom: 60px;
    background-repeat: repeat-x !important;
    background-size:cover !important;
    color: @subpage_header_color;
    font-size: @subpage_header_font_size;
    font-weight: @subpage_header_font_weight;
    h1{
        color: inherit !important;
        font-weight: 300;
        font-size:inherit !important;
    }
}

/* subpage header END */




/* footer */

footer{
    font-size: 16px;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.1;
    margin-bottom: 20px;
    background: @footer_bg_color;
    color: @footer_text_color;
    a{
        &:hover{
            text-decoration: none;
        }
    }
}




/* footer  END*/


/* formularze */

input.wpcf7-submit{
    background: @btn_bg_color;
    text-shadow: none;
    box-shadow: none;
    transition: all 0.5s ease 0s;
    border: @btn_border_size solid @btn_border_color;
    border-radius: @btn_border_radius;
    font-size: @btn_font_size;
    color: @btn_font_color;
    font-family: @czcionka-glowna;
    &:hover{
        color: @btn_bg_color;
        box-shadow: none;
        background: @btn_font_color;
        border-color: @btn_border_color;
    }
}
.wpcf7-textarea{
    height: 150px;
    width: 100%;
	@media (max-width: 992px)
	{
		width: 100%;
	}
}
.wpcf7-text{
    width: 100%;
	@media (max-width: 992px)
	{
		width: 100%;
	}
}

.wpcf7{
    p{
        margin-bottom: 5px;
    }
    label{
        display: block;
    }
}

/* formularze END */


/* gallery */

.gallery-content{
    h2{
        margin-top: 40px;
    }
    .row{
        &:first-of-type{
            h2{
                margin-top: 0;
            }
        }
    }
    .mgn-popup{
        display: inline-block;
        margin-bottom: 30px;
    }
}
.mfp-counter{
    display: none;
}

/* gallery END */


/* tabele */

table {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
    border-width: 1px;
}

table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td{
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
    
}


/* tabele END */

/* formularze */
label{
    font-size: @label_font_size;
    font-weight: @label_font_weight;
    color: @label_font_color;
    font-size: @label_font_size;
}
input, textarea{
    font-size: @input_font_size;
    color: @input_font_color;
    border-width: 1px;
    border-style: solid;
    border-color: @input_border_color;
    border-radius: @input_border_radius;
}

/* formularze END */

/* lista wpisów */

.post-row{
    margin-bottom: 30px;
}

.nav-links{
    .nav-previous{
        float: left;
    }
    .nav-next{
        float: right;
    }
}

.post-title a{
    text-decoration: none;
}

.single-post h2{
    margin-bottom: 40px;
}

/* lista wpisów END */

/* ---theme styles END--- */


// TODO boks na całą szerokosc z tekstem w kontenerze

@media (max-width: 992px){
    .owl-carousel-slider_text .item .item-text > div{
        font-size: 30px !important;
    }    
    
    .owl-carousel-slider_text .item{
        max-height: 400px;
    }
    
    
    section.text h2{
        font-size: 30px;
    }
    
    .cb-visible{
        margin-top: 10px;
    }    
    ul, ol{
        margin: 0;
    }
    table {
            width: 100% !important;
    }    
    
    .navbar-toggle {
      float: left;
      margin-bottom: 0;
      margin-left: 8px;
      margin-top: 20px;
      position: absolute;
      left: 0;
      top: 0;
    }    
    .box-abs-t-r{
        position: relative;
    }
}

@media (max-width: 768px) {
    
    .subpage-header-bg h1 {
      font-size: 35px;
    }    
    
    .navbar{
        .navbar-brand{
            width:100%;
            text-align:center;
            display:inline-block;
            img{
                display: inline-block;
				max-height: 126px;
            }
        }
    }
    
    #navbar .navbar-nav{
        text-align: center;
        a{
            border-bottom: 1px solid #413938;
            font-size: @menu_font_size / 0.9;
        }
    }
    
    h1{
        font-size: @h1-rozmiar / 1.2; //- 20%
    }
    h2{
        font-size: @h2_font_size / 1.2; // - 20%
    }
    
}

.berk-title{
	text-align: center;
	font-family: @czcionka-pomocnicza;
	font-size: 24px;
	color: @berk-color;

	p{
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

.see{
	margin-top: 45px;
}
.games-ct{
    background: #fff8e6;
    p{
        margin-bottom: 15px;
    }
    .btn{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.see-one-col{
	.shadow;
	min-height: 350px;
	background-color: @berk-color;
	margin-top: 20px;
	position: relative;
	.btn{
		position: absolute;
		bottom: 30px;
                left: 50%;
		text-align: center;
        //transform: translate3d(-38px,0,0);
        transform: translateX(-50%);
	}
}

.pogoda{

}

.box{
	background-color: @btn-color;
	margin-left: 0px;
	margin-right: 0px;
	.shadow;
}

.wheather{
	margin-top: 30px;
}

.wheather-one-col{
	background-color: @btn-color;
	.berk-title{
		p{
			margin-bottom: 0;
		}
	}
}

.wheather-box{
	height: 230px;
	text-align: center;
	margin-bottom: 50px;

}

.main-wrapper{
	background-color: @body_bg;
	margin-top: -670px;
	z-index: 222;
	position: relative;
	@media (max-width: 992px)
	{
		margin-top: -73%;
	}
	@media (min-width: 600px) and (max-width: 768px)
	{
		margin-top: -30%;
	}
	@media (min-width: 360px) and (max-width: 599px)
	{
		margin-top: -50%;
	}
}

.kolo-photo{
	padding: 45px 15px 0px;
	@media (max-width: 480px)
	{
		padding: 25px 15px 0px;
	}
	h1{
		font-size: 57px;
		color: @zielony-mocny;
		text-align: center;
                margin-top: 0;
		font-family: @czcionka-pomocnicza;
		margin-bottom: 0;
		@media (max-width: 480px)
		{
			font-size: 40px;
		}
	}
	h4{
		margin-top: 0;
		font-family: @czcionka-pomocnicza;
		text-align: center;
		font-size: 30px;
		color: @zielony-mocny;
		@media (max-width: 480px)
		{
			font-size: 20px;
		}
	}
	p{
		font-family: @czcionka-glowna;
		padding-left: 70px;
		padding-right: 70px;
		text-align: center;
		color: #120d0a;
		@media (max-width: 992px)
		{
			padding: 10px;
		}
	}

	img{
		height: 360px;
		@media (max-width: 1200px)
		{
			height: 300px;
		}
		@media (max-width: 992px)
		{
			height: 200px;
		}
		@media (max-width: 480px)
		{
			height: 100px;
		}
	}
	.btn{
		text-align: center;
		margin: 0 auto;
	}
}

.section-links{
	padding-bottom: 41px;
}


.ciekawe-linki{
	padding-bottom: 50px;
	ul{
		list-style: none;
		box-shadow: 2px;
		color: @btn-color;
                padding-left: 0;
		li{
			margin-left: 20px;
                        
                        
                        position:relative;
                        &:before{
                            position: absolute;
                            font-size: 14px;
                            left: -20px;
                            position: absolute;
                            top: 2px;
                            content: "\f0c8";
                            font-family: FontAwesome;
                        }                        
                        
			a{
				font-family: @czcionka-glowna;
				font-size: 18px;
				color: @zielony-mocny;
				font-weight:700;
				&:hover{
					color: @berk-color;
				}
			}
			@media (max-width: 992px){
				text-align: center;
                                margin-left: 0;
			}
			@media (max-width: 480px)
			{
				text-align: left;
				margin-left: 5px;
			}
		}
        @media (min-width: 992px){
			text-align: left;
          margin-left: 0;
        }

	}

	.berk-title{
		p{
			padding-top: 55px;
			padding-bottom: 17px;
			margin-bottom: 0;
		}
	}
}

.nav{
	margin-top: 20px;
	margin-bottom: 85px;
	@media (max-width: 768px)
	{
		margin-top: 0px;
	}
}

.nav > li > a{
	text-align: left;
	color: #faedcb;
	font-size: 28px;
	font-weight: 400;
	font-family: @czcionka-pomocnicza;
	@media (max-width: 1200px)
	{
		font-size: 20px;
	}
}


.liscie-prawo-gora{
	img{
		position: absolute;
		right:0;
		top: -68%;
		@media (min-width: 768px) and (max-width: 1400px)
		{
			height: 300px;
		}
		@media (max-width: 768px)
		{
			display: none;
		}
		@media (min-width: 992px) and (max-width: 1700px)
		{
			top: -59%;
		}
		@media (min-width: 768px) and (max-width: 992px)
		{
			top: -28%;
		}
	}
}

.liscie-prawo-dol{
	img{
		position: absolute;
		right: 0;
		top: 0;
		@media (min-width: 768px) and (max-width: 1400px)
		{
			height: 300px;
		}
		@media (max-width: 768px)
		{
			display: none;
		}
	}
}

.liscie-lewe{
	img{
		position: absolute;
		top: -43%;
		@media (min-width: 768px) and (max-width: 1400px)
		{
			height: 300px;
		}
		@media (max-width: 768px)
		{
			display: none;
		}
		@media (min-width: 768px) and (max-width: 992px)
		{
			top: -28%;
		}
	}
}

.main-container{
	position: relative;
}

.shadow{
	-webkit-box-shadow: 0px 0px 61px -23px #bdad82;
	-moz-box-shadow: 0px 0px 61px -23px #bdad82;
	box-shadow: 0px 0px 61px -23px #bdad82;


}

#moon_phases-2{
	center{
		margin-top: 20px
	}
	img{
		margin-top: -20px;
	}
}

#Olsztyn_z733{
	margin-top: 35px;
	top: 70px;
	position: relative;
}

.login{
	@media (min-width: 768px)
	{
		display: none;
	}
	font-size: 25px;
	a{
		color: @btn-color;
		padding-right: 23px;
		display: block;
		margin-top: 30px;
		i{
			color: #fff;
			font-size: 30px;
		}
	}
}

.small-menu{
	@media (min-width: 768px)
	{
		display: none !important;
	}
}

.section-right{
	@media (max-width: 767px)
	{
		display: none;
	}


	.nav > li > a
	{
		color: #e9c567;
		font-size: 20px !important;
		font-weight: 400;
		transition: all 0.2s ease-in-out;
		&:hover{
			color: @berk-color;
		}
		@media (min-width: 1100px) and (max-width: 1400px)
		{
			padding: 10px 5px;
		}
	}
}

.hide-large{

}

.hide-one{
	@media (min-width: 768px) and (max-width: 1100px)
	{
		display: none !important;
	}
}

.godz{
	font-size: 20px;
	font-weight: 700;
}

#wsch_zach{
	font-family: 'Open Sans', sans-serif;
	@media (max-width: 992px)
	{
		margin-top: -76px;
	}

}

.space{
	position: relative;
	top: 20px;
}

.new-page{
	min-height: 500px;
}

.darken-color{
	background-color: #faedcb;
}

.one-col{
	background-color: #fff8e6;
	padding: 80px 20px 20px;
	margin-bottom: 40px;
	min-height: 400px;
	.shadow;
	img{
		text-align: center;
		display: block;
		margin: 0 auto;
		padding-bottom: 55px;
	}
	p{
		text-align: center;
		margin: 0;
		line-height: 1.3;
	}
}

.big-title{
	font-size: 57px;
	color: @zielony-mocny;
	margin: 28px auto;
	@media (max-width: 992px)
	{
		font-size: 39px;
		padding-top: 20px;
	}
}

.about-us{
	padding: 0 35px;
	@media (max-width: 768px)
	{
		padding: 0;
	}
}

.text-under-photo{
	text-align: center;
	img{
		padding: 0;
	}
	h5{
		text-align: center;
		padding-top: 13px;
		font-size: 24px;
		color: @zielony-mocny;
		font-family: 'Berkshire Swash', sans-serif;
	}
	p{
		color: #c09e76;
		font-size: 18px;
		@media (max-width: 992px)
		{
			padding-bottom: 15px;
		}
	}
}

.col-zarzad{
	background-color: #fff8e6;
	min-height: 480px;
	max-width: 315px;
	margin-bottom: 40px;
	img{
		padding: 0 !important;
		@media (max-width: 992px)
		{
			width: 100%;
		}
	}
	@media (max-width: 992px)
	{
		max-width: 100%;
		min-height: 398px;
	}
	@media (max-width: 1200px)
	{
		min-height: 430px;
	}
}

.darken-color{
	margin-top: -810px;
	@media (max-width: 992px)
	{
		margin-top: -265px;
	}
	@media (min-width: 769px) and (max-width: 991px)
	{
		margin-top: -528px;
	}
}

.paralax-up{
	img{
		top: -850px;
	}
}

.paralax-middle{
	img{
		top: -550px;
	}
}

.paralax-down{
	img{
		top: -200px;
	}
}

.left-text{
	padding-bottom: 30px;
	padding-left: 60px;
	p{
		line-height: 1.5;
		margin-bottom: 0;
		font-size: 18px;

	}

	@media (max-width: 992px)
	{
		text-align: center;
		padding-left: 0;
	}
}

.wpcf7 label{
	display: inline-block;
	padding-right: 45px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	@media (max-width: 992px)
	{
		padding-right: 0;
		display: block;
	}
}

input.wpcf7-submit{
	background: linear-gradient(#383838 20%, #150F0F);
	transition: all .5s ease 0s;
	border-radius: 5px;
	padding: 8px 30px;
	font-size: 18px;
	color: #faedcb;
	font-family: 'Open Sans',Arial,sans-serif;
	border: 2px solid transparent;
	margin-left: 144px;
	@media (max-width: 1200px)
	{
		margin-left: auto;
	}
}

input.wpcf7-submit:hover {
	color: #000;
	border: 2px solid #000;
	background: transparent;
}

#map{
	height: 400px;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 50px;
}

.form-inline .form-control{
	margin-bottom: 13px;
}

.wpcf7-form-control{
	border: none;
	background-color: #cabd9d;
	color: #000;
	text-shadow: none;
	box-shadow: none;
}

#wpcf7-form-control-text{
	min-width: 480px;
	@media (max-width: 768px)
	{
		min-width: auto;
	}
}

#text-ar{
	position: relative;
	top: -100px;
	@media (max-width: 1200px)
	{
		top: auto;
	}
}

#label-ar{
	position: relative;
	top: -5px;
}

.contact-box{
	@media (max-width: 992px)
	{
		text-align: center;
	}
}

//Historia

.historia-wprapper{
	padding: 0 100px;
	text-align: center;
	padding-bottom: 40px;
	@media (max-width: 992px)
	{
		padding: 0 30px;
		padding-bottom: 50px;
	}
	@media (max-width: 480px){
		padding: 0 15px;
	}
	p{
		text-align: left;
		padding: 15px 0;
		margin-bottom: 0;
		line-height: 1.5;
		font-size: 18px;
	}
	ul{
		.shadow;
		background: @btn-color;
		display: inline-block;
		min-width: 290px;
		//min-height: 220px;
		padding-bottom: 2px;
		padding-top: 25px;
		text-align: left;
		padding-bottom: 15px;
		margin-top: 25px;
		margin-left: 0;
		margin-right: 0;
		li{
			list-style-image: url('img/lisc.png');
			padding-bottom: 7px;
			margin-left: 17px;
			font-size: 18px;
			font-weight: 700;
			//min-width: 290px;
		}
		@media (max-width: 480px)
		{
			min-width: 265px;
		}
	}
}

.obwody-wprapper{
	padding: 0 75px;
	padding-bottom: 70px;
	@media (max-width: 992px)
	{
		padding: 0 10px;
		padding-bottom: 50px;
	}
	img{
		padding-bottom: 50px;
		display: block;
		margin: 0 auto;

	}
	p{
		padding-top: 8px;
		padding-bottom: 0px;
		margin: 0 30px;
		line-height: 1.7;
	}
}

.pojedynczy-obwod{
	font-family: @czcionka-pomocnicza;
	.shadow;
	margin: 0 17px;
	a{
		color: @zielony-mocny;
		font-size: 24px;
		display: block;
	}
}



.obwody-Lista{
	padding: 0 15px;
}

.btn-obwod{
	background: @btn-color;
	margin-bottom: 95px;
	a{
		padding-top: 18px;
		padding-bottom: 18px;
		.basic-transition;
		text-decoration: none;
		&:hover{
			color: #a3b040;
		}
	}
}

.page-template-contact{
    .left-text{
        p{
            margin-bottom: 15px;
        }
    }
}

.col-zw{
	max-width: 100px;
}

.terminarz-polowan{
	.center-wrapper{
		text-align: center !important;
		border-bottom: 2px solid #fffcf6 !important;
	}
	background-color: @btn-color;
	margin: 0 45px 45px;
	@media (max-width: 768px)
	{
		margin: 0 19px;
	}
	th{
		text-align: center;
		color: #988d71;
	}
	thead{
		background-color: #fff8e6;
	}
	tr{
		background-color: @btn-color;
		font-size: 13px;

	}
	.table > thead > tr > th{
		border-bottom: 2px solid #fffcf6;
	}
	thead > tr > th{
		padding: 15px 5px;
	}
	tbody > tr > td{
		padding: 10px;
	}
	p{
		margin: 0 0 3px;
		text-align: left;
	}
}

.more-width{
	padding: 15px 42px !important;
}

.table > thead:first-child > tr:first-child > th{
	background: #fffcf6;
	border-bottom: 1px solid #ddd !important;

	@media (max-width: 1199px)
	{
		text-align: left;
	}
	@media (max-width: 1198px)
	{
		text-align: center;
	}
}

.small-width{
	padding: 15px 16px !important;
}

.data{
	padding: 15px 46px !important;
}

.lp-bottom{
	border-bottom: 1px solid #ddd !important;
}

.To-left{
	text-align: left;
}

.table-hidden{
	@media (max-width: 1199px)
	{
		display: none;
	}
}

.table-visible{
	@media (min-width: 1200px){
		display: none;
	}
	margin-bottom: 50px;
}

.white-color{
	background-color: #fffcf6;
	font-weight: 700;
	color: #988d71;
}


.lp-none{
	display: none;
}

.table > thead:first-child > &:nth-of-type(2) > th{
	color: red;
}

.onas-dropdown{
	.nav .dropdown-menu > li > a{
		color: @btn-color;
		&:active{
			background-color: transparent !important;
		}
	}
	.dropdown-menu > .active > a{
		background: transparent;
		color: #e9c567 !important;

	}
	ul{
		li{
			&:last-of-type{
				a{
					border-bottom: none;
				}
			}
			a{
				border-bottom: 1px solid #0b0b0b;
				padding: 5px 10px;
				font-size: 25px;
				font-family: 'Berkshire Swash', sans-serif;
				color: @btn-color;

				&:hover{
					background-color: transparent;
					color: #e9c567 !important;
				}
				&:active{
					color: @btn-color !important;
				}
			}
		}
	}
}

.gallery-wrapper{
	padding-bottom: 60px;
}

.light-color{
	p{
		text-align: left;
	}
	background: #fff8e6;
	margin: 75px;
	padding: 25px;
        overflow: auto;
	@media (max-width: 992px)
	{
		margin: 75px 0px;
		padding: 25px;
	}
	.arch-title{
		color: #41481e;
		font-size: 30px;
		margin-bottom: 0;
		line-height: 1.3;
	}
	img{
		float: left;
		padding-right: 34px;
		padding-bottom: 20px;
		@media (max-width: 480px)
		{
			padding-right: 0px;
		}
	}
}

.light-color-right{
	padding-right: 100px;
	@media (max-width: 992px)
	{
		padding-right: 15px;
	}
}

.blog-one{
	background-color: #fff8e6;
	margin-bottom: 20px;
	padding: 45px;
	text-align: left;
	@media (max-width: 992px)
	{
		padding: 16px 25px;
	}
}

.komunikaty{
	padding: 0 75px;
	@media (max-width: 992px)
	{
		padding: 0;
	}
}

.title-blog{
	font-size: 30px;
}

.grey-box{
	color: #a89870;
}

.pobierz-height{
	min-height: 700px;
}

.pobierz{
	padding: 0 39px;
}

.pobierz-plik{
	ul{
		padding: 0px;
		margin: 0;
		margin-bottom: 70px;
		li{
			list-style: none;
			background-color: @btn-color;
			margin-bottom: 15px;
			.shadow;
			a{
				padding: 10px 10px 13px 20px;
				text-decoration: none;
				display: block;
				text-align: left;
				margin-left: 25px;
				padding-left: 20px;
				font-size: 18px;
				font-weight: 700;
				@media (max-width: 768px)
				{
					text-align: center;
				}
			}
			a:before{
				content:url('img/fileicon.png');
				position: relative;
				top: 8px;
				right: 25px;
			}
			p{
				margin-bottom: 0;
			}
		}
	}

}


.galeria-wrapper{
	padding: 0 39px;
	@media (max-width:992px ){
		text-align: center;
	}
	@media (max-width: 480px)
	{
		padding: 0;
	}
}

.galeria-g{
	padding-bottom: 20px;
	@media (max-width:992px ){
		max-width: 316px;
		text-align: center;
		margin: 0 auto;
	}
}

.gallery-button{
	background: @btn-color;
	@media (max-width:992px ){
		max-width: 316px;
		text-align: center;
	}

	h2{
		font-size: 24px;
		color: @btn-bg-color;
		font-family: 'Berkshire Swash', sans-serif;
		background: @btn-color;
		padding: 17px 0;
		margin: 0;
		margin-right: 8px;
		.basic-transition;
		&:hover{
			color: @berk-color;

		}
		@media (max-width:460px ){
			margin-right: 0;
			max-width: 316px;
		}
		@media (max-width:992px ){
			max-width: 316px;
			margin: 0 auto;
		}
		@media (min-width: 993px) and (max-width: 1200px)
		{
			margin-right: 0px;
		}
	}
}

.gallery-one-item{
	margin-bottom: 20px;
}

.grey-box-kom{
	display: block;
	color: #a89870;
}

.grey-box-arch{
	padding-bottom: 25px;
	color: #a89870;
	display: inline-block;
	padding-top: 6px;
}

.g-recaptcha{
	background: none;
	width: 290px;
	position: relative;
	right: -142px;
	margin-bottom: 10px;
	@media (min-width: 992px) and (max-width: 1200px)
	{
		right: 0;
	}
	@media (max-width: 768px)
	{
		margin: 0 auto;
		right: auto;
		margin-bottom: 10px;
	}
}



.little-text{
	color: #120d0a;
	font-size: 18px;
	margin-bottom: 80px;
	padding: 0 50px;
	@media (max-width: 768px)
	{
		padding: 0;
	}
	p{
		font-family: 'Open Sans', sans-serif;
	}
}

.zdj1{
	top: -104% !important;
}


.zdj3{
	top: -68% !important;
}

//Forum

#bbp_search_submit, #bbp_topic_submit{
	.btn;
	.basic-transition;
}

.new-page{
	font-family: 'Open Sans', sans-serif;
	h1{
		font-family: 'Berkshire Swash', sans-serif;
	}


}

.forum-titles{
	font-family: 'Open Sans', sans-serif;
}

.bbp-author-avatar{
	position: relative;
	top: -5px;
	padding: 0 5px;
}

#bbp_reply_submit{
	.btn;
	.basic-transition;
}


#bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer{
	background: @zielony-mocny;
	color: #fff;
}

.subscription-toggle
{
	margin-left: 5px;
}


.logowanie{
	font-size: 26px;
	font-weight: 700;
}

.dla-czlonkow{
	float: right;
	display: block;
	font-size: 28px;
	font-family: 'Berkshire Swash', sans-serif;
	font-weight: 400;
	color: #e9c567;
	//margin-top: 35px;
	&:hover{
		color: #fff;
	}
}
.section-right{
    padding: 0;
    margin: 0;
    li{
        padding: 0;
        margin: 0;
        list-style: none;
    }
}
.section-right-menu{
    width: 49.5%;
}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a{
	background: #fff;
}


.new-page{
	margin-top: -810px;
}

.dropdown-toggle{
	a{
		font-size: 20px;
	}
}

.nav .dropdown-menu > li > a{
	border-bottom: 1px solid @berk-color;
	font-weight: 500;
	font-family: 'Berkshire Swash', sans-serif;
	color: @berk-color;
	padding: 4px 10px;
}

.nav .dropdown-menu > li {

	&:last-of-type {
		a {
			border-bottom: none;
		}
	}
}

.dropdown-menu > .active > a{
	background: transparent;
	color: #e9c567 !important;
	&:hover{
		background: transparent;
	}
}


.nav .dropdown-menu > li > a:hover {
	color: #e9c567;
	background: transparent;
}

.must-login{
	background: #e9c567;
	margin-top: -610px;
	img{
		padding-bottom: 50px;
	}
	a{
		text-align: center;
		display: inline-block;
		font-family: 'Berkshire Swash', sans-serif;
		font-size: 30px;
		padding-top: 50px;
		background: #e9c567;
		color: @zielony-mocny;
	}
	ul{
		margin: 0;
		padding-left: 0;
		li{
			text-decoration: none;
			list-style: none;
		}
	}
	@media (max-width: 768px)
	{
		margin-top: -300px;
	}
}

.error-404{
	margin-top: -56%;
	position: relative;
	z-index: 2222;
	background: #e9c567;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 100px;
	.page-header{
		border-bottom: none;
	}
	h1{
		font-family: 'Berkshire Swash', sans-serif;
		font-size: 30px;
		color: @zielony-mocny;
	}
}

.obwod > img{
	margin-top: 300px;
}

.table-show{
	.btn;
}

.navbar-nav .open .dropdown-menu{
	padding: 0;
}

#bbpress-forums fieldset.bbp-form legend{
    padding-top: 45px;
}

@media (max-height: 1300px)
{
	.show-img{
		display: none;
	}
}

@media (max-height: 980px)
{
    .section-right-menu{
        width: auto;
    }
    .dla-czlonkow{
        margin-top: 20px;
    }
}



.entry-title{
	font-family: "Open Sans", sans-serif;
}

.bbp-form{
	input, textarea{
		background: #cabd9d !important;

	}
	label{
		font-size: 12px;
	}
	background: #fff;

	select{
		background: #cabd9d;
		border: none;

	}
}


#bbpress-forums #bbp-your-profile fieldset span.description{
	margin: 0px 0 0 0%;
	font-size: 12px;
	font-style: italic;
	float: left;
	clear: left;
	width: 100%;
	padding: 5px 8px;
	border: #cee1ef 1px solid;
	background-color: #f0f8ff;
}

#bbp-your-profile{
	h2{
		font-weight: 700;
	}
}

#bbp-user-body{
	button{
		.btn;
	}
}

fieldset, span{
	border: none;
}

#bbpress-forums #bbp-your-profile fieldset fieldset.password span.description
{
	color: @zielony-mocny;
}

#bbpress-forums #bbp-your-profile fieldset span.description
{
	border: none;
	background: none;
}

.navigation{
    ul{
        list-style: none;
        li{
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
            &.active{
                a{
                    color: #a89870;
                }
            }
            a{
                color: #000;
            }
        }
    }
}