@import "../idvetmp/style.less";


@rozmiar-bazowy: 16px;
@czcionka-bazowa: 'Lato', sans-serif;
@zolty: #d4e146;
@btn-color: #0d336f;
@headers-color: #06468d;
@kolor-bazowy: #5b5b5b;
@niebieski: #76ace7;
@niebieski-darken: #04397c;
@bg-color: #f0f0f0;


.basic-transition{
    transition: all .2s ease-in-out;
}
a{
    .basic-transition;
    color: @kolor-bazowy;
    &:hover{
        .basic-transition;
        text-decoration: none;
    }
}
.admin-bar header .wrapper-for-nav .yellowClass{
    background: #06468d !important;
}
.admin-bar header .wrapper-for-nav .wrapper-for-navbar .container-fluid .yellowClass{
    @media (max-width: 991px){
        background: #06468d !important;
    }

}

.gradient-color{
    background: #0A284B;
    background: -webkit-gradient(linear-gradient(140deg, #73a9e6 3%, #ffffff 86%));
    background: -webkit-linear-gradient(#73a9e6, #ffffff);
    background: -moz-linear-gradient(top, #73a9e6, #ffffff);
    background: -ms-linear-gradient(#73a9e6, #ffffff);
    background: -o-linear-gradient(#73a9e6, #ffffff);
    background: linear-gradient(#73a9e6, #ffffff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73a9e6', endColorstr='#ffffff');
    zoom: 1;
    background: linear-gradient(140deg, #73a9e6 3%, #ffffff 86%);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);





}
.gradient-color-2{
    font-weight: 300;
    background: linear-gradient(140deg, #0d336f 4%, #135baa 86%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d336f', endColorstr='#135baa');
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
}

*{
    &:focus{
        outline: none;

    }
}

a{
    &:focus, &:visited{
        text-decoration: none;
    }
}


.base-transision{
    transition: all 0.4s;
}

body{
    font-size: @rozmiar-bazowy;
    font-family: @czcionka-bazowa;
    color: @kolor-bazowy;
    line-height: 1.5;
}
.navbar{
    background: @headers-color !important;
}
.btn{
    margin-top: 10px;
    border: 1px solid @btn-color;
    position: relative;
    color: @btn-color;
    font-size: 16px;
    text-transform: uppercase;
    height: 34px;
    border-radius: 0;
    text-align: left;
    padding-left: 10px;
    padding-right: 40px;
    font-weight: 700;
    padding-top: 5px;
    &:after{
        content: "";
        background: url(img/arrow-right.png) center center @btn-color no-repeat;
        position: absolute;
        height: 33px;
        width: 28px;
        bottom: 0;
        right: 0;
    }
    &:hover{
        background: @btn-color;
        color: @zolty;
    }
}

img{
    max-width: 100%;
    height: auto;
}

.admin-bar{
    .base-transision;
    margin-top: 0;
    .navbar-default{
        margin-top: 32px;
        @media (max-width: 782px){
            margin-top: 46px;
        }
    }


}

.home header .up{
    .base-transision;
    height: 136px;
    margin-top: 0 !important;
    background: rgba(13,51,111, 0.7) !important;
    @media (max-width: 991px){
        height: 100px;
    }
}

header .up{
    .base-transision;
    height: 136px;
    margin-top: 0 !important;
    background: rgba(13,51,111, 0.7) !important;
    .basic-transition;
    @media (max-width: 991px){
        height: 100px;
        .basic-transition;
        padding-top: 15px !important;
    }
}
.admin-bar header .up{
    .base-transision;
    height: 136px;
    margin-top: 20px !important;
    background: rgba(13,51,111, 0.7) !important;
}
@media (max-width: 991px){
    .admin-bar header .up{
        .base-transision;
        height: 125px;
        margin-top: 20px !important;
        background: rgba(13,51,111, 0.7) !important;
    }
}
@media (max-width: 600px){
    .admin-bar header .up{
        .base-transision;
        height: 125px;
        margin-top: -20px !important;
        background: rgba(13,51,111, 0.7) !important;
    }
}

.page-template .navbar-default, .archive .navbar-default{
    background-color: transparent;
    border-bottom: none;
}
.single .navbar-default{
    background-color: transparent;
    border-bottom: none;
}

#logo{
    margin-top: -20px;
    margin-bottom: 20px;
    margin-left: 35px;
    .base-transision;
    @media (max-width: 991px){
        margin-left: 0;
        transform: scale(0.7);
    }
}
#navbar{
    margin-top: -20px;
}
.first-section{
    height: 100vh;
    @media (max-width: 991px){
        height: 100%;
    }
    &:after{
        content: url('img/effect-1.png');
        position: absolute;
        bottom: -182px;
        top: auto;
        height: 514px;
        /* width: 100%; */
        left: auto;
        right: -80px;
        transform: translateX(-50%);
        @media (max-width: 1366px){
            right: -50%;
        }
        @media (max-width: 991px){
            right: auto;
        }
    }

    h1{
        /*color: #76ace7;*/
        font-size: 50px;
        .gradient-color;
        font-weight: 700;
        @media (max-width: 767px){
            font-size: 33px;
        }
    }
    p{
        color: #76ace7;
    }
    .btn{
        border: none;
        color: @zolty;
        border-bottom: 1px dashed @zolty;
        padding-left: 0;
        &:after{
            font-weight: 700;
            content: "\f103";
            font-family: 'Font Awesome 5 Free';
            background: none;
            top: 5px;
        }
        &:hover{
            background: transparent;
        }
    }
}

.first-section-wrapper{
    position: relative;
    z-index: 2;
}

.socials-menu{
    padding-top: 10px;
    list-style: none;
    li{
        display: inline-block;
        margin-right: 0;

        a{
            color: #377cc9;
            font-size: 20px;
            .basic-transition;
            &:hover{
                .basic-transition;
                color: #fff;
            }
        }
        .phone-number{
            color: @zolty;
            font-size: 18px;
            margin-right: 20px;
            @media (max-width: 991px){
                margin-right: 0px;
            }
            &:hover{
                color: #fff !important;
            }
        }
    }
}

.page-template .navbar-default .navbar-nav>li>a, .archive .navbar-default .navbar-nav>li>a{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    &:hover{
        color: @zolty;
    }
}
.error404 .navbar-default .navbar-nav>li>a{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    &:hover{
        color: @zolty;
    }
}
.page-template{
    .navbar-default{
        padding-top: 40px;
    }
}

.archive{
    .navbar-default{
        padding-top: 40px;
    }
}

.error404{
    .navbar-default{
        padding-top: 40px;
    }
}


.single .navbar-default .navbar-nav>li>a{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}
.single{
    .navbar-default{
        padding-top: 40px;
    }
}

.phone-number{
    color: @zolty;
    font-size: 18px;
    margin-right: 20px;
    &:hover{
        color: #fff !important;
    }
}

.marker {
    background-image: url('img/marker.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.flex-box{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .box-center{
        margin-top: 125px;
    }
    img{
        margin-top: 125px;
    }
    @media (max-width: 1366px){
        img{

            margin-top: 100px;
        }
    }
    @media (max-width: 991px){
        display: block;
        margin-top: 220px;
        img{
            display: block;
            margin: 0 auto;
            margin-top: 50px;
        }
    }
    @media (max-width: 767px){
        margin-top: 130px;
    }
}
.second-section{
    padding-top: 15px;
    background: #f0f0f0;
    padding-bottom: 80px;
}
.shadow{
    -webkit-box-shadow: 10px 10px 18px 0px rgba(0,0,0,.14);
    -moz-box-shadow: 10px 10px 18px 0px rgba(0,0,0,.14);
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,.14);
}
.single-wrapper{
    .shadow;
    position: relative;
    z-index: 2;
    margin-top: 65px;
    background: #fff;
    padding: 20px;
    padding-bottom: 54px;
    @media (max-width: 991px){
        margin-top: 25px;
    }
    .col-md-6{
        padding: 0;
    }
    h1{
        font-size: 80px;
        font-weight: 700;
        background: linear-gradient(140deg, #0d336f 4%, #135baa 86%);


        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        color: rgba(0,0,0,0);
        @media (max-width: 991px){
            font-size: 70px;
            text-align: center;
        }
    }
}



.single-wrapper-text-left{
    .single-wrapper__text-section{
        padding-left: 20px;
        padding-right: 40px; 
        @media (max-width: 991px){
            padding: 15px;
        }
    }
    .single-wrapper__photo-section{
        padding-right: 20px;   
        @media (max-width: 991px){
            padding: 0;
            text-align: center;
        }
    }
}

.single-wrapper-text-right{
    .single-wrapper__text-section{
        padding-right: 20px;
        padding-left: 40px;  
        @media (max-width: 991px){
            padding: 15px;
        }
    }
    .single-wrapper__photo-section{
        padding-left: 20px; 
        @media (max-width: 991px){
            padding: 0;
            text-align: center;
        }
    }
}

#main-img{
    @media (max-width: 991px){
        margin-top: 50px;
    }
}

.third-section{
    padding-top: 90px;
    padding-bottom: 75px;
    position: relative;
    @media (max-width: 991px){
        padding-bottom: 25px;
    }
    &__single-wrapper{
        padding: 90px 25px 45px;
        max-width: 310px;
        .shadow;
        @media (max-width: 991px){
            padding: 40px 25px 45px;
            max-width: 100%;
            margin-bottom: 10px;
        }
        h2{
            font-size: 40px;
            font-weight: 700;
            background: linear-gradient(140deg, #0d336f 4%, #135baa 86%);
            background-clip: text;
            -webkit-background-clip: text;
            color: rgba(0,0,0,0);
            a{
                font-size: 40px;
                font-weight: 700;
                background: linear-gradient(140deg, #0d336f 4%, #135baa 86%);
                background-clip: text;
                -webkit-background-clip: text;
                color: rgba(0,0,0,0);
            }
        }
    }
    &:before{
        content: url('img/effect-2.png');
        position: absolute;
        top: -182px;
        bottom: auto;
        height: 514px;
        /* width: 100%; */
        left: 38%;
        right: auto;
        transform: translateX(-50%);
        @media (max-width: 991px){
            right: -50%;
        }
    }
}

.fourth-section{
    background: #f0f0f0;
    padding-top: 75px;
    padding-bottom: 85px;
    position: relative;
    .effect{
        position: absolute;
        top: 50px;
        left: 5%;
    }
    &__text-wrapper{
        p{
            font-size: 14px;
        }
    }
    &__single-wrapper{
        min-height: 460px;
        .shadow;
        max-width: 500px;
        padding: 30px 25px;
        background: #fff;
        @media (max-width: 991px){
            margin: 10px 0;
            max-width: 100%;
            min-height: auto;
        }
    }

    &__photo{
        position: relative;
        text-align: center;
        .btn-white{
            right: 10px;
            @media (max-width: 1199px){
                left: auto;
                right: 10px;
            }
            @media (max-width: 991px){
                left: 50%;
            }
            @media (max-width: 550px){
                left: auto;
                right: 10px;
            }
        }
        #main-img{
            margin-top: 0;
        }
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,135baa+100 */
            background: #ffffff; /* Old browsers */
            background: -moz-linear-gradient(left, #ffffff 0%, #135baa 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #ffffff 0%,#135baa 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #ffffff 0%,#135baa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#135baa',GradientType=1 ); /* IE6-9 */
            opacity: 0.5;
            @media (max-width: 991px){
                max-height: 340px;
                max-width: 452px;
                margin: 0 auto;
            }
        }
    }

    &__text-wrapper{
        padding-left: 25px;
        color: @kolor-bazowy;
        @media (max-width: 991px){
            padding-left: 0;
        }
    }

    &__title{
        a{
            font-size: 40px;
            .gradient-color-2;
            font-weight: 700;
            @media (max-width: 991px){
                font-size: 30px;
            }
        }
        @media (max-width: 991px){
            text-align: center;
        }
    }

}

.date{
    display: block;
    color: #9b9b9b;
    margin-top: 25px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
}

.title{
    display: block;
    font-size: 22px;
    color: @btn-color;
    font-weight: 700;
    margin-bottom: 20px;
    .basic-transition;
    /*margin-left: 10px;*/
    a{
        background: #fff;
        padding: 4px 0px;
        color: @headers-color;
        display: inline;
        /*padding: 0.5em 0em;*/
        background-color: #fff;

        &:hover{
            color: @zolty;
        }
    }
}



/*Footer*/

.ll{
    padding-left: 43px;
    @media (max-width: 991px){
        padding-left: 0;
    }
}

.page-template footer, .single footer, .archive footer, .error404 footer{
    padding-top: 85px;
    padding-bottom: 55px;
    background-size: cover;
    @media (max-width: 991px){
        padding-top: 25px;
        padding-bottom: 15px;
    }
    @media (max-width: 767px){
        text-align: center;
    }
    .footer-text{
        margin-top: 80px;
        font-size: 13px;
        color: #4786cc;
        margin-bottom: 20px;
        display: block;
        @media (max-width: 991px){
            margin-top: 25px;
            padding-bottom: 15px;
        }
    }

    .navbar-nav{
        float: none;
    }

    strong{
        font-weight: 700;
    }

    p{
        color: #95c2fa;
        font-size: 14px;
    }
    .email{
        color: @zolty;
    }
    .socials-menu{

        padding-left: 40px;
        @media (max-width: 991px){
            padding-left: 0;
            margin-left: -18px;
        }
        @media (max-width: 767px){
            padding-left: 0;
            margin-left: 0;
        }
        i{
            font-size: 24px;
            color: #fff;
        }
        a{
            margin-right: 7px;
        }
        .phone-number{
            display: none;
        }
    }

}

.footer-contact{
    padding-left: 27px;
    list-style: none;
    @media (max-width: 991px){
        padding-left: 0;
    }
    a{
        .basic-transition;
        font-size: 16px;
        margin-bottom: 8px;
        display: block;
        i{
            padding-right: 5px;
        }
        &:hover{
            color: #fff;

        }
    }
    .email{
        i{
            padding-right: 8px;
        }
    }
}

.partners{
    padding: 43px 0;
    min-height: 276px;
    .title{
        text-align: center;
        h2{
            font-size: 40px;
            font-weight: 300;
            .gradient-color-2;
            padding-bottom: 25px;
        }
    }
}

.o-nas{
    .breadcrumbs{
        padding-left: 0;
        padding-top: 0;
        list-style: none;
        li{
            a{
                font-size: 14px;
                font-weight: 400;
            }
            &:before{
                content: "";
            }
        }
    }
    @media(min-width:1200px){.container{width:1115px;}}
    .content-inside-wrapper{
        p{
            margin-bottom: 0;
        }
    }
    /*    .alignright{
            text-align: center !important;
        }*/
    .single-page-effect{
        margin: 0;
    }
    img{
        margin-left: 70px;
        margin-right: 50px;
        @media (max-width: 767px){
            margin-left: 25px;
            margin-right: 25px;
        }
    }
    .call-to-action{
        padding-bottom: 70px;
    }

    ul{
        padding-top: 20px;
        padding-left: 34px;
        li{
            font-size: 24px;
            color: @niebieski;
            list-style: none;
            position: relative;
            margin-bottom: 5px;
            .basic-transition;
            @media (max-width: 767px){
                font-size: 18px;
            }
            &:before{
                content: url(img/square.png);
                position: absolute;
                left: -20px;
                top: -2px;
            }

            a{
                .basic-transition;
                padding: 0;
                color: @niebieski;
                margin: 0;
                &:hover{
                    .basic-transition;
                    text-decoration: underline;
                }
            }
        }
    }
}

#menu-footer-menu{
    list-style: none;
    li{
        display: block;
        float: none;
        color: #fff;
        padding: 0;
        a{
            color: #fff;
            font-weight: 400;
            font-size: 16px;
            padding: 0;
            margin-bottom: 10px;

            &:hover{
                color: @zolty;
                background: transparent;
            }
        }
    }
}

.call-to-action{
    background: @bg-color;
    padding-bottom: 50px;
    @media (max-width: 991px){
        /*background: @niebieski-darken;*/
        max-width: 100%;
        margin: 0 auto;
    }
    &__wrapper-inside{
        position: relative;
        background: url(img/call-to-action-photo.png) left @niebieski-darken no-repeat;
        padding: 25px 60px 25px 190px;
        .shadow;

        @media (max-width: 991px){
            position: relative;
            background: url(img/gdzie-kupic-mobile.jpg) center center no-repeat #04397c;
            /* padding: 25px 60px 25px 190px; */
            text-align: center;
            padding: 206px 0 10px;
            background-size: cover;
            /*mix-blend-mode: soft-light;*/
        }
        h2{
            font-size: 70px;
            font-weight: 700;
            .gradient-color;
            max-width: 500px;
            @media (max-width: 991px){
                font-size: 30px;
                max-width: 100%;
            }
        }
        p{
            color: #fff;
            max-width: 500px;
            font-size: 16px;
            @media (max-width: 991px){
                max-width: 100%;
            }
        }
        .btn{
            color: #fff;
            position: absolute;
            top: 50%;
            right: 60px;
            transform: translateY(-50%);
            border: 1px solid #fff;
            font-weight: 700;
            &:hover{
                color: @headers-color;
                background: #fff;
            }
            @media (max-width: 1199px){
                right: 15px;

            }
            @media (max-width: 991px){
                position: relative;
                right: auto;
                transform: translateY(0);
                margin-bottom: 20px;
            }
            &:after{
                background: url(img/arrow-right.png) center center no-repeat #fff;
            }
        }
    }
}



.header-wrapper{
    position: relative;
    min-height: 436px;
    background-size: cover;
    @media (max-width: 767px){
        min-height: 320px;
    }
    .wrapper-for-header-info{
        background: rgba(255,255,255,0.7);
        position: absolute;
        bottom: 0;
        width: 100%;
        min-height: 145px;
        @media (max-width: 767px){
            min-height: 130px;
        }
    }
    .section-title-archive{
        position: absolute;
        padding-top: 10px;
        z-index: 2;
        /*bottom: 75px;*/
        p{
            color: @niebieski;
            font-size: 14px;
        }
        h2{
            font-size: 60px;
            font-weight: 700;
            color: @headers-color;
            margin-bottom: 0;
            text-transform: uppercase;
            @media (max-width: 767px){
                font-size: 30px;
            }
        }
    }
}
.single-page-effect{
    position: absolute;
    right: 0;
    bottom: -140px;
    @media (max-width: 991px){
        right: -200px;
    }
}

.hide-now{
    @media (max-width: 1500px){
        right: -303px;
    }
    @media (max-width: 991px){
        display: none;
    }
}

.single-page-effect-small{
    right: 0px;
    bottom: -57px;
    @media (min-width: 992px){
        display: none;
    }
    @media (max-width: 767px){

        right: -120px;
        bottom: -57px !important;
    }
}
.content-single-page{
    background: @bg-color;
    padding-top: 90px;
    padding-bottom: 75px;
    @media (max-width: 550px){
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.content-inside-wrapper{
    padding: 90px 85px;
    background: #fff;
    .shadow;
    @media (max-width: 991px){
        padding: 20px 25px !important;
    }
    @media (max-width: 767px){
        padding: 20px 10px !important;
    }
}

.single .single-page-wrapper{
    .content-inside-wrapper{
        @media (max-width: 991px){
            padding: 20px 10px;
        }
    }
}



.aktualnosc{

    .content-inside-wrapper{
        padding-top: 55px;
    }
    .info-wrapper{
        padding-bottom: 30px;
        span{
            color: #9b9b9b;
            font-size: 14px;
            text-transform: uppercase;
        }
        h2{
            margin-top: 0;
            font-size: 40px;
            color: @headers-color;
            font-weight: 700;
            @media (max-width: 460px){
                font-size: 27px;
                padding-top: 30px;
            }
        }
    }
    .content-inside-wrapper{
        max-width: 880px;
        margin: 0 auto;
    }
    .text-wrapper-for-single-post{
        padding: 70px 0;
        iframe{
            max-width: 100%;
        }
        @media (max-width: 550px){
            padding: 30px 0;
        }
    }

    .alignleft{
        margin-right: 35px;
    }
    ul{
        padding-left: 0;
        li{
            position: relative;
            list-style: none;
            display: flex;
            left: 30px;
            &:before{
                content: url(img/square.png);
                position: absolute;
                left: -20px;
                top: -1px;
            }
        }
    }
}

.aktualnosci{
    .content-single-page{
        @media (max-width: 991px){
            padding-bottom: 10px;
        }
    }
    .normal-wrapper{
        max-width: 100%;

        img{
            @media (max-width: 991px){
                margin: 0 auto;
                display: block;
            }

        }
    }
    .content-inside-wrapper{
        background: transparent;
        padding: 0;
        box-shadow: none;
        .row{
            margin-bottom: 56px;
            .shadow;
            background: #fff;
            padding: 60px 48px;
            @media (max-width: 991px){
                padding: 10px 0;
                margin-bottom: 20px;
            }
            .btn{
                margin-top: 37px;
            }
        }
    }
    .normal-wrapper{
        padding-bottom: 0px;
    }
}

.wrao{
    span{
        font-size: 14px;
        font-weight: 300;
        color: #9b9b9b;
        display: block;
        text-transform: uppercase;
        margin-bottom: 10px;
        margin-top: -6px;
        @media (max-width: 991px){
            margin-top: 10px;
            text-align: center;
        }
    }
    h2{
        padding: 5px 11px;
        font-size: 26px;
        color: @headers-color;
        margin-top: 0;
        background: #fff;
        padding-left: 0;
        display: inline-block;
    }
}



.kontakt{
    .content-inside-wrapper{
        padding-bottom: 0;
        margin-bottom: 40px;
        @media (max-width: 991px){
            text-align: center;
        }
        p{
            color: #5C5C5C;
        }
    }
    .breadcrumbs{
        li{
            a{
                font-size: 14px;
                font-weight: 400;
                &:hover{
                    color: @zolty;
                }
            }
        }
    }
}

#map{
    margin-top: 40px;
    margin-bottom: 81px;
    height: 473px;
    background: @headers-color;
    .shadow;
    @media (max-width: 991px){
        margin-top: 15px;
        margin-bottom: 56px;
        height: 100vh;
    }
    @media (max-width: 767px){
        height: 373px;
        margin-bottom: 20px;
    }

}

/*STYLE DO KONTAKT EFFEKTU*/
/*l*/
/* Nariko */
.input--nariko {
    overflow: hidden;
    padding-top: 2em;
}

.input__field--nariko {
    width: 100%;
    background: transparent;
    opacity: 0;
    padding: 0.35em;
    z-index: 100;
    color: #f18292;
}

.input__label--nariko {
    width: 100%;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    text-align: left;
    color: #8E9191;
    padding: 0 0.5em;
}

.input__label--nariko::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4em;
    top: 100%;
    left: 0;
    background: #fff;
    border-top: 4px solid #9B9F9F;
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.input__label-content--nariko {
    padding: 0.5em 0;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.4s, color 0.4s;
    transition: transform 0.4s, color 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.input__field--nariko:focus,
.input--filled .input__field--nariko {
    cursor: text;
    opacity: 1;
    -webkit-transition: opacity 0s 0.4s;
    transition: opacity 0s 0.4s;
} 

.input__field--nariko:focus + .input__label--nariko::before,
.input--filled .input__label--nariko::before {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transform: translate3d(0, -3.3em, 0);
    transform: translate3d(0, -3.3em, 0);
}

.input__field--nariko:focus + .input__label--nariko .input__label-content--nariko,
.input--filled .input__label-content--nariko {
    color: #6B6E6E;
    -webkit-transform: translate3d(0, -3.3em, 0) scale3d(0.81, 0.81, 1);
    transform: translate3d(0, -3.3em, 0) scale3d(0.81, 0.81, 1);
}

/*koniec*/



.parapety{

    .flex-centering{
        overflow: auto;
        margin-bottom: 0;
        margin-top: 30px;
        display: flex;
        justify-content: center;

    }
    .flex-centering{

        @media (max-width: 991px){
            display: block;
            justify-content: center;
            margin-left: -10px;
            margin-right: -10px;
        }
        .row{
            display: block;
            justify-content: center;
            @media (max-width: 767px){
                display: block;
                justify-content: none;
            }
        }
    }

    .content-inside-wrapper{
        padding: 65px 62px;
    }
    .left{
        p{
            margin-bottom: 20px;
        }
    }
    .right{
        padding-top: 70px;
        position: relative;
        text-align: right;
        padding-right: 30px;
        @media (max-width: 991px){
            text-align: center;
            padding-right: 0;
        }
        img{
            z-index: 1;
            position: relative;
        }
        .triangle{
            position: absolute;
            width: 0;
            height: 0;
            right: 0;
            bottom: -53px;
            z-index: 0;
            border-bottom: 243px solid #e6e6e6;
            border-left: 243px solid transparent;
            @media (max-width: 991px){
                right: 40%;
                transform: translateX(50%);
                bottom: -20px;
            }
        }
    }

    .title-section{
        color: @niebieski;
        font-size: 24px;
        font-weight: 700;
        padding: 45px 0;
    }
}

.parapety-rodzaje{
    .parapety-swiper{
        a{
            min-height: 125px;
            display: block;
        }
        .swiper-slide{
            span{
                margin-top: -15px;
            }
        }
    }
    .call-to-action{
        padding-bottom: 48px;
    }
    p{
        margin-bottom: 20px;
    }
    .section-first{
        margin-bottom: -30px;
    }
    .right{
        padding-top: 0;

    }
    .left{
        margin-top: -6px;
        margin-left: -17px;
        @media (max-width: 991px){
            margin: 0;
            margin-top: 40px;
        }
    }
    .triangle-after{
        position: absolute;
        top: 0;
        bottom: -23px;
        background: url(img/parapet-after.jpg) bottom no-repeat;
        left: 0;
        right: 21px;
    }
    .section-second{
        .title-section{
            margin-top: 20px;
        }

    }
    .parapety-section{
        padding: 0 10px;
        margin-top: 60px;
        .col-md-3{
            margin: 0;
            padding: 0;
        }
    }
    .swiper-button-next, .swiper-button-prev{
        background-size: 15px 26px;
        right: 0px !important;
        /*top: 25% !important;*/
    }
    .one-box-content{
        border: 1px solid #e6e6e6;
        margin: 5px;
        padding: 0 12px;
        text-align: center;
        min-height: 199px;
        position: relative;
        img{
            position: absolute;
            top: 44%;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translateY(-50%);
            @media (max-width: 991px){
                position: relative;
                top: auto;
                left: 0;
                right: 0;
                bottom: 0;
                transform: translateY(0);
            }
        }
    }
    .box-content{
        font-size: 13px;
        font-weight: 700;
        a{
            position: absolute;
            bottom: -5px;
            left: 0;
            right: auto;
            @media (max-width: 991px){
                position: relative;
                top: auto;
                left: 0;
                right: 0;
                bottom: 0;
                transform: translateY(0);
            }
        }
    }
    .title-section{
        padding-bottom: 35px;
    }
    .section-second{
        .parapety-section{
            margin-top: 60px;
        }
    }
    .section-third{
        .parapety-section{
            margin-top: 40px;
            .one-box-content{
                padding: 17px 0;
                .box-content{
                    a{
                        margin-top: 10px;
                        display: block;
                    }
                    p{
                        margin: 0;
                    }
                }
            }
        }
    }
    .section-fourth{
        margin-top: 70px;
        padding-top: 60px;
        border-top: 1px solid #e6e6e6;
        span{
            display: block;
        }
    }
}

.parapety{
    @media(min-width:1200px){.container{width:1170px;}}
}


.navigation{

    .first, .last{
        a{
            top: 45%;
            font-weight: 700;
            left: 0;
            right: 0;
        }
    }
    ul{
        padding-left: 0;
        text-decoration: none;
        list-style: none;
        text-align: center;
        li{
            border: 1px solid #c5ccd9;
            height: 34px;
            display: inline-block;
            width: 34px;
            position: relative;
            text-align: center;
            a{
                position: absolute;
                font-size: 18px;
                color: #03265f;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                font-weight: 700;
            }
            &:before{
                content: "";
            }
        }
        .active{
            border: 1px solid #e3eefa;
            a{
                color: #7e8797 ;

            }
        }
    }
}


.realizacje{
    @media(min-width:1200px){.container{width:1115px;}}
    .sortowanie{
        padding-bottom: 25px;
        .sort-menu{
            list-style: none;
            z-index: 1;
            position: relative;
            padding-left: 0;
            li{
                display: inline-block;
                padding: 5px 15px;
                a{
                    font-size: 18px;
                    font-weight: 700;
                    color: @headers-color;
                }
                .active{
                    border-bottom: 1px dashed @headers-color;
                    font-weight: 400;
                    padding-bottom: 5px;
                }
            }
        }
    }
}

.bramy{
    .section-fourth{
        margin-top: 60px;
        padding-top: 60px;
        border-top: 1px solid #e3eefa;
        span{
            display: block;
        }
    }
    .right{
        text-align: right;
        padding-right: 25px;
        padding-top: 70px;
        position: relative;
        @media (max-width: 991px){
            text-align: center;
            padding-right: 25px;
            padding-top: 25px;
        }
        img{
            position: relative;
            z-index: 1;
        }
    }
    .triangle{
        position: absolute;
        width: 0;
        height: 0;
        right: 0;
        bottom: -53px;
        z-index: 0;
        border-bottom: 243px solid #e6e6e6;
        border-left: 243px solid transparent;
        @media (max-width: 991px){
            right: 40%;
            transform: translateX(50%);
            bottom: -20px;
        }
    }
    .content-inside-wrapper{
        padding: 65px 62px;
    }
    .left, .section-second{
        p{
            margin-bottom: 20px;
        }
    }
    .title-section{
        color: @niebieski;
        font-size: 24px;
        font-weight: 700;
        padding: 45px 0;
    }
}

.drzwi{
    .flex-centering{
        overflow: auto;
        margin-bottom: 85px;
        display: flex;
        justify-content: center;

    }
    .flex-centering{

        @media (max-width: 991px){
            display: block;
            justify-content: center;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 10px;
        }
        .row{
           display: block;
            justify-content: center;
            @media (max-width: 767px){
                display: block;
                justify-content: none;
            }
        }
    }
    .right{
        text-align: right;
        padding-right: 25px;
        padding-top: 6px;
        position: relative;
        @media (max-width: 991px){
            text-align: center;
            padding-top: 20px;
        }
        img{
            position: relative;
            z-index: 1;
        }
    }

    .left{
        @media (max-width: 991px){
            margin-top: 30px;
        }
    }
    .triangle{
        position: absolute;
        width: 0;
        height: 0;
        right: 0;
        bottom: 20px;
        z-index: 0;
        border-bottom: 243px solid #e6e6e6;
        border-left: 243px solid transparent;
        @media (max-width: 991px){
            right: 50%;
            transform: translateX(50%);
        }
    }
    .content-inside-wrapper{
        padding: 65px 62px;
    }
    .left, .section-second{
        p{
            margin-bottom: 20px;
        }
    }
    .title-section{
        color: @niebieski;
        font-size: 24px;
        font-weight: 700;
        padding: 45px 0;
    }
    .triangle-after{
        position: absolute;
        top: 0;
        bottom: -11px;
        background: url(img/parapet-after.jpg) bottom no-repeat;
        left: 0;
        right: -21px;
        @media (max-width: 767px){
            right: 0;
        }
    }
}

.drzwi-rodzaje{
    .wrao{
        a{
            h3{
                color: @niebieski;
            }
        }
    }
    .normal-wrapper{
        max-width: 100%;
        margin-bottom: 15px;
        img{
            @media (max-width: 991px){
                margin: 0 auto;
                display: block;
            }
        }
    }
    .right{
        text-align: right;
        padding-right: 25px;
        padding-top: 70px;
        position: relative;

        img{
            position: relative;
            z-index: 1;
        }
    }
    .content-inside-wrapper{
        padding: 65px 62px;
    }
    .section-first{
        /*margin-bottom: 110px;*/
        .btn{
            margin-top: 0;
        }
    }
    .left{
        p{
            margin-bottom: 20px;
        }
    }
    .section-second{
        .row{
            padding-top: 80px;
            padding-bottom: 70px;
            border-bottom: 1px solid #e6e6e6;
            @media (max-width: 991px){
                padding: 10px 0;
                padding-top: 20px;
            }
        }
    }
    .drzwi-swiper{
        margin-top: 105px;
        @media (max-width: 991px){
            margin-top: 30px;
        }
        a{
            display: block;
        }
        span{
            margin-top: 15px;
            display: block;
            max-width: 165px;
            margin: 15px auto 0;
            a{
                line-height: 1.3;
            }
        }
        .swiper-button-prev, .swiper-button-next{
            top: 40% !important;
        }
    }
}

.rolety{

    .normal-wrapper{
        max-width: 100%;
        margin-bottom: 15px;
    }


    .content-inside-wrapper{
        padding: 46px 68px;
    }

    .parapety-section{
        .row{
            border: 1px solid #e6e6e6;
            padding: 23px 12px;
            margin-bottom: 25px;
        }
    }
    .wrao{
        padding-top: 20px;

    }
    .show-more{
        padding-top: 25px;
    }
}

.roleta{
    .flex-centering{
        overflow: auto;
        margin-bottom: 0;
        margin-top: 30px;
        display: flex;
        justify-content: center;

    }
    .flex-centering{

        @media (max-width: 991px){
            display: block;
            justify-content: center;
            margin-left: -10px;
            margin-right: -10px;
        }
        .row{
            display: block;
            justify-content: center;
            @media (max-width: 767px){
                display: block;
                justify-content: none;
            }
        }
    }
    .content-inside-wrapper{
        padding: 65px 62px;
    }
    .left{
        p{
            margin-bottom: 20px;
        }
    }
    .right{
        padding-top: 40px;
        position: relative;
        text-align: right;
        padding-right: 30px;
        @media (max-width: 991px){
            text-align: center;
            padding-right: 0;
        }
        img{
            z-index: 1;
            position: relative;
        }
        .triangle{
            position: absolute;
            width: 0;
            height: 0;
            right: 0;
            bottom: -30px;
            z-index: 0;
            border-bottom: 243px solid #e6e6e6;
            border-left: 243px solid transparent;
            @media (max-width: 991px){
                right: 35%;
                transform: translateX(50%);
                bottom: -20px;
            }
        }
    }

    .title-section{
        color: @niebieski;
        font-size: 24px;
        font-weight: 700;
        padding: 45px 0;
    }
}

.okna{
    .flex-centering{
        display: flex;
        justify-content: center;
        margin-left: -30px;
        margin-right: -30px;
        @media (max-width: 991px){
            display: block;
            justify-content: center;
            margin-left: -10px;
            margin-right: -10px;
        }
        .row{
            display: block;
            justify-content: none;
        }
    }
    .text-area-porownaj{
        height: 82px;
        padding: 18px 0;
        font-size: 24px;
        margin-top: 40px;
        margin-bottom: 75px;
        text-align: center;
        border: 1px solid #e6e6e6;
        .btn{
            margin-left: 45px;
            margin-top: 2px;
            @media (max-width: 991px){
                margin-left: 0;
            }
        }
        @media (max-width: 991px){
            height: auto;
            margin-top: 0;
            margin-bottom: 15px;
            span{
                display: block;
            }
        }
    }
    .left{
        @media (max-width: 991px){
            margin-top: 30px;
        }
    }
    .section-first-news{
        .right{
            padding-top: 6px;
            text-align: center;
        }

    }
    .right{
        text-align: right;
        padding-right: 25px;
        padding-top: 40px;
        position: relative;
        @media (max-width: 991px){
            text-align: center;
        }
        img{
            position: relative;
            z-index: 1;
        }
    }
    .triangle{
        position: absolute;
        width: 0;
        height: 0;
        right: 0;
        bottom: 20px;
        z-index: 0;
        border-bottom: 243px solid #e6e6e6;
        border-left: 243px solid transparent;
        @media (max-width: 991px){
            right: 50%;
            transform: translateX(50%);
            bottom: 0;
        }
    }
    .content-inside-wrapper{
        padding: 65px 62px;
    }
    .left, .section-second{
        p{
            margin-bottom: 20px;
        }
    }
    .title-section{
        color: @niebieski;
        font-size: 24px;
        font-weight: 700;
        padding: 45px 0;
    }
    .triangle-after{
        position: absolute;
        top: 0;
        bottom: -11px;
        background: url(img/parapet-after.jpg) bottom no-repeat;
        left: 0;
        right: -21px;
        @media (max-width: 400px){
            right: 10px;
        }
    }
}


.okna-rodzaje{
    @media(min-width:1200px){.container{width:1170px;}}
    .content-inside-wrapper{
        padding: 65px 42px;
    }
    .title-section{
        color: @niebieski;
        font-size: 24px;
        font-weight: 700;
        padding: 45px 0;
        padding-bottom: 30px;
        padding-top: 0;
    }
    ul{
        padding-left: 17px;
        padding-right: 50px;
        @media (max-width: 991px){
            padding-right: 0;
            padding-left: 0;
        }
        li{
            list-style: none;
            position: relative;
            margin-bottom: 20px;
            &:before{
                content: "■";
                color: @headers-color;
                position: absolute;
                top: -1px;
                left: -17px;
                margin-right: 10px;
            }
        }
    }
    .wrapper-for-contents{
        border: 3px solid @niebieski;
        overflow: auto;
        padding: 20px;
        padding-bottom: 50px;
        @media (max-width: 991px){
            margin: 0 5px;
            padding: 20px 10px 50px;
        }
    }
    .section-second{
        margin-bottom: 70px;
        margin-top: 60px;
        @media (max-width: 991px){
            margin-bottom: 20px;
        }
    }
    .right{
        p{
            margin-bottom: 20px;
        }
    }
    .okna-swiper{
        margin-top: 60px;


        /*        .swiper-slide{
                    height: 70px !important;
                }*/



        .swiper-button-next, .swiper-button-prev{
            top: 50% !important;
            right: -5px !important;
            background-size: 9px 16px;
        }

        .swiper-button-next{
            background-image: url(img/next-small.png) !important;
        }


        .swiper-button-prev{
            left: -5px !important;
            background-image: url(img/prev-small.png) !important;
        }
        @media (max-width: 991px){
            margin-top: 25px;
            margin-bottom: 25px;
            display: none;
        }

        .swiper-slide{
            &:hover{
                cursor: pointer;
            }
        }
    }

    .section-fourth{
        padding-top: 90px;
        border-top: 1px solid #e6e6e6;
        @media (max-width: 991px){
            padding-top: 25px;
        }
        a{
            display: block;
            color: @niebieski;
        }
        img{
            margin-bottom: 25px;
        }
        .swiper-button-next, .swiper-button-prev{
            background-size: 15px 26px;
            right: 0px !important;
            top: 33% !important;
        }
    }

    .section-third{
        padding-bottom: 55px;
        @media (max-width: 991px){
            padding-bottom: 0;
        }
        .left{
            @media (max-width: 991px){
                margin-bottom: 20px;
                text-align: center;
            }
        }
    }
}

.home{
    .fourth-section__text-wrapper{
        .title{
            margin-top: 10px;
        }
    }

    .single-wrapper{
        padding-bottom: 43px;
        h1{
            a{
                background: linear-gradient(140deg,#0d336f 4%,#135baa 86%);
                background-clip: text;
                -webkit-background-clip: text;
                color: rgba(0,0,0,0);
            }
        }
    }
    @media(min-width:1200px){.container{width:1115px;}}
    .navbar{
        background: transparent !important;
    }

    .third-section{
        .row{
            display: flex;
            width: 100 !important;

            @media (max-width: 991px){
                display: block;
            }
            .col-md-4{
                flex: 1 !important;
                &:last-of-type{
                    .third-section__wrapp{
                        /*max-width: 100%;*/
                        /*background: red;*/
                    }
                    .third-section__single-wrapper{
                        float: right;
                    }
                }
                &:nth-of-type(2){
                    .third-section__wrapp{
                        margin: 0 auto;
                        @media (max-width: 991px){
                            margin-bottom: 10px;
                        }
                    }
                    .third-section__single-wrapper{
                        margin: 0 auto;
                    }
                }
                .third-section__wrapp{
                    height: 100%;

                }
                .third-section__single-wrapper{
                    height: 100%;
                }
            }
        }
    }
    .first-section{
        position: relative;
    }
}

.main-wrapper{
    overflow: hidden;
    position: relative;
}

#wp-admin-bar-new_draft{
    @media (max-width: 991px){
        display: none !important;
    }
}

.single-page-wrapper{
    overflow: hidden;

}

#triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 125px solid #e3eefa;
    border-right: 53px solid transparent;
    position: absolute;
    bottom: -7px;
    left: -10px;
}
.wrapper-photo{
    position: relative;
    a{
        font-size: 14px;
        color: @niebieski;
        font-weight: 400;
        margin-bottom: 30px;
        display: block;
    }
    img{
        z-index: 1;
        position: relative;
    }
}

.wrapper-for-realizacje{
    text-align: center;
    a{
        font-size: 14px;
        color: @niebieski;
        font-weight: 400;
        margin-bottom: 30px;
        display: block;
    }
}

#primary-menu{
    .active{
        a{
            color: @zolty;
            background: none;
            @media (min-width: 992px) and (max-width: 1150px){
                padding: 10px 7px;
            }
        }
        .dropdown-menu{
            a{
                color: #fff;
            }
        }
    }
}

form{
    margin-top: -42px;
    @media (max-width: 991px){
        margin-top: 0;
    }

    .wpcf7-submit{
        display: block;
        margin-left: 15px;
    }
    .btn{
        background: #fff; 
        @media (max-width: 991px){
            margin: 0 auto;
        }
    }
}

.upup{
    position: relative;
    top: -32px;
    font-size: 14px;
}

form {


}


.wrapper-for-all{
    position: relative;
    text-align: center;
    &:hover{
        &:after{
            background: @headers-color;
        }

    }
    span{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        color: #fff;
        font-size: 28px;
        font-weight: 700;
        left: 0;
        line-height: 1;
        right: 0;
        padding: 0 10px;
    }
    &:after{
        content: "";
        background: rgba(6, 70, 141,.7);
        mix-blend-mode: auto;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        .basic-transition;

    }
}

.flex-centering{
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
    margin-left: -30px;
    margin-right: -30px;
    .row{
        display: block;
    }
}

.normal-wrapper{
    max-width: 230px;
    float: left;
    margin: 0 15px;
    margin-bottom: 15px;
    @media (max-width: 1199px){
        margin-bottom: 20px;
    }
    @media (max-width: 767px){
        float: none;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}


.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
}
/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the 
* pesky delay.
*/
label, input {
    transition: all 0.2s;
    touch-action: manipulation;
}

input {
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
}

input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
}

label {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/
input:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
}
/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder {
    opacity: 1;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label,
input:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
}

.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
}

.kontakt{
    ul{
        padding-left: 0;
        li{
            list-style: none;
            a{
                color: #76ace7;
                font-size: 30px;
                font-weight: 700;
                @media (max-width: 1199px){
                    font-size: 26px;
                }
                @media (max-width: 767px){
                    font-size: 18px;
                }
            }
            i{
                font-weight: 700;
                color: #b7b7b7;
                font-size: 18px;
                top: -4px;
                margin-right: 10px;
                position: relative;
                @media (max-width: 767px){
                    top: 0;
                }
            }
        }
    }
}

.swiper-slide{
    padding: 0 20px;
    span{
        margin-top: 15px;
    }
}



.fourth-swiper{
    padding-top: 45px !important;
    border-top: 1px solid #e3eefa;
    .swiper-slide{
        padding: 0 30px;
        margin: auto;
    }
    .swiper-button-next, .swiper-button-prev{
        background-size: 15px 26px;
        right: 0px !important;
        top: 50% !important;
    }
    .swiper-button-prev{
        left: 0 !important;
        background-image: url(img/prev.png) !important;
    }

    span{
        color: @niebieski;
        margin-top: 20px;
        display: block;
    }
}

.section-fourth{
    position: relative;
    a{
        color: @niebieski;
    }
}

.swiper-button-next, .swiper-button-prev{
    top: 33% !important;
    right: -5px !important;
}

.swiper-button-next{
    background-image: url(img/next.png) !important;
}


.swiper-button-prev{
    left: -5px !important;
    background-image: url(img/prev.png) !important;
}


.bramy{
    .swiper-button-next, .swiper-button-prev{
        top: 50% !important;
        background-size: 15px 26px;
    }
}

.title-section{
    @media (max-width: 991px){
        text-align: center;
    }
}

.socials-menu-right{
    text-align: right;
    .phone-number{
        i{
            font-size: 16px;
            position: relative;
            top: -2px;
            margin-left: 5px;
        }
    }
    @media (max-width: 991px){
        text-align: center;
        padding-left: 0;
        .phone-number{
            margin-right: 0;
        }
        li{
            margin: 10px 15px;
        }
    }

    li:first-child{
        @media (max-width: 991px){
            /*            display: block;*/
            margin-right: 15px;
        }
    }


}
@media (max-width: 991px){
    #primary-menu{
        text-align: center;
        padding-bottom: 150px;
    }
}




@media (min-width: 992px) and (max-width: 1150px){
    #navbar{
        .navbar-nav>li>a {
            padding: 10px 8px;
            font-size: 17px;
        }
    }
}

/*MENU BREAKPOINTS*/
@media (max-width: 991px) {
    #navbar{
        text-align: center;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 8px;
        margin-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
/*END*/

.hamburger{
    float: right;
    @media (min-width: 992px){
        display: none;
    }
}

.hamburger-box{
    top: 8px;
    right: 10px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    width: 32px;
    background: rgba(255,255,255,1);
    opacity: 1;
}
.hamburger--spring .hamburger-inner::before{
    top: 7px;
}

.hamburger--spring .hamburger-inner::after{
    top: 14px;
}

.up{
    #navbar{
        @media (max-width: 991px){
            background: rgba(13,51,111,.7)!important;
        }
    }
}

.kontakt{

    .input {
        position: relative;
        z-index: 1;
        display: inline-block;
        margin: 1em;
        max-width: 350px;
        width: calc(100% - 2em);
        vertical-align: top;
        @media (max-width: 991px){
            width: 90%;
        }
    }

    .input__field {
        position: relative;
        display: block;
        float: right;
        padding: 0.8em;
        width: 60%;
        border: none;
        border-radius: 0;
        background: #f0f0f0;
        color: #aaa;
        font-weight: 400;

        -webkit-appearance: none; /* for box shadows to show on iOS */
    }

    .input__field:focus {
        outline: none;
    }

    .input__label {
        display: inline-block;
        float: right;
        padding: 0 1em;
        width: 40%;
        color: #6a7989;
        font-weight: bold;
        font-size: 70.25%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .input__label-content {
        position: relative;
        display: block;
        padding: 1.6em 0;
        width: 100%;
        padding-bottom: 10px;
    }

    .graphic {
        position: absolute;
        top: 0;
        left: 0;
        fill: none;
    }

    .icon {
        color: #ddd;
        font-size: 150%;
    }

    /* Hoshi */
    .input--hoshi {
        overflow: hidden;
        &:nth-of-type(3){
            .input__label-content--hoshi{
                top: 18px;
            }
        }
    }

    .input__field--hoshi {
        margin-top: 1em;
        padding: 0.85em 0.15em;
        width: 100%;
        background: transparent;
        color: #5c5c5c;
        font-size: 16px;
    }

    .input__label--hoshi {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 0.25em;
        width: 100%;
        height: calc(100% - 1em);
        text-align: left;
        pointer-events: none;

    }

    .input__label-content--hoshi {
        position: absolute;
        bottom: 0;
        color: #ababab;
        font-size: 14px;
        font-weight: 400;

    }

    .input__label--hoshi::before,
    .input__label--hoshi::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 10px);
        border-bottom: 1px solid #B9C1CA;
    }

    .input__label--hoshi::after {
        margin-top: 2px;
        border-bottom: 1px solid transparent;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }

    /*    .input__label--hoshi-color-1::after {
            border-color: hsl(200, 100%, 50%);
        }
    
        .input__label--hoshi-color-2::after {
            border-color: hsl(160, 100%, 50%);
        }
    
        .input__label--hoshi-color-3::after {
            border-color: hsl(20, 100%, 50%);
        }*/

    .input__field--hoshi:focus + .input__label--hoshi::after,
        .input--filled .input__label--hoshi::after {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
        .input--filled .input__label-content--hoshi {
        -webkit-animation: anim-1 0.3s forwards;
        animation: anim-1 0.3s forwards;
    }



}

@keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0);
    }
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
    max-height: 500px;
}

.navbar{
    .container-fluid{
        @media (max-width: 991px){
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.breadcrumbs{
    list-style: none;
    padding-left: 0;
    font-size: 14px;

    li{
        position: static !important;
        display: inline-block !important;
        color: @niebieski;
        a{
            color: @niebieski;
            font-size: 14px;
        }
        span{
            color: #c8c8c9;
        }
        &:before{
            content: "" !important;
        }
    }
}

.okna-rodzaje, .drzwi-rodzaje, .parapety-rodzaje, .rolety, .bramy{
    .breadcrumbs{
        padding-left: 0;
        li{
            &:before{
                content: "";
            }
        }
    }
}

.modal-dialog{
    top: 50% !important;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    transform: translateY(-50%) !important;
    margin: 0 auto;
    background: #fff;
    .modal-header{
        display: none;
        border-bottom: none;
    }
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background: #377cc9;
}

.navbar-nav>li>.dropdown-menu{
    right: -80%;
    margin-top: 0;
    border:none;
    padding: 0;
    border-radius: 0;
    .basic-transition;
    background: #377cc9;
    @media (max-width: 991px){
        right: 0;
        left: 0;
    }

    li{
        border-bottom: 1px solid #2466af;
        a{
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: #fff;
        }
        &:last-of-type{
            border-bottom: none;
        }
    }
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background: transparent;
    background-color: transparent !important;
    color: #fff;
    .basic-transition;
}


.caret{
    display: none;
}


#input-6{
    min-height: 100px;
}

.dropdown-menu>li>a{
    padding: 5px 20px;
}

.btn-white{
    color: #fff;
    position: absolute;
    bottom: 25px;
    border: 1px solid #fff;
    z-index: 2;

    &:after{
        content: "";
        background: url(img/btn-white.png) center center no-repeat #fff;

    }

    &:hover{
        background: #fff;
        color: #000;
    }
}

.ekko-lightbox-nav-overlay a span{
    padding: 0;
    margin-right: -15px;
    margin-left: -15px;
}

.wrapper-for-swiper-width{
    margin: 0 -40px;
    .swiper-button-next, .swiper-button-prev{
        background-size: 15px 26px;
        right: 0px !important;
        top: 50% !important;
    }
    @media (max-width: 991px){
        margin: 0;
    }
}

.drzwi-rodzaje{
    .swiper-button-next, .swiper-button-prev{
        top: 40% !important;
    }
}


.special-section-first{
    .right{
        padding-right: 40px;
        @media (max-width: 1199px){
            padding-right: 0;
        }
    }
}

.admin-bar header .red{
    background: #06468d!important;
    #navbar{
        background: #06468d!important;
    }
}

header .red{
    background: #06468d!important;
    #navbar{
        background: #06468d!important;
    }
}

.home header .red{
    background: #06468d!important;
    #navbar{
        background: #06468d!important;
    }
}


.navbar{

    @media (max-width: 991px){
        box-shadow: none;
        border: none;
    }
}

.new-section-first{
    .right{
        text-align: right;
        padding-right: 0;
        padding-top: 0;
        position: relative;
        .triangle{
            bottom: 0;
        }
    }
}


.modal-open{
    /*overflow: auto !important;*/
    padding-right: 17px !important;
    /*margin-right: 13px !important;*/
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-toggle li:hover .dropdown-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.okna{
    #porownaj{
        font-size: 13px;
        .modal-footer{
            display: none;
        }
        .modal-dialog{
            max-width: 1060px;
            width: 100%;
            /*top: 50% !important;*/
            position: absolute !important;
            left: 0 !important;
            right: 0 !important;
            /*transform: translateY(-50%) !important;*/
            @media (max-width: 991px){
                /*padding-top: 100px;*/
            }
            .modal-header{
                display: block;
                @media (max-width: 550px){
                    padding-top: 50px;
                }
            }
            .modal-body{
                max-height: 685px;

                padding: 0 32px;
                padding-right: 0;
                @media (max-width: 991px){
                    padding: 10px;
                    max-height: 80%;
                }
                .first-row{
                    margin-right: 0;
                }
                .first-row:last-of-type{
                    @media (max-width: 991px){
                        padding-bottom: 50px;
                    }
                    @media (max-width: 550px){
                        padding-bottom: 250px;
                    }
                }
                @media (min-width: 992px){
                    .col-md-3 {
                        width: 27%;
                    }
                }
            }
        }
        .simple-wrapper-for-modal-color{
            .row{
                background: #f4f4f4;
                padding: 15px 0;
                &:nth-of-type(odd) {
                    background: #f4f4f4;
                }
            }
        }
        .simple-wrapper-for-modal-no-color{
            .row{
                background: #fff;
                padding: 15px 0;
                width: 100%;
                /* height: 100%; */
                padding: 15px 0;
                overflow: auto;
            }
        }
    }
}

.simple-wrapper-for-modal{
    img{
        max-height: 136px;
    }
    span{
        display: block;
        margin-top: 30px;
        margin-bottom: 25px;
        color: @niebieski;
            font-size: 24px;
            font-weight: 700;
/*        a{
            color: @niebieski;
            font-size: 24px;
            font-weight: 700;

        }*/
    }
}


.opis{
    /*width: 150px;*/
    /*background: red;*/
    color: #5C5C5C;
    font-weight: 700;
    text-transform: uppercase;
}

#navbar{
    @media (max-width: 991px){
        border: none;
        box-shadow: none;
    }
}

/*.wrapper-for-scroll{
    overflow-y: scroll;
    max-height: 415px;
    position: relative;
    width: 100%;
}*/

/*.wrapper-for-scroll-inside{
        overflow-y: scroll;
        max-height: 415px;
        position: relative;
        width: 100%;
}*/

.wrapper-for-scroll-new{
    max-height: 415px;
    @media (max-width: 550px){
        max-height: 260px;
    }
}

.test1{
    max-height: 415px; 
    @media (max-width: 550px){
        max-height: 260px;
    }
}

body, .modal{
    padding-right: 0;
}

.modal-open{
    overflow: hidden;
}

.okna-rodzaje{
    .okna-swiper{
        img{
            max-height: 77px;
            width: auto;
        }
    }
}

#tests{
    /*    height: 309px;
        position: relative;*/
    /*    img{
            top: 50%;
            margin: 0 auto;
            left: 50%;
            display: block;
            position: absolute;
            transform: translate(-50%,-50%);
        }*/
}


.dropdown:hover .dropdown-menu {
    display: block;
}

#menu-item-389{

}

.dropdown{
    @media (max-width: 991px){
        position: relative;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 25%;
            right: 25%;
            bottom: 0;
            background: transparent;
        }  
    }
}

.dropdown-menu{
    @media (max-width: 991px){
        position: relative;
        width: 100%;
        margin-bottom: 15px;
        display: block;
    }
}

.dropdown{
    .dropdown-menu{
        @media (max-width: 991px){
            display: none;
        }
    }
}

#menu-item-286{
    .dropdown-menu{
        right: -30%;
    }
}

.modal-content{
    border-radius: 0;
    @media (max-width: 991px){
        /*padding-top: 150px;*/
    }
}

.modal-swiper{

    .swiper-slide{
        &:nth-of-type(odd) {
            .wrapper-for-scroll-new{
                background: #f4f4f4;
            }

        }
    }
    .opis{
        padding-top: 10px;
    }
}

.content-in-modal{
    text-align: left;
    padding: 10px 15px;
}

.wrapper-for-opis-and-content{
    min-height: 240px;
    @media (max-width: 550px){
        min-height: unset;
    }
}

.hide-slider{
    @media (min-width: 992px){
        display: none;
    }
}

.normal-modal{
    @media (max-width: 991px){
        display: none;
    }
}


.www{
    font-weight: 400;
}


.wrapper-for-scroll{
    height: 300px;
    width: 100%;
    /*overflow-y: scroll;*/
    @media (min-width: 992px){
        ::-webkit-scrollbar { 
            display: none; 
        }
    }
}

.y1, .y2{
    @media (min-width: 992px){
        display: none;
    }  
}

.okna-swiper{
    @media (max-width: 991px){
        display: none;
    }
}

.gallery-top{
    /*height: 100%;*/
    .swiper-slide{
        img{
            /*            position: absolute;
                        top: -50%;
                        left: 50%;
                        transform: translate(-50%, 50%);*/

        }
    }
}


/*
.gallery-thumbs{
    margin-top: 60px;


    .swiper-slide{
        height: 70px !important;
    }



    .swiper-button-next, .swiper-button-prev{
        top: 50% !important;
        right: -5px !important;
        background-size: 9px 16px;
    }

    .swiper-button-next{
        background-image: url(img/next-small.png) !important;
    }


    .swiper-button-prev{
        left: -5px !important;
        background-image: url(img/prev-small.png) !important;
    }
    @media (max-width: 991px){
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

.gallery-top{
    .swiper-slide{
        height: 320px !important;
    }
}*/

.gallery-top{
    /*.swiper-slide{*/
    /*height: 320px !important;*/
    /*        a{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }*/
}


#navbar{
    .socials-menu-right{
        li{
            margin-right: 18px;
            &:first-of-type{
                margin-right: 0;
            }
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}

.close-now{
    float: right;
    &:hover{
        cursor: pointer;
        .basic-transition;
    }
}

.navbar{
    .basic-transition;
    height: 136px;
}


.m1, .m2{
    top: 75px !important;
    margin: auto 10px;
}

.overflow-class{
    overflow: hidden;
}

.normal-modal{
    .simple-wrapper-for-modal{
        .ww{
            min-height: 136px;
        }
    }
}


.ekko-lightbox-item{
    img{
        text-align: center;
        display: block;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
    }
}


.next-to-slider{
    padding-bottom: 20px;
}

/*-----------------------------------*/

.modal-open{
    overflow: hidden;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-toggle li:hover .dropdown-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.okna{
    #porownaj{
        font-size: 13px;
        .modal-footer{
            display: none;
        }
        .modal-dialog{
            max-width: 1060px;
            width: 100%;
            top: 50% !important;
            position: absolute !important;
            left: 0 !important;
            right: 0 !important;
            transform: translateY(-50%) !important;
            .modal-header{
                display: block;
            }
            .modal-body{
                max-height: 685px;
                @media (max-width: 550px){
                    max-height: 560px;  
                }
                padding: 0 32px;
                padding-right: 0;
                .first-row{
                    margin-right: 0; 
                }
                @media (min-width: 992px){
                    .col-md-3 {
                        width: 27%;
                    }
                }
            }
        }
        .simple-wrapper-for-modal-color{
            .row{
                background: #f4f4f4;
                padding: 15px 0;
                &:nth-of-type(odd) {
                    background: red;
                }
            }
        }
        .simple-wrapper-for-modal-no-color{
            .row{
                background: #fff;
                padding: 15px 0;
                width: 100%;
                /* height: 100%; */
                padding: 15px 0;
                overflow: auto;
            }
        }
    }
}

.simple-wrapper-for-modal{
    img{
        max-height: 136px;
    }
    span{
        display: block;
        margin-top: 30px;
        margin-bottom: 25px;
        a{
            color: @niebieski;
            font-size: 24px;
            font-weight: 700;

        }
    }
}


.opis{
    /*width: 150px;*/
    /*background: red;*/
    color: #5C5C5C;
    font-weight: 700;
}

#navbar{

    @media (max-width: 991px){
        border: none;
        box-shadow: none;
        /*        position: absolute;
                top: 106px;
                left: 0;
                right: 0;
                bottom: 0;
                height: auto;
                width: 100%;*/
    }
}

.wrapper-for-scroll{
    overflow-y: scroll;
    max-height: 415px;
    position: relative;
    width: 100%;
}



body, .modal{
    padding-right: 0;
}

.modal-open{
    overflow: hidden;
}

.okna-rodzaje{
    .okna-swiper{
        img{
            max-height: 77px;
            width: auto;
        }
    }
}

#tests{
    height: 309px;
    position: relative;
    img{
        top: 50%;
        margin: 0 auto;
        left: 50%;
        display: block;
        position: absolute;
        transform: translate(-50%,-50%);
    }
}


.dropdown:hover .dropdown-menu {
    display: block;
}

#menu-item-389{

}

.dropdown{
    @media (max-width: 991px){
        position: relative;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: transparent;
        }  
    }
}

.dropdown-menu{
    @media (max-width: 991px){
        position: relative;
        width: 100%;
        margin-bottom: 15px;
        display: block;
    }
}

.dropdown{
    .dropdown-menu{
        @media (max-width: 991px){
            display: none;
        }
    }
}

.ekko-lightbox-item{
    position: relative;
    img{
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
    }
}

.gallery-top{
    .swiper-button-next, .swiper-button-prev{
        top: 50% !important;
        right: -5px !important;
        background-size: 9px 16px;
        @media (min-width: 992px){
            display: none;
        }
    }
}

#menu-item-286{
    .dropdown-menu{
        right: -30%;
        margin-top: 0;
        border:none;
        padding: 0;
        border-radius: 0;
        .basic-transition;
        background: #377cc9;
        @media (max-width: 991px){
            right: 0;
            left: 0;
        }

        li{
            border-bottom: 1px solid #2466af;
            a{
                font-size: 18px;
                line-height: 30px;
                text-align: center;

            }
            &:last-of-type{
                border-bottom: none;
            }
        }
    }

}

.parapety-section-first{
    .one-box-content{
        height: 200px;
        position: relative;
        img{
            position: absolute;
            transform: translate(-50%, -50%);
            top: 40%;
            left: 50%;
            /* right: 0; */
            max-width: 216px;
            max-height: 108px;
            @media (min-width: 992px) and (max-width: 1199px){
                position: relative;
                transform: translate(0,-50%);
                top: 40%; 
                left: auto; 
                max-width: 100%; 

            }
        }
        .box-content{
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
        }
    }
}

.parapety-section-second{
    .one-box-content{
        img{
            padding: 0 21px;
            max-height: 133px;
            padding-bottom: 15px;


            position: relative;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            transform: translateY(0%);

        }
        .box-content{
            a{
                position: absolute;
                bottom: 0;
                left: 0;
                right: auto;
                margin-top: 10px;
                display: block;
                padding: 10px 5px 10px 5px;
                @media (max-width: 991px){
                    right: 0;
                }
            }
        }
    }
}

.parapety-swiper{
    margin-top: 50px !important; 
}

.parapety-rodzaje .parapety-section .one-box-content .center-box-parapety a{
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
}

.parapety-rodzaje .section-third .parapety-section .one-box-content .center-box-parapety a{
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
}

.parapety-section-first .one-box-content .center-box-parapety{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 7px 15px;
    p{
        margin: 0;
    }
}

.modal-open{
    padding-right: 0 !important; 
}

#ascrail2003{
    margin-right: -15px;
}
/*-------------------------------------- TU USUWAĆ*/


@media (max-width: 991px){


    .overflowHidden{
        overflow: hidden;
    }
    .overflowVisible{
        overflow: visible;
        height: 100%;
    }

    /*    .logo, .hamburger__container {
            position: relative;
            z-index: 9999;
            background: rgba(210,241,237, 0.3);
        }*/

    /*    .wrapper-for-navbar {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            right: -100%;
            width: 100%;
            height: 100%;
            background: #d2f1ed;
            opacity: 0;
            transition: opacity .3s ease;
        }*/



    /*    #navbar {
            position: absolute;
            padding: 80px 20px 30px;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
             These 2 below are all the magic: 
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }*/
}
#cookie-div{display: none;background-color: #fff;border:1px solid #06468d;bottom:5px;color:black;font-size:11px;text-align: center;left:5px;position:fixed;width:100%;z-index:9999;width: 300px;}
#cookie-div > div{margin:0 auto;max-width:1160px;padding: 5px;background:  #fff;overflow: auto;}
#cookie-div > div > p{float:left;font-size:11px;margin:5px 0}#cookie-div > div > p a{color:#000;font-size:11px;text-decoration:underline}
#cookie-div{
    padding-top: 20px;
    @media (max-width: 991px){
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    p{
        color: #0d336f;
    }
}

.wrapper-for-captcha{
    margin-left: 15px;
    @media (max-width: 991px){
        max-width: 300px;
        margin: 0 auto;
    }
}

div.wpcf7 .wpcf7-recaptcha iframe{
    @media (max-width: 991px){
        max-width: 100%;
    }
}

.wpcf7-recaptcha{
    &:first-child{
        width: 100%;
    }
}

#closeCookies{
    font-size: 25px;
    /* float: right; */
    display: block;
    position: absolute;
    right: 10px;
    top: 0px;
    &:hover{
        cursor: pointer;
    }
}

.anim-mobile{
    opacity: 1 !important;
}

.cf{
    background: transparent !important;
    color: #fff !important;
}

.cf-black{
    background: transparent !important;
    color: @headers-color !important;
}