@import "../idvetmp/style.less";
@import "../idvetmp/css/bootstrap.min.css";


@rozmiar-bazowy: 14px;
@czcionka-bazowa: 'Special Elite', sans-serif;
@Sinkinsans: 'SinkinSans', sans-serif;
@Sinkinsans600: 'SinkinSans', sans-serif;
@kolor-czarny: #1A1A1A;


@font-face {
    font-family: 'SinkinSans';
    src: url('fonts/SinkinSans-300Light.ttf'); /* IE9 Compat Modes */
}

:focus {
    outline: 0;
}


	header{
        .navbar-default{
            .basic-transition;
            border: none !important;
        }
    }


a{
    color: #000;
    .basic-transition;
    &:hover{
        color: #000;
    }
}

p{
    strong{
        a{
            .basic-transition;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

img{
    max-width: 100%;
    height: auto;
}
html>body{
    font-family: @czcionka-bazowa;
}

.btn{
    &:after{
        content: ">";
        background: #fff;
        position: absolute;
        height: 50px;
        top: 50%;
        transform: translateY(-50%);
        padding: 15px;
        right: 0;
    }
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-7px);
    }
}

.basic-transition{
    transition: all .2s ease-in-out;
}

.read-btn{
    height: 50px;
    color: #000;
    border: 2px solid #000;
    display: inline-block;
    padding: 8px 60px 8px 20px;
    position: absolute;
    font-size: 22px;
    bottom: 60px;
    left: 50px;
    text-decoration: underline;
    text-decoration-color: #afb3b6;
    margin-bottom: 20px;
    .basic-transition;
    background: url("img/ee-white.svg") right no-repeat;
    &:hover{
        color: #000;
		background: url("img/btn-send.svg") right no-repeat #f0f2f4;
    }
    //&:after{
    //    content: url("img/ee-white.png");
    //    background: #fff;
    //    position: absolute;
    //    height: 46px;
    //    top: 50%;
    //    transform: translateY(-50%);
    //    padding: 15px;
    //    right: 0;
    //}
}

.base-transision{
    transition: all 0.4s;
}


@OsloGray: #84898d;
@Iron: #d3d8db;
@AthensGray: #F0F2F4;

body{
    font-size: @rozmiar-bazowy;
    //font-family: @czcionka-bazowa;
    color: @kolor-czarny;
}

#navbar{
    background: #fff;
    max-width: 1800px;
    margin: 0 auto;
    border: none;
    @media (max-width: 767px){
        text-align: center;

    }
}

.admin-bar{
.navbar{
	@media (min-width: 991px){
            margin-top: 0 !important;
        }
}
    #navbar{
	
        @media (min-width: 768px){
            margin-top: -10px;
        }
    }
}

.navbar{
z-index: 886753099;
    .container{
        position: relative;
    }
}


.search-wrap{
    text-align: right;
    margin: 0 auto;
    position: relative;
    max-width: 1800px;
    margin-top: 38px;
    @media (max-width: 767px){
        text-align: center;
        margin-top: 0;
    }
    ul{
        z-index: 2;
        padding-left: 0;
        list-style: none;
        display: inline-flex;
        position: absolute;
        text-align: right;
        margin: 0;
        right: -15px;
        padding-top: 8px;
        @media (max-width: 767px){
            position: static;
            margin-bottom: 8px;
        }
        li{
            margin-right: 15px;
            a{
                color: @OsloGray;
                font-size: 16px;
                .basic-transition;
                &:hover{
                    color: #000;
                }
            }
        }
    }
    
    form{
        label{
            position: relative;
            .search-field{
                height: 34px;
                border: none;
                background-color: @AthensGray;
                position: relative;
                width: 192px;
            }
            .search-submit{
                position: absolute;
                right: 15px;
                background: url("img/search.svg") center center no-repeat;
                border: none;
                height: 34px;
            }
        }
    }
}

.photo-thumbnail{
    max-width: 375px;
    float: left;
    margin-right: 65px;
    margin-bottom: 65px;
    position: relative;
    @media (max-width: 991px){
        margin-right: 25px;
        margin-bottom: 25px;
    }
    @media (max-width: 650px){
        float: none;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    img{
        z-index: 2;
        position: relative;
		max-width: 370px;
		max-height: 505px;
		width: 100%;
    }
    &:after{
        content: "";
        height: 173px;
        width: 100%;
        background: #f2f3f5;
        position: absolute;
        left: 20px;
        bottom: -20px;
        //z-index: -1;
        @media (max-width: 991px){
            width: auto;
        }
    }
}


.photo-thumbnail-category{
    max-width: 375px;
    float: left;
    margin-right: 65px;
    margin-bottom: 65px;
    position: relative;
    @media (max-width: 991px){
        margin-right: 25px;
        margin-bottom: 25px;
        text-align: center;
    }
    @media (max-width: 650px){
        float: none;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    img{
        z-index: 2;
        position: relative;
        height: auto;
        max-width: 214px;
		max-height: 290px;
    }
    &:after{
        content: "";
        height: 90px;
        width: 240px;
        background: #f2f3f5;
        position: absolute;
        left: 20px;
        bottom: -20px;
        //z-index: -1;
        @media (max-width: 991px){
            width: auto;
            left: 0;
            bottom: -20px;
            right: 0;
        }
    }
}

#primary-menu{
    font-family: @Sinkinsans;
    font-weight: 300;
    font-size: 16px;
    .basic-transition;
    background: #fff;
    a{
        color: #000;
        .basic-transition;
        &:after{
            .basic-transition;
            content: "";
            height: 5px;
            width: 5px;
            background: transparent;
            border-radius: 50%;
            position: absolute;
            left: 14px;
            bottom: 6px;
        }
        &:hover{
            .basic-transition;
            &:after{
                .basic-transition;
                content: "";
                height: 5px;
                width: 5px;
                background: #000;
                border-radius: 50%;
                position: absolute;
                left: 14px;
                bottom: 6px;
                @media (max-width: 767px){
                    left: 50%;
                }
            }
        }
    }
    @media (max-width: 991px){
        margin: 0;
        text-align: center;
    }

    .current-menu-item{
        a{
            background: transparent;
            color: #000;
            &:after{
                content: "";
                height: 5px;
                width: 5px;
                background: #000;
                border-radius: 50%;
                position: absolute;
                left: 14px;
                bottom: 6px;

            }
            @media (max-width: 767px){
                &:after{
                    left: 50%;

                }
            }
        }
    }
}
.nav-wrapper{
    max-width: 1830px;
    margin: 0 auto;
    @media (max-width: 767px){
        background: white;
    }
}
.cien{
    -webkit-box-shadow: 0px 10px 10px 0px rgba(132,137,141,0.5);
    -moz-box-shadow: 0px 10px 10px 0px rgba(132,137,141,0.5);
    box-shadow: 0px 10px 10px 0px rgba(132,137,141,0.5);
}
.navbar-toggle{
    margin-top: 15px;
}
.navbar-nav > li > a{
    margin-top: 30px;
    @media (max-width: 767px){
        margin-top: 13px;
    }
}
.navbar{
    height: 124px;
    background: #fff;
	margin-top: -30px;
}
.navbar-brand{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
	img{
		margin-top: 18px;
	}
    @media (max-width: 991px){
        width: 220px;
		
        top: auto;
        position: static;
        transform: none;
    }

}

.navbar-brand > img{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    width: auto;
    max-width: none;
    @media (max-width: 991px){
        width: 220px;
        top: auto;
        position: static;
        transform: none;
    }
    @media (min-width: 767px) and (max-width: 991px){
        margin-top: 20px;
    }
}


.clients {
    .first-section {
        @media (max-width: 991px) {
            margin-top: 30px;
        }
        h2 {
            margin-bottom: 98px;
            @media (max-width: 991px) {
                margin-bottom: 30px;
            }
        }

    }
}

.slider2{
    max-width: 1920px;
    height: 220px;
    h2{
        margin-top: 98px;
        @media (max-width: 991px) {
            margin-top: 30px;
        }
    }
    @media (max-width: 991px){
        margin-top: 50px;
        height: 170px;
    }
    .swiper-pagination-bullet-active{
        background: url("img/active.jpg") no-repeat;
    }
}



    .slider-awards{
        //padding: 206px 0;
        @media (max-width: 991px){
            //padding: 56px 0;
        }
        @media (max-width: 360px){
            //padding: 6px 0;
        }

    }
	.form-wrapper, .about{
        h1{
            text-align: center;
            font-size: 86px;
            background: url("img/h1after-darken.png") bottom no-repeat;
            //margin-top: 95px;
            color: #fff;
            margin-bottom: 155px;
            @media (max-width: 991px){
                font-size: 80px;
                margin-bottom: 35px;
            }
            @media (max-width: 767px){
                font-size: 55px;
                margin-bottom: 30px;
            }
            @media (max-width: 450px){
                font-size: 35px;
                margin-bottom: 5px;
            }
        }
	}
    p{
        font-size: 22px;
        color: #fff;
        padding-top: 22px;
        font-family: @Sinkinsans;
        font-weight: 300;
        @media (max-width: 360px){
            padding-top: 0;
            font-size: 15px;
        }
    }






.food{
    padding-top: 70px;
    max-width: 880px;
   margin: 0 auto;
    @media (max-width: 767px){
        padding-top: 0;
    }
    h1{
        font-size: 180px;
        text-align: right;
        @media (max-width: 991px){
            font-size: 60px;
            text-align: center;
        }
        @media (max-width: 767px){
            font-size: 40px;
            text-align: center;
        }
    }
    p{
        font-size: 22px;

    }
}
.right-wrapp{
    padding-top: 30px;
    padding-left: 30px;
    p{
        font-size: 40px;
    }
}
.food__slider{
    font-size: 22px;
    text-align: center;
   .swiper-slide{
       p{
           background: url("img/pedzel.png") no-repeat center center;
           color: #fff;
           padding: 40px 0;
           background-size: contain;
       }
   }
}

.quick-sentence{
    margin-top: 70px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    font-family: @Sinkinsans;
    img{
        margin: 30px auto;
    }
    strong{
        font-weight: 700;
    }
}

.category-wrapper{
    margin-top: 95px;
    margin-bottom: 225px;
    @media (max-width: 991px){
        margin-bottom: 30px;
        margin-top: 0;
    }
    &:before{
        content: "&#";
        font-size: 800px;
        position: absolute;
        left: 50%;
        transform: translateX(-68%);
        color: @AthensGray;
        margin-top: 200px;
        letter-spacing: 90px;
        @media (max-width: 991px){
            font-size: 60px;
            text-align: center;
        }
        @media (max-width: 767px){
            font-size: 40px;
            text-align: center;
        }
    }
    &__single-box{
        position: relative;
        height: 455px;
        background: @Iron;
        max-width: 1030px;
        margin: 0 auto;
        .post-categories{
            list-style: none;
            padding-left: 0;
            a{
                color: #000;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        @media (max-width: 991px){
            height: auto;
        }
    }

    &__left-box{
        position: absolute;
        top: 0;
        left: 0;
        @media (max-width: 991px){
            position: relative;
            top: auto;
            left: auto;
            background: @Iron;
        }
        h1{
            font-size: 180px;
            position: absolute;
            left: -15px;
            color: #fff;
        }
        .content-box{
            position: relative;
            padding: 50px 70px;
            max-width: 500px;
            h2{
                font-size: 60px;
                color: #000;
                text-transform: uppercase;
                @media (max-width: 991px){
                    font-size: 30px;
                    text-align: center;
                    padding: 0;
                }
                @media (max-width: 767px){
                    font-size: 18px;
                    text-align: center;
                }
            }
            p{
                font-family: @Sinkinsans;
                font-weight: 300;
                font-size: 17px;
                margin-top: 50px;
            }
        }
    }
    &__left-box-edited{
        left: -25px;
    }
    &__right-box{
        a{
            position: absolute;
            right: 35px;
            @media (max-width: 991px){
                position: inherit;
            }
        }
    }
    &__right-box-edited{
        left: 35px;
        position: absolute;
        .content-box{
            padding: 10px;
            margin-top: 15px;
            h2{
                text-align: center;
                position: relative;
            }
            p{
                font-family: @Sinkinsans;
            }
        }
    }
    &__query-right-box{
        text-align: center;
        .content-box{
            padding: 10px;
            margin-top: 15px;
            h2{
                position: relative;
                text-align: center;
            }
            p{
                font-family: @Sinkinsans;
            }
        }
    }
    &__query-left-box{
        h1{
            color: #fff;
            font-size: 85px;
            margin-bottom: -20px;
            position: absolute;
            left: 0px;
            top: -25px;
        }
        .content-box{
            padding: 10px;
            margin-top: 15px;
            h2{
                text-align: center;
                position: relative;
            }
            p{
                font-family: @Sinkinsans;
            }
        }
    }
}

.query-large{
    @media (max-width: 991px){
        display: none;
    }
}

.query-small{
    @media (min-width: 991px){
        display: none;
    }
}

.wrapping{
	display: -webkit-flex;
	display: flex;
    @media (max-width: 767px){
        display: block;
    }
}


.comment-form-author, .comment-form-email, .comment-form-url{
    label{
        display: block;
        font-weight: 300;
        text-transform: uppercase;
        font-family: @Sinkinsans;
        font-size: 15px;
        margin-bottom: 15px;
        margin-top: 27px;
    }
    #author, #email, #url{
        height: 40px;
        width: 290px;
        padding-left: 10px;
        font-size: 15px;
        font-family: @Sinkinsans;
        border: 1px solid #d3d8db;
        margin-right: 25px;
    }
}

.latest-posts{
    margin-bottom: 120px;
    @media (max-width: 991px){
        margin-bottom: 0;
    }
    &__single-photo{
        background: #f2f3f5;
        height: 100%;
        &:hover {
            background: #000;
            a{
                color: #fff;
            }
        }
        @media (max-width: 991px){
            //text-align: center;
            margin-bottom: 20px;
        }

        img{
            width: 100%;
            @media (max-width: 991px){
                height: 100%;
                width: auto;
            }
            @media (max-width: 767px){
                width: auto;
            }
        }
        @media (max-width: 991px){
            img{
                text-align: center;
                height: auto;
            }
        }
    }
    &__title{
        //text-align: center;
        position: relative;
        h2{
            font-size: 40px;
            margin-bottom: 0;

        }
        p{
            font-weight: 300;
            font-size: 17px;
            font-family: @Sinkinsans;
            margin-bottom: 80px;
        }
    }
    &__info{
        padding: 35px 25px;
        text-align: left;
        flex: 1;
        margin-left: 25px;
        background: #fff;
        @media (max-width: 1199px){
            margin-left: 50px;
            background: #fff;
            max-width: 320px;

        }
        @media (max-width: 991px){
            margin-left: 0;
            padding: 20px 0;
        }
        @media (max-width: 767px){
            margin-left: 0;
            padding: 20px 0;
            max-width: 100%;
        }
        @media (max-width: 650px){
            padding: 20px 10px;
            text-align: center;
        }
        span{
            color: @OsloGray;
            font-family: @Sinkinsans;
            font-weight: 300;
        }
        a{
            font-size: 26px;
            color: #000;
            display: block;
            text-decoration: underline;
            text-decoration-color: #d2d2d2;
            //&:hover{
            //    color: #000;
            //}
        }
    }
}


.recipes, .journal, .workshops-and-events{
    .latest-posts{
        margin-bottom: 35px;
        @media (max-width: 991px){
            margin-bottom: 0;
        }
    }
}

.subscribe-title{
    background: url("img/pedzel_jasny.jpg") no-repeat center center;
    p{
        font-family: @Sinkinsans;
        font-size: 22px;
        font-weight: 300;
        text-transform: uppercase;
        span{
            text-transform: capitalize;
            font-size: 40px;
            font-family: @czcionka-bazowa;
        }
    }
}

.simple-newsletter{
    position: relative;
    min-height: 180px;
    padding: 30px 60px;
    background: @Iron;
    margin: 50px 0;
    @media (max-width: 991px){
        //padding: 10px 30px;
        text-align: center;
    }
    @media (max-width: 991px){
        padding: 0;
    }
    h1{
        position: absolute;
        top: -58px;
        left: -27px;
        font-size: 180px;
        color: #fff;
        @media (max-width: 991px){
            font-size: 60px;
            text-align: center;
        }
        @media (max-width: 767px){
            font-size: 40px;
            text-align: center;
        }
    }
    &__content{
        @media (max-width: 991px){
            padding: 35px 0;
        }
        form{
            position: relative;
            top: 25px;

        }
        p{
            font-size: 40px;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
            margin-bottom: 0;
            line-height: 1;
            @media (max-width: 991px){
                font-size: 20px;
                text-align: center;
            }
        }
        span{
            font-size: 17px;
        }
    }
    .es_textbox_class {
        width: 250px;
        height: 40px;
        background: @AthensGray;
        border: none;
    }
    #es_txt_button_pg{
        border: 2px solid #000;
        height: 50px;
        background: @Iron;
        font-size: 22px !important;
        .btn;
    }


    .es_textbox, .es_lablebox{
        margin-left: 55px;
        @media (max-width: 1199px){
            margin-left: -35px;
        }
        @media (max-width: 991px){
            margin-left: 0;
        }
    }

    .es_button{
        position: absolute;
        top: 20px;
        right: 0;
        border: 2px solid;
        width: 159px;
        padding: 0;
        @media (max-width: 991px){
            position: relative;
            top: 20px;
            right: 0;
            border: 2px solid;
            width: 250px;
            padding: 0;
            margin: 0 auto;
            margin-bottom: 40px;
        }
        &:after{
            content: url("img/arrow-right.png");
            background: #fff;
            position: absolute;
            height: 50px;
            top: 50%;
            transform: translateY(-50%);
            padding: 15px;
            right: 0;
        }
    }
}

.stay_in_touch{
    text-align: center;
    @media (max-width: 767px){
        overflow: hidden;
    }
    &__title{
        text-align: center;
        position: relative;
        h2{
            font-size: 40px;
            margin-bottom: 0;

        }
        p{
            font-weight: 300;
            font-size: 17px;
            font-family: @Sinkinsans;
            margin-bottom: 80px;
        }
    }
    ul{
        padding-left: 0;
    }
    li{
        display: inline-block;
        margin: 0 34px;
        margin-top: 10px;
    }

}

.last-slider{
    padding-top: 80px;
    .swiper-slide{
        background: url("img/pedzel_last.jpg") no-repeat center center;
        color: #fff;
        padding: 40px 0;
        font-size: 40px;
        background-size: contain;
    }

}


.instagram-section{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 75px;
    @media (max-width: 991px){
        margin-top: 50px;
        margin-bottom:  35px;
    }
    .instagram-name{
        margin-bottom: -45px;

        a{
            font-family: @Sinkinsans;
            font-weight: 300;
            font-size: 22px;
            color: #000;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .instagram-grey-sign{
        color: @Iron;
        font-size: 120px;
        margin-bottom: -49px;
        z-index: -1;
        position: relative;
        @media (max-width: 991px){
            font-size: 60px;
            margin-bottom: -20px;
        }
    }
}


.home, .page-template, .category{
    header{
        .navbar-default{
            background: #fff;
            border: none !important;
        }
    }
}
.container-for-inst-photos{
    max-width: 1920px;
    margin: 0 auto;
    .jr-insta-thumb ul.thumbnails li img{
        height: auto !important;
        width: 100% !important;
        max-height: 378px;
        float: left;
        max-width: 378px !important;
        border-right: 2px solid white;
        @media (max-width: 1699px){
            max-height: 260px;
        }
        @media (max-width: 1199px){
            width: 100% !important;
            max-height: 378px;
        }
        @media (max-width: 1199px){
            width: 100% !important;
            max-height: 378px !important;
            float: none;
        }
        @media (max-width: 650px){
            max-height: 280px !important;
        }
        @media (max-width: 500px){
            max-height: 378px;

        }
    }
    .jr-insta-thumb ul.thumbnails.no-border.jr_col_4 li{
        width: 20% !important;
        height: 378px;
        @media (max-width: 1199px){
            width: 50% !important;
            height: auto !important;
        }
        @media (max-width: 500px){
            width: 100% !important;
        }
    }
}

footer{
    font-family: @Sinkinsans;
}
.footer-text{
    margin-top: 55px;
    color: @OsloGray;
    font-family: @Sinkinsans;
    font-weight: 300;
    @media (max-width: 991px){
        margin-top: 30px;
    }
}
.footer-autor{
    margin: 40px 0;
    margin-top: 15px;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    box-sizing: border-box;
}

html, body  {
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}

h1 {
    font-size: 150%;
}

p {
    margin-bottom: 10px;
}

.paddingBlock {
    padding: 20px 0;
}

.YT-Player{
    display: flex;
    height: 100%;
    margin-top: 100px;
    //background-color: red;
    margin-bottom: 50px;
	position: relative;
    &:after{
        height: 100%;
        //width: 100%;margin-bottom: 50px;
        margin-bottom: 50px;
        background: rgba(0,0,0,0.5);
        content: '';
        position: absolute;
        width: 100%;
        overflow: auto;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 2;
	}
}



#wpadminbar{
	z-index: 9999999999999999999999;
}
/*
.admin-bar{
    .YT-Player{
        @media (min-width: 768px){
            padding-top: 106px;
        }
        @media (max-width: 767px){
            padding-top: 92px;
            margin-bottom: 0;
        }

        @media (max-width: 767px){
            padding-top: 92px;
        }
        &:after{
            @media (min-width: 768px){
                margin-top: 170px;
            }
            @media (max-width: 767px){
                top: -92px ;
            }
        }

    }
}

*/
.play-btn{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    overflow: auto;
    background: url(img/play.svg) left 25px center no-repeat black;
	opacity: 0.7;
    //margin: 0 auto;
    //display: block;
    left: 50%;
    cursor: pointer;
    @media (max-width: 991px){
        transform: translate(-50%, -50%) scale(0.6);
    }
}

.form-wrapper{

  h1{
    font-size: 86px;
    margin-bottom: 110px;
    @media (max-width: 991px){
      font-size: 50px;
      text-align: center;
      margin-bottom: 40px;
    }
  }
  label{
    font-size: 15px;
    font-family: @Sinkinsans;
    font-weight: 300;
    width: 100%;

  }

  textarea{
    border: 1px solid #84898d;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
	max-height: 143px;
  }
  .wpcf7-text{
    border: 1px solid #84898d;
    margin-bottom: 15px;
    margin-top: 11px;
    height: 40px;
    padding: 5px 15px;
	
    @media (max-width: 991px){
      max-width: 100%;
      //w
    }
  }
}

.contact-wrapper{


  .read-btn{
      height: 51px;
      color: #000;
      border: 2px solid #000;
      display: inline-block;
      padding: 8px 60px 8px 20px;
      position: static;
      font-size: 22px;
        background: url("img/btn-send.svg") right no-repeat white;
      text-decoration: underline;
      text-decoration-color: #afb3b6;
      .basic-transition;
      &:hover{
          color: #000;
          .basic-transition;
          background: url("img/ee-white.svg") right no-repeat @AthensGray;
      }
  }
}

.contact-content{
    text-align: center;


  @media (max-width: 991px){
    padding-right: 0;
  }
  .stay-in-touch{

      @media (max-width: 991px){
          overflow: hidden;
      }
    ul{
      display: inline-flex;
      list-style: none;
      padding-left: 0;
      //margin-bottom: 75px;
      @media (max-width: 991px){
        margin: 0 auto;
        text-align: center;
        width: 100%;
      }
      li{
        margin-right: 50px;
        margin-left: 0;
        @media(max-width: 991px){
          margin: 20px auto;
        }
        img{
            .basic-transition;
            transform: scale(0.9);
            @media (max-width: 500px){
                transform: scale(0.7);
            }
            &:hover{
                transform: scale(1.1);
            }
        }
      }
    }

    h4{
      font-size: 14px;
      margin-bottom: 21px;
      margin-top: 45px;
      font-family: @Sinkinsans;
      font-weight: 300;
        color: #84898d;
    }
  }
}

.drop-me-a-line{
  padding-top: 80px;
  a{
    background: url("img/email_pedzel.jpg") left center no-repeat;
    padding: 20px 60px;
    width: 100%;
    display: block;
    margin: 0 auto;
    color: #fff;
    &:hover{
      text-decoration: none;
    }
    @media (max-width: 991px){
      font-size: 22px;
      max-width: 100%;
      padding: 25px 0;
      background: url("img/email_pedzel.jpg") center center no-repeat;
      text-align: center;
    }
    @media (max-width: 500px){
      font-size: 16px;
      padding: 25px 0;
      background-size: contain !important;
    }
  }
  h4{
    font-size: 17px;
    font-family: @Sinkinsans;
  }
}

.text-under-socials{
  p{
    font-size: 15px;
    font-family: @Sinkinsans;
    max-width: 395px;
    line-height: 2;
  }
}

.contact-wrapper{
    //background: url(img/contact-bg.jpg) top center no-repeat;
    //background-size: cover;
    margin-top: 106px;
    position: relative;
    .overlay-wrapper{
        background: rgba(68,70,72, 0.7);
        padding: 70px 0;
        padding-bottom: 50px;
    }
  @media (max-width: 991px){
    margin-top: 110px;
  }
    &:after{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: red;
        position: absolute;
    }


    .form-wrapper{
        h1{
            margin-bottom: 40px;
			@media (max-width: 767px){
				margin-bottom: 15px;
			}
        }
        h6{
            font-family: @Sinkinsans;
            font-weight: 300;
            font-size: 14px;
        }
        form{
            margin-top: 50px;
			@media (max-width: 1500px){
                margin-top: 50px;
            }
            @media (max-width: 767px){
                margin-top: 40px;
            }
			p{
				padding-top: 0;
			}
        }
    }








}

.about-author{
  h1{
    font-size: 110px;
    @media (max-width: 991px){
        font-size: 50px;
    }
  }
  h2{
    font-size: 40px;
      @media (max-width: 991px){
          font-size: 30px;
      }
  }
  p{
    font-family: @Sinkinsans;
  }
}

.double-wrapper, .single-column{
    margin-bottom: 50px;
    overflow: auto;
    @media (max-width: 991px){
        margin-bottom: 30px;
    }
    .photo{
        img{
            margin: 0 auto;
            display: block;

        }
    }
}

.menu-hover{
    height: 10px;
    width: 10px;
    //background: @kolor-czcionki-glowny;
    display: inline-block;
    bottom: 25px;
    left: 10px;
    margin-left: 10px;
    position: absolute;
    opacity: 1;
    .basic-transition;
    @media (max-width: 991px){
        display: none;
    }
}

.header-post{
    height: 670px;
    margin-top: 106px;
    background-size: cover !important;

    @media (max-width: 1400px){
        height: 555px;
        margin-top: 106px;
    }
    @media (max-width: 1199px){
        height: 471px;
        margin-top: 106px;
    }
    @media (max-width: 991px){
        height: 350px;
        margin-top: 92px;;
    }
    @media (max-width: 767px){
        margin-top: 92px;
        height: 290px;
    }
    @media (max-width: 600px){
        margin-top: 92px;
        height: 209px;
    }
    @media (max-width: 480px){
        margin-top: 92px;
        height: 170px;
    }
    @media (max-width: 360px){
        height: 110px;
    }

    &:after{
        content: "";
        height: 702px;
        background: #fff;
        position: absolute;

        left: 0;
        bottom: 0;
        right: 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+45,ffffff+100&0+0,1+100 */
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.45) 45%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.45) 45%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.45) 45%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
    &:before{
        content: "";
        height: 1000px;
        position: absolute;

        left: 0;
        bottom: 52px;
        right: 0;
        background: -moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.45) 45%,#fff 100%);
        background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.45) 45%,#fff 100%);
        background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.45) 45%,#fff 60%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);

    }
}


.choose-the-time-of-year{
    margin-bottom: 90px;
    margin-top: 40px;
    @media (max-width: 991px){
        margin-bottom: 0;
        margin-top: 0;
    }
    ul{
        text-align: center;
        width: 100%;
        padding-left: 0;
        .active{
            background: url("img/summer-pedzel.jpg") center center no-repeat;
            min-width: 280px;
            width: 100%;
            background-size: contain;
            a{
                color: #fff;
            }
        }
        li{
            list-style: none;
            display: inline;
            //margin: 0 67px;
            @media (max-width: 991px){
                display: block;
                margin-bottom: 20px;
            }
            .active{
                color: #fff;
            }
            a{
                margin: 0 auto;
                font-size: 40px;
                color: @OsloGray;
                padding: 40px 66px;
                @media (max-width: 1199px){
                padding: 40px;
                }
                @media (max-width: 991px){
                    padding: 30px;
                    font-size: 28px;
                }
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}

.title-category-content{
    a{
        color: #000;
        font-size: 26px;
        &:hover{
            text-decoration: none;
        }
    }
}




.first-section{
    margin-bottom: 30px;
    overflow: auto;
    margin-top: 80px;
    h2{
        font-size: 110px;
        line-height: 0.9;
        text-transform: uppercase;
    }
    p{
        font-size: 26px;
        padding-top: 15px;
        line-height: 2;
    }
    @media (max-width: 991px){
        text-align: center;
        h2{
            font-size: 40px;
        }
        p{
            font-size: 22px;
            padding-top: 15px;
        }
    }
}

.about-me{
    h6{
        margin-bottom: 26px;
    }
    .first-section{
        margin-top: 50px;
		    @media (max-width: 991px){
        margin-top: 0;
    }
    }
    p{
        color: #000;
    }
    padding-bottom: 60px;
    @media (max-width: 991px){
        padding-bottom: 20px;
    }
}

.photo-height{
    img{
        height: auto;
    }
}

.ingredients{
    h3{
        font-size: 40px;
    }
}

.preparation{
    margin-top: 116px;
    p{
        font-weight: 300;
    }
    strong{
        font-weight: 600;
    }

}

.ingredients{
    strong{
        font-weight: 600;
    }
    p{
        font-weight: 300;
    }
    h3{
        margin-bottom: -15px;
        strong{
            font-family: @czcionka-bazowa;


        }
    }
}
.single-content-portfolio{
    font-family: @Sinkinsans;
    margin-top: 186px;
    .read-btn{
        position: static;
        margin-top: 75px;
        background: url("img/btn-send.svg") right no-repeat;
        font-family: @czcionka-bazowa;
    }
    p{
        line-height: 1.5;
        font-size: 17px;
        color: #000;
    }
    @media (max-width: 991px){
        margin-top: 126px;
    }
    .date{
        color: #84898d;
        margin-top: 40px;
        display: block;
        @media (max-width: 767px){
            margin-top: 0;
        }
    }
    h2{
        font-family:@czcionka-bazowa;
        font-size: 60px;
        @media (max-width: 991px){
            font-size: 28px;
        }
    }
    ul{
        //padding-left: 40px;
        padding-top: 40px;
        overflow: hidden;
        li{
            position: relative;
            font-size: 17px;
            list-style: none;
            list-style-position: inside;
            margin-bottom: 32px;
            //left: 40px;
            padding-right: 40px;
            @media (max-width: 650px){
                padding-right: 10px;
            }
            &:before{
                content: '*';
                font-family: @czcionka-bazowa;
                font-size: 40px;
                position: absolute;
                margin-left: -40px;
                top: -5px;
            }

            strong{
                font-weight: 600;
            }
        }
    }
}



.single-content{
  .single-title{
      padding-bottom: 55px;
    p{
      color: @OsloGray;
      font-size: 14px;
    }
    h2{
      font-size: 40px;
      font-family: @czcionka-bazowa;
    }
    span{
      text-transform: lowercase;
      display: initial;
    }
  }
}



.comment-list{
    list-style: none;
    @media (max-width: 991px){
        padding-left: 0;
    }
    .url{
        font-size: 17px;
        color: #000;
        text-transform: uppercase;
        font-family: @Sinkinsans600;
        font-weight: 600;
        position: relative;
        top: -5px;
        text-decoration: none;
    }
    a{
        text-decoration: underline;
        color: #000;
        font-family: @Sinkinsans;
        font-weight: 300;
    }

    .avatar{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        margin-right: 20px;

    }
}

.says{
    display: none;
}
.reply{
    margin-left: 75px;
    //.position-rl;
    padding-top: 10px;
    padding-bottom: 53px;
    a{
        margin-top: 10px;
        text-decoration-color: @Iron;
        font-size: 22px;
        font-family: @czcionka-bazowa;
    }
}
.children{
    list-style: none;
    margin-left: 40px;
}

.comment-metadata{
    a{
        color: @OsloGray;
        font-family: @Sinkinsans;
        font-size: 12px;
        .position-rl;
        margin-left: 75px;
        text-decoration: none;
    }
}
.comment-content{
    margin-left: 75px;
    margin-top: 15px;
    font-size: 15px;
    @media (max-width: 991px){
        margin-left: 0;
    }
}

.position-rl{
    position: relative;
    top: -20px;
}

.padding-class{
    padding: 0 25px;
}

.wp-caption-text{
    font-weight: 300;
    a{
        margin-top: -10px;
        position: relative;
        top: -10px;
        strong{
            font-weight: 300;
        }
    }
}

.single-content{
    font-size: 17px;
    font-family: @Sinkinsans;
    margin-top: -140px;
    @media (max-width: 991px){
        margin-top: 0;
    }
    h3{
        font-size: 40px;
        font-family: @czcionka-bazowa;
        text-transform: uppercase;
        margin-bottom: 35px;
    }
    p{
        padding-top: 13px;
        padding-bottom: 13px;
        line-height: 1.5;
    }
    span{
        text-align: center;
        display: block;
        //margin-top: -15px;
        a{
            color: @OsloGray !important;
            text-transform: lowercase;
            font-family: @Sinkinsans;
            font-family: @Sinkinsans;
            font-weight: 300;
            text-decoration: underline;
        }
    }
    strong{
        span{
            display: inline-block;
            text-align: left;
            a{
            }
        }
    }
    img{
        margin-top: 70px;
        @media (max-width: 991px){
            height: auto;
            margin-top: 10px;
        }
    }
    ul{
        padding-left: 40px;
        li{
            position: relative;
            list-style: none;
            list-style-position: inside;
            margin-bottom: 32px;
            &:before{
                content: '*';
                font-family: @czcionka-bazowa;
                font-size: 40px;
                position: absolute;
                margin-left: -40px;
                top: -5px;
            }
            strong{
                font-weight: 600;
            }
        }
    }
}

.logged-in-as{
    a{
        color: #000;
    }
}
.comment-metadata{
    .comment-edit-link{
        margin-left: 10px;
    }
}

.comment-reply-title{
    a{
        color: #000;
        //font-size: 24px;
    }
}

#comment-form{
    label{
        display: block;
        font-weight: 300;
        text-transform: uppercase;
    }
}

.comment-wrapper{
    padding: 0 25px;
    border-top: 1px solid @AthensGray;
    padding-top: 25px;
    .comment-form-comment{
        #comment{
            max-width: 100%;
            border: 1px solid #d3d8db;
            width: 100%;
        }
        position: relative;
        margin-top: 70px;
        label{
            position: absolute;
            top: -30px;
            font-size: 15px;
            text-transform: uppercase;
            font-family: @Sinkinsans;
            font-weight: 300;
        }
    }
    #email-notes{
        font-size: 12px;
        color: @OsloGray;
    }
}

.single-content{
    .share-section{

        li{
            position: relative;
            display: inline-block;
            float: right;
            margin-right: 30px;
            margin-bottom: 16px;
            &:before{
                content: ' ';
            }
        }

    }
}

.container-single{
    float: left;
    width: 31%;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid blue;
}

.last-of-content{
    margin-bottom: 65px;
    margin-top: 60px;
}

.share-wrapper{
    position: relative;
    overflow: auto;
    float: right;
    h3{
        display: inline-block;
        float: right;
        position: absolute;
        bottom: 50px;
        margin: 0;
        font-size: 22px;
        font-family: @czcionka-bazowa;
        padding-right: 40px;
    }
}
.single-content{
    .share-section{
        padding-left: 110px;
        float: right;
        display: inline-block;

        li{
          img{
            margin-top: 0;
          }
        }
    }
}

.pagination{
    .screen-reader-text{
        display: none;
    }
    .nav-links{
        a{
            font-size: 40px;
            color: @Iron;
            padding: 0 15px;
        }
    }
    .current{
        color: #000;
            font-size: 40px;
        position: relative;
        &:after{
            content: url("img/current.png");
            position: absolute;
            bottom: -28px;
            left: -10px;
        }
    }
}

.site-footer{
  position: relative;
}

.up{
  position: absolute;
  right: 40px;
  bottom: 160px;
  cursor: pointer;
  .basic-transition;
    @media (max-width: 991px){
        right: 20px;
        bottom: 20px;
		transform: scale(.6);
		&:hover{
		.basic-transition;
		
        
		}
    }
    &:hover{
	.basic-transition;

        .bounce;
    }
}

.print-wrapper{
  a{
    font-size: 22px;
    font-family: @czcionka-bazowa;
    position: relative;
    bottom: -15px;
    text-decoration: underline;

    text-decoration-color: @OsloGray;
    &:after{
      content: url("img/drukarka.png");
      margin-left: 13px;
    }
  }

}

.comments-title{
    font-size: 40px;
    text-transform: uppercase;
  margin-bottom: 45px;
}
.choose-the-time-of-year{
    .text-to-left{
        text-align: center;
    }
}

.after{
    &:after{
        z-index: -2;
    }
}

.single-content{
    strong{
        font-weight: 600;
    }
}


.recipes{
    
    .header-post{
        &:before{
            height: 613px;
        }
    }
    .single-content{
        img{
            margin: 16px auto;
        }
    }

}

.workshops-and-events{
    .header-post{
        &:before{
            height: 613px;
        }
    }
    .single-title{
        padding-bottom: 0;
        margin-bottom: -20px;
    }
    .single-content{
        span{
            margin-top: -35px;
        }
        img{
            margin: 35px auto 16px;
        }
    }
}
#menu-seasons{
    .current-menu-item{
       a{
           background: url("img/summer-pedzel.jpg") center center no-repeat;
           background-position: center;
           background-size: cover;
       }
    }
}

.mt200{
    margin-top: 200px;
    overflow: hidden;
    @media (max-width: 991px){
        margin-top: 155px;
    }
}

.form-submit{
    #submit{
        height: 50px;
        width: 230px;
        text-align: left;
        font-size: 22px;
        background: url("img/ee.png") right white no-repeat;
        border: 2px solid #000;
        padding-left: 20px;
        margin-top: 20px;
        margin-bottom: 90px;
        @media (max-width: 991px){
            margin-bottom: 40px;
        }
    }
}

.error-404{
    h1{
        position: absolute;
        top: 50%;
        text-align: center;
        left: 0;
        right: 0;
    }
}

.rgg-imagegrid > .rgg-img{

	&:hover{
		background-size: 110%;
		box-shadow: none !important;
	}
}

.wpcf7-form{
    label{
        color: #fff;
    }
    .wpcf7-form-control{
        background: transparent;
			&:focus{
			background: rgba(0,0,0,0.4);
			.basic-transition;
		}
    }
    .wpcf7-submit{
        .read-btn;
        position: static;
        border: 2px solid #fff;
        color: #fff;
		margin-top: 15px;
    }
    //.read-btn{
    //    border-color: #fff;
    //}
}

.form-wrapper{
    h1{
        color: #fff;
        text-align: center;
        background: url("img/h1after-gray.png") bottom no-repeat;
        @media(max-width: 767px){
            background-size: contain;
        }
    }
    h6{
        color: #a9aeb2;
        text-transform: uppercase;
        font-size: 14px;
    }
}

.mail-wrapper{
	
    a{
        font-family: @czcionka-bazowa;
        color: #fff;
        font-size: 26px;
        @media (max-width: 767px){
            font-size: 17px;
        }
    }

}

.location{

    p{
        font-family: @czcionka-bazowa;
        font-size: 26px;
		
    }
    color: #fff;
}
	.location, .mail-wrapper{
	a, p{
		padding-top: 0;
	}
		img{
			transform: scale(0.8);
		}
	}
@media (max-width: 767px){
	.location, .mail-wrapper{
	img{
		transform: scale(0.6);
	}
	a, p{
		font-size: 11px;
		padding-top: 0;
	}
}

}



.first-section{
    h2{
        font-size: 110px;
        text-transform: lowercase;
        background: url("img/h1after.png") bottom no-repeat;
        @media (max-width: 991px){
            font-size: 50px;
            background-position: center center;
            background-size: contain;
        }
    }
    h6{
        font-size: 14px;
        text-transform: uppercase;
        color: #84898d;
        font-family: @Sinkinsans;
        font-weight: 300;
    }
    p{
        font-size: 17px;
        font-family: @Sinkinsans;
        color: #000;
    }
}

.category-latest-posts{
    margin-left: -57px;
    margin-right: -25px;
    letter-spacing: -1px;
    padding: 25px 0;
    background: #fff;
    @media (max-width: 991px){
        margin: 0;
        letter-spacing: normal;
        text-align: center;
    }
    a{
        font-size: 36px;
        @media (max-width: 991px){
            font-size: 30px;
        }
    }

    .data{
        font-family: @Sinkinsans;
        font-size: 14px;
        color: #84898d;
    }

}

.category-post{
    z-index: 2;
    @media (max-width: 991px){
        text-align: center;
    }
    a{
        &:after{
            content: "";
            height: 92px;
            width: 100%;
            background: #f2f3f5;
            position: absolute;
            left: 50px;
            bottom: -37px;
            //z-index: -1;
            @media (max-width: 991px){
                width: auto;
            }
        }
    }
    img{
        z-index: 2;
        position: relative;
    }
}

.wrapping{
    margin-bottom: 110px;
    @media (max-width: 991px){
        margin-bottom: 0;
    }
}

.sentence-wrapper{
    max-width: 935px;
    margin: 0 auto;
    margin-top: 40px;
}

.move-a-bit{
    margin-top: 4px;
}

.my-custom-class{
    max-width: 1800px !important;
    margin: 0 auto;
    overflow: hidden;
}


.slider{
    &__item{
        align-items: center;
        display: flex;
        justify-content: center;
        //height: 647px;
        height: 85vh;
        background: rgba(68,70,72,0.7);
        background-size: cover;
        @media (max-width: 767px){
            //height: 455px;
        }
    }
    &__list{
        top: 180px;
        position: absolute;
        z-index: 2;
        right: 0;
        .basic-transition;
        @media (max-width: 767px){
            top: 100px;
        }
        @media (max-width: 500px){
            top: 93px;
        }
        li{
            list-style: none;
            margin-bottom: 24px;
            overflow: hidden;
            .basic-transition;
            &:hover{
                a{
                    margin-right: -30px;
                    background: rgba(255,255,255, 1);
                    color: rgba(85,117,44,1);
                }
            }
            a{
                .basic-transition;
                font-size: 16px;
                padding: 13px 20px;
                background: rgba(85,117,44,0.5);
                color: #fff;
                border-radius: 30px;
                text-decoration: none;
                display: block;
                margin-right: -30px;
                width: 200px;
                @media (max-width: 991px){
                    margin-right: -150px;

                }



                i{
                    font-size: 26px;
                    padding-right: 16px;
                    top: 3px;
                    position: relative;
                }
            }
        }
    }
    &__text{
        margin-top: 120px;
        img{
            @media (max-width: 767px){
                padding-bottom: 50px;
            }
        }
        h2{
            color: rgba(255,255,255,1);
            mix-blend-mode: overlay;
            font-size: 90px;
            font-family: @czcionka-bazowa;
            @media (max-width: 767px){
                font-size: 45px;
            }
            @media (max-width: 500px){
                font-size: 35px;
                padding: 0 30px;
            }
        }
        p{
            color: #e5e5e5;
            font-size: 19px;
            font-family: @czcionka-bazowa;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 40px;
            @media (max-width: 500px){
                font-size: 15px;
                padding: 0 30px;
            }
        }
    }


}

.my-awards{
    height: 85vh;
    background-size: cover;
    .slider__text{
        p{
            font-family: @Sinkinsans;
        }
    }
    .h1-my-awards{
        h1{
            font-size: 110px;
            position: absolute;
            z-index: 2;
            left: 0;
            right: 0;
            margin-top: 105px;
            @media (max-width: 991px){
                font-size: 50px;
                margin-top: 90px;
            }
        }
    }
}
.workshops-wrapper{
    margin-top: 96px;
    overflow: hidden;
    @media (max-width: 991px){
        margin-top: 50px;
     }
    .wrapping{
        margin-bottom: 0;
    }
    .latest-posts{
        margin-bottom: 30px;
		
		&__info{
		padding: 35px 25px;
		text-align: left;
		flex: 1;
		margin-left: 15px;
		background: #fff;
		padding-right: 0;
			a{
				font-size: 36px;
				@media (max-width: 1199px){
				font-size: 26px;
				}
			}
			@media (max-width: 1199px){
            margin-left: 50px;
            background: #fff;
            max-width: 320px;

        }
        @media (max-width: 991px){
            margin-left: 0;
            padding: 20px 0;
        }
        @media (max-width: 767px){
            margin-left: 0;
            padding: 20px 0;
            max-width: 100%;
        }
        @media (max-width: 650px){
            padding: 20px 10px;
            text-align: center;
        }
		}
    }
}

.swiper-paginationsz{
    text-align: center;
    top: 80%;
    left: 0;
    bottom: 400px;
    position: absolute;
    //background: red;
    color: #fff;
    z-index: 2;
	@media (max-width: 767px){
		 top: 90%;
	}
}

.slider-awards{
    .swiper-button-next, .swiper-button-prev{
        top: 80%;
		@media (max-width: 767px){
		 top: 90%;
		}
    }
    .swiper-button-prev{
        left: 43%;
        background-image: none;
        &:after{
            content: '<';
            font-family: @Sinkinsans;
            font-size: 60px;
            color: #fff;
        }
        @media (max-width: 991px){
            left: 10%;
        }
    }
    .swiper-button-next{
        right: 43%;
        background-image: none;
        &:after{
            content: '>';
            font-family: @Sinkinsans;
            font-size: 60px;
            color: #fff;
        }
        @media (max-width: 991px){
            right: 10%;
        }
    }
    
    .swiper-pagination-current{
        font-size: 22px;
        color: #fff;
        font-family: @Sinkinsans;
    }
    .swiper-paginationsz{
        color: #a9aeb2;
    }
}
.swiper-container-horizontal > .swiper-pagination-bullets{
	left: -5px !important;
}
.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
	margin-top: 15px;
    padding: 15px;
    float: right;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    transform: scale(0.7);
    &:hover{
        opacity: 1;
    }
}


.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before, .hamburger .hamburger-inner:focus, .hamburger .hamburger-inner:hover, .hamburger .hamburger-inner:visited {
    background-color: #000;
    opacity: 1;
}


.hamburger{
    @media (min-width: 767px){
        display: none !important;
    }
}


nav .rwd-off{
    @media (max-width: 991px){

        ul{
            display: none;
        }

    }
    @media (max-width: 767px){
        form label{
            width: 100%;
            .search-field{
                width: 100%;
                margin-top: 20px;
            }
            .search-submit{
                top: 20px;
            }
        }
    }
}

.rwd{
    font-size: 20px;
    @media (min-width: 767px){
        ul{
            display: none;
        }
        form label{
            width: 100%;
            .search-field{
                width: 100%;
            }
        }
    }
    @media (max-width: 767px){
        ul{
            li{
                margin: 0 12px;
                a{
                    font-size: 20px;
                }
            }
        }
        form label{
            width: 100%;
            .search-field{
                width: 100%;
            }
        }
    }
}
header .nav-wrapper .navbar-header{
    border: none !important;
    padding: 20px 0;
}

.admin-bar{
    header .nav-wrapper .navbar-header{
        margin-top: 30px;
        @media (min-width: 768px){
            margin-top: 10px;
        }
    }
}


.slider2{
    .swiper-pagination-bullets{
        .swiper-pagination-bullet{
            margin: 0 10px !important;
        }

    }
    .swiper-pagination-bullet{
        background-image: none;
        background: none;

        &:after{
            content: '.';
            font-family: @czcionka-bazowa;
            font-size: 50px;
            color: #000;
        }
    }

    .swiper-pagination-bullet-active{

    }

}
.page-template #content{
    .wpcf7-mail-sent-ok .wpcf7-validation-errors{
        color: #fff !important;
    }
}

.modal-dialog{
	top: 50%;
    transform: translateY(-50%) !important;
	@media (min-width: 768px){
		width: auto;
		max-width: 100%;
	}
}

.fade.in{
	background-color: rgba(0,0,0,0.5);
}

//TRANSPARENT MENU


.menu-transparent{
	background: transparent !important;
}

.menu-opacity{
	background: rgba(255,255,255,0.8) !important;

	.basic-transition;
	@media (min-width: 992px){
		.navbar-brand>img{
		.basic-transition;
		margin-top: 18px;
	}
	}
	@media (max-width: 991px){
		background: rgba(255,255,255,1) !important;
		
	}
	@media (max-width: 767px){
		
	}
}

.home {
	.menu-bg{
		height: 136px;
		background: #fff;
		@media (max-width: 991px){
			display: none;
		}
	}
}

.menu-bg{
	@media (max-width: 991px){
		display: none;
	}
}

.admin-bar{
	.menu-bg{
		margin-top: 32px;
		height: 104px;
	}
	@media (min-width: 992px) and (max-width: 1399px){
		.menu-bg{
		margin-top: 32px;
		height: 0px !important;
		}
	}
	@media (max-width: 767px){
		.menu-bg{
		height: 46px;
		margin-top: 46px;
	}
	}
	
	.menu-opacity{
	margin-top: 0;
		@media (min-width: 600px) and (max-width: 782px){
			margin-top: -20px;
		}
		@media (max-width: 599px){
			margin-top: -55px;
		}
	}
}

.white-bg{
	background: #fff !important;
}


.yt-thumbnail{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.modal{
	z-index: 9886753099;
}

.navbar-default{
	border-color: transparent !important;
}


@media (max-width: 1199px){
	.page-template{
		.contact-wrapper{
			.btn-contact-right{
				text-align: left !important;
				    width: 100%;
			}
		}
	}
}