.acf-fc-layout-handle-id {
  border-bottom: 1px solid #e1e1e1;
  color: #333333;
  cursor: default;
  display: block;
  font-size: 14px;
  line-height: 1.4em;
  padding: 8px 10px;
  position: relative;
}