@import "../idvetmp/style.less";

body, html{
  font-family: @czcionka-bazowa-pomocnicza;
}

h1,h2,h3,h4,h5,h6{
  font-family: @czcionka-bazowa;
}


@rozmiar-bazowy: 16px;
@czcionka-bazowa: 'Varela Round', sans-serif;
@czcionka-bazowa-pomocnicza: 'Ubuntu', sans-serif;
@kolor-czarny: #1A1A1A;

.basic-transition {
  transition: all 0.2s ease-in-out;
}

.shadow{
  -webkit-box-shadow: 0 0 40px 15px rgba(162,170,176,.15);
  -moz-box-shadow: 0 0 40px 15px rgba(162,170,176,.15);
  box-shadow: 0 0 40px 15px rgba(162,170,176,.15);

}




.admin-bar{
  .navbar-fixed-top{
    top: 32px;
    @media (max-width: 991px){
      top: 44px !important;
    }
  }
  .body{
    margin-top: 32px;
  }
}


.base-transision{
  transition: all 0.4s;
}


.page-template .btn, .single .btn, .archive .btn{
  color: #699a2a;
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 40px;
  background: #fff;
  border-radius: 25px;
  font-family: @czcionka-bazowa;
  text-decoration: none;
  margin-top: 10px;
  border: 1px solid #fff;
  .basic-transition;
  &:after{
    content: url("img/green-arrow.svg");
    padding-left: 15px;
  }
  &:hover{
    color: #fff;
    border: 1px solid #699a2a;
    background: #699a2a;
    &:after{
      content: url("img/white-arrow.svg");
      padding-left: 15px;
    }
  }
  @media (max-width: 500px){
    font-size: 15px;
    padding: 8px 15px;
  }
}

body{
  font-size: @rozmiar-bazowy;
  font-family: @czcionka-bazowa;
  color: @kolor-czarny;
}

.home .navbar-fixed-top{
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5);
  //cień

  @media (max-width: 991px){
    height: 80px;
    padding-top: 12px;
  }
}

.home #page, .single #page, .archive #page {
  .navbar-default{
    background: #fff;
    border-bottom: 5px solid #ccd2d6;
    -webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5);
    @media (max-width: 991px){
      height: 80px;
      padding-top: 12px;
    }
  }
  #navbar{
    border-bottom: none;
    box-shadow: none;
    border-top: none;
  }
}

//MENU
.navbar-default .navbar-nav>li>a:hover{
  color: #fff !important;
}

.page .navbar-default .navbar-toggle, .single .navbar-default .navbar-toggle, .archive .navbar-default .navbar-toggle{
  background: transparent;
  border-color: #fff;
  &:hover{
    background: transparent;
  }
  
  .icon-bar{
    background-color: #699a2a;
  }
}

/* Mallki */
.link--mallki {
  color: #699a2a;
  -webkit-transition: color 0.5s 0.25s;
  transition: color 0.5s 0.25s;
  overflow: hidden;
}

.link--mallki:hover {
  -webkit-transition: none;
  transition: none;
  color: transparent;
}

.link--mallki::before {
  content: '';
  width: 102%;
  height: 6px;
  margin: -3px 0 0 0;
  background: #699a2a;
  position: absolute;
  left: -1px;
  top: 50%;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--mallki:hover::before {
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.link--mallki span {
  position: absolute;
  height: 50%;
  width: 100%;
  left: 15px;
  top: 0;
  overflow: hidden;
  color: transparent;
  @media (max-width: 991px){
    left: 0;
  }
}

.link--mallki span::before {
  content: attr(data-letters);
  color: red;
  position: absolute;
  left: 0;
  width: 100%;
  color: #699a2a;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.link--mallki span:nth-child(2) {
  top: 50%;
  color: transparent;
}

.link--mallki span:first-child::before {
  top: 0;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.link--mallki span:nth-child(2)::before {
  bottom: 0;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.link--mallki:hover span::before {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
  transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}




.menu-wrapper{
  position: relative;
}
.social-media{
  position: relative;
  top: 40px;
  display: none;
  margin-right: 30px !important;
  @media (max-width: 1199px){
    display: none;
  }
  li{
    display: inline-block;
    padding-right: 15px;
    a{
      font-size: 18px;
      color: #a3a8b2;
      &:hover{
        .basic-transition;
        color: #699a2a;
      }
    }
  }
}

.page-template .navbar-brand, .archive .navbar-brand, .page-template-default .navbar-brand, .single .navbar-brand{
  padding: 30px 0;
  padding-left: 15px;
  @media (max-width: 991px){
    position: absolute;
    left: 10px;
    padding-top: 12px;
    img{
      width: 100% !important;
    }
  }
  @media (max-width: 500px){
    padding: 0;
    padding-top: 12px;
    width: 180px;
  }
}
.single .navbar-brand, .archive .navbar-brand, .page-template-default .navbar-brand{
  padding: 30px 0;
  padding-left: 15px;
  @media (max-width: 991px){
    position: absolute;
    left: 10px;
    //top: 1px;
    padding-top: 12px;
    img{
      width: 65%;
    }
  }
  @media (max-width: 500px){
    padding: 0;
    padding-top: 12px;
  }
}
.page-template .navbar-default .navbar-nav > li > a, .page-template-default .navbar-default .navbar-nav > li > a{
  color: #5b8b1d;
  font-family: @czcionka-bazowa;
  font-size: 20px;
  padding-top: 0;
  padding-bottom: 0;
  @media(min-width: 992px) and (max-width: 1200px){
    //margin-top: 60px;
    padding-left: 20px;
    max-width: 170px;
  }
  @media (max-width: 991px){
    background: #fff;
    text-align: center;
    font-size: 18px;
    &:hover{
      background: #fff;
    }
  }
}
.navbar-default .navbar-toggle:focus{
  background: #fff !important;
}
.single .navbar-default .navbar-nav > li > a, .page-template-default .navbar-default .navbar-nav > li > a, .archive .navbar-default .navbar-nav > li > a{
  color: #5b8b1d;
  font-family: @czcionka-bazowa;
  font-size: 20px;
  @media(min-width: 992px) and (max-width: 1200px){
    //margin-top: 60px;
    padding-left: 20px;
    max-width: 170px;
  }
  @media (max-width: 991px){
    background: #fff;
    text-align: center;
    &:hover{
      background: #fff;
    }
  }
}


@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}

.navbar-nav > li{
  padding: 40px 0;
  @media (max-width: 991px){
    padding: 15px 0px;
  }

}
#primary-menu{
  @media (max-width: 991px){
    background: #fff;
  }
}
@media (max-width: 991px){
  .page-template .navbar-default .navbar-nav>li>a:hover, .page-template-default .navbar-default .navbar-nav>li>a:hover{
    background: #fff;
  }
}

.single .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
  background-color: transparent;
  &:hover{
    background: transparent;
    color: #fff;
  }
  @media (max-width: 991px){
    background: #fff;
  }
}
.navbar-nav>li>a{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.archive .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
  background-color: transparent;
  &:hover{
    background: transparent;
    color: #fff;
  }
  @media (max-width: 991px){
    background: #fff;
  }
}
.page-template .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
  background-color: transparent;
  &:hover{
    background: transparent;
    color: #fff;
  }
  @media (max-width: 991px){
    background: #fff;
  }
}
// END MENU
.home{
  .slider{
    height: 647px;
    //margin-bottom: 100px;
    @media (max-width: 500px){
      .btn{
        &:after{
          content: url(img/green-arrow.svg);
          position: relative;
          padding-left: 15px;
          top: 2px;
        }
      }
    }
    @media (max-width: 767px){
      height: 450px;
    }
    &__item{
      align-items: center;
      display: flex;
      justify-content: center;
      height: 647px;
      background-size: cover;
      @media (max-width: 767px){
        height: 455px;
      }
    }
    &__list{
      top: 180px;
      position: absolute;
      z-index: 2;
      right: 0;
      .basic-transition;
      @media (max-width: 767px){
        top: 100px;
      }
      @media (max-width: 500px){
        top: 93px;
      }
      li{
        list-style: none;
        margin-bottom: 24px;
        overflow: hidden;
        .basic-transition;
        &:hover{
          a{
            margin-right: -30px;
            background: rgba(255,255,255, 1);
            color: rgba(85,117,44,1);
          }
        }
        a{
          .basic-transition;
          font-size: 16px;
          padding: 13px 20px;
          background: rgba(85,117,44,0.5);
          color: #fff;
          border-radius: 30px;
          text-decoration: none;
          display: block;
          margin-right: -30px;
          width: 200px;
          @media (max-width: 991px){
            margin-right: -150px;

          }



          i{
            font-size: 26px;
            padding-right: 16px;
            top: 3px;
            position: relative;
          }
        }
      }
    }
    &__text{
      margin-top: 30px;
      h2{
        color: rgba(255,255,255,1);
        mix-blend-mode: overlay;
        font-size: 90px;
        font-family: @czcionka-bazowa;
        @media (max-width: 767px){
          font-size: 45px;
        }
        @media (max-width: 500px){
          font-size: 35px;
          padding: 0 30px;
        }
      }
      h6{
        color: #e5e5e5;
        font-size: 19px;
        font-family: @czcionka-bazowa;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 40px;
        @media (max-width: 500px){
          font-size: 15px;
          padding: 0 30px;
        }
      }
    }

  }

}
.main-title{
  text-align: center;
  padding-bottom: 70px;
  padding-top: 30px;
  h6{
    font-size: 28px;
    color: #303338;
    font-family: @czcionka-bazowa;
  }
}


.simple-wrapper{
  h5{
    font-size: 33px;
    font-weight: 400;
    font-family: @czcionka-bazowa;
  }
  p{
    font-size: 16px;
  }
  @media (max-width: 991px){
    padding-bottom: 30px;
  }
}
.ceo-wrapper{
  margin-top: 100px;
  background-color: #fff;
  @media (max-width: 991px){
    position: relative;
    top: -100px;
    margin-bottom: -110px;
  }
  &:after{
    content: " ";
    position: absolute;
    /* z-index: 1; */
    left: -25px;
    bottom: -5px;
    right: 0;
    background-image: url(img/skos-grey.svg);
    height: 191px;
    background-size: cover;
    width: 150%;
    @media (max-width: 991px){
      bottom: 20px;
    }
  }
  background-position: bottom 0 right 12%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  //background-attachment: scroll;





  @media (min-width: 1920px){
    background-position: bottom right 30%;
  }
  @media (min-width: 1500px) and (max-width: 1919px){
    background-position: bottom right 12%;
  }
  @media (min-width: 1360px) and (max-width: 1499px){
    background-position: bottom right -450px;
  }
  @media (min-width: 1200px) and (max-width: 1359px){
    background-position: bottom right -220px;
  }
  @media (min-width: 991px) and (max-width: 1199px){
    background-position: bottom right -360px;
  }



  @media (max-width: 1600px){
    background-repeat: no-repeat;
  }
  @media (max-width: 1199px){
  //background-position: bottom 0 right -30%;
    background-repeat: no-repeat;
  }
  @media (max-width: 991px){
    margin-top: 100px;
    background-image: none !important;

  }
  .ceo{
    padding-top: 20px;
    padding-bottom: 150px;
    @media (max-width: 991px){
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 10px;
      padding-right: 10px;
      background: none !important;
    }
    .ceo-img{
      width: 100%;
      @media (min-width: 992px){
        display: none;
      }
    }
  }
}
.ceo__text{
  max-width: 575px;
  @media (max-width: 991px){
    max-width: 100%;
  }
  h3{
    color: #699a2a;
    font-size: 50px;
    font-family: @czcionka-bazowa;
    padding-bottom: 20px;
    @media (max-width: 991px){
      font-size: 45px;
    }
    @media (max-width: 500px){
      font-size: 30px;
      line-height: 30px;
    }
  }
  p{
    font-family: @czcionka-bazowa;
    font-weight: 400;
    font-size: 16px;
  }
}

.ceo__signature{
  max-width: 615px;
  text-align: right;
  h6{
    padding-top: 50px;
    font-family: @czcionka-bazowa;
    font-weight: 400;
    font-size: 19px;
    color: #303338;
  }
  p{
    color: #a3a8b2;
    text-transform: uppercase;
    font-size: 14px;
    font-family: @czcionka-bazowa;
  }
}

.skills{
  @media (max-width: 991px){
    top: -15px;
    z-index: 2;
    &:before{
      content: " ";
      position: absolute;
      bottom: -5px;
      z-index: 1;
      left: 0;
      right: 0;
      background-image: url(img/skos.svg);
      height: 100%;
      background-size: cover;
    }
  }
  &:after{
    content: " ";
    position: absolute;
    bottom: -5px;
    z-index: 1;
    left: 0;
    right: 0;
    background-image: url(img/skos.svg);
    height: 100%;
    background-size: cover;
  }
  position: relative;
  background: #a2aab0;
  padding: 130px 0;
  color: #fff;
  padding-top: 30px;
  //.oblique-left;
  .row{
    //.oblique-right;
  }
  p{
    padding: 0 15px;
    font-family: @czcionka-bazowa-pomocnicza;
  }
  .simple-wrapper{
    img{
      height: auto;
      width: auto;
    }
  }
  @media (max-width: 991px){
    padding: 40px 0;
    padding-bottom: 100px;
  }
}

/*---------------*/
/***** Sadie *****/
/*---------------*/
.effect-sadie{
  overflow: hidden;
  position: relative;
  .btn{
    //width: 100%;
    color: #484c61;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
  }
}
figure.effect-sadie figcaption::before {
  //position: absolute;
  //top: 0;
  //left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
  background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0,50%,0);
  transform: translate3d(0,50%,0);
}

figure.effect-sadie h6 {
  width: 100%;
  color: #484c61;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
  //position: absolute;
  //bottom: 0;
  //left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0,10px,0);
  transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h6 {
  color: #fff;
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
  transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}






//END SADDIE




.our-products__bg{
  background: url("img/bg_animals.jpg") center no-repeat;
  background-size: cover;
}

.our-products{
  @media (max-width: 991px){
    &:before{
      content: " ";
      position: absolute;
      bottom: -5px;
      z-index: 1;
      left: 0;
      right: 0;
      background-image: url(img/skos.svg);
      //height: 100%;
      background-size: cover;

    }
  }
}
.our-products__title{
  @media (max-width: 991px){
    margin-top: -65px;
    padding-top: 0;
    z-index: 2;
    position: relative;
  }
}
.our-products__wrapper{
  background: rgba(162, 170, 176, 0.6);
  text-align: center;
  position: absolute;
  height: 295px;
  top: 0;
  left: 15px;
  right: 15px;
  border-radius: 10px;
  .basic-transition;
  h6{
    color: #fff;
  }
  &:hover{
    background: rgba(110,113,116,0.9);
    transition: all 0.5s ease-in-out;
    .our-products__hover{
      transition: all 0.5s ease-in-out;
      width: 100%;
      top: 50%;
      display: block;
      -webkit-transition: -webkit-transform 0.35s, color 0.35s;
      transition: transform 0.35s, color 0.35s;

      h6{
        transition: all 0.2s ease-in-out;
        transform: translate3d(0,-5%,0) translate3d(0,0px,0);
        a{
          color: #fff;
          &:hover{
            text-decoration: none;
          }
        }
      }
      p{
        display: block;
        opacity: 1;
        transition: all 0.5s ease-in-out;
      }
      .btn{
        display: inline-block;
        transition: all 0.5s ease-in-out;
      }
    }
    .our-products__signature{
      display: none;
    }
  }
}
.our-products__category-name{
  min-height: 295px;
  background-color: rgba(149,184,105,0.5);
  border-radius: 10px;
  margin-bottom: 25px;
  background-position: right bottom;
  .basic-transition;
}


.our-products__hover{
  text-align: center;
  color: #fff;
  font-family: 'Varela Round',sans-serif;
  position: absolute;
  margin: 0 auto;
  .basic-transition;
  top: 50%;
  transform: translate3d(0,-50%,0);
  width: 100%;
  p{
    padding: 0 10px;
    display: none;
    transition: all 0.5s ease-in-out;
    opacity: 0;
  }
  h6{
    color: #fff;
    font-size: 45px;
    line-height: 45px;
    a{
      color: #fff;
    }
  }
  .btn{
    display: none;
  }
}

.wrap-opinions{
  margin-top: 40px;
  position: relative;
  border-radius: 10px;
}

.similar-products__photo{
  min-height: 180px;
}

.similar-products{
  &__name{
    h3{
      font-size: 16px;
      font-weight: 700;
      max-width: 150px;
      margin: 0 auto;
      padding-top: 10px;
      a{
        color: #303338;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
  &__producent{
    max-width: 200px;
    margin: 0 auto;
    a{
      color: #a3a8b2;
      text-transform: uppercase;
      &:hover{
        color: #a3a8b2;
        text-decoration: none;
      }
    }
  }
}
.similar-products-carousel{
 .swiper-slide{
    margin-top: 15px;
  }

}

.producent{
  a{
    color: #a3a8b2;
    text-transform: uppercase;
    &:hover{
      color: #a3a8b2;
      text-decoration: none;
    }
  }
}

.opinions{
  position: relative;
  @media (max-width: 991px){
    &:after{
      content: " ";
      position: absolute;
      bottom: -5px;
      z-index: 1;
      left: 0;
      right: 0;
      background-image: url(img/skos.svg);
      height: 100%;
      background-size: cover;
    }
  }
  .main-title{
    padding-top: 55px;
    padding-left: 10px;
    padding-right: 10px;
    h6{
      color: #fff;
    }
  }
  .container{
    //.oblique-right;
    @media (max-width: 991px){
      width: 100%;
    }
  }
  &__name{
    font-size: 28px;
    font-family: @czcionka-bazowa-pomocnicza;
    color: #d2d9e3;
    margin: 0 auto;
    line-height: 28px;
  }
  &__city{
    font-size: 15px;
    color: #d2d9e3;
    font-family: @czcionka-bazowa-pomocnicza;
    @media (max-width: 991px){
      margin-bottom: 50px;
    }
  }
  &__text{
    font-size: 16px;
    font-weight: @czcionka-bazowa-pomocnicza;
    color: #fff;
    text-align: left;
    padding-bottom: 80px;
    @media (max-width: 991px){
      text-align: center !important;
    }
  }
  background: #a2aab0;
  //.oblique-left;
  min-height: 350px;
  @media (max-width: 991px){
    min-height: 620px;
  }
  margin-top: 60px;
}

@media (max-width: 991px){
  .opinions .swiper-slide{
    .opinions__text{
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}


.contact{
  position: relative;
  background: #fff;
}
.contact{
  &__title{
    font-family: @czcionka-bazowa;
    h6{
      font-size: 50px;
      color: #699a2a;
      @media (max-width: 767px){
        font-size: 40px;
      }
    }
    p{
      font-size: 16px;
    }
    .btn{
      -webkit-box-shadow: 0 5px 24px -5px rgba(105,154,42,1);
      -moz-box-shadow: 0 5px 24px -5px rgba(105,154,42,1);
      box-shadow: 0 5px 24px -5px rgba(105,154,42,1);
      background: #699a2a;
      border: 2px solid #699a2a;
      color: #fff;
      margin-top: 25px;
      &:after{
        content: url("img/white-arrow.svg");
      }
      &:hover{
        background: #fff;
        border: 2px solid #699a2a;
        color: #699a2a;
        &:after{
          content: url("img/green-arrow.svg");
        }
      }
    }
  }
}

.title-contact{
  h3{
    text-align: left;
    color: #699a2a;
    font-family: @czcionka-bazowa-pomocnicza;
    text-transform: uppercase;
    font-weight: 500;
  }
}



.news{
  font-family: @czcionka-bazowa;
  ul{
    @media (max-width: 991px){
      padding-left: 0;
    }
  }
  &__wrapper{
    padding: 0 0 10px 30px;

    @media (max-width: 991px){
      padding: 0;
      padding-bottom: 10px;
    }
  }
  &__photo{
    a{
      z-index: 2;
      position: relative;
    }
    img{
      max-width: 231px;
      height: 155px;
      @media (max-width: 991px){
        max-width: 100%;
        height: auto;
        margin: 20px 0;
      }
    }
    @media (max-width: 991px){
      text-align: center;
    }
  }
  &__archive_title{
    color: #699a2a;
    font-size: 33px;
    line-height: 1.2;
    margin-bottom: 10px;
    @media (max-width: 991px){
      padding-top: 10px;
      display: block;
      font-size: 30px;
    }
  }
  &__archive_date{
    color: #a3a8b2;
    font-family: @czcionka-bazowa-pomocnicza;
    font-size: 15px;
    text-transform: uppercase;
  }
  &__archive_text{
    font-family: @czcionka-bazowa-pomocnicza;
    font-size: 16px;
    color: #303338;
    display: block;
    line-height: 1.5;
    padding-top: 20px;
    .btn{
      font-family: @czcionka-bazowa;
      color: #699a2a;
      border: 2px solid #699a2a;
      font-size: 16px;
      padding: 5px 15px;
      display: table-caption;
      margin-top: 20px;
      -webkit-box-shadow: 0px 35px 200px -45px rgba(105,154,42,1);
      -moz-box-shadow: 0px 35px 200px -45px rgba(105,154,42,1);
      box-shadow: 0px 35px 200px -45px rgba(105,154,42,1);
      @media (max-width: 991px){
        display: table-caption;
      }
      &:after{
        content: "";
        padding-left: 0;
      }
      &:hover{
        border: 2px solid #699a2a;
        &:after{
          padding-left:0;
          content: "";
        }
      }
    }
  }
  &__btn_read_all{
    margin-top: 65px;
    overflow: auto;
    padding-top: 30px;
    padding-bottom: 45px;
    margin-top: -10px;
    margin-bottom: -50px;
    @media (max-width: 991px){
      margin-top: 30px;
      margin-bottom: -50px;
      padding-bottom: 61px;
    }
    .btn{
      -webkit-box-shadow: 0 5px 24px -5px #699a2a;
      -moz-box-shadow: 0 5px 24px -5px #699a2a;
      box-shadow: 0 5px 24px -5px #699a2a;
      border: 2px solid #699a2a;
      background: #699a2a;
      color: #fff;
      &:after{
        content: url("img/white-arrow.svg");
      }
      &:hover{
        border: 2px solid #699a2a;
        background: #fff;
        color: #699a2a;
        &:after{
          content: url("img/green-arrow.svg");
        }
      }
    }
  }
}

.ask{
  background: #699a2a !important;
  color: #fff !important;
  border: 2px solid #699a2a !important;
  max-width: 167px;
  padding: 5px 15px !important;
  &:after{
    content: url("img/white-arrow.svg") !important;
  }
  &:hover{
    border: 2px solid #699a2a !important;
    background: #fff !important;
    color: #699a2a !important;
    &:after{
      content: url("img/green-arrow.svg")!important;
    }
  }
}

.doradcy-empty{
  h5{
    font-size: 20px;
    font-family: Ubuntu;
  }
}


.archive .btn:after, .page-template{
  .navbar-toggle{
    margin-top: 38px;
  }
  &__archive_text{
    .btn{
      color: #699a2a;
      border: 2px solid #699a2a;
      font-size: 16px;
      padding: 5px 15px;
      &:after{
        content: "";
        padding-left: 0;
      }
      &:hover{
        border: 2px solid #699a2a;
        &:after{
          padding-left:0;
          content: "";
        }
      }
    }
  }
}


//BREADCRUMBS
.breadcrumb{
  position: relative;
  padding-bottom: 18px;
  a{
    color: #d2d8e3;
    font-size: 15px;
    font-family:@czcionka-bazowa-pomocnicza;
    .basic-transition;
    &:hover{
      text-decoration: none;
      color: #3d3d3d;
    }
  }
  span{
    padding: 0 4px;
    font-size: 15px;
    color: #d2d8e3;
    font-family:@czcionka-bazowa-pomocnicza;
  }
}
.icon-angle-double-right:before {
  content: '\f101';
  color: #d2d8e3;
  font-family: FontAwesome;
}

footer{
  color: #a2aab0;

  font-size: 14px;
  font-family: @czcionka-bazowa-pomocnicza;
  padding-bottom: 80px;
  overflow: hidden;
  //position: absolute;
  //bottom: 0;
  //left: 0;
  //right: 0;
  @media (max-width: 991px){
    padding-bottom: 30px;
  }
  .hidden-div-wrapper{
    margin-top: 50px;
    border-top: 2px solid #e5e7e9;
    padding-top: 50px;
    -moz-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  }
  .container{
    -moz-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  }
}
.opinions__text{
  padding-right: 35px;
}
.opinions{
  padding-top: 60px;
  &:before{
    content: " ";
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0;
    right: 0;
    background-image: url(img/skos.svg);
    height: 100%;
    background-size: cover;
    transform: scale(1) rotate(-180deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  }
  &:after{
    content: " ";
    position: absolute;
    bottom: -5px;
    z-index: 1;
    left: 0;
    right: 0;
    background-image: url(img/skos.svg);
    height: 191px;
    background-size: cover;
    @media (max-width: 1199px){
      height: 83px;
    }
  }
  .swiper-button-prev{
    bottom: 155px;
    position: relative;

  }
  .swiper-button-next{
    left: 50px;
    right: auto;
    bottom: 177px;
    position: relative;
    @media (max-width: 991px){
      position: absolute;
      right: 0;
    }
  }
  @media (max-width: 991px) {
    .swiper-button-prev {
      left: 30%;
      right: auto;
      top: 85%;
      position: absolute;
    }
    .swiper-button-next {
      left: auto;
      right: 30%;
      top: 85%;
      position: absolute;
    }
  }
}
.setion-oblique{
  padding-top: 150px;
}
.section-oblique{
  height: 330px;
  position: relative;
  &:before{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(img/skos.svg);
    height: 100%;
    background-size: cover;
  }
}
.single{
  .single-archive{
    padding: 0;
  }
}
.section-oblique-archive-2{
  padding: 100px 0px;

  &:before{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(img/skos.svg);
    height: 100%;
    background-size: cover;
  }
  @media (max-width: 991px){
    padding-top: 50px;
  }
  @media (max-width: 767px){
    padding: 30px 0;
    margin-top: 40px;
    h2{
      padding-top: 50px;
    }
  }
}
//Aktualności
.section-oblique-archive, .section-oblique-archive-2{
  background: #a2aab0;
  position: relative;
  .main-title{
    padding-bottom: 100px;
    padding-top: 75px;
    @media (max-width: 767px){
      padding-bottom: 30px;
      padding-top: 87px;
    }
  }
  h2{
    color: #fff;
    font-family: 'Varela Round', sans-serif;
    font-size: 55px;
    text-align: center;
    padding-top: 57px;
    margin-top: 45px;
    @media (max-width: 767px){
      font-size: 30px;
      padding-top: 0px;
      margin-top: 0px;
      font-size: 30px;
      padding-top: 25px;
      margin-top: 0;
      padding-bottom: 10px;
    }
  }
  .skos{
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
  }
}
.skos{
  width: 100%;
}
.archive-main-container{
  margin-top: 25px;
  margin-bottom: 20px;
}

.home .container{
  #navbar{
    margin-top: 0;
    @media (min-width: 767px) and (max-width: 991px){
      margin-top: -1px;
    }
  }
  .navbar-brand{
    img{
      margin-top: 0px;
      padding-left: 0px;
    }
  }
}
#navbar{
  @media (min-width: 767px) and (max-width: 991px){
    position: absolute;
    left: 0;
    margin-top: -1px;
    right: 0;
    width: 100%;
    overflow: hidden;
  }
}

.spage-template, .page-template-default{
  //margin-top: 50px;
  #navbar{
    margin-top: 50px;
    background: #fff;
    border-radius: 55px;
    border-bottom: 5px solid #ccd2d6;
    -webkit-box-shadow: 0px 25px 132px -30px rgba(61,61,61,1);
    -moz-box-shadow: 0px 25px 132px -30px rgba(61,61,61,1);
    box-shadow: 0px 25px 132px -30px rgba(61,61,61,1);
    @media (max-width: 991px){
      border-radius: 0;
    }
  }
  .navbar-brand{
    img{
      margin-top: 55px;
      padding-left: 30px;
      @media(min-width: 992px) and (max-width: 1200px){
      }
      @media (max-width: 991px){
        margin-top: 20px;
      }
    }
  }
  .navbar-default{
    background: transparent;
  }
}
.navbar-default{
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5);
  background: #fff !important;

}
.page-template-default{
  #navbar{
    border-radius: 55px;
    padding-right: 40px;
    border-bottom: 5px solid #ccd2d6;
  }
  .navbar-default{
    background: #fff;
    border: none;
  }
  .navbar-default .navbar-nav>.active>a{
    background: #fff;
  }
  .navbar-brand{
    img{

    }
  }
}

.navbar-default .navbar-toggle{
  border-color: transparent;
  background: transparent;
}


.mar-left{
  margin-left: -39px;
  @media (max-width: 991px){
    margin-left: 0;
  }
}


.news{
  .news__wrapper{
    .news__archive_title{
      a{
        color: #699a2a;
        font-size: 33px;
        font-family: 'Varela Round', sans-serif;
        line-height: 33px;
        @media (max-width: 991px){
          font-size: 30px;
        }
        &:hover{
          text-decoration: none;
        }
      }
  }
  }
}

.home{
  .news{
    &_wrapper{
      &_archive_text{
        a{
          color: #699a2a;
          font-size: 33px;
          font-family: 'Varela Round', sans-serif;
          line-height: 33px;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
}


.news-post{
  @media(min-width: 992px) and (max-width: 1199px){
    padding-left: 70px;
  }
  &__photo{
    img{
      max-width: 450px;
      max-height: 300px;
      border-radius: 10px;
      @media (max-width: 991px){
        margin: 0 auto;
        display: block;
      }
      @media (max-width: 767px){
        max-width: 100%;
        height: 50%;
      }
    }
  }
  &__archive_title{
    a{
      color: #699a2a;
      font-size: 33px;
      font-family: 'Varela Round', sans-serif;
      line-height: 33px;
      @media (max-width: 767px){
        padding-top: 10px;
        display: block;
        font-size: 25px;
      }
      &:hover{
        text-decoration: none;
        color: #699a2a;
      }
    }
  }
  &__archive_date{
    color: #a3a8b2;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    display: block;
    padding-bottom: 22px;
  }
  &__archive_text{
    color: #303338;
    font-size: 16px;

    font-family: 'Ubuntu', sans-serif;
  }
}

.signs-after-post{
  display: block;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 80px;
  @media (max-width: 991px){
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

//Nawigacja
.screen-reader-text{
  display: none;
}

.page-template .pagination, .page-template-default .pagination{
  display: block;
  text-align: center;
}

.archive .pagination, .archive .pagination{
  display: block;
  text-align: center;
}

.nav-links{
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  margin-bottom: 15px;
  .next, .prev{
    color: #303338;
  }
  span{
    border-radius: 45%;
    font-size: 19px;
    margin-right: 12px;
    padding: 10px 20px;
  }
  a{
    margin-right: 12px;
    font-size: 19px;
    color: #bdc4cf;
    padding: 10px 20px;
    background: #fff;
    .shadow;
    .basic-transition;
    border-radius: 45%;
    &:hover{
      text-decoration: none;
      background: #e3e3e3;
      color: #303338;
    }
  }
  .current{
    .shadow;
    padding: 10px 20px;
    border-radius: 45%;
    background: #fff;
    a{

      color: #bdc4cf;
    }
  }
}

.shadow-btn{
  -webkit-box-shadow: 0px 10px 26px 0px rgba(105,154,42,0.5);
  -moz-box-shadow: 0px 10px 26px 0px rgba(105,154,42,0.5);
  box-shadow: 0px 10px 26px 0px rgba(105,154,42,0.5);
}

.shadow-btn-kup{
  -webkit-box-shadow: 0px 10px 26px 0px rgba(183,65,30,0.5);
  -moz-box-shadow: 0px 10px 26px 0px rgba(183,65,30,0.5);
  box-shadow: 0px 10px 26px 0px rgba(183,65,30,0.5);
}

//Produkt
.produkt{
  &__buttons{
    @media (max-width: 991px){
      text-align: center;
      padding-top: 30px;
    }
    @media (max-width: 360px){
      text-align: center;
      padding-top: 30px;
    }
  }
  .btn-zapytaj{
    .shadow-btn;
    border: 1px solid #699a2a;
    background: #699a2a;
    color: #fff;
    padding: 10px 20px 10px 35px;
    &:after{
      content: url(img/white-arrow.svg);
      padding-left: 25px;
    }
    &:hover{
      &:after{
        content: url(img/green-arrow.svg);
        padding-left: 25px;
      }
      color: #699a2a;
      background: #fff;
    }

  }
  .btn-kup{
    margin-bottom: 20px;
    background: #b7411e;
    color: #fff;
    padding: 10px 20px;
    border-color: #b7411e;
    .shadow-btn-kup;
    @media (max-width: 991px){
      margin-bottom: 0px;
    }
    &:after{
      content: url(img/white-arrow.svg);
      padding-left: 15px;
    }
    &:hover{
      &:after{
        content: url(img/red-arrow.svg);
        padding-left: 15px;
      }
      color: #b7411e;
      background: #fff;
      border-color: #b7411e;

    }

  }

  &__photo{
    padding: 45px 0;
    border-radius: 10px;
    background: #fff;
    .shadow;

    min-height: 370px;
    img{
      width: auto;
      display: block;
      margin: auto;
      top: 50%;
      position: absolute;
      text-align: center;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
    }
  }
  &__description{
    border-radius: 10px;
    background: #fff;
    font-family: @czcionka-bazowa-pomocnicza;
    min-height: 370px;
    .product{
      color: #a3a8b2;
    }
    .shadow;
    padding: 25px 45px;
    p{
      font-size: 16px;
    }
    h3{
      a{
        color: #699a2a;
        font-size: 36px;
        font-weight: 400;
        font-family: "Varela Round", sans-serif;
        text-decoration: none;
        letter-spacing: -1px;
        @media(max-width: 767px){
          font-size: 24px;
        }
      }
    }
  }
  .non-gmo{
    margin-top: 21px;
    @media(max-width: 360px){
      width: 100%;
    }
  }
}

.producent{
  p{
    font-size: 15px;
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    color: #a3a8b2 !important;
    padding-bottom: 40px;
    &:hover{
      color: #a3a8b2;
      text-decoration: none;
    }
  }
}


//TABS
.tab-content{
  padding: 45px 40px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  @media (max-width: 767px){
    padding: 30px 10px;
  }
  tr{
    border: 1px solid #e3e3e3;

  }
  tr:nth-child(even) {background: #ebf0f3};
  tr:nth-child(odd) {background: #f9f9fa};
  th, td{
    height: 30px;
    font-size: 15px;
    color: #303338;
    padding: 10px;
    text-align: center;
    @media (max-width: 767px){
      font-size: 12px;
      text-align: center;
      padding: 3px;
    }
    @media (max-width: 400px){
      padding: 0;
      font-size: 9px;
    }
  }
  td{
    &:first-child{
      text-align: left;
    }
  }
  table{
    margin: 0 auto;
    font-family: @czcionka-bazowa;
  }
}

.nav-tabs{
  margin-top: 48px;
  border: 0;
  a{
    text-transform: uppercase;
    height: 47.703px;
    border: 0;
  }
}
.page-template .nav-tabs>li.active>a{
  color: #699a2a;
  font-size: 20px;
  box-shadow: none;
  font-weight: 500;
  font-family: Ubuntu, sans-serif;
  position: relative;
  top: 0px;
  border: 0;
}



.page-template .nav-tabs>li>a{
  color: #a3a8b2;
  font-size: 15px;
  position: relative;
  top: 4px;
  font-weight: 500;
  margin-right: 10px;
  padding-bottom: 13px;
  margin-right: 0 !important;
  -webkit-box-shadow: inset 0px 0px 50px 10px rgba(223,227,233,0.75);
  -moz-box-shadow: inset 0px 0px 50px 10px rgba(223,227,233,0.75);
  box-shadow: inset 0px 0px 50px 10px rgba(223,227,233,0.75);
  &:hover{
    //padding-bottom: 13px;
    background: transparent;
  }

}



.select-box{

  select{
    padding: 8px 20px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    text-transform: lowercase;
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(img/select-v.png) no-repeat right 10px center;
    color: #303338;
    border: none;
    box-shadow: inset 0 0 20px 0px rgba(162,170,176,.15);
  }
}

.pasze{
  border-radius: 10px;
  .shadow;
  margin: 30px 0;
  img{
    border-radius: 10px;
    max-width: 100%;
  }
}

.contact-info__wrapper-outer{
  padding: 50px 30px;
  margin-top: 43px;
  margin-bottom: 30px;
  .rw-wrapper{
    &:last-of-type{
      display: none;
      .contact-info__wrapper{
        border-bottom: none;
      }
    }
  }
}


.wrap-opinions{
  padding: 25px 35px;
  position: relative;
  .shadow;

  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}



.contact-info{
  &__wrapper-outer{
    text-align: center;
    .shadow;
  }
  &__wrapper{
    //padding: 50px 0;
    border-bottom: 1px solid #e2e4e5;
    overflow: auto;
    display: block;

  }
  .btn:focus{
    color: #fff;
  }
  &__photo{
    padding: 40px 0;
    @media (max-width: 991px){
      padding-top: 20px;
    }
    img{
      border-radius: 50%;
      max-width: 165px;
      max-height: 165px;
      //background: red;
    }
  }
  &__name{
    padding: 90px 0px;
    color: #a3a8b2;
    font-size: 15px;
    text-transform: uppercase;
    text-align: initial;
    @media (max-width: 991px){
      padding:0;
      padding-bottom: 20px;
      text-align: center;
      letter-spacing: 0;
    }
    font-family: @czcionka-bazowa-pomocnicza;
    h4{
      letter-spacing: 0;
      font-family: @czcionka-bazowa-pomocnicza;
      font-size: 20px;
      color: #303338;
      font-weight: 700;
      margin-bottom: 0;
      text-transform: capitalize;

    }
    p{
      font-size: 15px;
      text-transform: uppercase;
      color: #a3a8b2;
    }
  }
  &__phone{
    padding: 90px 0px;
    #mail{
      position: relative;
      padding-left: 11px;
      text-align: left;
      top: -10px;
      display: block;
      @media (max-width: 1199px){
        top: -10px;
        left: -12px;

      }
      @media (max-width: 991px){
        top: 0px;
        left: auto;
        text-align: center;
        span{
          font-size: 17px;
        }
      }
    }

    @media (max-width: 991px){
      padding: 0;
    }
    @media (min-width: 992px) and (max-width: 1199px){
      a{
        font-size: 29px !important;
      }
    }
    a{
      &:hover{
        color: #699a2a;
        text-decoration: none;
      }
      i{
        color: #a2aab0;
        font-size: 26px;
        padding-right: 17px;
      }
      font-family: @czcionka-bazowa;
      span{
        font-size: 20px;
        padding-right: 15px;
      }
      color: #699a2a;
      font-size: 36px;
      @media (max-width: 991px){
        font-size: 20px;
      }
    }
  }
  &__button{
    padding: 90px 0px;
    @media (max-width: 991px){
      padding: 20px 0;
    }
    .btn{
      background: #699a2a;
      color: #fff;
      .shadow-btn;
      border: 1px solid #699a2a;
      &:after{
        content: url("img/white-arrow.svg");
      }
      &:hover{
        color: #699a2a;
        border: 1px solid #699a2a;
        background: #fff;
        &:after{
          content: url("img/green-arrow.svg");
        }
      }
    }
  }
}


.career{
  .row{
    &:last-of-type{
      .img-bottom{
        display: none;
      }
    }
  }
  .teczka{
    padding-top: 18px;
    display: block;
    margin: 0 auto;
    img{
      @media (max-width: 991px){
        display: block;
        margin: 0 auto;
      }
    }
  }
  &__cooperation{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    position: relative;
    top: 50px;
    h2{
      font-family: @czcionka-bazowa;
      color: #699a2a;
      font-size: 50px;
      @media (max-width: 767px){
        font-size: 35px;
      }
    }
    font-size: 16px;
    a{
      color: #699a2a;
      text-decoration: none;
      &:hover{
        text-decoration: none;
        color: #699a2a;
      }
    }
  }
  &__desc{

    margin-left: -85px;
    @media (max-width: 991px){
      margin-left: 0;
    }
    a{
      &:hover{
        text-decoration: none;
      }
    }
    h3{
      font-family: @czcionka-bazowa;
      color: #699a2a;
      font-size: 33px;
    }
    h6{
      text-transform: uppercase;
      color: #a3a8b2;
      font-family: @czcionka-bazowa-pomocnicza;
      font-size: 15px;
      line-height: 2;
    }
    h5{
      font-size: 16px;
      font-weight: 700;
      line-height: 2;
      font-family: @czcionka-bazowa-pomocnicza;
    }
    ul{
      padding-left: 15px;
      li{
        font-family: @czcionka-bazowa-pomocnicza;
        font-size: 16px;
        list-style: none;
        line-height: 2;
        &:before{
          content: url("img/arrow.png");
          padding-right: 10px;
        }
      }
    }
  }
  .img-bottom{
    display: block;
    margin: 40px auto;
  }

  .btn{
    font-size: 16px;
    border: 1px solid;
    padding: 5px 10px;
    margin: 0;
    margin-top: 20px;
    font-family: @czcionka-bazowa;
    &:after{
      content: '';
      display: none;
    }
  }
}

.partners{
  text-align: center;
  border-top: 2px solid #e5e7e9;
  padding-top: 60px;
  -moz-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  &__content{
    -moz-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    ul{
      padding-left: 0;
    }
    h4{
      text-transform: uppercase;
      color: #bdc4cf;
      font-size: 20px;
      font-family: @czcionka-bazowa;
    }
    li{
      list-style: none;
      display: inline-block;
    }
  }
}
.single{

  .archive-title{
    text-align: center;
    z-index: 3;
    margin-top: 40px;
    padding-bottom: 105px;
    padding-top: 130px;
    @media (max-width: 991px){
      padding-bottom: 60px;
      padding-top: 70px;
    }
    h1{
      font-family: @czcionka-bazowa;
      font-size: 55px;
      color: #fff;
      z-index: 3;
      position: relative;
      @media (max-width: 991px){
        font-size: 30px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    h6{
      font-size: 15px;
      text-transform: uppercase;
      color: #d2d9e3;
    }
  }

}

.single-main-wrapper{
  padding-top: 25px;
}

#main-wrapper{
  padding-bottom: 50px;
}

.post-archive-wrapper{
  &__desc{
    p{
      font-family: @czcionka-bazowa-pomocnicza;
      font-size: 16px;
    }
  }
  &__photo{
    float: left;
    img{
      margin-bottom: 55px;
      margin-right: 75px;
      border-radius: 10px;
      @media (max-width: 991px){
        margin-bottom: 20px;
        margin-right: 20px;
        padding-right: 20px;
        width: 100%;
        height: 100%;
      }
      @media (max-width: 767px){
        margin-bottom: 20px;
        margin-right: auto;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.main-title-contact{
  h1{
    font-size: 55px;
    color: #fff;
    font-family: @czcionka-bazowa;
    font-weight: 400;
  }
}

.kontakt{
  padding-top: 25px;
  input{
    max-width: 300px;
    background: #f6f7f9;
    height: 35px;
    border-radius: 5px;
    padding: 0 15px;
    border: none;
    -webkit-box-shadow: inset 7px 5px 18px 5px rgba(225,229,235,0.22);
    -moz-box-shadow: inset 7px 5px 18px 5px rgba(225,229,235,0.22);
    box-shadow: inset 7px 5px 18px 5px rgba(225,229,235,0.22);
    @media (max-width: 767px){
      width: 100%;
    }
  }
  textarea{
    padding: 15px;
    background: #f6f7f9;
    width: 470px;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: inset 7px 5px 18px 5px rgba(225,229,235,0.22);
    -moz-box-shadow: inset 7px 5px 18px 5px rgba(225,229,235,0.22);
    box-shadow: inset 7px 5px 18px 5px rgba(225,229,235,0.22);
    @media (max-width: 1199px){
      width: 100%;
    }
  }
  label{
    font-size: 15px;
    text-transform: uppercase;
    color: #a3a8b2;
    font-weight: 400;
    font-family: @czcionka-bazowa-pomocnicza;
  }
  p{
    font-size: 16px;
    color: #303338;
  }
  i{
    color: #a2aab0;
    font-size: 15px;
    padding-right: 10px;
  }
  h3{
    color: #699a2a;
    font-size: 33px;
    font-family: @czcionka-bazowa;
    @media (max-width: 767px){
      text-align: center;
    }
  }
  h4{
    color: #699a2a;
    font-size: 20px;
    text-transform: uppercase;
    font-family: @czcionka-bazowa-pomocnicza;
    font-weight: 500;
  }
  h6{
    color: #a3a8b2;
    text-transform: uppercase;
    font-size: 15px;
    font-family: @czcionka-bazowa-pomocnicza;
  }
  &__phone{
    font-size: 16px;
    color: #303338;
    display: block;
    text-decoration: none;
    font-family: @czcionka-bazowa-pomocnicza;
    &:hover{
      color: #303338;
      text-decoration: none;
    }
  }
  &__email{
    color: #699a2a;
    font-size: 16px;
    text-decoration: none;
    font-family: @czcionka-bazowa-pomocnicza;
    &:hover{
      color: #699a2a;
      text-decoration: none;
    }
  }
  &__single-info-wrapper{
    padding-top: 45px;
    @media (max-width: 767px){
      text-align: center;
    }
    p{
      color: #303338;
      font-family: @czcionka-bazowa;
      margin-bottom: 0;
    }
  }
}

.pasza{
  &__description{
    padding: 40px 60px 0px 30px;
    h4{
      font-size: 24px;
      font-family: @czcionka-bazowa-pomocnicza;
      font-weight: 500;
    }
    p{
      font-size: 16px;
      font-family: @czcionka-bazowa-pomocnicza;
      font-weight: 400;
    }
  }
}

.swiper-container-mp{
  .one-slide{
    height: 400px;
    background-size: cover;
    border-radius: 10px;
  }
}

.swiper-container-agro{
  .one-slide{
    height: 400px;
    background-size: cover;
    border-radius: 10px;
  }
}

.one-slide{
  height: 400px;
  @media (max-width: 991px){
    height: auto;
  }
  .shadow;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  .flex-item-default{

    //height: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
    font-family: @czcionka-bazowa;
    h1{
      color: #303338;
      font-size: 70px;
      font-family: @czcionka-bazowa;
    }
    p{
      color: #303338;
      font-size: 22px;
      background: #fff;
      text-align: center;
    }
  }
  .flex-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.kinds-of-food{
  border-radius: 10px;
  background: #fff;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 35px 0;
  .shadow;
  p{
    font-size: 20px;
    font-weight: 700;
    color: #303338;
    display: block;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
  }
  .btn{
    font-size: 16px;
    padding: 5px 15px;
    border: 1px solid;
    &:after{
      display: none;
    }
  }
}


.banner-pets{
  padding: 0 !important;
  &__wrapper-center{
    font-family: @czcionka-bazowa;
    h6{
      font-size: 22px;
    }
    h2{
      font-size: 48px;
      background: #303338;
      color: #fff;
      border-radius: 5px;
      padding: 0 5px;
      display: inline-block;
    }
    h1{
      font-size: 120px;
      color: #bd451f;
      position: relative;
      letter-spacing: -20px;
      margin-left: -50px;
      margin-top: -10px;
      @media (max-width: 991px){
        margin-left: -55px;
      }
      &:after{
        content: "%";
        font-size: 50px;
        position: absolute;
        top: 5px;
        padding-left: 15px;
      }
    }
  }
  &__photo-right{
    img{
      width: auto;
      padding-top: 30px;
    }
  }
  &__photo-left{
    @media (max-width: 991px){

      text-align: center;
    }
    img{
      width: auto;
      padding-right: 50px;
      @media (max-width: 991px){
        padding-right: 0;
        padding-top: 20px;
        text-align: center;
      }
    }
  }
}


.wrap{
  width: 100%;
}


.category-wrapper{
  background: #fff;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 45px;
  @media (max-width: 991px){
    margin-bottom: 25px;
  }
  .shadow;
  ul{
    list-style: none;
  }
  li{
    list-style: none;
  }
  .active{
    color: #a2aab0;
  }
  a{
    color: #303338;
    font-size: 20px;
    font-weight: 700;
    font-family: @czcionka-bazowa-pomocnicza;
    .basic-transition;
    &:hover{
      color: #a2aab0;
      text-decoration: none;
    }
    &:before{
      content: url("img/btn_grey.png");
      position: relative;
      left: -10px;
    }
  }

}

.produkt__description p{
  font-family: @czcionka-bazowa-pomocnicza;
  font-weight: 400;
}

.single-category-product{
  border-radius: 10px;
  .btn-zapytaj{
    margin-left: 15px;
  }
  .produkt{
    .shadow;
    margin-bottom: 30px;
    border-radius: 10px;
    position: relative;
    overflow: auto;
    background-color: #fff;
    .produkt__description, .produkt__photo{
      box-shadow: none;
      padding-left: 0px;
    }
  }
}

.contact-form-wrapper{
  box-shadow: 0 25px 40px 15px rgba(162,170,176,.22);
  padding: 25px 35px;
  margin-bottom: 90px;
  border-radius: 10px;
  @media (max-width: 1199px){
    text-align: center;
    margin-top: 30px;
    padding: 25px 0px;
  }
  @media (max-width: 991px){
    margin-bottom: 60px;
  }
  form{
    padding: 0 15px;
  }

  .btn{
    padding: 10px 25px;
    height: auto;
    background: #699a2a;
    color: #fff;
    &:after{
      content: url("img/white-arrow.svg");
      padding-left: 15px;
    }
    &:hover{
      background: #fff;
      color: #699a2a;
      &:after{
        content: url("img/green-arrow.svg");
        padding-left: 15px;
      }
    }
  }
}


.main-title-contact{
  margin-top: -220px;
  position: relative;
  padding-bottom: 140px;
  @media (max-width: 767px){
    margin-top: -154px;
    position: relative;
    padding-bottom: 0px;
  }
}

.categories{
  color: #fff;
}

.only-here{

  @media (min-width: 991px){
    width: 1270px;
  }
}

.swiper-button-prev{
  background-image: url(img/minislider-prev.svg) !important;
  background-size: cover !important;
}

.swiper-button-next{
  background-image: url(img/minislider-next.svg) !important;
  background-size: cover !important;
}

.opinions{
  .swiper-button-prev{
    background-image: url(img/review-prev.svg) !important;
  }

  .swiper-button-next{
    background-image: url(img/review-next.svg) !important;
  }
  .swiper-container{
    z-index: 2;
  }
}

.single .nav-tabs{
  border-bottom: none;
  li{
    font-size: 15px;
    color: #a3a8b2;
    margin-right: 0 !important;
    &:first-of-type{
      margin-left: 0;
    }
  }
}

.single .nav-tabs li{
  margin-left: 5px;
  margin-right: 5px;
  background: white;
  border-radius: 10px 10px 0 0;
  font-family: @czcionka-bazowa;
  font-size: 15px;
  p{
    color: #303338;
    font-family: @czcionka-bazowa-pomocnicza;
    font-size: 16px;
    line-height: 1.2;
  }
  //.shadow;
  font-weight: 500;
  li.active{
    a{
      font-size: 20px;
      color: #699a2a;
    }
  }
}

.single{
  .tab-content{
    background: #fff;
    position: relative;
    overflow: auto;
    .shadow;
  }
}

.single .nav-tabs>li.active>a:hover{
  box-shadow: 0 -20px 45px 5px rgba(162,170,176,.15);
}


.single .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus{
  color: #699a2a !important;
  border: 0px solid transparent !important;
  font-size: 20px;
  padding: 12px 40px;
  background: #fff !important;
  z-index: 2;
  font-weight: 500;
  box-shadow: 0 -20px 45px 5px rgba(162,170,176,.15);
  font-family: @czcionka-bazowa-pomocnicza !important;
  &:hover{
    border: 0px solid transparent !important;
    color: #699a2a !important;
  }
}
.single .nav-tabs>li>a{
  cursor: pointer;
  background: transparent !important;
  border: 0px solid transparent !important;
  color: #a3a8b2;
  padding: 15px 30px;
  box-shadow: 0px 0px 15px 30px rgba(225,229,235,.22);
}
.single .nav-tabs>li>a:hover{
  background: #fff !important;
  border: 0px solid transparent !important;
  box-shadow: 0 -20px 45px 5px rgba(162,170,176,.15);
}

.slider{
  &:after{
    content: " ";
    position: absolute;
    bottom: -5px;
    z-index: 1;
    left: 0;
    right: 0;
    background-image: url(img/skos.svg);
    height: 191px;
    background-size: cover;
    @media (max-width: 991px){
      height: 113px;
    }
  }
  .swiper-pagination-bullets{
    left: 50%;
    bottom: 25%;
    margin-bottom: 100px;
    @media (max-width: 991px){
      margin-bottom: 45px;
    }
  }
  .swiper-pagination-bullet{
    background: #fff;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    border: 1px solid #fff;
    background: transparent;
    width: 11px;
    height: 11px;
    position: relative;
    top: 1px;
  }
}


.swiper-container-agro{
  .swiper-pagination-bullets{
    left: 50%;
    bottom: 25%;
    margin-bottom: 100px;
    @media (max-width: 991px){
      margin-bottom: 45px;
    }
  }
  .swiper-pagination-bullet{
    background: #fff;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    border: 1px solid #fff;
    background: transparent;
    width: 11px;
    height: 11px;
    position: relative;
    top: 1px;
  }
}

.swiper-container-mp{
  box-shadow: 0 0 40px 15px rgba(162,170,176,.15);
  margin-bottom: 30px !important;
  padding-bottom: 15px;
  .one-slide{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .swiper-pagination-bullets{
    top: 0px;
    right: 0;
    bottom:auto !important;
    left: auto !important;
    width: auto !important;
  }
  .swiper-pagination-bullet{
    background: #bdc1c4;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    border: 1px solid #fff;
    background: #fff;
    width: 11px;
    height: 11px;
    position: relative;
    top: 1px;
  }
}

.kontakt-skos{
  height: 350px;
  background: #a2aab0;
  @media (max-width: 767px){
    height: 180px;
  }
}


.linia-produktow-agro{
    height: 400px;
    @media (max-width: 991px){
      height: auto;
    }
    .shadow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    .flex-item-default{

      //height: 200px;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 0;
      font-family: @czcionka-bazowa;
      h1{
        color: #303338;
        font-size: 70px;
        font-family: @czcionka-bazowa;
      }
      p{
        color: #303338;
        font-size: 22px;
        background: #fff;
        text-align: center;
      }
    }
    .flex-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
  }


.swiper-container-mp{
  .swiper-pagination-bullets{
    @media (max-width: 767px){
      right: 0;
    }
  }
}

#main-wrapper{
  //margin-top: -100px;
}

.card-body{
  .form-group{
    width: 300px;
    margin: 0 auto;
    @media (max-width: 991px){
      width: 100%;
    }
  }
  form{
    margin-top: 20px;
  }
  textarea{
    width: 300px;
    margin: 0 auto;
  }
  input{
    max-width: 300px;
    background: #f6f7f9;
    height: 35px;
    border-radius: 5px;
    padding: 0 15px;
    border: none;
    -webkit-box-shadow: inset 7px 5px 18px 5px rgba(225,229,235,0.22);
    -moz-box-shadow: inset 7px 5px 18px 5px rgba(225,229,235,0.22);
    box-shadow: inset 7px 5px 18px 5px rgba(225,229,235,0.22);
    @media (max-width: 767px){
      width: 100%;
    }
  }
  textarea{
    padding: 15px;
    background: #f6f7f9;
    width: 300px;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: inset 7px 5px 18px 5px rgba(225,229,235,0.22);
    -moz-box-shadow: inset 7px 5px 18px 5px rgba(225,229,235,0.22);
    box-shadow: inset 7px 5px 18px 5px rgba(225,229,235,0.22);
    @media (max-width: 1199px){
      width: 100%;
    }
  }
  label{
    font-size: 15px;
    text-transform: uppercase;
    color: #a3a8b2;
    font-weight: 400;
    font-family: @czcionka-bazowa-pomocnicza;
  }
  p{
    font-size: 16px;
    color: #303338;
  }
  i{
    color: #a2aab0;
    font-size: 15px;
    padding-right: 10px;
  }
  .btn{
    background: #699a2a;
    color: #fff;
    &:after{
      content: url("img/white-arrow.svg");
    }
    &:hover{
      background: #fff;
      color: #699a2a;
      &:after{
        content: url("img/green-arrow.svg");
      }
    }
  }
}

#piktogramy{
  //display: inline-flex;
  padding-left: 0;
  li{
    list-style: none;
    margin-right: 5px;
    img{
      max-width: 43px;
    }
  }
}



#main-wrapper{
  &:before{
    content: url("img/skos.svg");
    position: absolute;
    top: 290px;
  }
}

#content{
  position: relative;
  overflow: hidden;
}

#wpadminbar{
  overflow: hidden;
  position: fixed;
  top:0;
}

#wpadminbar #wp-admin-bar-new_draft > .ab-item{
  @media (max-width: 380px){
    display: none;
  }
}

.margin-simulate{
  margin-top: -155px;
  overflow: hidden;
  @media (max-width: 991px){
    margin-top: -225px;
  }
}

.mb{
  @media (max-width: 991px){
    margin-bottom: 30px;
  }
}

.swiper-container-agro .one-slide, .swiper-container-mp .one-slide{
  @media (max-width: 1200px){
    height: 300px;
  }
  @media (max-width: 991px){
    height: 240px;
  }
  @media (max-width: 991px){
    height: 180px;
  }
  @media (max-width: 550px){
    height: 119px;
  }
  @media (max-width: 400px){
    height: 100px;
  }
}


.mw{
  max-width: 185px;
  margin: 0 auto;
}
.agro-pagination{
  position: relative;
  //height: 30px;
  .swiper-pagination-bullet{
    right: 0;
    top: 0;
    margin-right: 13px;
  }
  .swiper-pagination-bullets{
    right: 0;
    @media (max-width: 991px){
      margin-bottom: 45px;
    }
  }
  .swiper-pagination-bullet{
    background: #bdc1c4;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    border: 1px solid #fff;
    background: #fff;
    width: 11px;
    height: 11px;
    position: relative;
    top: 1px;
  }
}

.error404{
  footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.footer-text{
  padding-top: 15px;
  padding-bottom: 15px;
  @media (max-width: 400px){
    font-size: 13px;
  }
}

.no-products{
  background: #fff;
  border-radius: 10px;
  overflow: auto;
  h1{
    text-align: center;
    background: #fff;
    font-family: @czcionka-bazowa;
    padding-top: 50px;
    margin-top: 0;
  }
}

.select-state{
  font-size: 15px;
  text-transform: uppercase;
  color: #a3a8b2;
  font-family: @czcionka-bazowa-pomocnicza;
  padding-top: 5px;
  padding-left: 30px;
  @media (max-width: 991px){
    padding-left: 0;
  }
}


body{
  .swiper-button-disabled{
    opacity: 0 !important;
  }
}

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  float: right;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}

.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
  background-color: #699a2a;
}


.hamburger{
  @media (min-width: 992px){
    display: none !important;
  }
}

.navbar-nav>li{
  &:last-of-type{
    .active{
      &:after{
        content: "";
        height: 2px;
        width: 100%;
        background: red;
        display: block;
        position: absolute;
        bottom: -1px;
      }
    }
  }
}

.navbar-nav>li.active{
  &:after{
    content: "";
    height: 2px;
    width: 100%;
    background: #699a2a;
    display: block;
    position: absolute;
    bottom: -1px;
  }
}

.home{
  .navbar-nav>li.active{
    &:after{
      content: "";
      height: 2px;
      width: 100%;
      background: transparent;
      display: block;
      position: absolute;
      bottom: -1px;
    }
  }
}

.archive .single-btn-arch{
  border: 2px solid #699a2a;
  margin-top: 30px;
  &:hover{
    border: 2px solid #699a2a;
  }
}