*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*body {*/
    /*font-family: 'Raleway', sans-serif;*/
/*}*/

/*nav a {*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*margin: 15px 25px;*/
    /*outline: none;*/
    /*color: #fff;*/
    /*text-decoration: none;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: 1px;*/
    /*font-weight: 400;*/
    /*text-shadow: 0 0 1px rgba(255,255,255,0.3);*/
    /*font-size: 1.35em;*/
/*}*/

/*nav a:hover,*/
/*nav a:focus {*/
    /*outline: none;*/
/*}*/

/*
/* Effect 2: 3D rolling links, idea from http://hakim.se/thoughts/rolling-links */


.cl-effect-2 a span {
    position: relative;
    display: inline-block;
    padding: 0 14px;
    background: #2195de;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.csstransforms3d .cl-effect-2 a span::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0965a0;
    content: attr(data-hover);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
    -webkit-transform: rotateX(90deg) translateY(-22px);
    -moz-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .cl-effect-2 a:hover span::before,
.csstransforms3d .cl-effect-2 a:focus span::before {
    background: #28a2ee;
}
