/*
Theme Name: idvetmp

Author: ideative.pl
Author URI: http://ideative.pl/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: idvetmp
Tags:

*/

@import "css/bootstrap.min.css";

@font-face {
	font-family: SinkinSans300Light;
	src: url(css/fonts/SinkinSans-300Light.otf);
}
@font-face {
	font-family: SinkinSans700Bold;
	src: url(css/fonts/SinkinSans-700Bold.otf);
}
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: 'Work Sans', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}


body {
	margin: 0;
	color: #000;
}
body, html{
	font-size: 17px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
	text-decoration: none;
}

a:active,
a:hover {
	outline: 0;
	text-decoration: none;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 500;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}


code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #000;
	font-family: sans-serif;
	font-size: 17px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h3{
	line-height: 36px;
}

p {

	font-size: 17px;
	line-height: 26px;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}


code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: @kolor-czcionki-glowny;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}



ul {
	list-style: disc;
	padding-left: 0;
	padding-right: 0;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
	max-width: 100%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


/* ---theme styles--- */

/* variables */
.basic-transition {
	transition: all 0.2s ease-in-out;
}
@czcionka-glowna: 'Work Sans', sans-serif;
@czcionka-pomocnicza: 'SinkinSans300Light', sans-serif;

@body_bg: rgb(250, 237, 203);



//@berk-color

@rozmiar-czcionki-glowny: 14px;

@kolor-czcionki-glowny: #f8921e;
@kolor-czcionki-pomocniczy: #414143;
@kolor-linkow-glowny: @kolor-czcionki-glowny;
@kolor-linkow-glowny-hover:@kolor-linkow-glowny;

@btn-color: #fff8e6;
@btn-border-color: rgb(101, 114, 48);
@btn-bg-color: rgb(63,71,29);


@h1-czcionka: @czcionka-glowna;
@h1-kolor: @kolor-czcionki-glowny;
@h1-rozmiar: 30px;
@h1-waga: 'bold';


@h2_font_family: @czcionka-glowna;
@h2_-_color: @kolor-czcionki-glowny;
@h2_font_size: @rozmiar-czcionki-glowny;
@h2_-_weight: normal;

@h3_font_family: @czcionka-glowna;
@h3_-_color: @kolor-czcionki-glowny;
@h3_font_size: @rozmiar-czcionki-glowny;
@h3_-_weight: normal;

@h4_font_family: @czcionka-glowna;
@h4_-_color: @kolor-czcionki-glowny;
@h4_font_size: @rozmiar-czcionki-glowny;
@h4_-_weight: normal;

@h5_font_family: @czcionka-glowna;
@h5_-_color: @kolor-czcionki-glowny;
@h5_font_size: @rozmiar-czcionki-glowny;
@h5_-_weight: normal;

@h6_font_family: @czcionka-glowna;
@h6_-_color: @kolor-czcionki-glowny;
@h6_font_size: @rozmiar-czcionki-glowny;
@h6_-_weight: normal;

@subpage_header_color: @kolor-czcionki-glowny;
@subpage_header_font_size: @rozmiar-czcionki-glowny;
@subpage_header_font_weight: 400;


@btn_font_size: @rozmiar-czcionki-glowny;
@btn_font_color: @kolor-czcionki-glowny;
@btn_bg_color: transparent;
@btn_border_color: transparent;
@btn_border_size: 0;
@btn_border_radius: 0;


@label_font_size : @rozmiar-czcionki-glowny;
@label_font_weight : 400;
@label_font_color : @kolor-czcionki-glowny;
@input_font_size : @rozmiar-czcionki-glowny;
@input_font_color : @kolor-czcionki-glowny;
@input_border_color : @kolor-czcionki-glowny;
@input_border_radius : 0px;

@top_menu_contact_box_font_color : @kolor-linkow-glowny;


@footer_bg_color :transparent;
@footer_border_color : #fff;
@footer_text_color: #8e986f;


@menu_font_size : @rozmiar-czcionki-glowny;
@menu_color : @kolor-linkow-glowny;
@menu_color_hover : @kolor-linkow-glowny-hover;
@menu_-_waga_czcionki : 400;

@bg_top_section: transparent;
/*


/* main styles */





.modal-dialog {
	width: 98%;
	margin: 15px auto;
	height: 940px;
}
.modal-body{
	position: relative;
	padding: 15px;
	height: 930px;
	background: #000;
}

.modal-backdrop
{

	opacity: 0.5 !important;
	.basic-transition;
}

.container{
	width: 1400px;
	@media (max-width: 1450px){
		width: auto;
	}
}

body,html{
	color: #1d1d1d;
	font-size: @rozmiar-czcionki-glowny;
	font-family: @czcionka-glowna;
}
a{
	text-decoration: none;
	color: @kolor-linkow-glowny;
	transition: all 0.5s ease 0s;
	&:hover{
		color: @kolor-linkow-glowny-hover;
	}
}

.hide-element{
    opacity: 0;
    transition: ease all 0.5s;
}
.visible{
    opacity: 1 !important;
    transition: ease all 0.5s;
}


/*.owl-item:not(.active) .big-box,  .owl-item:not(.active) .small-box-1, .owl-item:not(.active) .medium-box-1,  {
    opacity: 0;
}*/


.home{
	.main-container{
		margin-top: 0;
	}
}

.main-container{
	margin-top: 271px;
	@media (max-width: 991px){
		margin-top: 71px;
	}
}

.aktualnosci .read-more{
	background-color: @kolor-czcionki-glowny;
	margin-top: 50px;
	display: inline-block;
	position: relative;
	left: 40%;
	&:after{
		background: @kolor-czcionki-glowny !important;

	}
	&:hover {
		&:before {
			content: url('img/arrow-grey.svg') !important;
		}
	}
	@media (max-width: 768px){
		left: 10%;
	}
}

.btn{
	z-index: 3;
	margin: 20px auto;
	color: #fff;
	position: relative;
	padding: 9px 50px 9px 30px;
	font-size: 17px;
	font-family: @czcionka-glowna;
	background-color: @kolor-czcionki-pomocniczy;
	border-radius: 30px;
	overflow: hidden;
	@media (max-width: 991px){
		margin: 20px auto;
	}
	&:after{
		line-height: 55px;
		height: 44px;
		width: 85px;
		background: @kolor-czcionki-pomocniczy;
		//background: red;
		content: url('img/btn_samolot.png');
		//content: '';
		position: absolute;
		bottom: -1px;
		right: -13px;
		padding-left: 5px;
		border-bottom-right-radius: 30px;
		border-top-right-radius: 30px;
		transition: ease all 0.3s !important;
		z-index: -1;
	}
	&:before{
		content: url('img/arrow-orange.svg');
		position: absolute;
		top: 14px;
		right: 30px;
		//padding-left: 30px;
		transition: ease all 0.5s !important;
		z-index: -5;
		//display: none;
	}
	&:hover{
		color: #fff;
		&:after{
			content: url('img/btn_samolot.png');
			position: absolute;
			bottom: -1px;
			right: -110px;
			transition: ease all 0.9s;
		}
		&:before{
			 content: url('img/arrow-orange.svg');
			 position: absolute;
			 bottom: -1px;
			 right: 10px;
			 transition: ease all 0.5s;
			 z-index: -10;
		 }
	}
	&:active, &:focus{
		color: #fff;
	}
}


.home{
	nav{
		// overflow: hidden;
		.basic-transition;
		z-index: 999;
		height: 180px;
		.container{
			height: 165px;
			border-bottom: none;
			z-index: 2;
			@media (max-width: 991px){
				height: 71px;
			}
		}
		@media (max-width: 991px){
			height: 100%;
		}
	}
}

nav{
	// overflow: hidden;
	.basic-transition;
	z-index: 999;
	height: 180px;
	.container{
		height: 155px;
		border-bottom: 1px solid #eef2f7;
		z-index: 2;
		@media (max-width: 991px){
		height: 71px;
			border-bottom: none !important;
	}
	}
	@media (max-width: 991px){
		height: 100%;
	}
}

.navbar-collapse{
	border-top: none;
}



.anim {
	opacity: 0;
}

.animated{
	opacity: 1;
}



h1{
	font-family: @h1-czcionka;
	color: @h1-kolor;
	font-size: @h1-rozmiar;
	font-weight: @h1-waga;
}

h2{
	font-family: @h2_font_family;
	color: @h2_-_color;
	font-size: @h2_font_size;
	font-weight: @h2_-_weight;
}
h3{
	font-family: @h3_font_family;
	color: @h3_-_color;
	font-size: @h3_font_size;
	font-weight: @h3_-_weight;
}
h4{
	font-family: @h4_font_family;
	color: @h4_-_color;
	font-size: @h4_font_size;
	font-weight: @h4_-_weight;
}
h5{
	font-family: @h5_font_family;
	color: @h5_-_color;
	font-size: @h5_font_size;
	font-weight: @h5_font_family;
}
h6{
	font-family: @h6_font_family;
	color: @h6_-_color;
	font-size: @h6_font_size;
	font-weight: @h6_-_weight;
}


/* header */

.nav .open > a, .nav .open > a:hover, .nav .open-menu > a:focus{
	background: none !important;
	border: none;
}

.nav .dropdown-menu>li>a:focus{
	background-color: transparent;
}

.menu-item a{
    opacity: 0;
}


.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
	background: transparent;
	//color: #fff;
}

// .nav > li > a, .nav .dropdown-menu > li > a{
// 	font-weight: @menu_-_waga_czcionki;
// 	color: @menu_color;
// 	font-size: 13px;
// 	font-family: HKGroteskRegular, sans-serif;
// 	font-weight: 600;
// }

// .nav .dropdown-menu{
// 	text-align: center;
// 	>li{
// 		>a{
// 			font-weight: 600;
// 			&:hover{
// 				color: @menu_color_hover;
// 			}
// 		}
// 	}
// }





.nav .dropdown-menu > li > a{
	color: #fff;
}

.nav .dropdown-menu .current-menu-item a{
	color: #fff;
}

.nav > li > a:hover, .nav > li > a:focus{
	background: none;
	//color: #fff8e5;
}
//.container-fluid > .navbar-collapse{
//	@media (max-width: 991px){
//		margin-left: -30px;
//		margin-right: -30px;
//	}
//}


.navbar{
	background: transparent;
	min-height: 105px;
	//position: absolute;
	//top: 0;
	//left: 0;
	//right: 0;
	padding-top: 20px;
	.container{
		position: relative;
	}
}

.navbar-brand{
	height: auto;
	position: absolute;
	margin: 0 auto;
	display: block;
	padding: 0;
	z-index: 2;
	left: 40px;
	margin-top: 30px;
	@media (min-width: 993px) and (max-width: 1050px){
		left: 40px;
	}
	@media (max-width: 992px){
		left: auto;
		margin-top: -30px;
		margin-left: 20px !important;
	}
}


// Change Breakpoint

@media (max-width: 991px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
}

//END


.wrapper-menu .strefa > li > a.strefa-clienta{
	color: @kolor-czcionki-glowny;
	margin-right: 42px;
	margin-left: -8px;
	text-transform: uppercase;
	position: relative;
	top:0;
	.basic-transition;
	&:hover{
		position: relative;
		top: -3px;
	}
	@media (max-width: 991px){
		margin-right: auto;
		margin-left: auto;
	}
}

.strefa{
	//margin-bottom: 30px;


	a{
		padding: 0 4px;
		color: #b5c4cc;
		position: relative;
		top:0;
		.basic-transition;
		&:hover{
			position: relative;
			top: -3px;
		}
	}
	.active{
		color: @kolor-czcionki-pomocniczy !important;
	}
	@media (max-width: 767px){
		display: block;
		text-align: center;
		background-color: #fff;
	}
}

.box-abs-t-r {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	color: @top_menu_contact_box_font_color;
	font-size: 30px;
	padding: 15px 10px 7px;
	position: absolute;
	right: 0;
	top: 0;
	span{
		display: block;
		font-size: 18px;
		font-weight: 400;
		line-height: 7px;
	}
	a{
		color: @top_menu_contact_box_font_color;
		&:hover{
			text-decoration: none;
		}
	}
}

.admin-bar{

	.navbar-fixed-top{
		top: 32px;
	}

	.box-abs-t-r {
	}
}

.cb-visible{
	margin-top: 60px;
}


.navbar-toggle{
	float: left;
	margin-bottom: 0;
	margin-left: 8px;
	margin-top: -20px !important;
	.icon-bar{
		height: 3px;
		background: @kolor-czcionki-glowny !important;
	}
}


.wrapper-position-brand{
	@media (min-width: 992px){
		top: 37px;
	}

}

.large-space{

	@media (min-width: 992px){
		top: -80px !important;
	}
}

.strefa-position{
	position: relative;
	@media (min-width: 992px){
		top: 10px !important;
	}

}

.wrapper-position{
	@media (min-width: 992px){
		top: -37px !important;
		.strefa{
			position: relative;
			top: 10px;
		}
	}

}

#navbar{
	margin-top: 10px;
	@media (min-width: 992px){
		margin: 10px 0 0;
	}
	@media (max-width: 991px){
		margin-top: 65px;
	}
}

#navbar .navbar-nav a{
	text-align: center;
	position: relative;
	z-index: 99999;
	@media(max-width: 991px)
	{
		background-color: #fff;
		//text-align: center !important;
		//position: relative !important;
		//z-index: 99999;
	}
}

.navbar-default .navbar-collapse{
	@media (max-width: 991px){
		border: none;
	}
}

.wrapper-menu{
	position: relative;
	left: 54%;
	display: inline-block;
	margin-left: 7px;
	@media (min-width: 768px) and (max-width: 1400px){
		right: 0;
		top: 0;
		float: right;
		left: auto;
	}
	@media (max-width: 991px){
		margin-top: 10px;
		display: block;
		left: auto;
		width: 100%;
		padding-bottom: 50px;
		margin-left: 0;
	}
}
.navbar-nav{
	// margin-bottom: 0;
	// margin-top: 0;
	margin: 0px -15px;
}

.navbar-nav > li{
	list-style: none;
}
.navbar-default .navbar-nav>.active>a{
    background: none;
    color: @kolor-czcionki-glowny;
    &:hover{
        background: none;
    }
}


.navbar-default{
	border: none;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	.basic-transition;
	max-height: 150px;
}

.navbar-default .navbar-nav > li > a
{
	color: @kolor-czcionki-pomocniczy;
	font-size: 17px;
	font-weight: 400;
	padding: 15px 10px;
	position: relative;

}
#navbar .navbar-nav a{
	&:last-of-type{
	}

}

.zyk{
	display: inline-block;
}



.menu-hover{
    height: 10px;
    width: 10px;
    background: @kolor-czcionki-glowny;
    display: inline-block;
    bottom: 25px;
    left: 10px;
	margin-left: 10px;	
    position: absolute;
    opacity: 0;
    .basic-transition;
	@media (max-width: 991px){
		display: none;
	}
}


.test{
	.basic-transition;
	&:after{
		content: ' ';
		height: 10px;
		width: 10px;
		background: @kolor-czcionki-glowny;
		display: inline-block;
		bottom: -10px;
		left: 10px;
		position: absolute;
		.basic-transition;
	}
}

.strefa{
	@media (max-width: 991px){
	}
	li{
		display: inline-block;
		@media (max-width: 991px){
			&:last-of-type{
				padding-bottom: 40px;
			}
			margin-left: -15px;
			margin-right: -15px;
			display: block;
			background: #fff;
			text-align: center;
			
		}
	}

}

/* subpage header */

.subpage-header-bg{
	margin-bottom: 60px;
	background-repeat: repeat-x !important;
	background-size:cover !important;
	color: @subpage_header_color;
	font-size: @subpage_header_font_size;
	font-weight: @subpage_header_font_weight;
	h1{
		color: inherit !important;
		font-weight: 300;
		font-size:inherit !important;
	}
}

/* subpage header END */




/* footer */




/* footer  END*/


/* formularze */

input.wpcf7-submit{
	//.btn;
	margin: 20px auto;
	color: #fff;
	//position: relative;
	display: inline-block;
	padding: 9px 37px 9px 30px;
	font-size: 17px;
	font-family: @czcionka-glowna;
	background-color: @kolor-czcionki-glowny;
	border-radius: 30px;
	content: '';
	&:after{
		line-height: 55px;
		background: @kolor-czcionki-pomocniczy;
		content: '  ooo';
		padding-left: 5px;
		border-bottom-right-radius: 30px;
		border-top-right-radius: 30px;
		transition: ease all 0.3s !important;
		z-index: -1;
	}
	&:before{
		content: url('img/arrow-grey.svg');
		position: absolute;
		top: 14px;
		right: 30px;
		transition: ease all 0.5s !important;
		z-index: -5;
	}
	&:hover{
		color: #fff;
		&:after{
			content: url('img/btn_grey.png');
			position: absolute;
			transition: ease all 0.9s;
		}
		&:before{
			content: url('img/arrow-orange.svg');
			position: absolute;
			bottom: -1px;
			right: 10px;
			transition: ease all 0.5s;
			z-index: -10;
		}
	}
	&:active, &:focus{
		color: #fff;
	}
}
.wpcf7-textarea{
	height: 150px;
	width: 100%;
	border-radius: 10px;
	border-color: #b5c4cc;
	padding: 10px;
	@media (max-width: 992px)
	{
		width: 100%;
	}
}
.wpcf7-text{
	width: 100%;
	border-radius: 10px;
	height: 44px;
	padding-left: 10px;
	border-color: #b5c4cc;
	@media (max-width: 992px)
	{
		width: 100%;
	}
}

.wpcf7{
	p{
		margin-bottom: 5px;
	}
	label{
		display: block;
		color: #b5c4cc;
	}
}

/* formularze END */


/* gallery */

.gallery-content{
	h2{
		margin-top: 40px;
	}
	.row{
		&:first-of-type{
			h2{
				margin-top: 0;
			}
		}
	}
	.mgn-popup{
		display: inline-block;
		margin-bottom: 30px;
	}
}
.mfp-counter{
	display: none;
}

/* gallery END */


/* tabele */

table {
	margin-bottom: 20px;
	max-width: 100%;
	width: 100%;
	border-width: 1px;
}

table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td{
	line-height: 1.42857;
	padding: 8px;
	vertical-align: top;

}


/* tabele END */

/* formularze */
label{
	font-size: @label_font_size;
	font-weight: @label_font_weight;
	color: @label_font_color;
	font-size: @label_font_size;
}
input, textarea{
	font-size: @input_font_size;
	color: @input_font_color;
	border-width: 1px;
	border-style: solid;
	border-color: @input_border_color;
	border-radius: @input_border_radius;
}

/* formularze END */

/* lista wpisów */

.post-row{
	margin-bottom: 30px;
}

.nav-links{
	.nav-previous{
		float: left;
	}
	.nav-next{
		float: right;
	}
}

.post-title a{
	text-decoration: none;
}

.single-post h2{
	margin-bottom: 40px;
}

/* lista wpisów END */

/* ---theme styles END--- */


// TODO boks na całą szerokosc z tekstem w kontenerze

@media (max-width: 992px){
	.owl-carousel-slider_text .item .item-text > div{
		font-size: 30px !important;
	}

	.owl-carousel-slider_text .item{
		max-height: 400px;
	}


	section.text h2{
		font-size: 30px;
	}

	.cb-visible{
		margin-top: 10px;
	}
	ul, ol{
		margin: 0;
	}
	table {
		width: 100% !important;
	}

	.navbar-toggle {
		float: left;
		margin-bottom: 0;
		margin-left: 8px;
		margin-top: 20px;
		position: absolute;
		right: 0;
		top: 0;
	}
	.box-abs-t-r{
		position: relative;
	}
}

.strona-glowna{
	position: relative;
	height: 100vh;
	@media (max-width: 991px){
		height: 100%;
	}
}

.left-site{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100vh;
	position: absolute;
	//position: relative;
	top: 0;
	left: 0;
	right: 0;
	background: url("img/bg.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	@media (max-width: 992px){
		display: block;
		max-height: 600px;
		height: 500px;
		position: relative;
		text-align: center;
	}

	.flex-container{
		display: flex;
		position:relative;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		@media (max-width: 991px){
			top: 150px;
		}
	}
}

.right-site{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 90px;
	@media (max-width: 992px){
		position: relative;

		left: auto;
		top: 50%;
		max-height: 600px;
		height: auto;
		width: auto;
		display: block;
	}
	.btn{
		text-transform: capitalize;
	}
}


.play-btn-modal{
	.play-btn;
	top: 40%;
}




.pulsowanie{
	height: 400px;
	position: relative;
}

.robot{
	height: 200px;
	width: 200px;
	background: url("img/robot_ramie.png") center no-repeat;
}

.play-btn{
	
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: #f8921e;
	position: absolute;
	z-index: 3;
	.basic-transition;
	&:hover{
		.basic-transition;
		height: 108px;
		width: 108px;
	}

	i{
		color: #fff;
		font-size: 35px;
		position: absolute;
		top: 43%;
		margin-top: -10px;
		left: 43%;
	}
}

.play-btn-modal .fa-times{
	color: #fff;
	font-size: 45px;
	position: absolute;
	top: 36%;
	margin-top: -10px;
	left: 35%;
}

.main-title{
	line-height: 1.4;
	color: @kolor-czcionki-glowny;
	font-family: @czcionka-glowna;
	font-size: 60px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: baseline;
	@media (max-width: 992px){
	}
	@media (max-width: 991px){
		padding: 50px 15px;
	}
	li{
		font-family: @czcionka-pomocnicza;
		font-size: 60px;
		text-decoration: none;
		list-style: none;
		line-height: 1;
		@media (max-width: 991px){
			font-size: 40px;
		}
	}
	p{
		text-transform: uppercase;
		font-size: 17px;
		color: #b5c4cc;
	}
	.btn{
		margin-left: 0;
	}
}

.kim-jestesmy{
	max-width: 1451px;
	margin: 0 auto;
	@media (min-width: 1450px){
		
	}
	@media (max-width: 991px){
	}
	.col-md-6{
		padding: 0;
	}
}

.mar{
	@media (max-width: 991px){
		.col-md-6{
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.section-right-site{
	background: url("img/bg-kim-jestesmy.jpg") no-repeat;
	background-position: top;
	-webkit-background-size:cover;
	background-size: cover;
	height: 510px;
	margin-top: -20px;
	img{
		display: none;
	}
	@media (max-width: 991px){
		margin-top: 0px;
		//min-height: 350px;
		background: none;
		img{
			position: absolute;
			display: inline-block;
		}

	}
	@media (max-width: 560px){
		height: 385px;
		overflow: hidden;
	}
	@media (max-width: 460px){
		height: 285px;
		overflow: hidden;
	}
	@media (max-width: 360px){
		height: 220px;
		overflow: hidden;
	}
}

.smart-wrapper{
	position: relative;
	top: 30%;
	margin: 0 auto;
	display: inline-block;
	text-align: left;
	left: 50%;
	max-width: 350px;
	@media (max-width: 991px){
		top: 29%;
	}
	@media (max-width: 610px){
		top: 26%;
	}
	@media (max-width: 500px){
		top: 103px;
		text-align: center;
		margin: 0 auto;
		display: block;
		left: 70px;
	}
	@media (max-width: 400px){
		top: 79px;
		text-align: center;
		margin: 0 auto;
		display: block;
		left: 70px;
	}
	@media (max-width: 360px){
		top: 70px;
	}
	@media (max-width: 360px){
		top: 61px;
		text-align: center;
		margin: 0 auto;
		display: block;
		left: 70px;
	}
	h4{
		font-size: 74px;
		font-weight: 700;
		font-family: SinkinSans700Bold, sans-serif;
		@media (max-width: 1450px) and (max-width: 1400px){
			font-size: 50px;
		}
		@media (min-width: 768px) and (max-width: 991px){
			font-size: 74px;
		}
		@media (min-width: 320px) and (max-width: 500px){
			font-size: 30px;
		}
	}
	p{
		font-size: 36px;
		font-family: @czcionka-pomocnicza;
		@media (max-width: 1400px){
			font-size: 30px;
		}
		@media (min-width: 768px) and (max-width: 991px){
			font-size: 36px;
		}
		@media (min-width: 320px) and (max-width: 500px){
			font-size: 19px;
			position: relative;
			top: -10px;
		}
	}
}



.title{
	padding-bottom: 55px;
	@media (max-width: 1400){
		padding-left: 80px;
	}
	@media (max-width: 992px){
	}
	p{
		padding-bottom: 10px;
		font-size: 33px;
		font-family: @czcionka-pomocnicza;
		color: @kolor-czcionki-glowny;
		&:after{
			 content: ' ';
			 height: 15px;
			 width: 15px;
			 background: @kolor-czcionki-glowny;
			 display: inherit;
			 position: relative;
			 top: 18px;
		 }
	}
}

.section-left-wrapper{
	 padding: 20px 50px;
	padding-top: 150px;
	p{
		padding: 10px 0;
		max-width: 480px;
		@media (max-width: 991px){
			max-width: 100%;
		}
	}
	@media (max-width: 991px){
		padding: 30px 15px 15px;
		a{
			margin: 0 auto;
		}
	}
}

.aktualnosci-bg{
  margin-top: 105px;
	padding: 66px 0 90px 0;
	background: url("img/bg-aktualnosci.jpg") top center no-repeat;
	background-color: #eef2f6;
}

.aktualnosci{
	padding: 0 50px;
	.title-date{
		margin-top:-10px;
	}
	@media (max-width: 991px){
		padding: 0 10px;
	}
}

.title-date{
	color: #b5c4cc;
	font-family: @czcionka-glowna;
}

.one-item{
	border: 2px solid #fff;
	padding: 50px 25px;
	margin-bottom: 30px;
	min-height: 385px;
    strong{
      font-weight: 600;
    }
}



.slider{
	height: 130px;
	padding: 43px 0;
}

footer{
	padding: 75px 0;
	background-color: #eef2f6;
	@media (max-width: 1370px){
		padding: 75px 60px;
	}
	@media (max-width: 991px){
		padding: 20px 0;
		text-align: center;
	}
	a{
		font-size: 24px;
		color: @kolor-czcionki-pomocniczy;
		font-weight: 600;
		@media (max-width: 768px){
			font-size:  22px;
		}
		@media (max-width: 360px){
			font-size:  18px;
		}
	}
	p{
		line-height: 1;
		font-size: 17px;
		color: @kolor-czcionki-pomocniczy;
		font-weight: 400;
	}


	.title{
		@media (max-width: 991px){
			padding-bottom: 25px;
			margin-top: 28px;
		}
		p:after{
			@media (max-width: 991px){
				display: inline-block;
				position: absolute;
				top: 40px;
				left: 38%;
			}
		}
	}
}

.wrapper{

	margin-left: 50px;
	p{

		&:first-of-type{
			&:before{
				content: url("img/bill.png");
				position: absolute;
				left: 40px;
				@media (max-width: 991px){
					position: relative;
					left: 0;
					top: 6px;
					padding-right: 5px;
				}
			}
		}
	}
	a{
		&:before{
			content: url("img/koperta.png");
			position: absolute;
			left: 40px;
			@media (max-width: 991px){
				position: relative;
				left: 0;
				top: 2px;
				padding-right: 5px;
			}
		}
	}
	@media (max-width: 991px){
		margin-left: 0;
	}
}

.logo-footer{
	margin-top: 120px;
	text-align: right;


	@media (max-width: 991px){
		margin-top: 20px;
		text-align: center;
	}
	p{
		line-height: 1;
		font-size: 14px;
		color: #7f7f89;
	}

	.smart-logo, .ideative-logo{
		margin-bottom: 30px;
	}
}

.phone-info{
	margin-left: 40px;
	@media (max-width: 991px){
		margin-left: 0;
		text-align: center;
	}
	p{
		color: @kolor-czcionki-pomocniczy;
		padding-left: 30px;
		font-size: 17px;
		font-weight: 400 !important;
	}
	a{
		font-size: 24px;
		color: @kolor-czcionki-pomocniczy;
		font-weight: 600;
		&:before{
			content: url("img/sluchawka.png");
			position: relative;
			top: 5px;
			padding-right: 10px;
		}
	}
}



.firma-photo{
	height: 500px;
	background: #eef2f7;
	padding-top: 60px;
	padding-left: 65px;
	@media (max-width: 991px){
		padding-top: 50px;
		padding-left: 20px;
		height: 400px;
	}
	h2{
		font-size: 60px;
		line-height: 1.4;
		font-family: @czcionka-pomocnicza;
		@media (max-width: 991px){
			font-size: 40px;
			margin: 0 auto;
		}
	}
	p{
		color: #b5c4cc;
		text-transform: uppercase;
	}
	img{
		margin-top: 49px;
		margin-left: 30px;
		@media (max-width: 991px){
			margin-top: 50px;
			margin-left: -12px;
		}

	}
}

.text-o-firmie{
	padding: 80px 50px;
	@media (max-width: 991px){
		padding: 20px 0px;
	}
	@media (min-width: 500px) and (max-width: 991px){
		margin-top: 60px;
	}
	p{
		padding-bottom: 20px;

	}
}

.centrowy{
	line-height: 240px;
	max-height: 240px;
	display: block;
	padding-top: 70px;
	@media (min-width: 1115px) and (max-width: 1215px){
		padding-top: 35px;
		line-height: 160px;
		max-height: 160px;
	}
	@media (min-width: 992px) and (max-width: 1114px){
		padding-top: 10px;
		
	}
	@media (max-width: 767px){
		padding-top: 0;
	}
	h3{
		font-size: 33px;
		font-family: @czcionka-pomocnicza;
	}
	p{

	}
}

.box-number{
	background: url("img/border_bg.jpg") no-repeat;
	background-size: cover;
	height: 250px;
	max-width: 250px;
	position: relative;
	margin: 0 auto;
	padding: 4px;
	margin-bottom: 85px;
	@media (min-width: 992px) and (max-width: 1215px){
		max-width: 160px;
		max-height: 160px;
	}
	@media (max-width: 991px){
		margin-bottom: 25px;
	}
	span{
		font-size: 60px;
		font-family: @czcionka-pomocnicza;
		line-height: 240px;
		text-align: center;
		display: block;
		color: @kolor-czcionki-glowny;
		@media (min-width: 992px) and (max-width: 1215px){
		line-height: 160px;
		max-height: 160px;
	}

	}
}
.section-numbers{
	margin-top: 70px;
	margin-bottom: 20px;
	@media (max-width: 991px){
		text-align: center;
		margin-top: 0;
		margin-bottom: 20px;
	}
}

.special-title{
	background: #eef2f7;
	width: 175px;
	height:175px;
	margin-bottom: -30px;
	z-index: 999;
	h3{
		padding-top: 40px;
		padding-left: 40px;
		font-size: 33px;
		color: @kolor-czcionki-glowny;
		font-family: SinkinSans300Light, sans-serif;
	}
	h3:after{
		content: ' ';
		height: 10px;
		width: 10px;
		background: @kolor-czcionki-glowny;
		display: block;
		position: absolute;
		.basic-transition;
		margin-top: 15px;
	}
}

.special-title-archive{
	margin-bottom: -116px;
}

.section-kar{
	height: 250px !important;
	transition: ease-in 0.5s;
}

.kar{
	height: 750px;
	overflow: hidden;
	transition: ease-in 0.5s;
}

.kariera-wrapper{
	padding: 0 50px;
	@media (max-width: 991px){
		padding: 0;
	}
}

.kariera-each-wrapper{
	position: relative;
	padding: 50px 25px 45px;
	border: 2px solid #f6f8fa;
	margin-bottom: 40px;
	font-family: @czcionka-glowna;
	font-weight: 400;
	height: 100%;
	@media (max-width: 991px){
		padding: 50px 10px;
	}
	.btn2{
		font-size: 17px;
		font-weight: 400;
		padding: 15px 30px;
		background: @kolor-czcionki-pomocniczy;
		border-radius: 30px;
		color: #fff;
		margin-top: 20px;
		display: inline-block;
		&:after{
			content: url("img/arrow-zobacz.png");
			padding-left: 10px;
			transform: rotate(0deg);
			display: inline-block;
		}
	}
	
	.rotate{
		&:after{
			content: url("img/arrow-zobacz.png");
			padding-left: 10px;
			transform: rotate(-180deg);
			display: inline-block;
			position: relative;
			left: 10px;
		}
	}

	h3{
		font-size: 24px;
		font-weight: 600;
		color: @kolor-czcionki-pomocniczy;
		padding-top: 0;
		margin-top: 0;
	}
	h4{
		padding-top: 20px;
		font-weight: 600;
		font-size: 17px;
		color: @kolor-czcionki-pomocniczy;
	}
	ul{
		padding-top: 5px;
		list-style: none;
		padding-bottom: 17px;
		li{
			margin-left: 10px;
			font-size: 17px;
		}
		li:before{
			content: '»';
			position: relative;
			bottom: 1px;
			padding-right: 5px;
			font-size: 17px;
		}
	}
}


.kontakt{
	padding: 80px 20px 40px 20px;
	@media (max-width: 991px){
		padding: 0px 20px 40px 20px;
	}
}

.large-text{
	max-width: 440px;
	@media (max-width: 991px){
		max-width: 800px;
		padding-bottom: 30px;
	}
	h1{
		margin: 0;
		font-family: @czcionka-pomocnicza;
		font-size: 60px;
		@media (max-width: 370px){
			font-size:  41px;
		}
	}
	p{
		text-transform: uppercase;
		font-size: 17px;
		font-weight: 400;
		color: #b5c4cc;
		@media (max-width: 370px){
			text-align: center;

		}
	}
}

.section-map{
	background: #eff2f7;
	.address-info{
		height: 511px;
		background: url("img/koparka-bg.png") left bottom no-repeat;
		@media (max-width: 991px){
			background: url("img/koparka-bg.png") center bottom no-repeat;
			height: 400px;
		}
	}
	@media (max-width: 991px){
			.col-md-6{
				padding-left: 0;
				padding-right: 0;
			}
		}
	.wrapper{

		line-height: 1.1;
		margin-left: 122px;
		margin-top: 70px;
		p{
			margin-bottom: 3px;
			&:first-of-type{
				&:before{
					position: absolute;
					left: 100px;
					@media (max-width: 991px){
						position: relative;
						left: 0;
						top: 6px;
						padding-right: 5px;
					}
				}
			}
		}
		a{
			font-size: 24px;
			font-weight: 600;
			color: @kolor-czcionki-pomocniczy;
			&:before{
				content: url("img/koperta.png");
				position: absolute;
				left: 100px;
				@media (max-width: 991px){
					position: relative;
					left: 0;
					padding-right: 5px;
				}
			}
			@media (max-width: 767px){
				font-size: 19px;
			}
		}
		@media (max-width: 991px){
			margin-left: 0;
			text-align: center;
		}
	}
}

#map{
	height: 580px;
	width: 580px;
	background: #e3e3e3;
	float: right;
	@media (max-width: 991px){
		height: 300px;
		width: 100%;
		overflow: hidden;
		margin: 0 auto;
	}
}

.custom-form{
	padding-left: 90px;
	@media (max-width: 991px){
		padding-left: 0;
	}
}

.uslugi-bg{
	background: url("img/bguslugi.png") left top no-repeat;
	min-height: 900px;
	@media (max-width: 991px){
		min-height: unset;
	}
}

.usluga-text{
	padding: 120px 75px;
	@media (max-width: 991px){
		padding: 10px 5px;
	}
	@media (min-width: 501px) and (max-width: 991px){
		padding-top: 140px;
	}
	h4{
		font-size: 33px;
		font-family: @czcionka-pomocnicza;
		color: @kolor-czcionki-glowny;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	ul{
		li{
			list-style: none;
			font-weight: 600;
			line-height: 2;
			padding: 10px 0;
			&:before{
				content: url('img/arrow-orange.svg');
				padding-right: 20px;
				position: relative;
				top: 8px;
			}
		}
	}
}

.usluga-tytul-wrapper{
	padding-top: 98px;
	padding-left:75px;
	@media (max-width: 991px){
		padding-left: 0;
	}
}

.usluga-tytul{
	@media (max-width: 767px){
		text-align: center;
	}
	h2{
		font-size: 60px;
		@media (max-width: 767px){
			font-size: 40px;
		}
	}
	p{
		color: #b5c4cc;
		text-transform: uppercase;
	}
}

.photos{
	padding-top: 110px;
	margin: 0 auto;
	@media (max-width: 991px){
		padding-top: 30px;


	}
	@media(max-width: 991px){
		text-align: center;
	}

	.img-2{
		max-width: 160px;
		position: relative;
		top: -66px;
		right: -300px;
		@media (min-width: 992px) and (max-width: 1300px){
			padding-top: 20px;
			margin-bottom: 0;
			margin-left: 0;
			right: auto;
			top: auto;
			    display: block;
    			margin: auto;
		}
		@media (max-width: 991px){
				right: auto;
				top: auto;
			    display: block;
    			margin: auto;
		}
		@media (max-width: 500px){
			margin: 0 auto;
			display: block;
			padding-top: 20px;
		}
	}
}

.kontakt{
	button{
		border: none;
		z-index: 997;
		margin: 20px auto;
		color: #fff;
		position: relative;
		padding: 9px 50px 9px 30px;
		font-size: 17px;
		font-family: @czcionka-glowna;
		background-color: @kolor-czcionki-glowny;
		border-radius: 30px;
		overflow: hidden;
		@media (max-width: 991px){
			margin: 20px auto;
		}
		&:after{
			line-height: 55px;
			height: 44px;
			width: 85px;
			background: @kolor-czcionki-glowny;
			content: url('img/btn_samolot.png');
			position: absolute;
			bottom: -1px;
			right: -13px;
			padding-left: 5px;
			border-bottom-right-radius: 30px;
			border-top-right-radius: 30px;
			transition: ease all 0.3s !important;
			z-index: -1;
		}
		&:before{
			content: url('img/arrow-grey.svg');
			position: absolute;
			top: 14px;
			right: 30px;
			transition: ease all 0.5s !important;
			z-index: -5;
		}
		&:hover{
			color: #fff;
			&:after{
				content: url('img/btn_samolot.png');
				position: absolute;
				bottom: -1px;
				right: -110px;
				transition: ease all 0.9s;
			}
			&:before{
				content: url('img/arrow-grey.svg');
				position: absolute;
				bottom: -1px;
				right: 10px;
				transition: ease all 0.5s;
				z-index: -10;
			}
		}
	}
}

.read-more{
	background-color: @kolor-czcionki-glowny;
	margin-top: 50px;
	display: inline-block;

	&:after{
		background: @kolor-czcionki-glowny !important;

	}
	&:hover {
		&:before {
			content: url('img/arrow-grey.svg') !important;
		}
	}
}

.aktualnosci-wrapper{
	.kariera-each-wrapper{
		padding: 33px 30px;
		@media (max-width: 767px){
			padding: 33px 10px;
		}
	}
}

.aktualnosc-wrapper{
	p{
		padding-top: 10px;
	}
	.post-title{
		margin-bottom: 0;
	}
	.date{
		color: #b5c4cc;
		padding-top: 0;
	}

	.text-wrapper{
		margin-top: 20px;
	}

	
}

.footer-hide{
	background-color: #fff;
	img{
		display: inline-block;
	}
	
	.ideative-logo{
		float:right;
		padding-top: 20px;
		@media (max-width: 991px){
			float: unset;
		}
	}
}

.brand-wrapper{
	display: inline-block;
	position: relative;
	top: 18px;
	padding-bottom: 20px;
	padding-left: 20px;
	p{
		display: block;
		font-size: 14px;
		color: #7f7f89;
	}
}

.home{
	margin-top: 0 !important;
	.footer-hide{
		display: none;
	}
	.footer-show{
		display: block !important;
	}
}

.page-template{
	margin-top: 200px;
	@media (max-width: 992px){
		margin-top: 130px;
	}
	.footer-show{
		display: none;
	}
}

.big-box{
	background-color: #eef2f7;
	height: 600px;
	width: 600px;
	max-width: 50%;
	float: left;
	margin-top: 60px;
  p{
    color: #b5c4cc;
  }
    .content{
      position: relative;
      bottom: -85px;
    }
    h1{
      max-width: 350px;
      color: @kolor-czcionki-pomocniczy;
      font-size: 60px;
    }
  .read-more{
    margin-top:20px;
  }
	@media (max-width: 1200px){
		float: unset;
		width: 100%;
	}
}

.small-box-1{
	background: url("img/bg-fale.jpg") no-repeat;
	background-position: center;
	backgrount-size: cover;
	height: 350px;
	width: 350px;
	padding: 40px 45px;
	float: left;
    p{
      color: #b5c4cc;
    }
    .read-more{
      margin-top: 20px;
    }
	@media (max-width: 1200px){
		width: 100%;
	}
	.inner-box{
		h2{
          font-size: 40px;
          color: @kolor-czcionki-glowny;
          }
      }
  

}

.robot-triple{
  height: 225px;
  width: 230px !important;
  position: absolute;
  right: 88px;
  top: 109px;
  background: url('img/robot-slider.jpg') no-repeat;
  z-index: -1;
  @media (min-width: 1201px) and (max-width: 1330px){
    right: 10px
  }
}
.medium-box-1{
	background-color: @kolor-czcionki-glowny;
    
	height: 475px;
	width: 475px;
	margin-top: -20px;
	padding: 40px 45px;
	float: left;
    .content{
      position: relative;
      bottom: -50px;
    }
    p{
      color: #ffc787;
    }
    .read-more{
      margin-top:20px;
    }
    h1{
      color: #fff;
      max-width: 300px;
      font-size: 40px;
    }
	@media (max-width: 1200px){
		
		width: 100%;
	}

}

.boxy{
	.col-md-5, .col-md-7{
	padding: 0;
	}
}

.inner-box{
	h1{
		font-size: 60px;
		color: @kolor-czcionki-pomocniczy;
		@media (max-width: 991px){
			font-size: 45px;
		}
	}
	h2{
		font-size: 40px;
		color: #fff;
		}
}

.big-box, .big-box-2{
	padding: 80px 75px;
	@media (max-width: 991px){
		padding: 20px 10px;
	}
}

.tripe-slider{
	position: relative;
    h1{
      font-family: @czcionka-pomocnicza;
    }
    .item{
      margin-left: 150px;
      @media (min-width: 1201px) and (max-width: 1330px){
        margin-left: 70px;
      }
      p{
        text-transform: uppercase;
      }
    }
}

.tripe-slider-rwd{
  @media (min-width: 1200px){
    display: none !important;

  }
  .item{
    padding: 0 15px;
  }
  .content{
    background-color: rgba(181, 196, 204, 0.4);
    padding: 20px 10px;
    margin-top: 40px;
	  min-height: 340px;
	  h1{
		  font-family: @czcionka-pomocnicza;
		  color: @kolor-czcionki-pomocniczy;
		  font-size: 19px;
		  @media (min-width: 768px){
			  font-size: 26px;
		  }
	  }
	  p{
		  text-transform: uppercase;
		  color: #b5c4cc;
	  }
  }
}

.triple-slider-wrapper{
  @media (max-width: 1199px){
    display: none;
  }
}

#triple-prev-slide{
  padding: 20px;
  border: 2px solid @kolor-czcionki-glowny;
  border-right: 0;
  position: relative;
  top: 136px;
  z-index: 2;
  background: #fff;
  margin-left: 103px;
  .basic-transition;
  @media (min-width: 1201px) and (max-width: 1330px){
    margin-left: 23px;
  }
  &:hover{
    background: rgba(248, 146, 30,0.3);
    cursor: pointer;
  }
}

#triple-next-slide{
  padding: 20px;
  z-index: 2;
  background: #fff;
  top: 136px;
  position: relative;
  .basic-transition;
  border: 2px solid @kolor-czcionki-glowny;
  img{
    transform: rotate(180deg);
  }
  &:hover{
    background: rgba(248, 146, 30,0.3);
    cursor: pointer;
  }
}
.slider-wrapper{
	position: relative;
	right: 0;
}

.w3-display-left{
position: absolute;
    left: -41px;
    top: 100px;
    font-size: 50px;
}

.w3-display-right{
position: absolute;
    left: 0px;
    top: 100px;
    font-size: 50px;
}

.each-usluga{
	padding: 15px 40px;
	margin-bottom: 20px;
	margin-top: 10px;
	min-height: 353px;
	background-position: center center;
	background-size: cover;
	@media (max-width: 767px){
		padding: 15px 20px;
	}
	h3{
		font-size: 26px;
		font-family: @czcionka-pomocnicza;
		color: @kolor-czcionki-pomocniczy;
	}
	p{
		color: #b5c4cc;
		text-transform: uppercase;
	}
}



.circles{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transform-origin: center;
    transform-origin: center;
    border: 1px solid #e3e3e3;
    border-radius: 50%;
    z-index: 10;
    will-change: transform;
    opacity: 0;
    pointer-events: none;
	&:nth-of-type(3){
		width: 700px;
    	height: 700px;
	}
	&:nth-of-type(2){
		width: 550px;
    	height: 550px;
	}
	&:nth-of-type(1){
		width: 430px;
    	height: 430px;
	}
        
        @media (max-width: 1000px){
            display:none;
        }    
        
}

.wrapper-outer {
     animation-duration: 3s;
        animation-iteration-count: 1;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-name: wrapper-outer;
    display: fixed;
    justify-content: center;
	align-content: center;
	align-items: center;

}

.c1 {
	animation-duration: 3s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	animation-name: c1;
	border: 3px solid @kolor-czcionki-glowny;

	opacity: 1;
}


@-webkit-keyframes c1 {
	0% {

		width: 430px;
		height: 430px;
	}
	15% {
		width: 500px;
		height: 500px;

	}
	25% {

		width: 430px;
		height: 430px;
	}
	50% {
		width: 430px;
		height: 430px;

	}
	75% {
		width: 430px;
		height: 430px;

	}

	100% {

		width: 430px;
		height: 430px;

	}

}


@-moz-keyframes c1 {
	0% {

		width: 430px;
		height: 430px;
	}
	15% {
		width: 500px;
		height: 500px;

	}
	25% {

		width: 430px;
		height: 430px;
	}
	50% {
		width: 430px;
		height: 430px;

	}
	75% {
		width: 430px;
		height: 430px;

	}

	100% {

		width: 430px;
		height: 430px;

	}

}


.c2 {
	animation-duration: 3s;
	animation-delay: 0.2s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	animation-name: c2;
	border-color: #e3e3e3;
}


@-moz-keyframes c2 {
	0% {
		opacity: 0.0;
		width: 550px;
		height: 550px;
	}

	20% {

		width: 600px;
		height: 600px;
		opacity: 1;
	}
	50% {
		opacity: 0.0;
		width: 550px;
		height: 550px;
	}
	75% {
		opacity: 0.0;
		width: 550px;
		height: 550px;
	}
	100% {
		width: 550px;
		height: 550px;
		opacity: 0.0;
	}

}

@-webkit-keyframes c2 {
	0% {
		opacity: 0.0;
		width: 550px;
		height: 550px;
	}

	20% {

		width: 600px;
		height: 600px;
		opacity: 1;
	}
	50% {
		opacity: 0.0;
		width: 550px;
		height: 550px;
	}
	75% {
		opacity: 0.0;
		width: 550px;
		height: 550px;
	}
	100% {
		width: 550px;
		height: 550px;
		opacity: 0.0;
	}

}





.c3 {
	animation-duration: 3s;
	animation-delay: 0.4s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	animation-name: c3;
}

@-webkit-keyframes c3 {
	0% {
		opacity: 0;
		width: 650px;
		height: 650px;
	}
	20% {
		width: 700px;
		height: 700px;
		opacity: 1;
	}
	50% {
		opacity: 0;
		width: 650px;
		height: 650px;
	}
	75% {
		width: 650px;
		height: 650px;
		opacity: 0;
	}
	100% {
		width: 650px;
		height: 650px;
		opacity: 0;
	}

}

@-moz-keyframes c3 {
	0% {
		opacity: 0;
		width: 650px;
		height: 650px;
	}
	20% {
		width: 700px;
		height: 700px;
		opacity: 1;
	}
	50% {
		opacity: 0;
		width: 650px;
		height: 650px;
	}
	75% {
		width: 650px;
		height: 650px;
		opacity: 0;
	}
	100% {
		width: 650px;
		height: 650px;
		opacity: 0;
	}

}

.c4 {
	animation-duration: 3s;
	animation-delay: 0.6s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	animation-name: c4;
}


@-moz-keyframes c4 {
	0% {
		opacity: 0;
		width: 850px;
		height: 850px;
	}
	20% {
		width: 880px;
		height: 880px;
		opacity: 1;
	}
	50% {
		width: 850px;
		height: 850px;
		opacity: 0;
	}
	75% {
		width: 850px;
		height: 850px;
		opacity: 0;
	}
	100% {
		width: 850px;
		height: 850px;
		opacity: 0;
	}
}

@-webkit-keyframes "c4" {
	0% {
		opacity: 0;
		width: 850px;
		height: 850px;
	}
	20% {
		width: 880px;
		height:880px;
		opacity: 1;
	}
	50% {
		width: 850px;
		height:850px;
		opacity: 0;
	}
	75% {
		width: 850px;
		height:850px;
		opacity: 0;
	}
	100% {
		width: 850px;
		height: 850px;
		opacity: 0;
	}
}






.error404{
	.flex-container{
		max-height: 300px;
		h1{
			padding: 100px 0;
		}
	}

	.footer-hide{
		display: none;
	}
}


.default-content{
	h1,h2,h3,h4,h5,h6{
		color: @kolor-czcionki-pomocniczy;
	}
	h1{
		font-size: 40px;
	}

	h2{
		font-size: 30px;
	}
	h3{
		font-size: 20px;
	}
	h4{
		font-size: 18px;
	}
}


.nav-up{
	top: -160px ; 
        
}

body .nav-down{
	top: 0px;
        background:rgba(255,255,255,0.9);
}
body .scrolled-nav{
    padding:0;
    height: auto;
    .strefa{
        display:none;
    }
    .container{
        height:120px;
    }    
    .navbar-nav{
        margin-top:15px;
    }
}

.single, .post-type-archive{
	.footer-show{
		display: none;
	}
}
@media (max-width: 991px){
    .navbar-default{
        padding-top:40px;
        max-height: 100px;
    }
    body .scrolled-nav{
        padding-top:40px;
    }
    #navbar {
      margin-top: 50px;
    }    
}

.owl-prev, .owl-next{
	position: absolute;

	bottom: -80px;
	height: 50px;
	width: 50px;
	background: transparent;
	border: 2px solid @kolor-czcionki-glowny;
	line-height: 47px;
}

.owl-next{
	right: 40%;
	@media (max-width: 560px)
	{
		right: 30%;
	}
	@media (max-width: 479px)
	{
		right: 15px;
	}
	img{
		transform: rotate(180deg);
	}
}

.owl-prev{
	left: 40%;
	@media (max-width: 560px)
	{
		left: 30%;
	}
	@media (max-width: 479px)
	{
		left: 15px;
	}
}